<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form role="form" name="assignRecruiter.assignRecruiterForm" novalidate>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-xs-12" ng-repeat="jobMatch in assignRecruiter.jobMatchesDataArray" style="padding: 10px; padding-top: 5px;">
                        <span>
                            <span>Assign Recruiter to the candidate </span>
                            <span ng-show="jobMatch.loadingFlag" style="padding-left: 10px;">
                                <span class="fa fa-spinner fa-spin"></span>
                            </span>
                            <span ng-show="!(jobMatch.loadingFlag)">
                                '<span ng-bind="jobMatch.jobMatchData.name" class="emerald"></span>' for the role of '<span class="emerald" ng-bind="jobMatch.jobMatchData.jobMatchTitle"></span>' at '<span class="emerald" ng-bind="jobMatch.jobMatchData.jobMatchClientName"></span>'
                            </span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-6">
                        <div class="form-group" ng-class="{'has-error': (assignRecruiter.assignRecruiterForm.$submitted && assignRecruiter.assignRecruiterForm.recruiter.$invalid)}">
                            <label for="recruiter" class="control-label">
                                Recruiter<em>*</em> :
                            </label>
                            <span ng-show="jobMatch.loadingRecruitersFlag" style="padding-left: 10px;">
                                <span class="fa fa-spinner fa-spin"></span>
                            </span>
                            <select ng-if="!jobMatch.loadingRecruitersFlag" id="recruiter" name="recruiter" class="form-control" ng-model="assignRecruiter.recruiterId" required>
                                <option value=""></option>
                                <option ng-repeat="recruiter in assignRecruiter.recruitersList" value="{{recruiter.id}}">{{ recruiter.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="clearfix">
                            <button type="submit" class="btn btn-success" ng-click="assignRecruiter.assignRecruiter()" ng-disabled="assignRecruiter.savingFlag">
                                <span ng-if="!assignRecruiter.savingFlag">Assign</span>
                                <span ng-if="assignRecruiter.savingFlag">Assigning..</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>