.job-match-score-slider-highlight-score{
    font-weight: bold;
}

.associate-candidate-selected-card-bg{
    background-color: #e8a540 !important;
}

.profile-box-menu .associate-candidate-card-header {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.associate-candidate-card-name-div {
    font-size: 1.3em;
    width: 80%;
}

.associate-candidate-card-last-modified-date-div{
    padding-top: 5px;
}

.associate-candidate-card-phone {
    font-size: 0.8em;
}

.associate-candidate-card-email {
    font-size: 0.8em;
}

.associate-candidate-card-last-modified-date{
    font-size: 0.8em;
}

.associate-candidate-card-email a {
    color: #fff;
    text-decoration: none !important;
}

.associate-candidate-card-email a:hover {
    color: #fff;
    text-decoration: none !important;
}

.associate-candidate-card-email a:visited {
    color: #fff;
    text-decoration: none !important;
}

.associate-candidate-card-popovers-container .popover-content {
    white-space: nowrap !important;
}

.associate-candidate-card-job-matches-popover {
    max-width: 700px;
    width: 600px;
    max-height: 200px;
    overflow-y: scroll;
    font-size: 0.6em;
}

.associate-candidate-card-match-score-na{
    font-size: 1.2em;
    display: block;
    margin-top: 0.2em;
}

.associate-candidate-card-match-score{
    font-size: 1.2em;
    display: block;
    font-weight: 900;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.2em;
    color: #fff;
}

.associate-candidate-card-match-score-success{
    border-radius: 5px;
}

.associate-candidate-card-match-score-failure{
    background: darkorange;
    border-radius: 5px;
}

.associate-candidate-card-job-matches-icon {
    margin-top: 0.1em;
    margin-bottom: 0em;
    font-size: 1.5em;
}

.associate-candidate-card-job-matches-icon a {
    color: #212121;
    background-color: white !important;
    text-decoration: none !important;
}

.associate-candidate-card-job-matches-icon a:hover {
    color: #212121;
    background-color: white !important;
    text-decoration: none !important;
}

.associate-candidate-card-job-matches-icon a:visited {
    color: #212121;
    background-color: white !important;
    text-decoration: none !important;
}

.associate-candidate-card-actions {
    margin-top: 0.03em;
    font-size: 1.5em;
}