<div class="">
    <div class="row" style="padding-bottom: 20px">
        <div class="col-xs-12">
            <span>
                Associate Candidates to Job
                <span ng-show="associateCandidates.loadingJobDetailsFlag" style="padding-left: 10px;">
                    <span class="fa fa-spinner fa-spin"></span>
                </span>
                <span ng-show="!associateCandidates.loadingJobDetailsFlag">
                    '<span class="emerald" ng-bind="associateCandidates.jobDetails.title"></span>' at '<span class="emerald" ng-bind="associateCandidates.jobDetails.companyName"></span>'
                </span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <div class="main-box">
                <div class="main-box-body" style="height: 550px;">
                    <div class="row">
                        <div class="col-xs-12" style="padding-top: 10px;">
                            <form role="form" name="associateCandidates.searchCandidatesForm">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label style="padding-right: 10px">
                                                <h2>Search by</h2>
                                            </label>
                                            <div class="radio" style="display: inline;">
                                                <input type="radio" name="searchType" id="searchTypeText" ng-value="true" ng-model="associateCandidates.matchedCandidatesContainer.searchByTextFlag"
                                                       ng-change="associateCandidates.searchTypeChanged()">
                                                <label for="searchTypeText">
                                                    <h2>Contact</h2>
                                                </label>
                                            </div>
                                            <div class="radio" style="display: inline;">
                                                <input type="radio" name="searchType" id="searchTypeJobMatchScore" ng-value="false" ng-model="associateCandidates.matchedCandidatesContainer.searchByTextFlag"
                                                       ng-change="associateCandidates.searchTypeChanged()">
                                                <label for="searchTypeJobMatchScore">
                                                    <h2>4dot5 Intelligence Score</h2>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="associateCandidates.matchedCandidatesContainer.searchByTextFlag">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <input type="text" name="searchTerm" id="searchTerm" class="form-control"
                                                   placeholder="Type first name, last name, email or phone number to search"
                                                   ng-model="associateCandidates.matchedCandidatesContainer.searchObject.searchText"
                                                   ng-change="associateCandidates.searchForMatchingCandidates()">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="!associateCandidates.matchedCandidatesContainer.searchByTextFlag">
                                    <div class="col-xs-6"  style="padding-bottom: 10px; padding-top: 10px; margin-top: -20px;">
                                        <div class="form-group">
                                            <div style="padding-left: 10px; padding-right: 10px;">
                                                <div>
                                                <span uib-tooltip="Threshold Score" style="margin-left: {{associateCandidates.jobDetails.fourDotFiveIntelligenceScore}}%">
                                                    <strong>{{associateCandidates.jobDetails.fourDotFiveIntelligenceScore}}</strong>
                                                </span>
                                                </div>
                                                <div>
                                                    <span style="font-size: 20px;margin-top: -24px; margin-left: {{associateCandidates.jobDetails.fourDotFiveIntelligenceScore}}%" class="fa fa-caret-down"></span>
                                                </div>
                                                <div id="matchScoreSlider" class="slde3 markerSliderGap">
                                                    <label class="pull-left" style="padding-top: 12px;font-size:inherit;">0</label>
                                                    <label class="pull-right" style="padding-top: 12px; margin-right: -5px;font-size:inherit;">100</label>
                                                </div>
                                            </div>
                                            <div style="padding-left: 10px; padding-right: 10px; padding-top: 5px">
                                                <span ng-if="associateCandidates.matchedCandidatesContainer.searchObject.minimumScore > 8" style="position: absolute; left: {{associateCandidates.minimumScoreSliderPadding}}%;">
                                                    <span id="matchScoreSliderDisplayMinValue" ng-bind="associateCandidates.matchedCandidatesContainer.searchObject.minimumScore"></span>
                                                </span>
                                                <span ng-if="associateCandidates.matchedCandidatesContainer.searchObject.maximumScore < 90" style="position: absolute; left: {{associateCandidates.maximumScoreSliderPadding}}%;">
                                                    <span id="matchScoreSliderDisplayMaxValue" ng-bind="associateCandidates.matchedCandidatesContainer.searchObject.maximumScore"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="recency">
                                                Last Modified
                                            </label>
                                            <select name="recency" id="recency" class="form-control"
                                                    ng-model="associateCandidates.matchedCandidatesContainer.searchObject.numberOfDays"
                                                    ng-change="associateCandidates.searchForMatchingCandidates()"
                                                    convert-to-number ng-options="lastModifiedOption.value as lastModifiedOption.text for lastModifiedOption in associateCandidates.lastModifiedOptions">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="topMatches">
                                                Top Matches
                                            </label>
                                            <select name="topMatches" id="topMatches" class="form-control"
                                                    ng-model="associateCandidates.matchedCandidatesContainer.maximumSize"
                                                    ng-change="associateCandidates.searchForMatchingCandidates()"
                                                    convert-to-number ng-options="topMatchOption.value as topMatchOption.text for topMatchOption in associateCandidates.topMatchesOptions">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" style="margin-top: 0px;">
                            <div class="pull-left">
                                <div class="btn-group dropdown" id="candidate-job-matches-actions" uib-dropdown>
                                    <button type="button" class="btn btn-primary">Actions</button>
                                    <button type="button" class="btn btn-primary" data-toggle="dropdown" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span> <span class="sr-only"></span>
                                    </button>
                                    <ul uib-dropdown-menu="" role="menu">
                                        <li role="menuitems" ng-show="!associateCandidates.matchedCandidatesContainer.selectAllDoneFlag">
                                            <a href="" ng-click="associateCandidates.selectAllCandidates()" style="height: 30px;line-height: 30px; margin-left: 5px; padding-left: 5px;">
                                                Select All
                                            </a>
                                        </li>
                                        <li role="menuitems" ng-show="associateCandidates.matchedCandidatesContainer.selectAllDoneFlag">
                                            <a href="" ng-click="associateCandidates.deselectAllCandidates()" style="height: 30px;line-height: 30px; margin-left: 5px; padding-left: 5px;">
                                                Deselect All
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pull-right">
                                <h4>Total Search Results: (<span ng-show="associateCandidates.matchedCandidatesContainer.totalCandidateCount != null">{{associateCandidates.matchedCandidatesContainer.totalCandidateCount}}</span><span ng-show="associateCandidates.matchedCandidatesContainer.totalCandidateCount == null"><span class="fa fa-spinner fa-spin"></span></span>)
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--height: 400px;-->
                        <div class="col-xs-12" style="padding-top: 10px; height: 100%;">
                            <div class="associate-candidates-matched-candidates-div" style="overflow-y: auto;padding-right: 10px;">
                                <div class="row"
                                     infinite-scroll="associateCandidates.matchedCandidatesContainer.getNext()"
                                     infinite-scroll-disabled="associateCandidates.matchedCandidatesContainer.busy || associateCandidates.matchedCandidatesContainer.disableInfiniteScroll"
                                     infinite-scroll-parent="true" infinite-scroll-listen-for-event="candidateList:filtered">
                                    <div class="col-xs-12 col-md-4" ng-repeat="candidate in associateCandidates.matchedCandidatesContainer.candidates | filter: {selectedFlag: false}">
                                        <div class="main-box clearfix profile-box-menu">
                                            <div class="main-box-body clearfix">
                                                <div class="profile-box-header associate-candidate-card-header clearfix" ng-class="{'blue-bg': !candidate.selectedFlag, 'associate-candidate-selected-card-bg': candidate.selectedFlag}">
                                                    <div>
                                                        <div class="clearfix">
                                                            <div class="pull-left associate-candidate-card-name-div">
                                                                <div class="text-overflow-ellipsis" uib-tooltip="{{candidate.name}}" tooltip-placement="auto bottom-left">
                                                                    {{candidate.name}}
                                                                </div>
                                                                <div class="associate-candidate-card-phone text-overflow-ellipsis" uib-tooltip="{{candidate.mobilePhone}}" tooltip-placement="auto top-left">
                                                                    <i class="fa fa-phone"></i>
                                                                    <span>{{ ::candidate.mobilePhone}}</span>
                                                                </div>
                                                                <div class="associate-candidate-card-email text-overflow-ellipsis" tooltip-placement="auto top-left" uib-tooltip="Email {{candidate.email}}">
                                                                    <a href="mailto:candidate.email">
                                                                        <i class="fa fa-envelope"></i> {{ ::candidate.email}}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="pull-right pointer" style="font-size: 1.5em;">
                                                                <i ng-if="!candidate.selectedFlag" class="fa fa-plus-circle" uib-tooltip="Select Candidate" tooltip-placement="auto bottom-right"
                                                                   ng-click="associateCandidates.selectCandidate(candidate)"></i>
                                                                <i ng-if="candidate.selectedFlag" class="fa fa-minus-circle" uib-tooltip="Remove Selection" tooltip-placement="auto bottom-right"
                                                                   ng-click="associateCandidates.removeCandidate(candidate)"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="associate-candidate-card-last-modified-date-div">
                                                            <div class="associate-candidate-card-last-modified-date text-overflow-ellipsis"
                                                                 uib-tooltip="Last Modified: {{candidate.lastModifiedDate | fourdotfiveTimeStampFormat}}"
                                                                 tooltip-placement="auto top-left">
                                                                <span>
                                                                    Last Modified: {{ ::candidate.lastModifiedDate | fourdotfiveTimeStampFormat}}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="profile-box-content clearfix">
                                                    <ul class="menu-items">
                                                        <li>
                                                            <div class="row associate-candidate-card-popovers-container" style="padding: 5px;">
                                                                <div class="col-xs-6 text-left">
                                                                    <div class="text-center" uib-tooltip="Job Match Score" tooltip-placement="auto top-left" style="margin-right: 40px;">
                                                                        <span class="pointer associate-candidate-card-match-score" ng-if="candidate.matchScore != 'N/A'" ng-bind="candidate.matchScore"
                                                                              ng-class="{'associate-candidate-card-match-score-success green-bg': candidate.intelligenceScorePassFlag, 'associate-candidate-card-match-score-failure': !candidate.intelligenceScorePassFlag}">
                                                                        </span>
                                                                        <span class="associate-candidate-card-match-score-na" ng-if="candidate.matchScore == 'N/A'">
                                                                            N/A
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-6 text-right">
                                                                    <div class="pointer associate-candidate-card-job-matches-icon" style="margin-right: 10px;">
                                                                        <!--popover-placement="{{candidateCard.jobMatchesPopoverPosition}}"-->
                                                                        <a href="" class="clearfix" class="candidate-card-recruiter-count pointer" popover-title="Job Matches"
                                                                           uib-popover-template="'app/directives/associateCandidates/candidate-job-matches-popover.html'"
                                                                           popover-placement="{{candidate.jobMatchesPopoverPosition}}" popover-class="associate-candidate-card-job-matches-popover" popover-trigger="'outsideClick'"
                                                                           popover-is-open="candidate.jobMatchesPopoverIsOpenFlag" style="height: 1em;line-height: 1.7em;">
                                                                            <span uib-tooltip="Job Matches">
                                                                                <i class="fa fa-briefcase" style="width: 1em"></i>
                                                                                <span ng-bind="candidate.candidateJobMatches.length"></span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="associateCandidates.matchedCandidatesContainer.busy">
                                    <div class="col-xs-12 no_candidates_found text-center">
                                        <span>Loading</span>
                                        <span class="fa fa-spinner fa-spin"></span>
                                    </div>
                                </div>
                                <div class="row" ng-show="!associateCandidates.matchedCandidatesContainer.candidatesExistFlag">
                                    <div class="col-xs-12 no_candidates_found text-center">
                                        No candidates found!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="main-box">
                <div class="main-box-body" style="height: 550px;">
                    <div class="row">
                        <div class="col-xs-12" class="text-center" style="padding: 5px; padding-top: 10px;">
                            <h2>Selected Candidates ({{associateCandidates.selectedCandidates.length}})</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <input type="text" name="selectedCandidatesSearchText" id="selectedCandidatesSearchText" class="form-control"
                                       placeholder="Type name to filter" ng-model="associateCandidates.selectedCandidatesSearchText">
                            </div>
                        </div>
                        <div class="col-xs-12 text-left">
                            <button type="button" class="btn btn-primary" ng-click="associateCandidates.deselectAllSelectedCandidates()" ng-disabled="associateCandidates.selectedCandidates.length == 0">
                                Deselect All
                            </button>
                        </div>
                        <!--height: 425px;-->
                        <div class="col-xs-12" style="padding-top: 10px; height: 100%;">
                            <div class="row associate-candidates-selected-candidates-div" style="overflow-y: auto;padding-right: 10px;">
                                <div class="col-xs-12" ng-repeat="candidate in associateCandidates.selectedCandidates | orderBy: 'name' | filter: {name: associateCandidates.selectedCandidatesSearchText}">
                                    <div class="main-box clearfix profile-box-menu">
                                        <div class="main-box-body clearfix">
                                            <div class="profile-box-header associate-candidate-card-header clearfix" ng-class="{'blue-bg': !candidate.selectedFlag, 'associate-candidate-selected-card-bg': candidate.selectedFlag}">
                                                <div>
                                                    <div class="clearfix">
                                                        <div class="pull-left associate-candidate-card-name-div">
                                                            <div class="text-overflow-ellipsis" uib-tooltip="{{candidate.name}}" tooltip-placement="auto bottom-left">
                                                                {{candidate.name}}
                                                            </div>
                                                            <div class="associate-candidate-card-phone text-overflow-ellipsis" uib-tooltip="{{candidate.mobilePhone}}" tooltip-placement="auto top-left">
                                                                <i class="fa fa-phone"></i>
                                                                <span>{{ ::candidate.mobilePhone}}</span>
                                                            </div>
                                                            <div class="associate-candidate-card-email text-overflow-ellipsis" tooltip-placement="auto top-left" uib-tooltip="Email {{candidate.email}}">
                                                                <a href="mailto:candidate.email">
                                                                    <i class="fa fa-envelope"></i> {{ ::candidate.email}}
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="pull-right pointer" style="font-size: 1.5em;">
                                                            <i class="fa fa-minus-circle" uib-tooltip="Remove Selection" tooltip-placement="auto bottom-right"
                                                               ng-click="associateCandidates.removeCandidate(candidate)"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="profile-box-content clearfix">
                                                <ul class="menu-items">
                                                    <li>
                                                        <div class="row associate-candidate-card-popovers-container" style="padding: 5px;">
                                                            <div class="col-xs-6 text-left">
                                                                <div class="text-center" uib-tooltip="Job Match Score" tooltip-placement="auto top-left" style="margin-right: 40px;">
                                                                    <span class="pointer associate-candidate-card-match-score" ng-if="candidate.matchScore != 'N/A'" ng-bind="candidate.matchScore"
                                                                          ng-class="{'associate-candidate-card-match-score-success green-bg': candidate.intelligenceScorePassFlag, 'associate-candidate-card-match-score-failure': !candidate.intelligenceScorePassFlag}">
                                                                    </span>
                                                                    <span class="associate-candidate-card-match-score-na" ng-if="candidate.matchScore == 'N/A'">
                                                                        N/A
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6 text-right">
                                                                <div class="pointer associate-candidate-card-job-matches-icon" style="margin-right: 10px;">
                                                                    <!--popover-title="Job Matches"
                                                                       uib-popover-template="'app/directives/associateCandidates/candidate-job-matches-popover.html'"
                                                                       popover-placement="{{candidate.jobMatchesPopoverPosition}}" popover-class="associate-candidate-card-job-matches-popover" popover-trigger="'outsideClick'"
                                                                       popover-is-open="candidate.jobMatchesPopoverIsOpenFlag"-->
                                                                    <a href="" class="clearfix" class="candidate-card-recruiter-count pointer" style="height: 1em;line-height: 1.7em;">
                                                                        <span uib-tooltip="Job Matches">
                                                                            <i class="fa fa-briefcase" style="width: 1em"></i>
                                                                            <span ng-bind="candidate.candidateJobMatches.length"></span>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-right">
            <div class="clearfix">
                <button type="submit" class="btn btn-success" ng-click="associateCandidates.associateCandidates()" ng-disabled="(associateCandidates.selectedCandidates.length == 0) || associateCandidates.savingFlag">
                    <span ng-if="!associateCandidates.savingFlag">Associate Candidates</span>
                    <span ng-if="associateCandidates.savingFlag">Associating Candidates ...</span>
                </button>
            </div>
        </div>
    </div>
</div>