<div>
    <div class="row" ng-if="candidate.candidateJobMatches.length > 0">
        <div class="col-xs-12">
            <div class="row" class="candidate-job-match-row">
                <div class="col-xs-3 candidate-job-match-header-text">
                    Job Title
                </div>
                <div class="col-xs-2 candidate-job-match-header-text">
                    Client
                </div>
                <div class="col-xs-1 candidate-job-match-header-text">
                    Score
                </div>
                <div class="col-xs-3 candidate-job-match-header-text">
                    Step
                </div>
                <div class="col-xs-3 candidate-job-match-header-text">
                    State
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="candidate.candidateJobMatches.length > 0">
        <div class="col-xs-12" ng-repeat="jobMatch in candidate.candidateJobMatches">
            <div class="row candidate-job-match-row">
                <div class="col-xs-3 candidate-job-match-text" ng-bind="jobMatch.title" uib-tooltip="{{jobMatch.title}}">
                </div>
                <div class="col-xs-2 candidate-job-match-text" ng-bind="jobMatch.company" uib-tooltip="{{jobMatch.company}}">
                </div>
                <div class="col-xs-1 candidate-job-match-text" ng-bind="jobMatch.intelligentScore" uib-tooltip="{{jobMatch.intelligentScore}}">
                </div>
                <div class="col-xs-3 candidate-job-match-text" ng-bind="jobMatch.currentStep" uib-tooltip="{{jobMatch.currentStep}}">
                </div>
                <div class="col-xs-3 candidate-job-match-text" ng-bind="jobMatch.currentState" uib-tooltip="{{jobMatch.currentState}}">
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="candidate.candidateJobMatches.length == 0">
        <div class="col-xs-12 text-center">
            No Job Matches found!
        </div>
    </div>
</div>
