<style>
	#resumeIcon{
		margin-left: 9%;
	}
	table.table thead .sorting_desc:before,table.table thead .sorting_asc:before {
		display : none;
	}
	.table thead>tr>th {
			text-transform: none !important;
	}
	.tableHeadingAlignment{
		width: 200px;
	}
</style>
<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li><a href="">Not Processed Candidates</a></li>
		</ol>
		<h1 class="heading-css">Not Processed Candidates</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<!--<div class="filter-block pull-right">
					<div class="form-group pull-left">
						<input type="text" id="filter" class="form-control" placeholder="Search..." ng-model="query.searchString">
                      
						<i class="fa fa-search search-icon"></i>
					</div>
				</div>-->
			</header>
			<div class="main-box-body clearfix table-responsive">
				<table datatable="ng" id="notprocessedcandidatestable" dt-options="dtOptions" class="table datatable">
					<thead>
						<tr>
							<th class="tableHeadingAlignment">First Name</th>
							<th class="tableHeadingAlignment">Last Name</th>
                            <th class="tableHeadingAlignment">Email</th>
							<th class="tableHeadingAlignment">Phone</th>
                            <th class="tableHeadingAlignment">Resume</th>							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="candidateDetail in resumeDetails | filter: search">
							<td>
								<span>{{candidateDetail.FirstName}}</span>
							</td>
							<td>
								<span>{{candidateDetail.LastName}}</span>
							</td>
							<td>
								<span>{{candidateDetail.Email}}</span>
							</td>
							<td >
								<span >{{candidateDetail.Ph}}</span>
							</td>
                            <td>
								<a ng-click="resume()"><span id="resumeIcon" class="fa fa-file-text-o"></span></a>
							</td>							
						</tr>
					</tbody>
				</table>
				<!--<ul class="pagination pull-right hide-if-no-paging"></ul>-->
			</div>
		</div>
	</div>
</div>