<div id="content-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="slide-main-container">
				<div class="container slide-main-animation">
					<div class="row">
						<div class="col-xs-12">
							<div id="login-box">
								<div id="login-box-holder">
									<div class="row" ui-view>
										<div class="col-xs-12">
											<header id="login-header">
												<div id="login-logo">
													<img ng-src={{imageUrl}}logo.png alt="" />
												</div>
											</header>
											<div id="login-box-inner" class="with-heading">
											<h4>ONE TIME PASSWORD has been send to your email</h4>
												<p>Enter Otp to Change Password</p>
												<form role="form" name="form.validateotpform" ng-submit="form.validateotpform.$valid && validate()" novalidate>
													<div class="input-group reset-pass-input">
														<span class="input-group-addon"><i
																class="fa fa-user"></i></span> <input class="form-control" type="text" placeholder="Enter OTP"
															name="otp" ng-model="user.otp" required>
													</div>
													<div class=" error" ng-show="form.validateotpform.$submitted">
														<small class="error" ng-show="form.validateotpform.otp.$error.required">
																{{MESSAGECONSTANTS.COMMONVALIDATIONS.EMAIL_MANDATORY}}</small>
													</div>
													<div class="row">
														<div class="col-xs-12">
															<button id="validate" type="submit" class="btn btn-success">"Validate"</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>