<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h4>
                <span>{{ ::feedbackExecution.feedbackTypeLabel }} </span>
                <span ng-show="feedbackExecution.loadingJobMatchDetailsFlag" style="padding-left: 10px;">
                    <span class="fa fa-spinner fa-spin"></span>
                </span>
                <span ng-show="!(feedbackExecution.loadingJobMatchDetailsFlag)">
                    '<span ng-bind="feedbackExecution.candidateJobMatch.name" class="emerald"></span>' for the role of
                    '<span class="emerald" ng-bind="feedbackExecution.candidateJobMatch.jobMatchTitle"></span>'
                    at '<span class="emerald" ng-bind="feedbackExecution.candidateJobMatch.jobMatchClientName"></span>' by -
                </span>
            </h4>
        </div>
    </div>
    <div class="row" ng-show="feedbackExecution.loadingJobMatchDetailsFlag">
        <div class="col-xs-12 text-center" style="padding-top: 10px">
            <span class="fa fa-2x fa-spinner fa-spin"></span>
        </div>
    </div>
    <div class="row" ng-if="feedbackExecution.feedbackType == 'Screening'" style="margin-top: 10px;">
        <div class="col-xs-12" ng-if="feedbackExecution.userList.length == 1">
            <h4>{{feedbackExecution.userList[0].firstname}}<span ng-if="feedbackExecution.userList[0].lastname != null">{{" " + feedbackExecution.userList[0].lastname}}</span></h4>
        </div>
        <div ng-if="feedbackExecution.userList.length > 1" class="col-xs-12 col-sm-6 col-md-4" ng-repeat="user in feedbackExecution.userList">
            <div class="radio"  style="display: inline;">
                <input type="radio" name="chosenUser" id="chosenUser-{{user.id}}" ng-value="user"
                       ng-click="feedbackExecution.feedbackEntityChanged()" ng-model="feedbackExecution.chosenUser">
                <label for="chosenUser-{{user.id}}">
                    {{user.firstname}}<span ng-if="user.lastname != null">{{" " + user.lastname}}</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row" ng-if="(feedbackExecution.feedbackType == 'Interview' || feedbackExecution.feedbackType == 'PhoneScreen') && feedbackExecution.showMeetingsFlag && !feedbackExecution.loadingFeedbackOptionsFlag" style="margin-top: 10px;">
        <div class="col-xs-12" ng-if="feedbackExecution.meetingsList.length == 1">
            <h4>
                <span ng-class="{'feedback-disabled-meeting-label': !feedbackExecution.meetingsList[0].editableFlag}">
                    <span uib-tooltip="{{feedbackExecution.meetingsList[0].userName}}">
                        <span>{{ ::feedbackExecution.meetingsList[0].userName | limitTo : 12}}</span>
                        <span ng-if="feedbackExecution.meetingsList[0].userName.length > 12">..</span>
                    </span>
                    <span> - </span>
                    <span>{{ ::feedbackExecution.meetingsList[0].scheduledTime }}</span>
                </span>
                <span class="{{feedbackExecution.meetingsList[0].statusClass}}" uib-tooltip="{{feedbackExecution.meetingsList[0].statusLabel}}"></span>
            </h4>
        </div>
        <div class="col-xs-12 col-sm-6" ng-repeat="meeting in feedbackExecution.meetingsList" ng-if="feedbackExecution.meetingsList.length > 1">
            <div class="radio"  style="display: inline;">
                <input type="radio" name="chosenMeeting" id="chosenMeeting-{{meeting.id}}" ng-value="meeting"
                       ng-click="feedbackExecution.feedbackEntityChanged()" ng-model="feedbackExecution.chosenMeeting" ng-disabled="!meeting.editableFlag">
                <label for="chosenMeeting-{{meeting.id}}">
                    <span ng-class="{'feedback-disabled-meeting-label': !meeting.editableFlag}">
                        <span uib-tooltip="{{meeting.userName}}">
                            <span>{{ ::meeting.userName | limitTo : 12}}</span>
                            <span ng-if="meeting.userName.length > 12">..</span>
                        </span>
                        <span> - </span>
                        <span>{{ ::meeting.scheduledTime }}</span>
                    </span>
                    <span class="{{meeting.statusClass}}" uib-tooltip="{{meeting.statusLabel}}"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="row" ng-show="feedbackExecution.loadingFeedbackOptionsFlag">
        <div class="col-xs-12 text-center" style="padding-top: 20px">
            <span class="fa fa-2x fa-spinner fa-spin"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr/>
        </div>
    </div>
    <div class="row" ng-if="(feedbackExecution.feedbackType == 'Interview' || feedbackExecution.feedbackType == 'PhoneScreen') && feedbackExecution.showMeetingsFlag && !feedbackExecution.loadingFeedbackOptionsFlag && !feedbackExecution.editableMeetingsExistFlag">
        <div class="col-xs-12 text-center" style="padding-top: 10px; padding-bottom: 10px">
            <h4 ng-bind="feedbackExecution.noEditableMeetingsLabel">
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div ng-show="feedbackExecution.displayQuestions">
                <div class="scrollable-table">
                    <table width="100%" class="table-bordered feedback-requisitions-table">
                        <thead>
                        <tr>
                            <th><span>Requisition</span></th>
                            <th>
                                <span ng-if="!feedbackExecution.isCorporateFlag">Client Name</span>
                                <span ng-if="feedbackExecution.isCorporateFlag">BU Name</span>
                            </th>
                            <th><span>Job Title</span></th>
                            <th><span>Score</span></th>
                            <th><span>Recruiter Name</span></th>
                            <th><span>Match Date</span></th>
                            <th ng-show="feedbackExecution.showInterested"><span>Interested</span></th>

                        </tr>
                        </thead>
                        <tbody ng-repeat="clientList in feedbackExecution.recruiterqns.sortedClientList track by $index">
                        <tr ng-repeat = "jobMatchId in feedbackExecution.recruiterqns.clientListJobMatchDetails[clientList] track by $index" >
                            <td>
                                {{ feedbackExecution.recruiterqns.jobDetails[jobMatchId].reqNumber }}
                            </td>
                            <td>
                                {{ feedbackExecution.recruiterqns.jobDetails[jobMatchId].clientName }}
                            </td>
                            <td>
                                {{ feedbackExecution.recruiterqns.jobDetails[jobMatchId].title }}
                            </td>
                            <td>
                                <span ng-if="feedbackExecution.recruiterqns.jobDetails[jobMatchId].score != 0">
                                    {{ feedbackExecution.recruiterqns.jobDetails[jobMatchId].score }}
                                </span>
                                <span ng-if="feedbackExecution.recruiterqns.jobDetails[jobMatchId].score == 0">
                                    N/A
                                </span>

                            </td>
                            <td>
                                {{ feedbackExecution.recruiterqns.jobDetails[jobMatchId].recruiterName }}
                            </td>
                            <td>
                                {{ feedbackExecution.recruiterqns.jobDetails[jobMatchId].matchDate | fourdotfiveDateFormat }}
                            </td>
                            <td ng-show="feedbackExecution.showInterested" style="vertical-align: top; padding-bottom: 10px" align="center">
                                <div class="checkbox-nice checkbox-inline">
                                    <input type="checkbox" id="checkbox-inl-{{jobMatchId}}" ng-model="feedbackExecution.recruiterqns.jobDetails[jobMatchId].interested" ng-disabled="feedbackExecution.recruiterqns.readOnly" ng-change="feedbackExecution.filterByInterested()" checked/>
                                    <label for="checkbox-inl-{{jobMatchId}}"></label>
                                </div>

                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="feedbackExecution.loadingFeedbackDetailsFlag">
        <div class="col-xs-12 text-center" style="padding-top: 20px">
            <span class="fa fa-2x fa-spinner fa-spin"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div ng-if="feedbackExecution.displayQuestions && !feedbackExecution.loadingFeedbackDetailsFlag" style="margin-top: 5px;">
                <div class="panel-group accordion" id="accordion">
                    <div class="panel panel-default">
                        <header class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#compQns">
                                    Company : {{feedbackExecution.recruiterqns.companyName}}&nbsp;&nbsp;<span ng-if="!feedbackExecution.companyQnsComplete" style="color: #ff0000; font-size: 11px">Not Completed</span><span ng-if="feedbackExecution.companyQnsComplete" style="color: #008000; font-size: 11px">Completed</span>
                                </a>
                            </h4>

                        </header>
                        <div id="compQns" class="panel-collapse collapse in" ng-repeat="(key, val) in feedbackExecution.recruiterqns.companyQuestionsResults track by $index">
                            <div class="panel-body">
                                <table width="95%" ng-repeat="companyQuestion in val | filter: feedbackExecution.filterFunction track by $index" class="feedback-question-table">
                                    <tr>
                                        <td colspan="2">
                                            <span id="co-qn">{{$index + 1}}. {{companyQuestion.question}}</span>
                                            <br/><br/>
                                        </td>
                                    </tr>
                                    <tr ng-class="{'disable-element-view' : feedbackExecution.recruiterqns.readOnly}">
                                        <td width="120px">Rating : </td>
                                        <td style="width: 400px;"><div id="co-qn-slider"></div></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="text-align: center">
                                            <span id="co-qn-rating{{$index + 1}}" class="slider-label" ng-click=>{{companyQuestion.rating}}</span>
                                        </td>
                                    </tr>
                                    <tr><td style="height: 10px"></td></tr>
                                    <tr>
                                        <td colspan="2">
                                            <textarea style="resize:none" class="form-control" id="co-qn-comments{{$index + 1}}" ng-readonly="feedbackExecution.recruiterqns.readOnly" rows="2" style="width: 525px; height: 49px;">{{companyQuestion.recruiterComment}}</textarea>
                                            <div ng-if="companyQuestion.recruiterName != null">
                                                <span style="color: #5C5858; font-size: 11px; float:right;"> Recorded by {{companyQuestion.recruiterName}} on {{companyQuestion.questionareDateTime | fourdotfiveTimeStampFormat }}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <table ng-repeat="clientKey in feedbackExecution.recruiterqns.sortedClientList track by $index" width="100%" style="margin-top: 5px;">
                        <tr>
                            <td style="margin: 0px; padding: 0px">
                                <div ng-show="feedbackExecution.toDisplayClientPanel(clientKey)">
                                    <div id="{{clientKey}}" class="panel panel-default">
                                        <header class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#clientQns{{$index}}">
                                                    Client : {{feedbackExecution.recruiterqns.clientDetails[clientKey]}}&nbsp;&nbsp;<span ng-if="!feedbackExecution.checkifClientCompleted(clientKey)" style="color: #ff0000; font-size:11px">Not Completed</span><span ng-if="feedbackExecution.checkifClientCompleted(clientKey)" style="color: #008000; font-size: 11px">Completed</span>
                                                </a>
                                            </h4>
                                        </header>
                                        <div id="clientQns{{$index}}" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <table width="95%" ng-repeat="clientQuestion in feedbackExecution.recruiterqns.clientQuestionsResults[clientKey] track by $index" ng-init="number = feedbackExecution.countClientQns()" class="feedback-question-table">
                                                    <tr>
                                                        <td colspan="2">
                                                            <span class="cl-qn{{clientKey}}">{{$index + 1}}. {{clientQuestion.question}}</span>
                                                            <input id="cl-qn-no{{clientKey}}" type="hidden" value="{{number + 1}}" />
                                                            <br/><br/>
                                                        </td>
                                                    </tr>
                                                    <tr ng-class="{'disable-element-view' : feedbackExecution.recruiterqns.readOnly}">
                                                        <td width="120px">Rating : </td>
                                                        <td style="width: 400px;"><div id="cl-qn-slider"></div></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td style="text-align: center">
                                                            <span id="cl-qn-rating{{number + 1}}" class="slider-label">{{clientQuestion.rating}}</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 10px"></td></tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <textarea style="resize:none" class="form-control" id="cl-qn-comments{{number + 1}}" rows="2" ng-readonly="feedbackExecution.recruiterqns.readOnly" style="width: 525px; height: 49px;">{{clientQuestion.recruiterComment}}</textarea>
                                                            <div ng-if="clientQuestion.recruiterName != null">
                                                                <span style="color: #5C5858; font-size: 11px; float:right;"> Recorded by {{clientQuestion.recruiterName}} on {{clientQuestion.questionareDateTime | fourdotfiveTimeStampFormat }}</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- commenting for now as job questions are not involved currently -->

                                <!--<div ng-show="feedbackExecution.toDisplayJobPanel(jobMatchId)" id="{{jobMatchId}}" class="panel panel-default" ng-repeat="jobMatchId in feedbackExecution.recruiterqns.clientListJobMatchDetails[clientKey] track by $index">-->
                                    <!--<header class="panel-heading">-->
                                        <!--<h4 class="panel-title">-->
                                            <!--<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#jobQns{{jobMatchId}}">-->
                                                <!--Job : {{feedbackExecution.recruiterqns.jobDetails[jobMatchId].title}}&nbsp;&nbsp;<span ng-if="!feedbackExecution.checkifJobCompleted(jobMatchId)" style="color: #ff0000; font-size: 11px">Not Completed</span><span ng-if=" feedbackExecution.checkifJobCompleted(jobMatchId)" style="color: #008000; font-size: 11px">Completed</span>-->
                                            <!--</a>-->
                                        <!--</h4>-->

                                    <!--</header>-->

                                    <!--<div id="jobQns{{jobMatchId}}" class = "panel-collapse collapse in">-->
                                        <!--<div class="panel-body">-->
                                            <!--<table width="95%" ng-repeat="jobQuestion in feedbackExecution.recruiterqns.jobQuestionsResults[jobMatchId] track by $index" ng-init="jobNo = feedbackExecution.countJobQns()">-->
                                                <!--<tr>-->
                                                    <!--<td colspan="2">-->
                                                        <!--<span id="job-qn{{jobMatchId}}">{{$index + 1}}. {{jobQuestion.question}}</span>-->
                                                        <!--<input id="job-qn-no{{jobMatchId}}" type="hidden" value="{{jobNo + 1}}" />-->
                                                        <!--<br/><br/>-->
                                                    <!--</td>-->
                                                <!--</tr>-->
                                                <!--<tr ng-class="{'disable-element-view' : feedbackExecution.recruiterqns.readOnly}">-->
                                                    <!--<td width="120px">Rating : </td>-->
                                                    <!--<td style="width: 400px;"><div id="job-qn-slider"></div></td>-->
                                                <!--</tr>-->
                                                <!--<tr>-->
                                                    <!--<td></td>-->
                                                    <!--<td style="text-align: center">-->
                                                        <!--<span id="job-qn-rating{{jobNo + 1}}" class="slider-label">{{jobQuestion.rating}}</span>-->
                                                    <!--</td>-->
                                                <!--</tr>-->
                                                <!--<tr><td style="height: 10px"></td></tr>-->
                                                <!--<tr>-->
                                                    <!--<td colspan="2">-->
                                                        <!--<textarea style="resize:none" class="form-control" id="job-qn-comments{{jobNo + 1}}" rows="2" ng-readonly="feedbackExecution.recruiterqns.readOnly" style="width: 525px; height: 49px;">{{jobQuestion.recruiterComment}}</textarea>-->

                                                        <!--<div ng-if="jobQuestion.recruiterName != null">-->
                                                            <!--<span style="color: #5C5858; font-size: 11px; float:right;"> Recorded by {{jobQuestion.recruiterName}} on {{jobQuestion.questionareDateTime | date : "dd-MM-yyyy h:mma" }}</span>-->
                                                        <!--</div>-->
                                                    <!--</td>-->
                                                <!--</tr>-->
                                            <!--</table>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </td>
                        </tr>
                    </table>
                    <table width="100%" style="margin-top: 5px;">
                        <tr>
                            <td style="padding: 0px; margin: 0px;">
                                <div class="panel panel-default">
                                    <header class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#overall">
                                                Overall comments &nbsp;&nbsp;<span ng-if="!feedbackExecution.checkifCompanyOverallCompleted()" style="color: #ff0000; font-size: 11px">Not Completed</span><span ng-if="feedbackExecution.checkifCompanyOverallCompleted()" style="color: #008000; font-size: 11px">Completed</span>

                                            </a>
                                        </h4>
                                    </header>
                                    <div id="overall"  class = "panel-collapse collapse in"  ng-repeat="(key, val) in feedbackExecution.recruiterqns.companyQuestionsResults track by $index">
                                        <div class="panel-body">
                                            <table width="95%" ng-repeat="overallQn in val | filter: feedbackExecution.filterFunctionForOverall track by $index" ng-init="$last && feedbackExecution.initializeSliders(); feedbackExecution.filterByInterested()" class="feedback-question-table">
                                                <tr>
                                                    <td colspan="2">
                                                        <span id="overall-qn">{{overallQn.question}}</span>
                                                        <br/><br/>
                                                    </td>
                                                </tr>
                                                <tr ng-class="{'disable-element-view' : feedbackExecution.recruiterqns.readOnly}">
                                                    <td width="120px">Rating : </td>
                                                    <td style="width: 400px;"><div id="overall-qn-slider"></div></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td style="text-align: center">
                                                        <span id="overall-qn-rating" class="slider-label">{{overallQn.rating}}</span>
                                                    </td>
                                                </tr>
                                                <tr><td style="height: 10px"></td></tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <textarea style="resize:none" class="form-control" id="overall-qn-comments" rows="2" style="width: 525px; height: 49px;" ng-readonly="feedbackExecution.recruiterqns.readOnly">{{overallQn.recruiterComment}}</textarea>
                                                        <div ng-if="overallQn.recruiterName != null">
                                                            <span style="color: #5C5858; font-size: 11px; float:right;"> Recorded by {{overallQn.recruiterName}} on {{overallQn.questionareDateTime | fourdotfiveTimeStampFormat }}</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--
                <button type="button" class="btn btn-primary" ng-click="feedbackExecution.saveResults()">Save changes</button>

                -->
                <div ng-show="!feedbackExecution.recruiterqns.readOnly">
                    <table width="100%">
                        <tr>
                            <td align="right">
                                <button type="submit" class="btn btn-success" id="cancelBtn" ng-click="feedbackExecution.cancelModal()">Cancel</button>
                                <button type="submit" class="btn btn-success" ng-click="feedbackExecution.saveResults('save')" id="saveBtn" ng-disabled="feedbackExecution.savingFlag">
                                    <span ng-if="!feedbackExecution.savingFlag">Save</span>
                                    <span ng-if="feedbackExecution.savingFlag">Saving..</span>
                                </button>
                                <button type="submit" class="btn btn-success" ng-click="feedbackExecution.completeModal('complete')" id="completeBtn" ng-disabled="feedbackExecution.completingFlag">
                                    <span ng-if="!feedbackExecution.completingFlag" ng-bind="feedbackExecution.completeButtonLabel"></span>
                                    <span ng-if="feedbackExecution.completingFlag && feedbackExecution.completeButtonLabel == 'Complete'">Completing..</span>
                                    <span ng-if="feedbackExecution.completingFlag && feedbackExecution.completeButtonLabel == 'Update'">Updating..</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div ng-show="feedbackExecution.recruiterqns.readOnly">
                    <table width="100%">
                        <tr>
                            <td align="right">
                                <button type="submit" class="btn btn-success" id="closeBtn" ng-click="feedbackExecution.closeModal()">Close</button>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
