<DIV>
    <div ng-if="!jobProfile.loadingFlag" class="animate-if main-box">
        <div class="row">
            <div class="col-lg-12">
                <div class="infographic-box">
                    <div class="row job-profile-header">
                        <div class="col-xs-12 text-center">
                            <h2><strong>{{jobProfile.job.title}}</strong></h2>
                        </div>
                        <div class="col-xs-12 text-center">
                            <strong>{{jobProfile.job.companyName}}</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3><strong>Education</strong></h3>
                                </div>
                            </div>
                            <div class="row job-profile-assets">
                                <div class="col-xs-1 text-right">
                                    <i class="fa fa-list green" title=""></i>
                                </div>
                                <div class="col-xs-11 text-left">
                                    <div ng-repeat="education in jobProfile.job.educations" ng-if="jobProfile.job.educations.length > 0">
                                        <strong><span class="asset-value">{{education.degreeName}}</span></strong>
                                    </div>
                                    <div ng-if="jobProfile.job.educations.length == 0">
                                        <strong><span class="asset-value">No Requirements</span></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3><strong>Experience</strong></h3>
                                </div>
                            </div>
                            <div class="row job-profile-assets">
                                <div class="col-xs-1 text-right">
                                    <i class="fa fa-list green" title=""></i>
                                </div>
                                <div class="col-xs-11 text-left">
                                    <div ng-repeat="experience in jobProfile.job.experiences" ng-if="jobProfile.job.experiences.length > 0">
                                        <strong><span class="asset-value">{{experience.duration}} Yrs as {{experience.title}}</span></strong>
                                    </div>
                                    <div ng-if="jobProfile.job.experiences.length == 0">
                                        <strong><span class="asset-value">No Requirements</span></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3><strong>Technical Skills</strong></h3>
                                </div>
                            </div>
                            <div class="row job-profile-assets">
                                <div class="col-xs-1 text-right">
                                    <i class="fa fa-list green" title=""></i>
                                </div>
                                <div class="col-xs-11 text-left">
                                    <div class="row">
                                        <div class="col-xs-6" ng-repeat="technicalSkill in jobProfile.job.technicalSkills">
                                            <strong>{{technicalSkill.competency}}<span class="asset-value" ng-if="technicalSkill.experience != null">: {{technicalSkill.experience}} Yrs</span></strong>
                                        </div>
                                        <div class="col-xs-12" ng-if="jobProfile.job.technicalSkills.length == 0">
                                            <strong><span class="asset-value">No Requirements</span></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3><strong>Soft Skills</strong></h3>
                                </div>
                            </div>
                            <div class="row job-profile-assets">
                                <div class="col-xs-1 text-right">
                                    <i class="fa fa-list green" title=""></i>
                                </div>
                                <div class="col-xs-11 text-left">
                                    <div class="row">
                                        <div class="col-xs-6" ng-repeat="softSkill in jobProfile.job.softSkills">
                                            <strong>{{softSkill.competency}}<span class="asset-value" ng-if="softSkill.experience != null">:{{softSkill.experience}} Yrs</span></strong>
                                        </div>
                                        <div class="col-xs-12" ng-if="jobProfile.job.softSkills.length == 0">
                                            <strong><span class="asset-value">No Requirements</span></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3><strong>Extra Skills</strong></h3>
                                </div>
                            </div>
                            <div class="row job-profile-assets">
                                <div class="col-xs-1 text-right">
                                    <i class="fa fa-list green" title=""></i>
                                </div>
                                <div class="col-xs-11 text-left">
                                    <div class="row">
                                        <div class="col-xs-6" ng-repeat="extraSkill in jobProfile.job.extraSkills">
                                            <strong>{{extraSkill.competency}}<span class="asset-value" ng-if="extraSkill.experience != null">:{{extraSkill.experience}} Yrs</span></strong>
                                        </div>
                                        <div class="col-xs-12" ng-if="jobProfile.job.extraSkills.length == 0">
                                            <strong><span class="asset-value">No Requirements</span></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3><strong>Certifications</strong></h3>
                                </div>
                            </div>
                            <div class="row job-profile-assets">
                                <div class="col-xs-1 text-right">
                                    <i class="fa fa-list green" title=""></i>
                                </div>
                                <div class="col-xs-11 text-left">
                                    <div class="row">
                                        <div class="col-xs-6" ng-repeat="certification in jobProfile.job.certifications">
                                            <strong>
                                            <span class="asset-value">{{certification.name}}
                                                <span ng-if="certification.instituteName != '' || certification.instituteName != null"> from {{certification.instituteName}}</span>
                                            </span>
                                            </strong>
                                        </div>
                                        <div class="col-xs-12" ng-if="jobProfile.job.certifications.length == 0">
                                            <strong><span class="asset-value">No Requirements</span></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3><strong>Compensation</strong></h3>
                                </div>
                            </div>
                            <div class="row job-profile-assets">
                                <div class="col-xs-1 text-right">
                                    <i class="fa fa-list green" title=""></i>
                                </div>
                                <div class="col-xs-11 text-left">
                                    <div  ng-repeat="compensation in jobProfile.job.compensations">
                                        <strong>
                                            <span class="asset-value">{{compensation.salary}}</span>
                                        </strong>
                                    </div>
                                    <div ng-if="jobProfile.job.compensations.length == 0">
                                        <strong><span class="asset-value">No Requirements</span></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="jobProfile.loadingFlag" class="animate-if candidate-card-loader-div text-center" style="height: 300px;">
        <span class="fa fa-2x fa-spinner fa-spin"></span>
    </div>
</div>
