.job-profile-header{
    margin-bottom: 20px;
}

.job-profile-assets {
    font-size: 0.95em;
}

.job-profile-assets i {
    font-size: 1.5em;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
    text-align: center;
}

.job-profile-assets .asset-value {
    color: #03a9f4;
}