<form role="form" name="deleteEntity.actionform" id="actionform" ng-submit="deleteEntity.actionform.$valid  && deleteEntity.deleteEntity()"
    novalidate="">
    <div class="form-group wrap-text-in" ng-if="deleteEntity.entity == 'candidate'">
        <label class="modal-body-font-size ng-scope">
            <span class="emerald">'Delete' </span>the
            candidate
            <span class="emerald "> '{{deleteEntity.candidateInfo.candidateName}}'. </span>
        </label>
        <br>
        <p>This action cannot be <b>undone</b>.</p>
        <p>All jobs that this candidate matches will be deleted. Number of Jobs Matched is <span class="emerald">{{deleteEntity.candidateInfo.jobMatchCount}}</span>.</p>
        <p>The candidate will then be deleted.</p>
        <p>Are you sure you want to continue?</p>
    </div>

    <div class="form-group wrap-text-in" ng-if="deleteEntity.entity == 'company'">
        <label class="modal-body-font-size ng-scope">
            <span class="emerald">'Delete' </span>the
            company
            <span class="emerald "> '{{deleteEntity.companyInfo.companyName}}'. </span>
        </label>
        <br>
        <p>This action cannot be <b>undone</b>.</p>
        <p>All Candidates will be deleted. The number of Candidates is <span class="emerald">{{deleteEntity.companyInfo.candidatesCount}}</span>.</p>
        <p>All Requisitions will be deleted. The number of Requisitions is <span class="emerald">{{deleteEntity.companyInfo.requisitionsCount}}</span>.</p>
        <p>All Users will be deleted. The number of Users is <span class="emerald">{{deleteEntity.companyInfo.usersCount}}</span>.</p>
        <p  ng-if="deleteEntity.isStaffingCompany()">All Clients will be deleted. The number of Clients is <span class="emerald">{{deleteEntity.companyInfo.clientOrBuCount}}</span>.</p>
        <p  ng-if="!deleteEntity.isStaffingCompany()">All BUs will be deleted. The number of Bus is <span class="emerald">{{deleteEntity.companyInfo.clientOrBuCount}}</span>.</p>
        <p>Are you sure you want to continue?</p>
    </div>

    <div class="form-group wrap-text-in" ng-if="deleteEntity.entity == 'clientOrBU'">
        <label class="modal-body-font-size ng-scope">
            <span class="emerald">'Delete' </span>the <span ng-if="deleteEntity.isStaffingCompany()">Client</span><span ng-if="!deleteEntity.isStaffingCompany()">BU</span>
            <span class="emerald "> '{{deleteEntity.clientOrBuInfo.clientOrBUName}}'. </span>
        </label>
        <br>
        <p>This action cannot be <b>undone</b>.</p>
        <p>This client will be removed from the scope of <span class="emerald">{{deleteEntity.clientOrBuInfo.usersCount}}</span> users.</p>
        <div ng-if="deleteEntity.isStaffingCompany()">
            <p>The requisitions associated with this Client will be deleted.</p>
            <p> The number of requisitions are <span class="emerald">{{deleteEntity.clientOrBuInfo.requisitionsCount}}</span>.</p>
        </div>
        <div ng-if="!deleteEntity.isStaffingCompany()">
            <p>The requisitions associated with this BU will be deleted.</p>
            <p>The number of requisitions are <span class="emerald">{{deleteEntity.clientOrBuInfo.requisitionsCount}}</span>.</p>
        </div>
        <p>Are you sure you want to continue?</p>
    </div>

    <div class="form-group wrap-text-in" ng-if="deleteEntity.entity == 'user'">
        <label class="modal-body-font-size ng-scope">
            <span class="emerald">'Delete' </span>the
            user
            <span class="emerald "> '{{deleteEntity.userInfo.fullName}}'.</span>
        </label>
        <br>
        <p>This action cannot be <b>undone</b>.</p>
        <p>This user will be removed as the primary recruiter of candidates that he/she was handling.</p>
        <p>These candidates will need to be assigned to another recruiter.</p>
        <p>The number of candidates that need to be re-assigned is <span class="emerald "> {{deleteEntity.userInfo.numberOfCandidates}}</span>.</p>
        <p>The user will also be removed from requisitions that they are managing. </p>
        <p>The number of requisitions being managed by this user is <span class="emerald "> {{deleteEntity.userInfo.numberOfRequisitions}}</span>.</p>
        <div ng-if="deleteEntity.userInfo.requisitionDetails.length>0">
            This user is the only user on following requisition(s).
            <br>
        <div class="table-responsive" style="margin-top:10px">
            <table class="table" id="requisitionsTable">
                <thead>
                    <tr>
                        <th class="text-center">
                            Requisition #
                        </th>
                        <th class="text-center">
                            Title
                        </th>
                        <th class="text-center" ng-if="deleteEntity.isStaffingCompany()">
                            Client
                        </th>
                        <th class="text-center" ng-if="!deleteEntity.isStaffingCompany()">
                            BU
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="requisition in deleteEntity.userInfo.requisitionDetails">
                        <td class="text-center">
                            <div>{{requisition.requisitionNumber}}</div>
                        </td>
                        <td class="text-center">
                            <span>{{requisition.jobTitle}}</span>
                        </td>
                        <td class="text-center">
                            {{requisition.clientOrBuName}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>
            The user’s manager <span class="emerald ">'{{deleteEntity.userInfo.requisitionDetails[0].managerName}}'</span> will be
            assigned these requisition.
        </p>
        </div>
        <p>
            Are you sure you want to continue?
        </p>
        </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="currentDate">Date</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    <input type="text" class="form-control access ng-pristine ng-untouched ng-valid ng-valid-required"
                        placeholder="mm-dd-yyyy" id="currentDate" name="currentDate" ng-model="deleteEntity.date"
                        required="" ng-focus="deleteEntity.actionform.currentDate.focused = true" ng-blur="deleteEntity.actionform.currentDate.focused = false"
                        ng-disabled="true">
                </div>
            </div>

            <div class="col-xs-6">
                <label for="time">Time</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </span>
                    <input type="text" class="form-control access ng-untouched ng-dirty ng-valid ng-valid-required"
                        placeholder="hh:mm:ss" ng-model="deleteEntity.time" id="time" name="time" required=""
                        ng-disabled="true">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error':(deleteEntity.actionform.$submitted && deleteEntity.actionform.note.$invalid)}">
        <label>Note <em> * </em></label>
        <div>
            <textarea name="note" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength"
                style="height: 100px; width: 100%;resize: none;" maxlength="503" ng-model="deleteEntity.note"
                required="" ng-focus="deleteEntity.actionform.note.focused = true" ng-blur="deleteEntity.actionform.note.focused = false">
            </textarea>
        </div>

        <div class="error error-gap ng-hide" ng-show="deleteEntity.actionform.$submitted">
            <small ng-show="deleteEntity.actionform.note.$error.required" class=""><em>*</em>
                Note is required</small>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-right">
            <div class="clearfix">
                <button type="button" class="btn btn-danger" ng-click="deleteEntity.cancel()">Cancel</button>

                <button type="submit" class="btn btn-success" ng-disabled="deleteEntity.deletingFlag">
                    <span ng-if="!deleteEntity.deletingFlag">Delete</span>
                    <span ng-if="deleteEntity.deletingFlag">Deleting..</span>
                </button>
            </div>
        </div>
    </div>

</form>