<div class="candidate-card-container">
    <div ng-show="!candidateCard.loadingFlag" class="main-box clearfix profile-box-menu">
        <div class="main-box-body clearfix">
            <div class="profile-box-notification" ng-class="{'dark-blue-bg': candidateCard.candidate.candidateStatus === 'ACTIVE','blue-bg': candidateCard.candidate.candidateStatus === 'PASSIVE','grey-bg': candidateCard.candidate.candidateStatus === 'INERT'}">
                <div class="dropdown pull-right candidate-card-notification-icon">
                    <a uib-tooltip="Notifications" class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownBell" ng-click="candidateCard.userNotificationControls.setNewNotificationsAsViewed()">
                        <i class="fa fa-bell"></i>
                        <span class="count notification-count" ng-show="candidateCard.numberOfNewNotifications >0">{{candidateCard.numberOfNewNotifications}}</span>
                    </a>
                    <ul class="dropdown-menu notifications-list">
                        <li class="item">
                            <user-notifications height="200px" width="250px" search-object="{{candidateCard.notificationsSearchObject}}" view-all-flag="true"
                                context="candidateCard" user-notification-controls="candidateCard.userNotificationControls" number-of-new-notifications="candidateCard.numberOfNewNotifications"></user-notifications>
                        </li>
                    </ul>
                </div>
                <div uib-tooltip="Activity Monitor" class="dropdown pull-right candidate-job-card-notification-icon">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" id="activity-list" ng-click="candidateCard.recentActivitiesControls.getActivities()">
                        <i class="fa fa-list"></i>
                    </a>
                    <ul class="dropdown-menu candidate-activity-list">
                        <recent-activities activity-map="candidateCard.activityMap" recent-activities-controls="candidateCard.recentActivitiesControls"  context="candidateCard" candidate-id="{{candidateCard.candidateInfo.id}}" show-all-callback="candidateCard.showAllActivityModal()"></recent-activities>
                    </ul>
                </div>
            </div>
            <!-- {{candidateCard.candidate.ParentState}} -->
            <div class="profile-box-header candidate-card-header clearfix gery-bg"
                 ng-class="{'dark-blue-bg': candidateCard.candidate.candidateStatus === 'ACTIVE','blue-bg': candidateCard.candidate.candidateStatus === 'PASSIVE','grey-bg': candidateCard.candidate.candidateStatus === 'INERT'}">
                <div class="candidate-card-name-div">
                    <img src="app-content/img/people/4dot5-default-no-profile-pic.jpg" alt="{{candidateCard.candidate.name}}" class="candidate-card-img img-responsive pull-left"/>
                    <div>
                        <div class="cursor-pointer job-position">
                            <span title='{{candidateCard.candidate.name}}' id="candidateName" class="candidate-card-wrap-candidate-name" ui-sref="missioncontrol.candidateprofile({candidateId: candidateCard.candidate.id })">
                                {{candidateCard.candidate.name}}
                            </span>
                            <span class="candidate-card-update-contact-icon">
                                <i class="fa fa-pencil" uib-tooltip="Update Candidate Contact Details" ng-click="candidateCard.launchActionsModal('updateContact')"></i>
                            </span>
                        </div>
                        <div class="candidate-card-detail-div">
                            <span>
                                <span ng-if="!candidateCard.candidate.conflictPhoneNumber && !candidateCard.candidate.inCompletePhoneNumber">
                                    <i class="fa fa-phone fa-lg"></i>
                                    <span ng-bind="candidateCard.candidate.mobilephone"></span>
                                </span>
                                <span ng-if="candidateCard.candidate.conflictPhoneNumber || candidateCard.candidate.inCompletePhoneNumber">
                                    <span class="fa-stack fa" style="height: 1.5em" ng-if="candidateCard.candidate.conflictPhoneNumber" uib-tooltip="Phone Number in conflict. Update contact details.">
                                        <i class="fa fa-phone fa-stack-1x"></i>
                                        <i class="fa fa-exclamation fa-stack-2x red"></i>
                                    </span>
                                    <span class="fa-stack fa" style="height: 1.5em" ng-if="candidateCard.candidate.inCompletePhoneNumber" uib-tooltip="Phone Number missing. Update contact details.">
                                        <i class="fa fa-phone fa-stack-1x"></i>
                                        <i class="fa fa-ban fa-stack-2x red"></i>
                                    </span>
                                </span>
                            </span>
                            <!--<span class="pull-right">-->
                                <!--<span class="cursor-pointer" style="margin-left: 10px;">-->
                                    <!--<a href="#" title="Chat with {{candidateCard.candidate.im}}">-->
                                        <!--<i class="fa fa-comment"></i>-->
                                    <!--</a>-->
                                <!--</span>-->
                            <!--</span>-->
                            <span class="candidate-card-email pull-right">
                                <span ng-if="!candidateCard.candidate.conflictEmail && !candidateCard.candidate.inCompleteEmail" tooltip-placement="top-right" uib-tooltip="Email {{candidateCard.candidate.email}}" class="cursor-pointer" style="margin-left: 10px;">
                                    <a href="mailto:{{candidateCard.candidate.email}}">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                </span>
                                <span ng-if="candidateCard.candidate.conflictEmail || candidateCard.candidate.inCompleteEmail">
                                    <span class="fa-stack fa" style="height: 1.5em" ng-if="candidateCard.candidate.conflictEmail" tooltip-placement="top-right" uib-tooltip="Email in conflict. Update contact details.">
                                        <i class="fa fa-envelope fa-stack-1x"></i>
                                        <i class="fa fa-exclamation fa-stack-2x red"></i>
                                    </span>
                                    <span class="fa-stack fa" style="height: 1.5em" ng-if="candidateCard.candidate.inCompleteEmail" tooltip-placement="top-right" uib-tooltip="Email missing. Update contact details.">
                                        <i class="fa fa-envelope fa-stack-1x"></i>
                                        <i class="fa fa-ban fa-stack-2x red"></i>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div ng-if="!(candidateCard.candidate.candidateStatus === 'INERT')" class="candidate-card-detail-div">
                    <span class="cursor-pointer" uib-tooltip="Job Title of Best Job Match" ng-bind="candidateCard.candidate.bestMatchJobTitle"
                          ui-sref="missioncontrol.jobprofile({'jobId':'{{candidateCard.candidate.bestMatchJobId}}'})"></span>
                    <span uib-tooltip="Job Match Date of Best Job Match" class="pull-right" ng-bind="candidateCard.candidate.bestMatchJobDate | fourdotfiveDateFormat"></span>
                </div>
                <div ng-if="!(candidateCard.candidate.candidateStatus === 'INERT')" class="candidate-card-detail-div">
                    <span uib-tooltip="Requisition Number of Best Job Match" ng-bind="candidateCard.candidate.bestMatchJobRequisitionNum"></span>
                </div>
                <div ng-if="!(candidateCard.candidate.candidateStatus === 'INERT')" class="candidate-card-detail-div">
                    <span uib-tooltip="Client of Best Job Match" ng-bind="candidateCard.candidate.bestMatchClientName"></span>
                    <span uib-tooltip="Client Location of Best Job Match" ng-if="candidateCard.candidate.bestJobMatchClientLocation != null">
                        <span ng-bind-html="candidateCard.candidate.bestJobMatchClientLocationHtmlText"></span>
                    </span>
                </div>
                <div ng-if="!(candidateCard.candidate.candidateStatus === 'INERT')" class="candidate-card-detail-div">
                    <span uib-tooltip="Status of Best Job Match" ng-bind="candidateCard.candidate.bestMatchJobCurrentState" class="pull-left"></span>
                    <span uib-tooltip="Days since resume has been uploaded." class="pull-right">{{candidateCard.candidate.noOfDaysSinceLastUpload}} days</span>
                </div>
                <div ng-if="candidateCard.candidate.candidateStatus === 'INERT'" class="inert-candidate-current-job-details">
                    <div>
                        <b>Current Job Details</b>
                    </div>
                    <div ng-if="candidateCard.showCurrentJobDetails">
                        <div>
                            <span uib-tooltip="Title of Current Job." ng-bind="candidateCard.candidate.currentJobTitle"></span>
                        </div>
                        <div>
                            <span uib-tooltip="Company of Current Job." ng-bind="candidateCard.candidate.currentJobCompanyName"></span>
                        </div>
                        <div>
                            <span uib-tooltip="Location of Current Job." ng-bind="candidateCard.candidate.currentJobLocation"></span>
                            <span uib-tooltip="Duration of Current Job." class="pull-right" ng-bind="candidateCard.candidate.currentJobDuration"></span>
                        </div>
                    </div>
                    <div class="text-center" ng-if="!candidateCard.showCurrentJobDetails" style="padding-top: 18px;">
                        No Job Details Available.
                    </div>
                </div>
            </div>
            <div class="profile-box-content clearfix">
                <ul class="menu-items">
                    <li>
                        <div class="row candidate-card-popovers-container">
                            <div class="col-xs-4">
                                <div class="text-center candidate-card-footer-section">
                                    <a href="" class="clearfix" class="candidate-card-recruiter-count pointer" popover-title="Job Matches"
                                        popover-placement="{{candidateCard.jobMatchesPopoverPosition}}" uib-popover-template="'app/directives/candidateCard/candidate-job-matches-popover.html'"
                                        popover-class="candidate-job-matches-popover" popover-trigger="'outsideClick'" popover-is-open="candidateCard.candidateInfo.jobMatchesPopoverIsOpenFlag">
                                        <span class="pull-left" uib-tooltip="Job Matches">
                                            <i class="fa fa-briefcase fa-lg"></i>
                                            <span ng-bind="candidateCard.candidate.jobMatchesCount"></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="text-center">
                                    <img src="app-content/img/people/4dot5-default-no-profile-pic.jpg"
                                         alt="{{candidateCard.candidate.bestMatchRecruiterName}}"
                                         class="candidate-card-recruiter-img img-responsive"/>
                                    <span ng-if="candidateCard.candidate.recruitersList.length > 1" class="candidate-card-recruiter-count pointer"
                                          popover-placement="top" uib-popover-template="'app/directives/candidateCard/candidate-recruiters-popover.html'"
                                          popover-class="candidate-card-recruiters-popover" popover-trigger="'outsideClick'">
                                        +{{candidateCard.candidate.recruitersList.length-1}}
                                    </span>
                                    <span class="candidate-card-recruiter-name" uib-tooltip="{{candidateCard.candidate.bestMatchRecruiterName}}">{{candidateCard.candidate.bestMatchRecruiterName}}</span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="text-center candidate-card-footer-section">
                                    <div class="btn-group dropdown" uib-dropdown="" id="">
                                        <button type="button" class="btn btn-primary">Actions</button>
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span> <span class="sr-only"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu="" role="menu">
                                            <li role="menuitem" ng-if="!(candidateCard.candidate.candidateStatus === 'INERT')">
                                                <a href="" ng-click="candidateCard.launchCommunicationModal()">Communications</a>
                                            </li>
                                            <li role="menuitem" ng-if="!(candidateCard.candidate.candidateStatus === 'INERT')">
                                                <a href="" ng-click="candidateCard.launchNotesModal()">Notes</a>
                                            </li>
                                            <li role="menuitem">
                                                <a href="" ng-click="candidateCard.launchActionsModal('availability')">Set Availability Date</a>
                                            </li>
                                            <li role="menuitem">
                                                <a href="" ng-click="candidateCard.launchActionsModal('jobLeft')">Set Job Left Date</a>
                                            </li>
                                            <li role="menuitem">
                                                    <a href="" ng-click="candidateCard.launchActionsModal('delete')">Delete</a>
                                                </li>
                                            <!--<li role="menuitem" ng-if="candidateCard.candidate.candidateStatus === 'INERT'">-->
                                                <!--<a href="">No Actions Available !</a>-->
                                            <!--</li>-->
                                          </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="candidateCard.loadingFlag" class="candidate-card-loader-div text-center">
        <span class="fa fa-2x fa-spinner fa-spin"></span>
    </div>
</div>
<div class="modal fade" id="SourcedPausedCancelOpenFilledCompletePopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">

</div>
