<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="activityModal.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding">Candidate Activity</h4>
</div>

<div class="modal-body">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-xs-12" ng-if="activityModal.jobMatchId === undefined">
            <candidate-activity candidate-id="{{activityModal.candidateInfo.id}}" candidate-name="{{activityModal.candidateInfo.name}}" activity-map="activityModal.activityMap" context="candidate"></candidate-activity>
        </div>
        <div class="col-xs-12" ng-if="activityModal.jobMatchId !== undefined">
            <candidate-activity candidate-id="{{activityModal.candidateInfo.id}}" job-match-id="{{activityModal.jobMatchId}}"
                activity-map="activityModal.activityMap" candidate-name=" {{activityModal.candidateInfo.firstName+' '+ activityModal.candidateInfo.lastName}}"
                requisition-number="{{activityModal.candidateInfo.jobMatchRequisitionNum}}" job-title="{{activityModal.candidateInfo.jobMatchTitle}}"
                client-or-bu-name="{{activityModal.candidateInfo.jobMatchClientName}}" context="candidateJobMatch"></candidate-activity>
        </div>
    </div>
</div>