<div>
    <div class="row candidate-card-recruiters-popover-content-container">
        <div class="text-center" ng-class="{'col-xs-12':candidateCard.candidate.recruitersList.length==1, 'col-xs-6':candidateCard.candidate.recruitersList.length<3, 'col-xs-3':candidateCard.candidate.recruitersList.length>=3 }" ng-repeat="recruiterName in candidateCard.candidate.recruitersList track by $index"
             ng-if="$index != 0" uib-tooltip="{{recruiterName}}">
            <img src="app-content/img/people/4dot5-default-no-profile-pic.jpg" alt="{{recruiterName}}"
                 class="candidate-card-recruiter-img img-responsive"/>
            <span class="candidate-card-recruiter-name">{{recruiterName}}</span>
        </div>
    </div>
</div>