<div>
    <div class="row" ng-if="candidateCard.candidateJobMatches.length > 0">
        <div class="col-xs-12">
            <div class="row" class="candidate-job-match-row">
                <div class="col-xs-2 candidate-job-match-header-text">
                    Match Date
                </div>
                <div class="col-xs-4 candidate-job-match-header-text">
                    Job Title
                </div>
                <div class="col-xs-4 candidate-job-match-header-text">
                    Client
                </div>
                <div class="col-xs-2 candidate-job-match-header-text">
                    Score
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="candidateCard.candidateJobMatches.length > 0">
        <div class="col-xs-12" ng-repeat="jobMatch in candidateCard.candidateJobMatches">
            <div class="row candidate-job-match-row">
                <div class="col-xs-2 candidate-job-match-text" ng-bind="jobMatch.jobMatchDate | fourdotfiveDateFormat" uib-tooltip="{{ jobMatch.jobMatchDate | fourdotfiveDateFormat }}">
                </div>
                <div class="col-xs-4 candidate-job-match-text" ng-bind="jobMatch.title" uib-tooltip="{{jobMatch.title}}">
                </div>
                <div class="col-xs-4 candidate-job-match-text" ng-bind-html="jobMatch.companyDetailsText" uib-tooltip="{{jobMatch.companyDetailsText}}">
                </div>
                <div class="col-xs-2 candidate-job-match-text" ng-bind="jobMatch.fourDotFiveIntelligentScore" uib-tooltip="{{jobMatch.fourDotFiveIntelligentScore}}">
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="candidateCard.candidateJobMatches.length > 0">
        <div class="col-xs-12 text-center candidate-job-match-footer">
            <a ng-click="candidateCard.setCandidateInfo({candidateInfo: candidateCard.candidateInfo, type: 'jobMatches'})">View all job matches</a>
        </div>
    </div>
    <div class="row" ng-if="candidateCard.candidateJobMatches.length == 0">
        <div class="col-xs-12 text-center">
            No Job Matches found!
        </div>
    </div>
</div>
