.candidate-card-notifications-list{
    width: 250px;
    height: 200px;
    overflow-y: scroll;
}

.candidate-card-notification-icon a, .candidate-card-notification-icon a:hover, .candidate-card-notification-icon a:visited {
    border-bottom: 0px;
    color: white;
}

.candidate-card-notification-icon .btn {
    border-bottom: none;
    padding-left: 3px;
    padding-right: 8px;
}

.candidate-card-notification-icon-left a, .candidate-card-notification-icon-left a:hover, .candidate-card-notification-icon-left a:visited {
    border-bottom: 0px;
    color: white;
}

.candidate-card-notification-text{
    color: #333;
}

.candidate-card-notification-icon-left .btn {
    border-bottom: none;
    padding-left: 8px;
    padding-right: 3px;
}

.candidate-card-notification-unread, .candidate-card-notification-unread a:hover, .candidate-card-notification-unread a:visited {
    background: #cfe8f2;
}

.candidate-card-notification-date{
    display: inline-block;
    color: #797979;
    font-size: 0.8em;
}

.candidate-activity-list{
    left: -280px!important;
    width: 326px!important;
}

.candidate-activitites-modal-window > .modal-dialog{
    width: 1100px !important;
}

.candidate-card-wrap-candidate-name{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 1.2em;
    max-width: 60%;
}

.candidate-card-update-contact-icon{
    display: inline-block;
    overflow: hidden;
    font-size: 1.2em;
}