<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="actionsModal.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding" ng-bind="actionsModal.actionLabel"></h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-xs-12" ng-if="actionsModal.actionType === 'availability' || actionsModal.actionType === 'jobLeft'">
            <set-candidate-availability candidate-id="{{actionsModal.candidateId}}"
                availability-type="{{actionsModal.actionType}}" save-callback="actionsModal.closeModal()">
            </set-candidate-availability>
        </div>
        <div class="col-xs-12" ng-if="actionsModal.actionType === 'delete'">
            <delete-entity 
                    entity="candidate" 
                    candidate-info="actionsModal.candidateInfo" 
                    delete-callback="actionsModal.closeModal()">
            </delete-entity>
        </div>
        <div class="col-xs-12" ng-if="actionsModal.actionType === 'updateContact'">
            <add-update-candidate-contact candidate-id="{{actionsModal.candidateId}}"
                  save-callback="actionsModal.saveCallback()" cancel-callback="actionsModal.closeModal()">
            </add-update-candidate-contact>
        </div>
    </div>
</div>