<style>
    table.table thead .sorting_desc:before, table.table thead .sorting_asc:before {
        display: none;
    }
</style>
<div class="row">
    <div class="col-xs-12" style="padding-left:20px; padding-right:20px;">
        <div class="main-box clearfix">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2" style="margin-top: 10px">
                    <h1 class="text-center">{{candidates.infoOfCandidateInContext.name}}'s &nbsp;Job Matches</h1>
                </div>
                <div class="col-xs-2 text-right cursor-pointer" style="margin-top: 10px; padding-right: 15px;">
                <span ng-click="candidates.closeCandidateInfoRow(candidates.candidateInfoContainerId)">
                    <i class="fa fa-lg fa-times"></i>
                </span>
                </div>
            </div>
            <candidate-job-matches ng-if="candidates.candidateInfoContainerId != null" candidate-id="candidates.infoOfCandidateInContext.id"
                   user-id="candidates.userId"></candidate-job-matches>
        </div>
    </div>
</div>
