<style>
/* cellpadding */
th, td { padding: 5px; }

/* cellspacing */
table { border-collapse: separate; border-spacing: 5px; } /* cellspacing="5" */
table { border-collapse: collapse; border-spacing: 0; }   /* cellspacing="0" */

/* valign */
th, td { vertical-align: top; }

/* align (center) */
table { margin: 0 auto; }

.slideup, .slidedown {
    max-height: 600px;
    overflow-y: hidden;
    -webkit-transition: max-height 0.8s ease-in-out;
    -moz-transition: max-height 0.8s ease-in-out;
    -o-transition: max-height 0.8s ease-in-out;
    transition: max-height 0.8s ease-in-out;
}

.disabledworkflow{
		color: grey;
	}
</style>
<body>
<div class="approw">
    <div class="row">
        <div class="col-lg-12">
            <div id="content-header" class="clearfix">
                <div class="pull-left">
                    <h1 class="heading-css" ng-if="feedbacktype == 'R'">Recruiter Feedback</h1>
                    <h1 class="heading-css" ng-if="feedbacktype == 'P'">Phone Feedback</h1>
                    <h1 class="heading-css" ng-if="feedbacktype == 'I'">Interviewer Feedback</h1>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="main-box">
                <header class="main-box-header clearfix col-xs-offset-2 col-xs-6">
                    <h2 ng-if="(step5clickedAddModify && form.screeiningquestions.$error.required)" class="has-error"><span class="help-block"> <em>*</em>  {{MESSAGECONSTANTS.COMPANY_MANAGEMENT.ENTER_MANDATORY_FIELDS}}</span></h2>
                    <h2 ng-if="(step5clickedAddModify && sameQuestionAdded)" class="has-error"><span class="help-block"> <em>*</em> Quesion Already Exists </span></h2>
                </header>

                <div class="main-box-body clearfix">
                    <div class="col-lg-6 col-lg-offset-1">
                        <form role="form" name="form.screeiningquestions" novalidate>
                            <input id="hiddencompanyname"  class="hiddencompanyname" type="hidden" value="{{company.companyName}}"/>
                            <div class="form-group">
                                <div ng-show="companyName != '4dot5'">
                                    <div class="btn-group">
                                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{{ companyName }} <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a>{{ companyName }}</a></li>
                                            <li><a>{{company.companyType == 'StaffingCompany' ? 'Select Client' : 'Select BU'}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <br/><br/>
                                <table width="100%">
                                    <tr id="select-client" style="padding-bottom: 15px">
                                        <td width="120px">
                                            <span ng-if="company.companyType == 'StaffingCompany'">Client : </span>
                                            <span ng-if="company.companyType == 'Corporation'">BU : </span>
                                        </td>
                                        <td>
                                            <select class="form-control" style="margin-top: -5px;"  name="myClient"
                                                    id="myClient" ng-model="selectedClient"
                                                    ng-options="option.companyName for option in allClientsOrBus"
                                                    ng-change="getClientQuestions()"
                                                    class="form-control access" required>
                                                <option></option>
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td width="120px">
                                            <label for="inputPassword1" class="control-label">Question <em> * </em> : </label>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="questiontoAdd" class="form-control access" name="questiontoAdd" id="questiontoAdd" required ="required" />
                                        </td>
                                        <td>
                                            <button type="button" ng-class="'btn btn-primary'" ng-click="addQuestions()">{{ buttonText }}</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <button type="button" ng-class="'btn btn-primary'" ng-click="saveQuestions()">Save</button>
                                        </td>
                                    </tr>
                                </table>
                                <div>
                                </div>
                            </div>
                        </form>
                        <br/>
                        <div ng-show="checkIfFourDot5ToDisplay() && companyName != '4dot5'">
                            Below are the standard 4dot5 Questions that will be asked when feedback forms are in use. If you decide however, to have Company specific questions, then the 4dot5 questions will no longer be displayed or used.
                        </div>
                        <br/>
                        <table id="questiontable" class="table table-bordered">
                            <thead>

                            <div  ng-show = "checkIfFourDot5ToDisplay()">
                                <tr ng-show="checkIfFourDot5ToDisplay()" id="fourDot5QuestionTable" ng-repeat="fourDot5Question in fourdot5questionList" >
                                    <td width="85%">{{$index + 1}}. {{fourDot5Question}}</td>
                                    <td width="15%" class="text-center">
                                        <a style="margin : 0px;">
                                <span class="fa-stack disabledworkflow">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                </span>
                                        </a>
                                        <a style="margin : 0px;">
                                    <span class="fa-stack disabledworkflow">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                </span>
                                        </a>
                                    </td>
                                </tr>
                            </div>

                            <tr id="parentquestiontable" ng-repeat="parentquestion1 in parentQuestionList" >
                                <td width="85%">{{$index + 1}}. {{parentquestion1}}</td>
                                <td width="15%" class="text-center">
                                    <a style="margin : 0px;">
                                <span class="fa-stack disabledworkflow">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                </span>
                                    </a>
                                    <a style="margin : 0px;">
                                    <span class="fa-stack disabledworkflow">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                </span>
                                    </a>
                                </td>
                            </tr>
                            </thead>
                            <tbody id="sortable-qns">
                            <tr id="childrenquestionidtr" ng:model="questionList" ng-repeat="question1 in questionList" ng-init="$last ? initializeSliders() : null">
                                <td width="85%" id="childrenquestionidtd" style="font-size: 14px;">{{parentQuestionList.length + $index + 1}}. {{question1}}</td>
                                <td width="15%" class="text-center">
                                    <a ng-click="displayQuestion(question1,$index)" style="margin : 0px;" class="table-link primary">
                                    <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                                    </a>
                                    <a data-toggle="modal" ng-click="deleteQuestion($index)" style="margin : 0px;" class="table-link danger">
                                    <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="button" ng-show="hideshowpreview()" ng-class="{'btn btn-primary': QnsPreview == 'Show','btn btn-danger': QnsPreview == 'Close'}" ng-click="isQnsPreviewShown()">{{QnsPreview}} Preview</button>
                        <br/><br/>
                        <div class="main-box" ng-show="QnsPreview == 'Close'">
                            <div class="main-box-body clearfix">
                                <br/>
                                <table ng-show="checkIfFourDot5ToDisplay()" ng-repeat="fourdot5questionList1 in fourdot5questionList">
                                    <td colspan="2">
                                        <span>{{$index + 1}}. {{fourdot5questionList1}}</span>
                                        <br/><br/>
                                    </td>
                                    <tr>
                                        <td width="120px">Rating : </td>
                                        <td style="width: 400px;"><div id="slider-qn"></div></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="text-align: center">
                                            <span id="slider-qn-label{{$index + 1}}" class="slider-label"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <br/>
                                            <textarea class="form-control" id="textareaq{{$index + 1}}" rows="2" style="width: 525px; height: 49px;"></textarea>
                                            <hr/>
                                        </td>
                                    </tr>
                                </table>
                                <table ng-repeat="parentquestion1 in parentQuestionList">
                                    <td colspan="2">
                                        <span>{{$index + 1}}. {{parentquestion1}}</span>
                                        <br/><br/>
                                    </td>
                                    <tr>
                                        <td width="120px">Rating : </td>
                                        <td style="width: 400px;"><div id="slider-qn"></div></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="text-align: center">
                                            <span id="slider-qn-label{{$index + 1}}" class="slider-label"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <br/>
                                            <textarea class="form-control" id="textareaq{{$index + 1}}" rows="2" style="width: 525px; height: 49px;"></textarea>
                                            <hr/>
                                        </td>
                                    </tr>
                                </table>
                                <table ng-repeat="question1 in questionList">
                                    <tr>
                                        <td colspan="2">
                                            <span>{{parentQuestionList.length + $index + 1}}. {{question1}}</span>
                                            <br/><br/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="120px">Rating : </td>
                                        <td style="width: 400px;"><div id="slider-qn"></div></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="text-align: center">
                                            <span id="slider-qn-label{{parentQuestionList.length + $index + 1}}" class="slider-label"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <br/>
                                            <textarea style="resize:none" class="form-control" id="textareaq{{parentQuestionList.length + $index + 1}}" rows="2" style="width: 525px; height: 49px;"></textarea>
                                            <hr/>
                                        </td>
                                    </tr>
                                </table>
                                <table id="overall">
                                    <tr>
                                        <td width="120px">Overall Rating : </td>
                                        <td style="width: 400px;"><div id="slider-qn-overall"></div></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="text-align: center">
                                            <span id="slider-qn-label-overall" class="slider-label"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <br/>
                                            <textarea style="resize:none" class="form-control" id="textareaq" rows="2" style="width: 525px; height: 49px;"></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script>
    $(document).ready(function() {
        $("#select-client").hide();
        $('#slider-qn-overall').noUiSlider({
            range: [0,10], start: [1], step: 1, handles: 1, connect: 'lower',
            slide: function(){
                var val = $(this).val();
                $('#slider-qn-label-overall').text(Math.round(val));
            },
            set: function() {
                var val = $(this).val();
                $('#slider-qn-label-overall').text(Math.round(val));
            }
        });
        $('#slider-qn-overall').val(8, true);
    });
    function initializeSliders()
    {
        $("div[id='slider-qn']").each(function(i,obj) {
            var labelId = "#slider-qn-label" + ++i;
            obj.innerHTML = '';
            obj.className = '';
            if(obj.className == '')
            {
                $(obj).noUiSlider({
                    range: [0,10], start: [1], step: 1, handles: 1, connect: 'lower',
                    slide: function(){
                        var val = $(this).val();
                        $(labelId).text(Math.round(val));
                    },
                    set: function() {
                        var val = $(this).val();
                        $(labelId).text(Math.round(val));
                    }
                });
                $(obj).val(8, true);
            }
        });
    }

    $(".dropdown-menu li a").click(function(){
        var selText = $(this).text();
        var currSelection = $(this).parents('.btn-group').find('.dropdown-toggle').html();
        if(currSelection == selText+' <span class="caret"></span>')
            return;

        $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');

        if(selText !=  $('#hiddencompanyname').val())
        {
            $("#select-client").show();
        }
        else
        {
            $("#select-client").hide();
        }
        angular.element('#questiontable').scope().onSelectClick(selText);
        angular.element('#questiontable').scope().$apply();
    });

</script>
<script type="text/javascript">
    $("tbody[id^='sortable-qns']").sortable({
        stop: function (event, ui)  {
            var newList = [];
            $("tr[id^='childrenquestionidtr']").each(function () {
                var questionwithperiod = $(this).find("td[id^='childrenquestionidtd']").text();
                var questiontext =  questionwithperiod.split(".").pop();
                newList.push(questiontext.trim());
            });
            var $scope = angular.element("#questiontable").scope();
            $scope.$apply(function() {
                while ($scope.questionList.length) {
                    $scope.questionList.pop();
                }
                $scope.questionList = angular.copy(newList);
                $scope.QnsPreview = 'Show';
            });
            initializeSliders();
        }
    });
</script>

