<div class="main-box" style="padding-bottom: 15px">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12">
            <div class="col-xs-12 modify-non-trial-plan">
                <div class="col-xs-12">
                    <div class="col-xs-4">
                        <div class="col-xs-4">
                            <label for="planType" class="control-label">Plan Type: </label>
                        </div>
                        <div class="col-xs-8">
                            <select class="form-control" name="planType" id="plantype" ng-model="modifyPlan.selectedPlan.planHeaderDto.planType"
                                ng-if="!modifyPlan.isTrialPlan" ng-change="modifyPlan.onPlanTypeChange()"
                                required>
                                <option ng-repeat="planType in modifyPlan.planTypeList">{{planType}}</option>
                                <option value="" ng-if="false"></option>
                            </select>
                            <input type="text" name="planType" id="planType" ng-model="modifyPlan.selectedPlan.planHeaderDto.planType"
                                ng-if="modifyPlan.isTrialPlan" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="col-xs-4">
                            <label class="control-label">Effective Start Date: </label>
                        </div>
                        <div class="col-xs-8">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                                <input type="text" name="effectiveStartDate" id="effectiveStartDate" class="form-control"
                                    ng-model="modifyPlan.selectedPlan.planHeaderDto.planStartDateDisplay" ng-disabled="modifyPlan.isTrialPlan">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="col-xs-4">
                            <label class="control-label">Effective End Date: </label>
                        </div>
                        <div class="col-xs-8">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                                <input type="text" name="effectiveEndDate" id="effectiveEndDate" class="form-control"
                                    ng-model="modifyPlan.selectedPlan.planHeaderDto.planEndDateDisplay" ng-disabled="modifyPlan.isTrialPlan">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" style="margin-top:20px" ng-if="!modifyPlan.isTrialPlan">
                    <div class="col-xs-4">
                        <div class="col-xs-8">
                            <label for="assessmentUsed" class="control-label">Assessments Used: </label>
                        </div>
                        <div class="col-xs-4">
                            <span>{{modifyPlan.selectedPlan.planDetailDto.taUsed}}</span>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="col-xs-8">
                            <label for="jobBoardsResumesPulled" class="control-label">Job Boards Resumes Pulled:
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <span>{{modifyPlan.selectedPlan.planDetailDto.jbiUsed}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 modify-trial-plan" ng-if="modifyPlan.isTrialPlan">

                    <div class="col-xs-12" style="margin-top:20px">
                        <div class="col-xs-4">
                            <div class="col-xs-6">
                                <label for="assessmentAllocated" class="control-label">Assessments Allocated: </label>
                            </div>
                            <div class="col-xs-6">
                                <span>{{modifyPlan.selectedPlan.planDetailDto.taAllocated}}</span>
                                <span ng-if="modifyPlan.selectedPlan.planDetailDto.taAdded !== 0">
                                    (+ {{modifyPlan.selectedPlan.planDetailDto.taAdded}} = {{modifyPlan.selectedPlan.planDetailDto.taAllocated + modifyPlan.selectedPlan.planDetailDto.taAdded}})</span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="col-xs-6">
                                <label for="assessmentUsed" class="control-label">Assessments Used: </label>
                            </div>
                            <div class="col-xs-6">
                                <span>{{modifyPlan.selectedPlan.planDetailDto.taUsed}}</span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="col-xs-6">
                                <label for="assessmentAdd" class="control-label">Add Assessments: </label>
                            </div>
                            <div class="col-xs-6">
                                <input type="number" ng-model="modifyPlan.selectedPlan.planDetailDto.taAdded" class="form-control"
                                    name="assessmentAdd" id="assessmentAdd" style="position: relative;bottom: 10px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" style="margin-top:10px">
                        <div class="col-xs-4">
                            <div class="col-xs-6">
                                <label for="jobBoardsResumesAllocated" class="control-label">Job Boards Resumes
                                    Allocated:
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <span>{{modifyPlan.selectedPlan.planDetailDto.jbiAllocated}}</span>
                                <span ng-if="modifyPlan.selectedPlan.planDetailDto.jbiAdded !== 0">
                                    (+ {{modifyPlan.selectedPlan.planDetailDto.jbiAdded}} = {{modifyPlan.selectedPlan.planDetailDto.jbiAllocated + modifyPlan.selectedPlan.planDetailDto.jbiAdded}})</span>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="col-xs-6">
                                <label for="jobBoardsResumesPulled" class="control-label">Job Boards Resumes Pulled:
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <span>{{modifyPlan.selectedPlan.planDetailDto.jbiUsed}}</span>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="col-xs-6">
                                <label for="jobBoardsResumesAdd" class="control-label">Add Job Boards Resumes: </label>
                            </div>
                            <div class="col-xs-6">
                                <input type="number" ng-model="modifyPlan.selectedPlan.planDetailDto.jbiAdded" class="form-control"
                                    name="jobBoardsResumesAdd" id="jobBoardsResumesAdd" style="position: relative;bottom: 10px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-right">
        <div>
            <button class="btn btn-danger" ng-click="modifyPlan.cancel()">
                <span>Cancel</span>
            </button>
            <button type="button" class="btn btn-success" ng-click="modifyPlan.savePlan(modifyPlan.selectedPlan)">
                <span ng-if="!modifyPlan.isModifyPlan">Choose Plan</span>
                <span ng-if="modifyPlan.isModifyPlan">Modify Plan</span>
            </button>
        </div>
    </div>
</div>