<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="multiActionModal.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding">{{multiActionModal.modalHeading}}</h4>
</div>

<div class="modal-body">
    <div ng-if="multiActionModal.action == 'notInterested' || multiActionModal.action == 'release'">
        <set-job-match-status job-match-details-array-string="{{multiActionModal.jobMatchDetailsArray}}" status-type="{{multiActionModal.statusType}}"
              save-callback="multiActionModal.saveCallback()">
        </set-job-match-status>
    </div>
    <div ng-if="multiActionModal.action == 'assignRecruiter'">
        <assign-recruiter job-match-id-array-string="{{multiActionModal.jobMatchIdArray}}" save-callback="multiActionModal.saveCallback()"></assign-recruiter>
    </div>
    <div ng-if="multiActionModal.action == 'addCandidates'">
        <add-candidates job-id="{{multiActionModal.jobId}}" save-callback="multiActionModal.saveCallback()"></add-candidates>
    </div>
    <div ng-if="multiActionModal.action == 'associateCandidates'">
        <associate-candidates job-id="{{multiActionModal.jobId}}" save-callback="multiActionModal.saveCallback()"></associate-candidates>
    </div>
    <div ng-if="multiActionModal.action == 'addCandidatesFromJobBoards'">
        <add-candidates-from-job-boards job-id="{{multiActionModal.jobId}}" save-callback="multiActionModal.saveCallback()"></add-candidates-from-job-boards>
    </div>
</div>