<style>
    .job-match-workflow-multi-action-modal-large > .modal-dialog{
        width: 80%;
    }
    .action-menu-item{
        padding-left:15px !important;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a ui-sref="recruiter.dashboard">Home</a></li>
            <li class="active"><span>Candidate Workflow</span></li>
        </ol>
        <h1 id="candidateWorkflowTitle" class="heading-css">
            Candidate Workflow
            <span ng-if="workflow.jobTitle != ''">
                <span>
                    for
                </span>
                <span class="badge badge-primary" style="font-size: 0.8em;margin-bottom:5px;">
                    {{workflow.jobTitle}}
                    <span ng-if="workflow.jobClient != ''"> at {{workflow.jobClient}}
                        <span ng-if="workflow.city != ''"> @ {{workflow.city}}</span>
                        <span ng-if="workflow.state != ''">, {{workflow.state}}</span>
                    </span>
                </span>
            </span>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div style="margin:10px;margin-top:20px;font-size:0.9em" class="pull-left">
            <!--<div style="padding-right:10px;" class="pull-left" ng-if="workflow.jobTitle != ''">-->
                <!--<span class="badge badge-primary">-->
                    <!--{{workflow.jobTitle}}<span ng-if="workflow.jobClient != ''"> at {{workflow.jobClient}}</span>-->
                <!--</span>-->
            <!--</div>-->
            <div style="padding-right:10px;" class="pull-left">
                <input type="checkbox" id="unassignedFilter" name="unassignedFilter" ng-true-value="true" ng-false-value="false" ng-model="workflow.globalQueryFilterObject.isUnassigned" ng-click="workflow.queryJobMatches()">
                <label for="unassignedFilter">
                    <strong>Unassigned</strong>
                </label>
            </div>
            <div style="padding-right:10px;" class="pull-left">
                <input type="checkbox" id="assignedToMeFilter" name="assignedToMeFilter" ng-true-value="true" ng-false-value="false" ng-model="workflow.globalQueryFilterObject.isAssignedToMe" ng-click="workflow.queryJobMatches()">
                <label for="assignedToMeFilter">
                    <strong>Assigned To Me</strong>
                </label>
            </div>
            <div class="pull-left">
                <input type="checkbox" id="assignedToOthers" name="assignedToOthers" ng-true-value="true" ng-false-value="false" ng-model="workflow.globalQueryFilterObject.isAssignedToOthers" ng-click="workflow.queryJobMatches()">
                <label for="assignedToOthers">
                    <strong>Assigned To Others</strong>
                </label>
            </div>
        </div>
        <div style="margin: 10px;" class="pull-right">
			<span title="Click to show / hide the filter" class="pull-right filter-icon" ng-click="toggleInputBox()">
				<i class="fa fa-filter fa-2x cursor-point" aria-hidden="true"
                   id="open-filter"></i>
			</span>
        </div>
        <div style="margin: 10px;" class="pull-right" ng-hide="workflow.hideSearchStringFlag">
            <input class="text-center filter-style inputBoxBorder" type="text"
                   placeholder="Type to filter" ng-model="workflow.globalQueryFilterObject.searchString" ng-change="workflow.queryJobMatches()"/>
        </div>
        <div class="btn-group dropdown pull-right" id="candidate-job-matches-actions" uib-dropdown style="margin: 10px">
            <button type="button" class="btn btn-primary">Actions</button>
            <button type="button" class="btn btn-primary" data-toggle="dropdown" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span> <span class="sr-only"></span>
            </button>
            <ul uib-dropdown-menu="" role="menu">
                <li role="menuitems">
                    <a href="" class="action-menu-item" ng-click="workflow.performActionMultiple('addCandidates')">
                        Add Candidates
                    </a>
                </li>
                <li role="menuitems">
                    <a href="" class="action-menu-item" ng-click="workflow.performActionMultiple('associateCandidates')">
                        Associate Candidates
                    </a>
                </li>
                <li role="menuitems">
                    <a href="" class="action-menu-item" ng-click="workflow.performActionMultiple('compare')">
                        Compare Candidates
                    </a>
                </li>
                <li class="divider"></li>
                <li role="menuitems">
                    <a href="" class="action-menu-item" ng-if="workflow.jobIntegrationEnabled" ng-click="workflow.performActionMultiple('addCandidatesFromJobBoards')">
                        Get Candidates from Job Boards
                    </a>
                    <a href="" class="action-menu-item" ng-if="!workflow.jobIntegrationEnabled" uib-tooltip="Upgrade your plan to use this feature.">
                        Get Candidates from Job Boards <span class="fa fa-2x fa-level-up red"></span>
                    </a>
                </li>
                <li class="divider"></li>
                <li role="menuitems" ng-if="workflow.jobId != ''">
                    <a href="" class="action-menu-item" ng-click="workflow.performActionMultiple('assignRecruiter')">
                        Assign Recruiter
                    </a>
                </li>
                <li class="divider"></li>
                <li role="menuitems">
                    <a href="" class="action-menu-item" ng-click="workflow.performActionMultiple('release')">
                        Release Candidates
                    </a>
                </li>
                <li role="menuitems">
                    <a href="" class="action-menu-item" ng-click="workflow.performActionMultiple('notInterested')">
                        Mark as Not Interested
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--filter starts-->
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12" id="workflow-search-panel" style="display: none;">
                <div class="main-box" style="padding-top: 1%;">
                    <div class="main-box-body clearfix">
                        <form role="form" ng-submit="" name="" novalidate>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-3 col-md-3">
                                            <div class="form-group">
                                                <label for="jobMatchStates">Job Match States</label>
                                                <div isteven-multi-select input-model="workflow.jobMatchStates" button-label="value" max-height="180px;" output-model="workflow.selectedJobMatchStates"
                                                     name="jobMatchStates" id="jobMatchStates" search-key="value" item-label="value" on-select-all="workflow.filterSelectRemoveAll('JobMatchStates', 'selectAll')"
                                                     on-select-none="workflow.filterSelectRemoveAll('JobMatchStates', 'removeAll')" on-reset="workflow.filterSelectRemoveAll('JobMatchStates', 'removeAll')"
                                                     on-item-click="workflow.onFilterItemClick(selectedClients, 'JobMatchStates')" max-labels="1" tick-property="ticked">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pull-right">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group" id="resetFiltersButton">
                                        <button type="button" class="btn btn-danger" ng-click="workflow.resetWorkflowFilters()">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--filter ends-->
</div>
<div class="row row-horizon rowheight">
    <!-- active candidates columns -->
    <div ng-repeat="workflowStep in workflow.candidatesObject" id="{{workflowStep.uiIdentifier}}-candidates-column" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 candidate-state-column"
        ng-class="{'candidate-state-column': !workflowStep.isCollapsedFlag, 'candidate-state-column-collapse': workflowStep.isCollapsedFlag}">
        <div class="main-box candidate-state-wrapper">
            <div class="candidate-state-wrapper-title">
                <div class="pull-left candidate-state-wrapper-title-name">{{ ::workflowStep.workflowStep}}</div>
                <div class="pull-right">
                    <span id="{{workflowStep.uiIdentifier}}-candidates-column-toggle-icon" class="fa candidate-state-wrapper-collapse-icon"
                          ng-class="{'fa-chevron-left': workflowStep.showCollapseIconFlag, 'fa-chevron-right': !workflowStep.showCollapseIconFlag}"
                          ng-click="workflow.toggleColumn(workflowStep)" uib-tooltip="{{workflowStep.expandCollapseLabel}}"
                          tooltip-append-to-body="true" tooltip-placement="{{workflowStep.countAndLabelTooltipPlacement}}">
                    </span>
                </div>
                <div class="pull-right">
                    <div class="candidate-state-wrapper-title-column-count" uib-tooltip="Total number of workflow cards." tooltip-placement="{{workflowStep.countAndLabelTooltipPlacement}}" tooltip-append-to-body="true">
                        {{workflowStep.totalCandidateCount}}
                    </div>
                </div>
            </div>
            <div class="candidate-state-wrapper-column-container" style="height: calc(100vh - 280px);">
                 <div class="candidate-state-wrapper-column" style="padding-right: 2px;overflow-y: auto;">
                    <div class="candidate-state-wrapper-list" infinite-scroll="workflowStep.getNext()" infinite-scroll-parent="true"
                         infinite-scroll-disabled="workflowStep.busy || workflowStep.disableInfiniteScroll">
                        <ul dnd-list="workflowStep.candidates" style="list-style: none outside none;" dnd-drop="dropCallback(index, item, external, 'Qualified')">
                            <candidate-job-match-card ng-repeat="candidate in workflowStep.candidates" candidate-id="{{candidate.candidateId}}"
                                job-match-id="{{candidate.jobMatchId}}" selected-flag="candidate.selectedFlag" disabled-flag="candidate.disabledFlag"
                                activity-map= "workflow.activityMap" save-callback="workflow.resetCandidateJobMatches()">
                            </candidate-job-match-card>
                        </ul>
                    </div>
                    <div ng-show="workflowStep.busy">
                        <div class="text-center">
                            <span>Loading</span>
                            <span class="fa fa-spinner fa-spin"></span>
                        </div>
                    </div>
                    <div ng-show="!(workflowStep.candidatesExistFlag) && !(workflowStep.isCollapsedFlag)">
                        <div class="text-center">
                            <span>No workflow cards found.</span>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>