<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive" ng-if="!jobMatchMeetings.loadingFlag">
            <!--datatable="ng" dt-options="jobMatchMeetings.dtOptions"
                   dt-column-defs="jobMatchMeetings.dtColumnDefs"-->
            <table class="table" id="meetingsTable">
                <thead>
                    <tr>
                        <th class="text-center">
                            Scheduled Date
                        </th>
                        <th class="text-center">
                            Status
                        </th>
                        <th class="text-center">
                            {{ jobMatchMeetings.meetingUserType }}
                        </th>
                        <th class="text-center">
                            Email
                        </th>
                        <th class="text-center">
                            Phone Number
                        </th>
                        <th class="text-center">
                            View
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="meeting in jobMatchMeetings.meetingsList">
                        <td class="text-center candidate-job-match-text" ng-class="{'job-match-meetings-info-with-browser-time-zone-column': (meeting.timeZone != '-' && meeting.timeZone != jobMatchMeetings.browserTimeZone)}">
                            <div>{{ :: meeting.scheduledDate | fourdotfiveDateFormat }}</div>
                            <div>{{ :: meeting.scheduledTimeLabel }}</div>
                            <div ng-if="meeting.timeZone != '-'">
                                in {{ :: meeting.timeZone }}
                            </div>
                        </td>
                        <td class="text-center" ng-class="{'job-match-meetings-info-with-browser-time-zone-column': (meeting.timeZone != '-' && meeting.timeZone != jobMatchMeetings.browserTimeZone)}">
                            <span class="candidate-job-match-text">
                               {{ ::meeting.statusLabel}}
                            </span>
                            <span class="{{meeting.statusClass}}"></span>
                        </td>
                        <td class="text-center candidate-job-match-text" ng-class="{'job-match-meetings-info-with-browser-time-zone-column': (meeting.timeZone != '-' && meeting.timeZone != jobMatchMeetings.browserTimeZone)}">
                            <div>{{ ::meeting.userName }}</div>
                            <div>{{ ::meeting.title }}</div>
                        </td>
                        <td class="text-center candidate-job-match-text" ng-class="{'job-match-meetings-info-with-browser-time-zone-column': (meeting.timeZone != '-' && meeting.timeZone != jobMatchMeetings.browserTimeZone)}">
                            {{ ::meeting.email }}
                        </td>
                        <td class="text-center candidate-job-match-text" ng-class="{'job-match-meetings-info-with-browser-time-zone-column': (meeting.timeZone != '-' && meeting.timeZone != jobMatchMeetings.browserTimeZone)}">
                            {{ ::meeting.phoneNumber }}
                        </td>
                        <td class="text-center candidate-job-match-text" ng-class="{'job-match-meetings-info-with-browser-time-zone-column': (meeting.timeZone != '-' && meeting.timeZone != jobMatchMeetings.browserTimeZone)}">
                            <span ng-if="meeting.feedbackEnabledFlag" uib-tooltip="{{meeting.feedbackTooltip}}" ng-click="jobMatchMeetings.openFeedbackForm(meeting.userId)" class="fa fa-eye pointer"></span>
                            <span ng-if="!meeting.feedbackEnabledFlag" uib-tooltip="{{meeting.feedbackTooltip}}" class="fa fa-eye" ng-disabled="true" style="opacity: 0.4"></span>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-if="meeting.timeZone != '-' && meeting.timeZone != jobMatchMeetings.browserTimeZone">
                        <td colspan="6" class="job-match-meetings-browser-time-zone-column">
                            <div class="job-match-meetings-browser-time-zone-info text-center">
                                Schedule Date is '<strong>{{ :: meeting.scheduledDateInBrowserTimeZone | fourdotfiveDateFormat }} {{ :: meeting.scheduledTimeLabelInBrowserTimeZone }}</strong>' in your Computer's time zone (<strong>{{ :: jobMatchMeetings.browserTimeZone }}</strong>)
                            </div>
                            <div class="job-match-meetings-browser-time-zone-space">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" ng-show="jobMatchMeetings.loadingFlag">
            <div class="col-xs-12 text-center" style="padding-top: 20px">
                <span class="fa fa-2x fa-spinner fa-spin"></span>
            </div>
        </div>
    </div>
</div>