.job-match-meetings-browser-time-zone-column{
    padding: 0px 0px 0px 0px !important;
    border-top: 0px solid !important;
}

.job-match-meetings-browser-time-zone-info{
    background-color: #f5f5dc;
    margin:0px 10px 0px 10px;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
}

.job-match-meetings-browser-time-zone-space{
    padding-bottom: 8px;
}

.job-match-meetings-info-with-browser-time-zone-column{
    padding-bottom: 4px !important;
}