<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="feedbackModal.closeModal()" uib-tooltip="Close">×</button>
    <h4 class="modal-title wrap-text-in ng-binding">
        <span>{{ ::feedbackModal.title }}</span>
    </h4>
</div>

<div class="modal-body">
    <feedback-execution-screen job-match-id="{{feedbackModal.jobMatchId}}" user-id="{{feedbackModal.meetingUserId}}" save-callback="feedbackModal.saveCallback()" feedback-type="{{feedbackModal.feedbackType}}"></feedback-execution-screen>
</div>