<style>
	.modal-backdrop.fade {
		opacity: 0;
	}
	
	.modal-backdrop {
		position: initial;
	}
</style>
<header class="navbar navbar-default navbar-fixed-top" id="header-navbar">
	<div class="container">
		<a href="" id="logo" class="navbar-brand">
			<img ng-src={{imageUrl}}logo-old.png alt="" class="normal-logo logo-white" />
			<img ng-src={{imageUrl}}logo-black.png alt="" class="normal-logo logo-black" />
			<img ng-src={{imageUrl}}logo-small.png alt="" class="small-logo hidden-xs hidden-sm hidden" />
		</a>
	</div>
</header>