<style>
    .compSwitch {
        padding-bottom: 12px !important;
        padding-top: 22px !important;
        line-height: 45px !important;
    }

    .switchcompany {
        display: inline;
        font-size: 0.875em;
        padding-left: 18px;
        padding-right: 18px;
        border: none;
        border-radius: 0;
        background-clip: padding-box;
        cursor: pointer;
    }

    .switch {
        bottom: -0.75em !important;
        font-weight: 100;
        /*font-size: 65% !important;*/
        font-size: x-small !important;
    }

    .switch i {
        font-size: xx-small !important;
    }

    .global-notification-unread{
        background: #cfe8f2;
    }

    .global-notification-time-stamp{
        display: inline-block;
        font-size: 0.8em;
        color: #797979;
    }
</style>
<header class="navbar navbar-default navbar-fixed-top"
        id="header-navbar">
    <div class="container row">
        <div class="col-sm-3">
            <!--<a href="" id="logo" class="navbar-brand">-->
                <!--<img ng-src={{imageUrl}}logo-old.png alt="" class="normal-logo logo-white"/>-->
                <!--<img ng-src={{imageUrl}}logo-black.png alt="" class="normal-logo logo-black"/>-->
                <!--<img ng-src={{imageUrl}}logo-small.png alt="" class="small-logo hidden-xs hidden-sm hidden"/>-->
            <!--</a>-->
            <div class="col-sm-6">
                <a href="" id="logo" class="navbar-brand">
                    <img ng-src="app-content/img/logo-old.png" alt="" class="normal-logo logo-white" src="app-content/img/logo-old.png">
                    <img ng-src="app-content/img/logo-black.png" alt="" class="normal-logo logo-black" src="app-content/img/logo-black.png">
                    <img ng-src="app-content/img/logo-small.png" alt="" class="small-logo hidden-xs hidden-sm hidden" src="app-content/img/logo-small.png">
                </a>
            </div>
            <div class="col-sm-1 pull-left">
                <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                    <ul class="nav navbar-nav pull-left">
                        <li class="dropdown hidden-xs">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="userNotificationControls.setNewNotificationsAsViewed()">
                                <i class="fa fa-bell"></i>
                                <span class="count" ng-show="numberOfNewNotifications > 0">{{numberOfNewNotifications}}</span>
                            </a>
                            <ul class="dropdown-menu notifications-list">
                                <li class="item">
                                    <user-notifications height="400px" width="350px" search-object="{{searchObject}}" view-all-flag="true"
                                            context="global" user-notification-controls="userNotificationControls" number-of-new-notifications="numberOfNewNotifications"></user-notifications>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-5"></div>
        </div>
        <div class="clearfix row col-sm-9">
            <div class="col-sm-8">
                <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button" id="menubars">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>

                <div>
                    <ul class="nav navbar-nav fullwidth">
                        <li class="fullwidth text-center">
                            <span class="compSwitch label label-primary" style="font-size: 1.3em; display: inline">
                                <span ng-if="userDetails.company.companyId === null">(New Company)</span>
                                <span title={{userDetails.company.companyName}} ng-if="(userDetails.company.companyId !== null) && (userDetails.company.companyState === 'Draft')">
                                    {{userDetails.company.companyName | companyNameFilter}} ({{userDetails.company.companyState}})
                                </span>
                                <span title={{userDetails.company.companyName}} ng-if="(userDetails.company.companyId !== null) && (userDetails.company.companyState !== 'Draft')">
                                    {{userDetails.company.companyName | companyNameFilter}}
                                </span>
								<sub ng-if="userDetails.roleScreenRef.role.name === '4dot5SuperUser' || userDetails.roleScreenRef.role.name === '4dot5Admin'"
                                     class="switch pointer" ng-click="switchCompany()">
                                    <i class="fa fa-exchange"></i> Switch
                                </sub>
						    </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-no-collapse pull-right col-sm-4" id="header-nav">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown profile-dropdown"><a
                            class="dropdown-toggle" data-toggle="dropdown"> <img
                            ng-src={{imageUrl}}samples/4dot5-default-no-profile-pic.jpg/>
                        <span class="pointer hidden-xs"
                              title="{{(userDetails.lastname !== null) ? (userDetails.firstname + ' ' + userDetails.lastname) : (userDetails.firstname)}}"
                              ng-bind="((userDetails.lastname !== null) ? (userDetails.firstname + ' ' + userDetails.lastname) : (userDetails.firstname)) | profileFilter"></span>
                        <b class="caret"
                           ng-if="(userDetails.company.companyId !== null) && (userDetails.company.companyState !== 'Draft')"></b>
                    </a>
                        <ul class="dropdown-menu dropdown-menu-right"
                            ng-if="(userDetails.company.companyId !== null) && (userDetails.company.companyState !== 'Draft')">
                            <li ng-if="userDetails.roleScreenRef.role.id !== MESSAGECONSTANTS.ROLEIDS.SUPERUSER"><a
                                    ng-click="showUserProfile(userDetails)"><i class="fa fa-user"></i>Profile</a></li>
                            <li><a ui-sref="missioncontrol.changepassword"><i
                                    class="fa fa-cog"></i>Change Password</a></li>
                            <li ng-if="(userDetails.roleScreenRef.role.id !== MESSAGECONSTANTS.ROLEIDS.SUPERUSER) && (userDetails.roleScreenRef.role.id !== MESSAGECONSTANTS.ROLEIDS.FOURDOTFIVE_ADMIN)">
                                <a ui-sref="missioncontrol.notificationpreference({'userId':userDetails.id})"
                                   ui-sref-opts="{reload : true}">
                                    <i class="fa fa-cog"></i>My Notification Preferences
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="hidden-xxs"><a ng-click="logout()"> <i
                            class="fa fa-power-off"></i>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
