<style>

    .disableTransactionEntityScope {
        color: grey;
    }

    .messagestyles {
        font-size: 1.1em;
        margin-left : 30%;
        color: gray;
    }

    .errormessagestyles {
        font-size: 1.1em;
        margin-left : 30%;
    }
    .resblock {
        width: 50%;
        margin-left: 15%;
        margin-right: 15%;
        display: block;
    }
     .radio input[type=radio]:hover+label:before{
         border : 2px solid #e7ebee;
     }
     .radio input[type=radio]:checked+label:before{
         border : 2px solid #03a9f4;
     }
</style>
<div class="approw">
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li> <a ui-sref="missioncontrol.dashboard">{{MESSAGECONSTANTS.BREADCRUMBS.HOME}}</a></li>
            <li class="active"><span>Role Entity Scope</span></li>
        </ol>
        <h1 class="heading-css">Role Entity Scope</h1>
    </div>
    <div class="col-lg-12" ng-show="TransactionroleEntityScope.disabled">
        <span class="help-block messagestyles">No BU has been setup till now !</span>
    </div>

    <div class="col-lg-12 has-error">
        <span class="help-block errormessagestyles" ng-show="RoleEntityForm.$submitted && RoleEntityForm.$invalid">
            <em>*</em> {{MESSAGECONSTANTS.COMMONVALIDATIONS.ENTER_MANDATORY_FIELDS}}
        </span>
    </div>
</div>
<div class="row">
    <div role="dialog" class="resblock" aria-hidden="false">
        <form role="form" name="RoleEntityForm" ng-submit="RoleEntityForm.$valid && saveCompanyRES()" novalidate>
            <div class="wizard-cards">
                <div class="wizard-card-container">
                    <div class="col-lg-12" style="height: 150px; display: block;" ng-repeat="(value,key)  in TransactionroleEntityScope.scopeList track by $index">
                        <h3 style="padding-bottom: 0.5%;">{{key.role.description}}</h3>
                        <div class="form-group" ng-if="TransactionroleEntityScope.companyType === 'StaffingCompany'">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <h5>Clients <em>*</em> :</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="radio">
                                            <input type="radio" id="clientsall_{{key.role.id}}" name="clients_{{key.role.id}}" ng-click="changeAll($index,key,key.allClientsOrBU)"
                                                ng-model="key.allClientsOrBU" ng-value="true" required>
                                            <label for="clientsall_{{key.role.id}}">All</label>
                                            <input type="radio" id="clientslist_{{key.role.id}}" name="clients_{{key.role.id}}" ng-click="changelist($index,key,key.clientOrBUList)"
                                                ng-model="key.clientOrBUList" ng-value="true" required>
                                            <label for="clientslist_{{key.role.id}}">List</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-if="TransactionroleEntityScope.companyType === 'Corporation'">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <h5>BU <em ng-if="!TransactionroleEntityScope.disabled">*</em> :</h5>
                                </div>
                                <div class="col-md-6">
                                    <div class="radio" ng-class="{'nopointerevents' : TransactionroleEntityScope.disabled}">
                                        <input type="radio" id="buall_{{key.role.id}}" name="bu_{{key.role.id}}" ng-required="!TransactionroleEntityScope.disabled"
                                            ng-readonly="TransactionroleEntityScope.disabled" ng-disabled="TransactionroleEntityScope.disabled"
                                            ng-click="changeAll($index,key,key.allClientsOrBU)" ng-model="key.allClientsOrBU"
                                            ng-value="true">

                                        <label for="buall_{{key.role.id}}" ng-class="{'disableTransactionEntityScope':TransactionroleEntityScope.disabled}">All</label>

                                        <input type="radio" id="bulist_{{key.role.id}}" name="bu_{{key.role.id}}" ng-required="!TransactionroleEntityScope.disabled"
                                            ng-readonly="TransactionroleEntityScope.disabled" ng-disabled="TransactionroleEntityScope.disabled"
                                            ng-click="changelist($index,key,key.clientOrBUList)" ng-model="key.clientOrBUList"
                                            ng-value="true">

                                        <label for="bulist_{{key.role.id}}" ng-class="{'disableTransactionEntityScope':TransactionroleEntityScope.disabled}">List</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wizard-buttons-container">
                <div class="btn-group-single pull-right">
                    <button class="btn btn-danger btn-cancel" ng-click="cancelChanges()" type="button" ng-disabled="TransactionroleEntityScope.disabled">Cancel</button>
                    <!--<button class="btn wizard-next btn-primary" ng-click="save()" type="button">Save</button>-->
                    <input class="btn wizard-next btn-primary" type="submit" ng-disabled="TransactionroleEntityScope.disabled" value="Save" />
                </div>
            </div>
        </form>
    </div>
</div>
</div>