<style>
	.disableleftnav {
		pointer-events: none;
		opacity: 0.5;
	}

	.enableSidebar {
		opacity: 1.0;
	}
	/*CSS3 multiple columns.*/
	/* Get em size for colums: 184/16 */

	.columns {
		/*-moz-column-width: 11.5em;*/
		/* Firefox */
		/*-webkit-column-width: 11.5em;*/
		/* webkit, Safari, Chrome */
		/*column-width: 11.5em;*/
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	/*remove standard list and bullet formatting from ul*/

	.columns ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.columns ul li {
		display: inline-block;
	}

	h3 {
		border-bottom: 1px solid #b0bec5;
		font-size: 1.2em !important;
	}
	/* correct webkit/chrome uneven margin on the first column*/

	.columns ul li:first-child {
		margin-top: 0px;
	}

	.modal-content {
		margin-top: 20.5%;
	}

	.companymodelbody {
		overflow-y: auto !important;
		/*height: 200px;*/
		 max-height: 300px !important;
	}
	#user-content-wrapper {
    background: #e7ebee;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    /*min-height: 0px !important;*/
    padding: 10px 15px 35px 15px;
    /*margin-left: 220px;*/
}

.heig{
	min-height: 780px;
	max-height: 2650px;
	/*min-height: 660px !important;*/
}
</style>


<div class="approw" vertilize-container>
	<div id="nav-col" ng-class="{'disableleftnav':(userDetails.company.companyId === null || userDetails.company.companyState != 'Active')}" vertilize ng-show="hasAccess('57c368b9820fea2470d6b9d3')">
		<section id="col-left" class="col-left-nano">
			<div id="col-left-inner" class="col-left-nano-content">
				<div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
					<ul class="nav nav-pills nav-stacked">
						<li class="nav-header nav-header-first hidden-sm hidden-xs">
							Navigation</li>
						<!-- Recruiter Menu -->

						<li ui-sref-active="active" ng-if="hasAccess('57c368b9820fea2470d6b9c5')">
							<!--<a ng-if="userDetails.roleScreenRef.role.name === '4dot5SuperUser' && userDetails.company.companyType === 'Host'" ui-sref="missioncontrol.dashboardsuperusermodule">-->
								<!--<i class="fa fa-dashboard" title="Dashboard"></i> <span>{{MESSAGECONSTANTS.LEFTNAVICONS.DASHBOARD}}</span>-->
							<!--</a>-->
							<a ng-if="userDetails.roleScreenRef.role.name != '4dot5SuperUser' || userDetails.company.companyType !='Host'" ui-sref="missioncontrol.dashboard">
								<i class="fa fa-dashboard" title="Dashboard"></i> <span>{{MESSAGECONSTANTS.LEFTNAVICONS.DASHBOARD}}</span>
							</a>
						</li>
						<li ui-sref-active="active" ng-if="hasAccess('57c368b9820fea2470d6b9c9') && (userDetails.company.companyType !== 'Host')" >
							<a ui-sref="missioncontrol.candidates({'candidateStatuses':['Active','Passive','Inert']})">
								<i class="fa fa-users" title="All Candidates"></i> <span>{{MESSAGECONSTANTS.LEFTNAVICONS.CANDIDATESVIEW}}</span>
							</a>
						</li>
						<li ui-sref-active="active" ng-if="hasAccess('57c368b9820fea2470d6b9c6') && (userDetails.company.companyType !== 'Host')">
							<a ui-sref="missioncontrol.candidateJobMatchesWorkflow({})" style="top: -7px;">
								<span class="fa-stack fa-lg iconinicon" title="Candidate Workflow">
									<i class="icon-icon_4dot5 threeemfontsize"></i>
								</span>
								<span>{{MESSAGECONSTANTS.LEFTNAVICONS.ACTIVECANDIDATESJOBVIEW}}</span>
							</a>
						</li>
						<!--<li ui-sref-active="active" ng-if="hasAccess('57c368b9820fea2470d6b9ce') && (userDetails.company.companyType !== 'Host')" style=" margin-top: 5px;">-->
							<!--<a ui-sref="missioncontrol.passivecandidates({'candidatesType':'passive','filterValues':filterValuesToPassiveCandidates})" style="top: -7px;">-->
								<!--<span class="fa-stack fa-lg iconinicon" title="Passive Candidates Job View">-->
									<!--<i class="icon-icon_4dot5 threeemfontsize lightblue"></i>-->
								<!--</span>-->
								<!--<span>{{MESSAGECONSTANTS.LEFTNAVICONS.PASSIVECANDIDATESJOBVIEW}}</span>-->
							<!--</a>-->
						<!--</li>-->
						<!--<li ui-sref-active="active" ng-if="hasAccess('57c368b9820fea2470d6b9c8')">-->
							<!--<a ui-sref="missioncontrol.teammembers({'iconClicked' : 'teammembers'})" ui-sref-opts="{reload: true}"> <i class="fa fa-user-plus" title="Users"></i> <span>{{MESSAGECONSTANTS.LEFTNAVICONS.TEAMMEMBERS}}</span>-->
							<!--</a>-->
						<!--</li>-->
						<li ui-sref-active="active" ng-if="hasAccess('57c368b9820fea2470d6b9c7')  && (userDetails.company.companyType !== 'Host')">
							<a ui-sref="missioncontrol.requisitions"> <i class="fa fa-briefcase" title="Requisitions"></i> <span>{{MESSAGECONSTANTS.LEFTNAVICONS.REQUISITIONS}}</span>
							</a>
						</li>
						<li ng-if="userDetails.company.companyType !== 'Host'">
							<a class="dropdown-toggle"> <i class="fa fa-line-chart" title="Reports"></i> <span>{{MESSAGECONSTANTS.LEFTNAVICONS.REPORTS}}</span>
								<i class="fa fa-angle-right drop-icon"></i>
							</a>
							<ul class="submenu">
								<li ng-if="hasAccess('57c368b9820fea2470d6b9ca')">
									<a class="dropdown-toggle"> <span>{{MESSAGECONSTANTS.LEFTNAVICONS.TEAMMEMBERPERFORMANCE}}</span>
										<i class="fa fa-angle-right drop-icon"></i>
									</a>
									<ul class="submenu">
										<li><a ui-sref="missioncontrol.reports.teammembersperformance.performancebyteammember">{{MESSAGECONSTANTS.LEFTNAVICONS.BYTEAMMEMBER}}</a>
										</li>
										<li><a ui-sref="missioncontrol.reports.teammembersperformance.performancebymeasure">{{MESSAGECONSTANTS.LEFTNAVICONS.BYMEASURES}}
										</a></li>
									</ul>
								</li>
								<li ng-if="hasAccess('57c368b9820fea2470d6b9da')"><a ui-sref="missioncontrol.reports.sourcingperformance">{{MESSAGECONSTANTS.LEFTNAVICONS.SOURCINGPERFORMANCE}}</a>
								</li>
								<li ng-if="hasAccess('57c368b9820fea2470d6b9cb')"><a ui-sref="missioncontrol.candidateperformancemodule({'reportType':'candidatesPerformance'})">{{MESSAGECONSTANTS.LEFTNAVICONS.CANDIDATEPERFORMANCE}}
								</a></li>
								<li ng-if="hasAccess('57c368b9820fea2470d6b9db')"><a ui-sref="missioncontrol.reports.requisitionperformance">{{MESSAGECONSTANTS.LEFTNAVICONS.REQUISITIONPERFORMANCE}}
								</a></li>
								<li ng-if="hasAccess('57c368b9820fea2470d6b9dc')"><a ui-sref="missioncontrol.reports.corporateorclientreports({'reportType':'teamMembers'})">{{MESSAGECONSTANTS.LEFTNAVICONS.CLIENTREPORT}}
								</a></li>
							</ul>
						</li>
						<li id="adminmenu">
							<a class="dropdown-toggle"> <i class="fa fa-cogs" title="Admin"></i> <span>{{MESSAGECONSTANTS.LEFTNAVICONS.ADMIN}}</span>
								<i class="fa fa-angle-right drop-icon"></i>
							</a>
							<ul class="submenu" id="adminmenulist">
								<!--{{userDetails.company.companySelected}} {{toState.name !== 'missioncontrol.companymanagement'}}-->
								<!--<li ng-if="hasAccess('Manage Company') && userDetails.company.companySelected && toState.name !== 'missioncontrol.companymanagement'">-->
								<li ng-if="hasAccess('57c368b9820fea2470d6b9e2')">
									<a ui-sref="missioncontrol.companymanagement({'selectedCompanyId':SelectedCompanyId,'accessMode':'view'})">
										<span>{{MESSAGECONSTANTS.LEFTNAVICONS.MANAGECOMPANY}}</span>
									</a>
								</li>
								<li ng-if="hasAccess('58f09d3bad87e252ea1ebfbc') && isinCorporate()">
									<a ui-sref="missioncontrol.clientmanagement({'selectedCompanyId':SelectedCompanyId})" ui-sref-opts="{reload: true}">
										<span> {{MESSAGECONSTANTS.LEFTNAVICONS.MANAGEBU}} </span>
									</a>
								</li>
								<li ng-if="hasAccess('57c368b9820fea2470d6b9e1') && isinStaffing()">
									<a ui-sref="missioncontrol.clientmanagement({'selectedCompanyId':SelectedCompanyId})" ui-sref-opts="{reload: true}">
										<span>{{MESSAGECONSTANTS.LEFTNAVICONS.MANAGECLIENT}}</span>
									</a>
								</li>
								<li ng-if="hasAccess('57c368b9820fea2470d6b9de')">
									<a ui-sref="missioncontrol.teammembers({'iconClicked' : 'manageusers'})" ui-sref-opts="{reload: true}"> <span>
											{{MESSAGECONSTANTS.LEFTNAVICONS.MANAGEUSER}} </span>
									</a>
								</li>
								<li ng-if="hasAccess('57c368b9820fea2470d6b9e0') && !isinHost()">
									<a ui-sref="missioncontrol.roleentityscope" ui-sref-opts="{reload: true}">
										<span>{{MESSAGECONSTANTS.LEFTNAVICONS.MANAGEROLEENTITY}}</span>
									</a>
								</li>
								<li ng-if="hasAccess('57c368b9820fea2470d6b9df')">
									<a ui-sref="missioncontrol.settings" ui-sref-opts="{reload: true}">
										<span>{{MESSAGECONSTANTS.LEFTNAVICONS.MANAGESETTINGS}} </span>
									</a>
								</li>
								<li ng-if="hasAccess('57c368b9820fea2470d6b9df')">
									<a ui-sref="missioncontrol.assessmentManagement" ui-sref-opts="{reload: true}">
										<span>{{MESSAGECONSTANTS.LEFTNAVICONS.MANAGEASSESSMENTS}} </span>
									</a>
								</li>
								<li ng-if="hasAccess('57c368b9820fea2470d6b9df')">
									<a class="dropdown-toggle">
										<span>{{MESSAGECONSTANTS.LEFTNAVICONS.FEEDBACKFORMS}} </span>
										<i class="fa fa-angle-right drop-icon"></i>
									</a>
									<ul class="submenu">
										<li><a ui-sref="missioncontrol.feedbackforms({'feedbacktype' : 'R'})">{{MESSAGECONSTANTS.LEFTNAVICONS.RECRUITERFEEDBACK}}</a>
										</li>
										<li><a ui-sref="missioncontrol.feedbackforms({'feedbacktype' : 'P'})">{{MESSAGECONSTANTS.LEFTNAVICONS.PHONESCREENFEEDBACK}}
										</a></li>
										<li><a ui-sref="missioncontrol.feedbackforms({'feedbacktype' : 'I'})">{{MESSAGECONSTANTS.LEFTNAVICONS.INTERVIEWFEEDBACK}}
										</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li ui-sref-active="active" ng-if="hasAccess('57c368b9820fea2470d6b9d5')">
							<a ui-sref="missioncontrol.notifications"> <i class="fa fa-bell" title="Notifications"></i> <span>{{MESSAGECONSTANTS.LEFTNAVICONS.NOTIFICATIONS}}</span>
							</a>
						</li>
						<li ui-sref-active="active" ng-if="hasAccess('57c368b9820fea2470d6b9d4')">
							<a ui-sref="missioncontrol.auditlogs"> <i class="fa fa-list-alt" title="Audit Logs"></i> <span>Audit Logs</span>
							</a>
						</li>
						<li ui-sref-active="active" ng-if="(userDetails.company.companyType !== 'Host')">
							<a ui-sref="missioncontrol.notprocessedcandidates"> <i class="fa fa-chain-broken" title="Not processed candidates"></i> <span>Not processed candidates</span>
							</a>
						</li>
						<li ui-sref-active="active" ng-if="(userDetails.company.companyType !== 'Host')">
							<a ui-sref="missioncontrol.transactions"> <i class="fa fa-exchange" title="Transactions"></i> <span>Transactions</span>
							</a>
						</li>
						<li ui-sref-active="active" ng-if="hasAccess('58f09d6fad87e252ea1ebfbd')">
							<a ui-sref="missioncontrol.settings({'accessMode' : 'viewOnly'})" ui-sref-opts="{reload: true}">
								<i class="fa fa-wrench" title="Settings" ></i> <span>Settings</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<div id="nav-col-submenu"></div>
	</div>
	<div id="user-content-wrapper" class="heig">
		<div class="row">
			<div class="col-lg-12">
				<div class="slide-main-container">
					<div ui-view class="slide-main-animation "></div>
					<!--<button data-toggle="modal" data-target="#myModal" class="btn btn-primary mrg-b-lg">Switch Company</button>-->
					<!-- Standard Bootstrap Modal -->
					<!--<div company-popup-content ng-show="angular.isDefined(userDetails) && angular.equals(userDetails.shouldPopupBeDisplayed,true) && !companySelected">-->
					<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard='false' tabindex="0" role="dialog" aria-labelledby="myModalLabel"
						 aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content" ng-if="companyListLoaded && companies.length">
								<div class="modal-header" style="padding: 15px !important;border-bottom: 1px solid #e5e5e5;">
									<h4 class="modal-title">Select a company</h4>
								</div>
								<div class="modal-body companymodelbody">
									<input type="text" class="pull-right" style="padding-left: 2%;" placeholder="type to filter" ng-model="searchTerm.companyName"
										   class="text-center filter-style" />
									<h3 style="padding-top: 3%;" ng-if="userDetails.roleScreenRef.role.name === '4dot5SuperUser'">Host</h3>
									<div class="columns" ng-if="userDetails.roleScreenRef.role.name == '4dot5SuperUser'">
										<ul ng-repeat="company in companies | filter:{companyType:'Host'} | filter:searchTerm">
											<li style="word-wrap: break-word;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;"><a data-dismiss="modal" ng-click="getCompany(company)">{{company.companyName}}</a></li>
										</ul>
									</div>
									<!-- <br> -->
									<h3>Staffing Company</h3>
									<div class="columns">
										<ul ng-repeat="company in companies | filter:{companyType:'StaffingCompany'} | filter:searchTerm">
											<li style="word-wrap: break-word;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;"><a data-dismiss="modal" ng-click="getCompany(company)">{{company.companyName}} <span ng-if="company.companyState == 'Draft'">
												({{company.companyState}})</span></a></li>
										</ul>
									</div>
									<!-- <br> -->
									<h3>Corporation</h3>
									<div class="columns">
										<ul ng-repeat="company in companies | filter:{companyType:'Corporation'} | filter:searchTerm">
											<li style="word-wrap: break-word;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;"><a data-dismiss="modal" ng-click="getCompany(company)">{{company.companyName}} <span ng-if="company.companyState == 'Draft'">
												({{company.companyState}})</span></a></li>
										</ul>
									</div>
								</div>
								<div class="modal-footer">
									<a ng-if="(((userDetails.company.companyId !== null) && (userDetails.company.companyId !== '')) || companyDeletedShowPopup) && angular.equals(userDetails.roleScreenRef.role.name,'4dot5SuperUser')"
									   data-dismiss="modal" ng-click="addCompany()" class="btn btn-primary">Add company</a>
									<button ng-if="!userDetails.company.companySelected && (toState.name !== 'missioncontrol.companymanagement')" ng-click="logoutAsNoCompaniesRelated()"
											class="btn btn-danger"><span> Logout </span></button>
									<button ng-if="userDetails.company.companySelected || ((toState.name === 'missioncontrol.dashboard') && fromState.name !== 'login' && fromState.name !== 'resetpassword')" ng-click="dismissModalAndDestroy()"
											class="btn btn-danger"><span></span> Cancel</button>
								</div>
							</div>
							<div class="modal-content" ng-if="companyListLoaded && !companies.length">
								<div class="modal-header" style="padding: 15px !important;border-bottom: 1px solid #e5e5e5;">
									<h4 class="modal-title" ng-if="userDetails.roleScreenRef.role.name === MESSAGECONSTANTS.ROLES.FOURDOTFIVEADMIN"> No Companies Assigned</h4>
									<h4 class="modal-title" ng-if="userDetails.roleScreenRef.role.name === MESSAGECONSTANTS.ROLES.SUPERUSER"> No Companies Created</h4>
								</div>
								<div class="modal-body companymodelbody">
									<main style="text-align: center;" ng-if="userDetails.roleScreenRef.role.name === MESSAGECONSTANTS.ROLES.FOURDOTFIVEADMIN"> No Companies Assigned Yet.... Please Logout Now</main>
									<main style="text-align: center;" ng-if="userDetails.roleScreenRef.role.name === MESSAGECONSTANTS.ROLES.SUPERUSER"> No Companies Created Yet.... Create Now</mainp>
								</div>
								<div class="modal-footer">
									<a ng-if="(userDetails.company.companyId !== null) && angular.equals(userDetails.roleScreenRef.role.name,'4dot5SuperUser')"
									   data-dismiss="modal" ng-click="addCompany()" class="btn btn-primary">Add company</a>
									<button ng-if="!userDetails.company.companySelected && (toState.name !== 'missioncontrol.companymanagement')" ng-click="logoutAsNoCompaniesRelated()"
											class="btn btn-danger"><span> Logout </span></button>
									<button ng-if="userDetails.company.companySelected || (toState.name === 'missioncontrol.companymanagement')" ng-click="dismissModalAndDestroy()"
											class="btn btn-danger"><span></span> Cancel</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--  This should not be there as discussed with Chakra	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<script type="text/javascript">
</script>
