<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive" style="height: 250px; overflow-y: scroll">
                <table class="table">
                    <tbody>
                        <tr ng-repeat="activity in reqActivity.activities">
                            <td class="text-center">
                                <i class="fa" ng-class="{'fa-pencil': (activity.activityType === 'change'),'fa-plus': (activity.activityType === 'add'),'fa-minus': (activity.activityType === 'remove')}"></i>
                            </td>
                            <td>
                                <strong>{{activity.activityDisplayValue}}</strong>
                                <span ng-if="activity.createdBy !== ''"> by <span class="emerald"><i>{{activity.createdBy}}</i></span></span>
                                <span ng-if="activity.activityType === 'change'">
                                    &nbsp;from <span class="badge badge-warning">{{activity.fromState}}</span> to <span class="badge badge-primary">{{activity.toState}}</span>
                                </span>
                                <span ng-if="activity.activityType === 'add' || activity.activityType === 'remove'">
                                    &nbsp;- <span class="badge" ng-class="{'badge-success': activity.activityType === 'add','badge-danger': activity.activityType === 'remove' }">{{activity.toState}}</span>
                                </span>
                            </td>
                            <td ng-bind="activity.displayDate | fourdotfiveTimeStampFormat" width="20%">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>