<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li><a href="">Audit Logs</a></li>
		</ol>
		<h1 class="heading-css">Audit Logs</h1>
	</div>
</div>
<div class="row" id="user-profile">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="main-box clearfix">
			<div id="tab-activity">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td class="text-center"><i class="fa fa-comment"></i></td>
								<td>Scarlett Johansson posted a comment in <a href="">Avengers
										Initiative</a> project.
								</td>
								<td>2014/08/08 12:08</td>
							</tr>
							<tr>
								<td class="text-center"><i class="fa fa-truck"></i></td>
								<td>Scarlett Johansson changed order status from <span
									class="label label-primary">Pending</span> to <span
									class="label label-success">Completed</span>
								</td>
								<td>2014/08/08 12:08</td>
							</tr>
							<tr>
								<td class="text-center"><i class="fa fa-check"></i></td>
								<td>Scarlett Johansson posted a comment in <a href="">Lost
										in Translation opening scene</a> discussion.
								</td>
								<td>2014/08/08 12:08</td>
							</tr>
							<tr>
								<td class="text-center"><i class="fa fa-users"></i></td>
								<td>Scarlett Johansson posted a comment in <a href="">Avengers
										Initiative</a> project.
								</td>
								<td>2014/08/08 12:08</td>
							</tr>
							<tr>
								<td class="text-center"><i class="fa fa-heart"></i></td>
								<td>Scarlett Johansson changed order status from <span
									class="label label-warning">On Hold</span> to <span
									class="label label-danger">Disabled</span>
								</td>
								<td>2014/08/08 12:08</td>
							</tr>
							<tr>
								<td class="text-center"><i class="fa fa-check"></i></td>
								<td>Scarlett Johansson posted a comment in <a href="">Lost
										in Translation opening scene</a> discussion.
								</td>
								<td>2014/08/08 12:08</td>
							</tr>
							<tr>
								<td class="text-center"><i class="fa fa-truck"></i></td>
								<td>Scarlett Johansson changed order status from <span
									class="label label-primary">Pending</span> to <span
									class="label label-success">Completed</span>
								</td>
								<td>2014/08/08 12:08</td>
							</tr>
							<tr>
								<td class="text-center"><i class="fa fa-users"></i></td>
								<td>Scarlett Johansson posted a comment in <a href="">Avengers
										Initiative</a> project.
								</td>
								<td>2014/08/08 12:08</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
