<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a ui-sref="recruiter.dashboard">Home</a></li>
			<li ng-if="teamMemberName !== 'All'"><a ui-sref="recruiter.teamMembers"> Team Members</a></li>
			<li ng-if="teamMemberName === 'All'"><a ui-sref="recruiter.dashboard"> Dashboard</a></li>
			<li class="active"><span>{{teamMemberTitle}}</span></li>
		</ol>

		<h1 class="heading-css">
			{{teamMemberTitle}}
		</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- <div style="margin: 10px;" class="pull-left">
			<soan ng-if="filterType === 'requisition'">{{requisitionRoleFilter}} | {{requistionCompanyFilter}}</span>
			<span ng-if="filterType === 'teamMember'">{{teamMemberFilter}}</span>
		</div> -->
		<div style="margin: 10px;" class="pull-right">
			<input type="text" placeholder="type to filter" ng-model="searchTerm" class="text-center filter-style"
			/>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-3 candidate-card" ng-repeat-start="candidate in teamMemberCandidatesData | filter:searchCandidates | orderBy:'-Score'">
		<div class="main-box clearfix profile-box-menu">
			<div class="main-box-body clearfix">
				<div class="profile-box-notification green-bg" ng-class="{'dark-green-bg': candidate.ParentState === 'Active','green-bg': candidate.ParentState === 'Passive'}">
					<div class="dropdown candidate-job-card-notification-icon pull-right">
						<a class="btn dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-bell"></i>
							<span class="count">2</span>
						</a>
						<ul class="dropdown-menu notifications-list" style="width: 250px;">
							<li class="pointer">
								<div class="pointer-inner">
									<div class="arrow"></div>
								</div>
							</li>
							<li class="item-header">You have 2 new notifications</li>
							<li class="item">
								<a href="">
									<i class="fa fa-suitcase"></i>
									<span class="content">{{candidate.Name}} completed Tech Assessment for Software Developer Role on <span ng-bind="today | date:'MMM dd, yyyy \'at\' HH:mm'"></span>.</span>
									<!-- <span class="time"><i class="fa fa-clock-o"></i>30 min.</span> -->
								</a>
							</li>
							<li class="item">
								<a href="">
									<i class="fa fa-users"></i>
									<span class="content">{{candidate.Name}} started Tech Assessment for Software Developer Role on <span ng-bind="yesterday | date:'MMM dd, yyyy \'at\' HH:mm'"></span>.</span>
									<!-- <span class="time"><i class="fa fa-clock-o"></i>5 hours.</span> -->
								</a>
							</li>
							<li class="item-footer">
								<a href="" ng-click="showAllNotifications($event,$index+1,candidate)">
									View all notifications
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="profile-box-header clearfix" ng-class="{'dark-green-bg': candidate.ParentState === 'Active','green-bg': candidate.ParentState === 'Passive'}">
					<img ng-src="img/people/{{candidate.Name}}.jpeg" alt="" class="profile-img img-responsive" />
					<h2 ng-bind="candidate.Name"></h2>
					<div class="job-position">
						<i class="fa fa-phone fa-lg"></i>
						<span ng-bind="candidate.Ph"></span>
					</div>
					<div class="job-position">
						<span class="cursor-pointer" ui-sref="recruiter.emailCompose({emailTo:candidate.Email})">
							<i class="fa fa-envelope"></i>
							<span>Email</span>
						</span>
						<span class="cursor-pointer" style="margin-left:10px;" ui-sref="recruiter.messaging({candidateName:candidate.Name})">
							<i class="fa fa-comment"></i>
							<span>IM</span>
						</span>
					</div>
				</div>

				<div class="profile-box-content clearfix">
					<ul class="menu-items">
						<li>
							<div class="row candidate-card-popovers-container">
								<div class="col-xs-6" style="border-right: lightgrey 1px solid">
									<a href="" class="clearfix" uib-popover-template="candidateJobMatchesTemplate" popover-title="Job Matches"
										popover-placement="bottom" popover-is-open="candidate.jobPopOverIsOpen">
										<span class="pull-left"><i class="fa fa-briefcase fa-lg"></i>Job Matches</span>
										<span class="pull-right" ng-bind="candidate.jobMatchCount"></span>
									</a>
								</div>
								<div class="col-xs-6">
									<a class="clearfix" uib-popover-template="candidateActivityTemplate" popover-title="Recent Activity"
										popover-placement="bottom" popover-is-open="candidate.activityPopOverIsOpen">
										<span class="pull-right"><i class="fa fa-list fa-lg"></i>Activity Monitor</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div style="display:none;" class="col-xs-12 text-center info-row" id="info-row-{{($index+1)/4}}" ng-if="($index+1)%4 === 0 && $index !== 0"
		ng-repeat-end>
		<div class="container">
			<div class="row">
				<div class="col-xs-offset-2 col-xs-8" ng-include="currentInfoTemplate">
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-xs-3 candidate-state-column" ng-repeat="candidate in teamMemberCandidatesData | filter:searchCandidates | orderBy:'-Score'">
		<div class="main-box clearfix candidate-profile-box-contact">
			<div class="main-box-body clearfix">
				<div class="profile-box-header gray-bg clearfix">
					<img src="img/people/{{candidate.Name}}.jpeg" alt="" class="profile-img img-responsive" />
					<h2 ng-bind="candidate.Name"></h2>
					<div class="job-position" ng-bind="candidate.Role">
					</div>
					<ul class="contact-details">
						<li>
							<i class="fa fa-building"></i><span ng-bind="candidate.Company"></span>
						</li>
						<li>
							<i class="fa fa-phone"></i> <span ng-bind="candidate.Ph"></span>
						</li>
						<li>
							<span style="width: 100%">
								<span style="cursor:pointer;" ui-sref="recruiter.emailCompose({emailTo:candidate.Email})">
									<i class="fa fa-envelope" style="cursor:pointer;"></i><span>Email</span>
								</span>
								<span style="cursor:pointer; margin-left: 10px;" ui-sref="recruiter.messaging({candidateName:candidate.Name})">
									<i class="fa fa-comment" alt="{{candidate.ChatHandle}}"></i><span>IM</span>
								</span>
							</span>
						</li>
						<li>
							<i class="fa fa-flag"></i> <span class="contact-details-state" ng-bind="candidate.State"></span>
						</li>
					</ul>
				</div>
				
				<div class="profile-box-footer clearfix">
					<a href="">
						<span class="value" ng-bind="candidate.Score"></span>
						<span class="label">Score</span>
					</a>
					<a href="">
						<span class="value" ng-bind="candidate.LastContact"></span>
						<span class="label">Last Contact</span>
					</a>
					<a href="">
						<img class="candidate-recruiter-image" alt="" src="img/samples/{{candidate.Recruiter}}-300.jpg" data-toggle="tooltip" title="{{candidate.Recruiter}}"/>
					</a>
				</div>
			</div>
		</div>
	</div> -->


</div>