
<style>
/* cellpadding */
th, td { padding: 5px; }

/* cellspacing */
table { border-collapse: separate; border-spacing: 5px; } /* cellspacing="5" */
table { border-collapse: collapse; border-spacing: 0; }   /* cellspacing="0" */

/* valign */
th, td { vertical-align: top; }

/* align (center) */
table { margin: 0 auto; }

.slideup, .slidedown {
    max-height: 600px;
    overflow-y: hidden;
    -webkit-transition: max-height 0.8s ease-in-out;
    -moz-transition: max-height 0.8s ease-in-out;
    -o-transition: max-height 0.8s ease-in-out;
    transition: max-height 0.8s ease-in-out;
}
</style>
<body>
<div class="approw" controller="ValueAssessmentController">
    <div class="row">
        <div class="col-lg-12">
            <div id="content-header" class="clearfix">
                <div class="pull-left">
                    <h1 class="heading-css">Big Five Questionnaire</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row fuelux">
        <div class="col-lg-12">
            <div class="main-box clearfix" style="margin: 0 auto; width: 50%">
                <header class="main-box-header clearfix">
                </header>
                <div class="main-box-body clearfix table-responsive">
                    <div id = questionarea>
                        <value-assessment save-click="saveSelection(qno,val)" go-previous="prevQtn(qno)" go-next="nextQn(qno)" save-button="saveResponse(qno)" show-button="displayButton(qno,val)" list="candidatebigFiveResponses" questionlist="bigFiveQuestions"></value-assessment>
                    </div>

                    <div id ="successmsg" style='display:none'>
                        <span> Thank you for completing big five questionare</span>

                    </div>


                    <div class="progress">
                        <div id="theprogressbar" class="progress-bar"	role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="50" style="width: 0%">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
