<div ng-repeat="candidateBigFiveResponse in list">
    <div class="slideup" style="position: relative; {{candidateBigFiveResponse.qno == 1 ? 'display:block' : 'display:none'}};justify-content:center" id="quest{{candidateBigFiveResponse.qno}}">
        <table id="bigfivetable" width="100%">
            <tbody>
            <tr>
                <td>
                    <h2> {{candidateBigFiveResponse.qno}}. {{questionlist[$index].question}} </h2>

                </td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
            <tr>
                <td style="padding-left: 30px">
                    <input type="radio" name="responseradio_{{candidateBigFiveResponse.qno}}" ng-model="candidateBigFiveResponse.response" id="response" ng-click="saveClick({qno:candidateBigFiveResponse.qno,val:5})" ng_value="5" required>
                    <span>Strongly Agree</span>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 30px">
                    <input type="radio" name="responseradio_{{candidateBigFiveResponse.qno}}"ng-model="candidateBigFiveResponse.response" id="response"  ng-click="saveClick({qno:candidateBigFiveResponse.qno,val:4})"  ng_value="4" required>
                    <span>Agree</span>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 30px">
                    <input type="radio" name="responseradio_{{candidateBigFiveResponse.qno}}" ng-model="candidateBigFiveResponse.response" id="response"  ng-click="saveClick({qno:candidateBigFiveResponse.qno,val:3})"  ng_value="3" required>
                    <span>Neutral</span>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 30px">
                    <input type="radio" name="responseradio_{{candidateBigFiveResponse.qno}}" ng-model="candidateBigFiveResponse.response" id="response"  ng-click="saveClick({qno:candidateBigFiveResponse.qno,val:2})"  ng_value="2" required>
                    <span>Disagree</span>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 30px">
                    <input type="radio" name="responseradio_{{candidateBigFiveResponse.qno}}" ng-model="candidateBigFiveResponse.response" id="response"  ng-click="saveClick({qno:candidateBigFiveResponse.qno,val:1})"  ng_value="1" required>
                    <span>Strongly Disagree</span>
                </td>
            </tr>

            </tbody>
        </table>
        <div class="modal-footer">
            <button ng-show="showButton({qno:candidateBigFiveResponse.qno,val:1})" type="button" class="btn btn-primary" ng-click="goPrevious({qno:candidateBigFiveResponse.qno})">Previous</button>
            <button ng-show="showButton({qno:candidateBigFiveResponse.qno,val:2})" type="button" class="btn btn-primary" ng-click="goNext({qno:candidateBigFiveResponse.qno})">Next</button>
            <button ng-show="showButton({qno:candidateBigFiveResponse.qno,val:3})" type="button" class="btn btn-primary" ng-click="saveButton({qno:candidateBigFiveResponse.qno})">Complete</button>
        </div>

    </div>
</div>
