<div class="row">
	<div class="col-xs-12">
		<div id="login-box">
			<div id="login-box-holder">
				<div class="row" ui-view>
					<div class="col-xs-12">
						<header id="login-header">
							<div id="login-logo">
								<img ng-src={{imageUrl}}logo-symbol.png alt="" />
							</div>
						</header>
						<div id="login-box-inner" class="with-heading">
							<p ng-if="message">{{message}}</p>
							<form role="form" name="form.changepasswordform" ng-submit="form.changepasswordform.$valid && changePassword()" novalidate>
								<div class="input-group reset-pass-input">
									<span class="input-group-addon"><i class="fa fa-key"></i></span>
									<input class="form-control" type="password" placeholder="current password" name="currentpassword" ng-model="user.currentPassword"
										ng-minlength="8" ng-maxlength="15" required>
								</div>
								<div class="error" ng-show="form.changepasswordform.$submitted && form.changepasswordform.currentpassword.$error">
									<small class="error" ng-show="form.changepasswordform.currentpassword.$error.required">
																{{MESSAGECONSTANTS.RESETPASSWORD.CURRENTPASSWORD_MANDATORY}}
															</small><small class="error" ng-show="form.changepasswordform.currentpassword.$error.minlength">
																{{MESSAGECONSTANTS.COMMONVALIDATIONS.PASSWORD_MINLENGTH}}</small>
									<small class="error" ng-show="form.changepasswordform.currentpassword.$error.maxlength">
																{{MESSAGECONSTANTS.COMMONVALIDATIONS.PASSWORD_MAXLENGTH}}</small>
								</div>
								<div class="input-group reset-pass-input">
									<span class="input-group-addon"><i class="fa fa-key"></i></span>
									<input class="form-control" type="password" placeholder="new password" name="newpassword" ng-model="user.newPassword" ng-minlength="8"
										ng-maxlength="15" required>
								</div>
								<div class="error" ng-show="form.changepasswordform.$submitted && form.changepasswordform.newpassword.$error">
									<small class="error" ng-show="form.changepasswordform.newpassword.$error.required">
																{{MESSAGECONSTANTS.RESETPASSWORD.NEWPASSWORD_MANDATORY}}</small>
									<small class="error" ng-show="form.changepasswordform.newpassword.$error.minlength">
																{{MESSAGECONSTANTS.COMMONVALIDATIONS.PASSWORD_MINLENGTH}}</small>
									<small class="error" ng-show="form.changepasswordform.newpassword.$error.maxlength">
																{{MESSAGECONSTANTS.COMMONVALIDATIONS.PASSWORD_MAXLENGTH}}</small>
								</div>
								<div class="error" ng-show="!form.changepasswordform.$pristine && form.changepasswordform.newpassword.$error && !form.changepasswordform.newpassword.$error.required">
									<small class="error" ng-show="form.changepasswordform.newpassword.$error.unMatched">{{MESSAGECONSTANTS.RESETPASSWORD.PASSWORDS_SAME}}</small>
								</div>
								<div class="input-group reset-pass-input">
									<span class="input-group-addon"><i class="fa fa-key"></i></span>
									<input class="form-control" type="password" placeholder="confirm new password" name="confirmnewpassword" ng-model="user.verifyPassword"
										valid-password-new="user.newPassword" required>
								</div>
								<div class="error" ng-show="form.changepasswordform.$submitted  && form.changepasswordform.confirmnewpassword.$error">
									<small class="error" ng-show="form.changepasswordform.confirmnewpassword.$error.required">
																{{MESSAGECONSTANTS.RESETPASSWORD.CONFIRMNEWPASSWORD_MANDATORY}}</small>
								</div>
								<div class="error" ng-show="!form.changepasswordform.$pristine && form.changepasswordform.confirmnewpassword.$error && !form.changepasswordform.confirmnewpassword.$error.required">
									<small class="error" ng-show="form.changepasswordform.confirmnewpassword.$error.noMatch && !form.changepasswordform.newpassword.$error.unMatched">{{MESSAGECONSTANTS.RESETPASSWORD.PASSWORDSNOTEQUAL}}</small>
								</div>

								<div class="error" ng-show="form.changepasswordform.$pristine">
									<small class="error" ng-if="angular.isDefined(errormessage) && form.changepasswordform.$valid && !form.changepasswordform.confirmnewpassword.$error.noMatch">
																{{errormessage}}</small>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<button type="submit" class="btn btn-success col-xs-12">{{MESSAGECONSTANTS.BUTTONS.RESET_PASSWORD_PAGE.RESET_PASSWORD}}</button>
									</div>
								</div>
								<!--<div class="row">
									<div class="col-xs-12">
										<br/>
										<a ui-sref="missioncontrol.dashboard" ui-sref-opts="{reload : true}"
											id="login-forget-link" class="forgot-link">{{MESSAGECONSTANTS.RESETPASSWORD.BACK_TO_DASHBOARD}}</a>
									</div>
								</div>-->
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>