<div class="row">
    <div class="col-lg-12">
        <div id="content-header" class="clearfix">
            <div class="pull-left">
                <ol class="breadcrumb">
                    <li><a ui-sref="recruiter.dashboard">Home</a></li>
                    <li class="active"><span>Report - {{reportTypeLabel}}</span></li>
                </ol>
                <h1 class="heading-css" ng-bind="reportTypeLabel"></h1>
            </div>
            <div class="pull-right" style="margin-right: 3%;margin-top: 1%;">
                <button id="cmd" ng-click="download()" class="btn btn-primary">Download pdf</button>
                <button class="btn btn-primary" ng-print print-element-id="printThisElement"><i class="fa fa-print"></i> Print</button>
            </div>
        </div>

    </div>
</div>

<div id="content">
    <div class="row">
        <div class="col-md-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    <div ng-if="userDetails.company.companyType === MESSAGECONSTANTS.COMPANY_TYPES.STAFFING" class="col-lg-1 pull-left team-members-select-label">
                        Client
                    </div>
                    <div ng-if="userDetails.company.companyType === MESSAGECONSTANTS.COMPANY_TYPES.CORPORATE && bulist.length" class="col-lg-1 pull-left team-members-select-label">
                        Bu
                    </div>
                    <div class="pull-left team-members-multi-select" style="width: 20%;">
                        <div ng-if="userDetails.company.companyType === MESSAGECONSTANTS.COMPANY_TYPES.STAFFING" class="clientmulti" isteven-multi-select
                            input-model="clientlist" output-model="selectedtclient" button-label="name" item-label="name" helper-elements="all filter"
                            on-select-all="allclientchoosed()" max-labels="4" tick-property="selected" search-property="name"
                            on-close="client(selectedtclient)" max-height="200px">
                        </div>
                        <div ng-if="userDetails.company.companyType === MESSAGECONSTANTS.COMPANY_TYPES.CORPORATE && bulist.length" class="bumulti"
                            isteven-multi-select input-model="bulist" output-model="selectedbu" button-label="name" item-label="name"
                            helper-elements="all filter" on-select-all="allbuchoosed()" max-labels="4" tick-property="selected"
                            search-property="name" on-close="bu(selectedbu)" max-height="200px">
                        </div>
                    </div>
                    <div class="col-lg-2 team-members-select-label">
                        Select Requisition Roles
                    </div>
                    <div class="col-lg-2">
                        <select name="requisitionRole" id="requisitionRole" ng-model="PerformanceByMeasure.requisitonRole" ng-options="requisitionRole as requisitionRole for requisitionRole in RequisitonRoles"
                            class="form-control access">
                          <option value="" ng-if="false"></option>
                       </select>
                    </div>
                    <div class="col-lg-2 team-members-select-label">
                        Select Team Members
                    </div>
                    <div class="col-lg-2 team-members-multi-select" style="width: 20%;">
                        <div isteven-multi-select input-model="teamMembersList" output-model="selectedteamMembersList" button-label="name" item-label="name maker"
                            helper-elements="all filter" max-labels="4" tick-property="ticked" on-close="setSelectedMember()"
                             max-height="200px">
                        </div>
                    </div>
                    <div><input type="button" value="Search" ng-click="getFilteredReportData()"></div>
                </header>
            </div>
        </div>
    </div>
    <div class="row" ng-repeat="member in selectedteamMembersList">
        <div class="col-md-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    <h2 class="pull-left">{{member.name}} Performance</h2>
                    <div class="btn-group" style="margin-left: 20px;">
                        <button type="button" class="btn btn-primary" ng-class="{'active': member.weeklyshow}" ng-click="toggleGraph('weekly',member.name)">Weekly</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active': member.monthlyshow}" ng-click="toggleGraph('monthly',member.name)">Monthly</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active': member.quarterlyshow}" ng-click="toggleGraph('quarterly',member.name)">Quarterly</button>
                    </div>
                </header>
                <div class="main-box-body clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="{{member. id}}-graph-bar" style="height: 240px; padding: 0px; position: relative;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
