<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form role="form" name="cancelAssessment.cancelAssessmentForm" novalidate>
                <div class="row">
                    <div class="col-xs-12 cancel-assessment-statement">
                        <span>
                            '<span class="emerald">Cancel</span>' <span ng-bind="cancelAssessment.cancelAssessmentLabel"></span> for candidate '<span ng-bind="cancelAssessment.candidateJobMatch.name" class="emerald"></span>'
                            for role of '<span class="emerald" ng-bind="cancelAssessment.candidateJobMatch.jobMatchTitle"></span>' at '<span class="emerald" ng-bind="cancelAssessment.candidateJobMatch.jobMatchClientName"></span>'
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group" ng-class="{'has-error': (cancelAssessment.cancelAssessmentForm.$submitted && cancelAssessment.cancelAssessmentForm.notes.$invalid)}">
                            <label for="notes" class="control-label">
                                Notes<em>*</em> :
                            </label>
                            <textarea id="notes" name="notes" class="form-control" rows="3" placeholder="Enter your note.." ng-model="cancelAssessment.assessmentData.notes" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="clearfix">
                            <button type="submit" class="btn btn-success" ng-click="cancelAssessment.cancelAssessment()" ng-disabled="cancelAssessment.savingFlag">
                                <span ng-if="!cancelAssessment.savingFlag">Cancel Assessment</span>
                                <span ng-if="cancelAssessment.savingFlag">Cancelling..</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>