<!--Date Range Picker Starts-->
<script type="text/javascript">
	$(function() {

		var start = moment().subtract(29, 'days');
		var end = moment();

		function cb(start, end) {
			$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
		}

		$('#reportrange').daterangepicker({
			startDate: start,
			endDate: end,
			ranges: {
						'Today': [moment(), moment()],
						'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
						'This Week': [moment().startOf('week'), moment().endOf('week')],
						'Last Week': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
						'This Month': [moment().startOf('month'), moment().endOf('month')],
						'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
						'This Quarter': [moment().startOf('quarter'), moment().endOf('quarter')],
						'Last Quarter': [moment().subtract(1, 'quarter').startOf('quarter'), moment().subtract(1, 'quarter').endOf('quarter')],
						'Past 6 Weeks': [moment().subtract(5, 'week').startOf('week'), moment().endOf('week')],
						'Past 6 Months': [moment().subtract(5, 'month').startOf('month'), moment().endOf('month')],
						'Past 6 Quarter': [moment().subtract(5, 'quarter').startOf('quarter'), moment().endOf('quarter')],
					}
		}, cb);

		cb(start, end);
		
	});
</script>
<!--Date Range Picker Ends-->

<style>
	#candidatesCount{
		padding-left: 26%;
	}
	#searchInputBox{
		margin: 10px;
	}
	#toggleDivision{
		margin: 10px;
	}
	#search-panel{
		display: none;
	}
	#mainBoxSearchPanel{
		padding-top: 1%;
	}
	#searchButton{
	}
	
	table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_desc:before{
   		display : none;
    }
	.borderStyle{
		border: 1px solid grey;
	}
	.borderClassTop{
		border-top-width: 0px !important;
	}
	.borderClassBottom{
		border-bottom-width: 0px !important;
	}
	.table thead>tr>th {
    	text-transform: none !important;
	}
	.tableTextAlignment{
		text-align: center;
		width: 200px;
	}
	@media (max-width: 1417	px){
			#reportrange {
				    background: #fff !important;
                    cursor: pointer !important;
                    padding: 7px 10px !important;
                    border: 1px solid #ccc !important;
                    width: 100% !important;
                    height: 34px !important;
                    display: block !important;
                    font-size: 12px !important;
			}
		}
</style>

<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li><a href="">Transactions</a></li>
		</ol>
		<h1 class="heading-css">Transactions</h1>
	</div>
</div>


<div class="row">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div id="toggleDivision"  class="pull-right">
							<span title="Click to show / hide the filter" class="pull-right filter-icon" ng-click="toggleInputBox()"><i
								class="fa fa-filter fa-2x cursor-point" aria-hidden="true"
								id="open-filter"></i></span>
						</div>
					</div>
					
				</div>
				<!--filter starts-->
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12" id="search-panel">
							<div class="main-box" id="mainBoxSearchPanel">
								<div class="main-box-body clearfix">
									<form role="form" ng-submit="searchBasedOnFilters(Filter)" name="" novalidate>
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="col-lg-3 col-sm-4 col-md-4">
													<div class="form-group" ng-if="companyType === 'StaffingCompany'">
                                    <label for="client" >{{MESSAGECONSTANTS.LABLES.CLIENT}}</label>
                                        <select class="form-control access inputBoxBorder" ng-model="Filter.Company" name="company" id="company" required>
											<option value="Company 1">Client 1</option>
											<option value="Company 2">Client 2</option>
											<option value="Company 3">Client 3</option>
											<option value="Company 4">Client 4</option>
										</select>
                                </div>
                                <div class="form-group" ng-if="companyType === 'Corporation'">
                                    <label for="client" >{{MESSAGECONSTANTS.LABLES.BU}}</label>
                                        <select class="form-control access inputBoxBorder" ng-model="Filter.Company" name="company" id="company" required>
											<option value="Company 1">BU 1</option>
											<option value="Company 2">BU 2</option>
											<option value="Company 3">BU 3</option>
											<option value="Company 4">BU 4</option>
										</select>
                                </div>                         
												</div>
												<div class="col-lg-3 col-sm-3 col-md-3">
													<div class="form-group">
														<label for="role">Transaction Type</label>
														<select class="form-control access inputBoxBorder" ng-model="Filter.Role" name="role" id="role" required>
															<option value="Role 1">Resume</option>
															<option value="Role 2">Requisition</option>
														</select>
													</div>
												</div>
												<div class="col-lg-3 col-sm-3 col-md-3">
													<div class="form-group">
														<label for="role">Transaction ID</label> 
														<input type="text" name="transactionId" value="" class="inputBoxTransactionRequisition inputBoxBorder">
													</div>
												</div>
												<div class="col-lg-3 col-sm-3 col-md-3">
													<div class="form-group">
														<label for="role">Requisition ID</label> 
														<input class="inputBoxTransactionRequisition inputBoxBorder" type="text" name="transactionId" value="" >
													</div>
												</div>
												<div class="col-lg-3 col-sm-3 col-md-3">
													<div class="form-group">
														<label for="company">Uploaded By</label>
														<select class="form-control access inputBoxBorder" ng-model="Filter.Company" name="company" id="company" required>
															<option value="Company 1">Recruiter 1</option>
															<option value="Company 2">Recruiter 2</option>
														</select>
													</div>
												</div>
												<div class="col-lg-3 col-sm-3 col-md-3" style="margin-top: 25px;">
													<div class="form-group" id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 5px; border: 1px solid #ccc; width: 100%; height: 34px; 
															display: block; ">
														<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
														<span></span> <b class="caret"></b>
													</div>
												</div>                                
											</div>
										</div>
										<div class="row pull-right">
												<div class="col-lg-12 col-md-12 col-sm-12 searchButtonColumn">
													<div class="form-group" id="searchButton">
														<button type="submit" class="btn btn-success col-xs-12 searchButtonFilter">Search</button>
													</div>
												</div>
										</div>
									</form>
								</div>	
							</div>
						</div>
					</div>
				<!--filter ends-->
			</header>			
			<div class="main-box-body clearfix table-responsive" style="margin-top: -10px;">
					<!--table starts-->
					<table datatable="ng" id="transactiontable" dt-options="dtOptions" class="table datatable">
						<thead>
								<tr>
									<th class="borderClassBottom"></th>
									<th class="borderClassBottom"></th>			
									<th colspan="5" id="candidatesCount">CandidatesCount</th>
									
								</tr>
								<tr>									
									<th class="borderClassTop tableTextAlignment">TransactionID </th>
									<th class="borderClassTop tableTextAlignment">Requisitions </th>
									<th class="tableTextAlignment">Active</th>
									<th class="tableTextAlignment">Passive</th>
									<th class="tableTextAlignment">Matched</th>
									<th class="tableTextAlignment">NotMatched</th>
									<th class="tableTextAlignment">NotProcessed</th>
									
								</tr>
						</thead>
						<tbody>
								<tr ng-repeat="details in transactions | filter: search">									
									<td class="tableTextAlignment">{{details.TransactionId}}</td>
									<td class="tableTextAlignment">{{details.Requisitions}}</td>
									<td class="tableTextAlignment">{{details.ActiveCandidateCount}}</td>
									<td class="tableTextAlignment">{{details.PassiveCandidateCount}}</td>
									<td class="tableTextAlignment">{{details.MatchedCandidateCount}}&nbsp;/&nbsp;{{details.TotalCandidatesCount}}</td>
									<td class="tableTextAlignment">{{details.NotMatchedCandidateCount}}&nbsp;/&nbsp;{{details.TotalCandidatesCount}}</td>
									<td class="tableTextAlignment">{{details.NotProcessedCount}}&nbsp;/&nbsp;{{details.TotalCandidatesCount}}</td>									
								</tr>
						</tbody>
                    </table>
			<!--table ends-->
		</div>
	</div>
</div>