<div class="row fuelux">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="main-box-body clearfix wizardmainbox">
				<div class="wizard" data-initialize="wizard" id="uploadResumesWizard">
					<div class="steps-container">
						<ul class="steps">
							<li data-step="1" data-name="upload" class="active" ng-click="uploadResumes.tabClick('upload')">
								<span class="badge">1</span>Upload<span class="chevron"></span>
							</li>
							<li data-step="2" data-name="scoring" ng-click="uploadResumes.tabClick('scoring')">
								<span class="badge">2</span>
								<span ng-if="uploadResumes.jobContextExistsFlag">Review</span>
								<span ng-if="!uploadResumes.jobContextExistsFlag">View Results</span>
								<span class="chevron"></span>
							</li>
						</ul>
					</div>
					<div class="actions">
						<button type="button" class="btn btn-info btn-prev" ng-disabled="uploadResumes.disablePreviousButtonFlag">
							<span class="glyphicon glyphicon-arrow-left"></span>Prev
						</button>
						<!--<button type="button" class="btn btn-info btn-save" ng-disabled="uploadResumes.disableSaveButtonFlag" ng-click="uploadResumes.wizardSaveStepData()">-->
							<!--<span class="glyphicon glyphicon-pause"></span>Save-->
						<!--</button>-->
						<button type="button" class="btn btn-info btn-next" data-last="Complete" ng-disabled="uploadResumes.disableNextButtonFlag">
							Next<span class="glyphicon glyphicon-arrow-right"></span>
						</button>
						<button type="button" class="btn btn-danger btn-cancel" ng-click="uploadResumes.wizardCancel()" ng-disabled="uploadResumes.disableCancelButtonFlag">
							<span class="glyphicon glyphicon-remove"></span>Cancel
						</button>
					</div>
					<div class="step-content">
						<div class="step-pane active alert" data-step="1">
							<div class="row">
								<div class="col-lg-12">
									<div class="main-box clearfix" style="min-height: 200px;">
										<header class="main-box-header clearfix col-xs-offset-2 col-xs-10">
											<h2 ng-if="uploadResumes.mandatoryFieldsError" class="has-error">
												<span class="help-block"> <em>*</em> {{uploadResumes.MESSAGECONSTANTS.COMMONVALIDATIONS.ENTER_MANDATORY_FIELDS}}
												</span>
											</h2>
										</header>
										<div class="row">
											<div class="col-lg-5 col-lg-offset-1" style="margin-top: 2%; padding: 0 20px 20px 20px;">
												<form role="form" name="form.uploadResumes" novalidate>
													<div class="form-group">
														<label for="sourceType" class="control-label">
															{{uploadResumes.MESSAGECONSTANTS.LABLES.UPLOAD_RESUME.SOURCE_TYPE}}
															<em> * </em> :
														</label>
														<select class="form-control" name="sourceType" id="sourceType" ng-options="source as source.sourceType for source in uploadResumes.sourceTypeList track by source.id"
																ng-model="uploadResumes.sourceType" ng-change="uploadResumes.sourceTypeChanged()" ng-disabled="uploadResumes.disableSourceTypesFlag" required>
															<option value="" ng-if="false"></option>
														</select>
													</div>
												</form>
											</div>
										</div>
										<div class="main-box-body clearfix col-lg-10 col-lg-offset-1">
											<div>
												<form name="resumeUploadDropzone" id="resumeUploadDropzone" class="dropzone dz-clickable" action="" enctype="multipart/form-data">
													<div class="dz-a dz-default dz-message">
														<span>
															<h3>Drop files here to upload</h3>(or click)
														</span>
													</div>
												</form>
											</div>
										</div>
										<!-- Upload Requisition button -->
										<div class="row buttonrow" style="margin-bottom: 200px">
											<div class="col-xs-12 col-sm-offset-4 col-sm-4">
												<button type="button" class="btn btn-success col-xs-12" id="uploadFile" ng-click="uploadResumes.uploadResumes()" ng-disabled="uploadResumes.disableUploadButtonFlag">
													<i class="fa fa-upload"></i>
													<span ng-if="!uploadResumes.fileUploadInProgressFlag">Upload </span><span ng-if="uploadResumes.fileUploadInProgressFlag">Uploading... </span> Resume
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="step-pane alert" data-step="2">
							<div class="row">

								<div class="col-xs-12">
									<div class="main-box clearfix" style="min-height: 200px">
										<div class="row">
											<div class="col-xs-8 col-xs-offset-1">
												<h3 style="border-bottom: none;">Candidate Counts</h3>
											</div>
										</div>
										<div class="row" style="margin-top: 30px; margin-bottom: 30px;" ng-if="uploadResumes.scoringCandidatesFlag || uploadResumes.gettingCountsFlag">
											<div class="col-xs-4 col-xs-offset-4">
												<h4 style="border-bottom: none;">Processing <i class="fa fa-spin fa-spinner"></i></h4>
											</div>
										</div>
										<div class="row" style="margin-top: 30px; margin-bottom: 30px;" ng-if="!uploadResumes.scoringCandidatesFlag && !uploadResumes.gettingCountsFlag">
											<div class="col-xs-offset-2 col-xs-3">
												<span>Uploaded Candidates :</span>
												<span class="pull-right">
													<span ng-bind="uploadResumes.totalUploads"></span>
													<!--<a href="" ng-bind="uploadResumes.totalUploads" ui-sref="missioncontrol.candidates({teamMemberName: 'All', candidatesType: 'All'})"></a>-->
												</span>
											</div>
											<div class="col-xs-offset-1 col-xs-3">
												<span>Resumes Not Processed :</span>
												<span class="pull-right">
													<span ng-bind="uploadResumes.candidateCount.notProcessedCandidateCount"></span>
													<!--<a href="" ng-bind="uploadResumes.candidateCount.notProcessedCandidateCount" ui-sref="missioncontrol.candidates({teamMemberName: 'All', candidatesType: 'All'})"></a>-->
												</span>
											</div>
										</div>
										<div class="row" style="margin-top: 30px; margin-bottom: 30px;" ng-if="!uploadResumes.scoringCandidatesFlag && !uploadResumes.gettingCountsFlag">
											<div class="col-xs-offset-2 col-xs-3">
												<span>Matched Candidates :</span>
												<span class="pull-right">
													<span ng-bind="uploadResumes.candidateCount.matchedCandidateCount"></span>
													<!--<a href="" ng-bind="uploadResumes.candidateCount.matchedCandidateCount" ui-sref="missioncontrol.candidates({teamMemberName: 'All', candidatesType: 'All'})"></a>-->
												</span>
											</div>
											<div class="col-xs-offset-1 col-xs-3">
												<span>Unmatched Candidates :</span>
												<span class="pull-right">
													<span ng-bind="uploadResumes.candidateCount.unMatchedCandidateCount"></span>
													<!--<a href="" ng-bind="uploadResumes.candidateCount.unMatchedCandidateCount" ui-sref="missioncontrol.candidates({teamMemberName: 'All', candidatesType: 'All'})"></a>-->
												</span>
											</div>
										</div>
									</div>
								</div>

								<div class="col-xs-12" ng-if="uploadResumes.jobContextExistsFlag">
									<div class="main-box clearfix" style="height:400px;padding-top: 10px;position:relative">
										<div class="main-box-body clearfix">
											<div class="row" ng-show="uploadResumes.scoringCandidatesFlag">
												<div class="col-xs-12 no_candidates_found text-center">
													<span>Loading</span>
													<span class="fa fa-spinner fa-spin"></span>
												</div>
											</div>
											<div class="row" ng-show="!uploadResumes.scoringCandidatesFlag" style="margin-bottom: 15px;">
												<div class="col-xs-12 clearfix">
													<div class="pull-left">
														<button type="button" class="btn btn-info" ng-click="uploadResumes.toggleSelectAllCandidates()">
															<span ng-if="!uploadResumes.selectedAllCandidatesFlag">Select All</span>
															<span ng-if="uploadResumes.selectedAllCandidatesFlag">Deselect All</span>
														</button>
													</div>
												</div>
											</div>
											<div class="row" ng-show="!uploadResumes.scoringCandidatesFlag">
												<div class="col-xs-12">
													<div class="row" class="upload-resumes-review-table-header-row">
														<div class="col-xs-1 upload-resumes-review-table-header-text">
															Select
														</div>
														<div class="col-xs-2 upload-resumes-review-table-header-text">
															Name
														</div>
														<div class="col-xs-2 upload-resumes-review-table-header-text">
															Phone Number
														</div>
														<div class="col-xs-2 upload-resumes-review-table-header-text">
															Email
														</div>
														<div class="col-xs-1 upload-resumes-review-table-header-text">
															Score
														</div>
														<div class="col-xs-4 upload-resumes-review-table-header-text">
															Status
														</div>
													</div>
												</div>
											</div>
											<div class="row" ng-show="!uploadResumes.scoringCandidatesFlag" style="height:300px; overflow-y: auto">
												<div class="col-xs-12" ng-repeat="candidate in uploadResumes.candidatesList">
													<div class="row upload-resumes-review-table-row" ng-class="{'upload-resumes-associate-candidate-selection-bg': candidate.selectedFlag, 'green-bg': candidate.addedSuccessfullyFlag}">
														<div class="col-xs-1 text-overflow-ellipsis">
															<div class="">
																<input type="checkbox" ng-model="candidate.selectedFlag"
																   ng-true-value="true" ng-false-value="false" ng-disabled="candidate.addedSuccessfullyFlag"
																   ng-click="uploadResumes.candidateToAssociateToggle(candidate)"
																/>
																</label>
															</div>
														</div>
														<div class="col-xs-2 text-overflow-ellipsis" ng-bind="candidate.name" uib-tooltip="{{candidate.name}}" tooltip-placement="auto bottom">
														</div>
														<div class="col-xs-2 text-overflow-ellipsis" ng-bind="candidate.phone" uib-tooltip="{{candidate.phone}}" tooltip-placement="auto bottom">
														</div>
														<div class="col-xs-2 text-overflow-ellipsis" ng-bind="candidate.email" uib-tooltip="{{candidate.email}}" tooltip-placement="auto bottom">
														</div>
														<div class="col-xs-1 text-overflow-ellipsis" uib-tooltip="{{candidate.score}} / {{candidate.jobThresholdScore}}" tooltip-placement="auto bottom">
                                                            {{candidate.score}} / {{candidate.jobThresholdScore}}
														</div>
														<div class="col-xs-4 text-overflow-ellipsis" ng-bind="candidate.status" uib-tooltip="{{candidate.status}}" tooltip-placement="auto bottom-right">
														</div>
													</div>
												</div>
											</div>
											<div class="row" style="position: absolute; bottom: 0; right: 0; margin: 5px;">
												<div class="col-xs-12 clearfix">
													<div class="pull-right">
														<button type="button" class="btn btn-success" ng-click="uploadResumes.associateCandidates()" ng-disabled="(uploadResumes.candidatesToAssociateList.length == 0) || uploadResumes.associatingCandidatesFlag">
															<span ng-if="!uploadResumes.associatingCandidatesFlag">Add Selected Candidates</span>
															<span ng-if="uploadResumes.associatingCandidatesFlag">Adding Candidates ...</span>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>