<div class="row">
    <div class="col-xs-12">
        <div class="main-box clearfix" style="min-height: 200px">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-1">
                    <h3 style="border-bottom: none;">Candidate Counts</h3>
                </div>
            </div>
            <div class="row" style="margin-top: 30px; margin-bottom: 30px;" ng-if="reviewCandidatePull.loadingCountsInfoFlag">
                <div class="col-xs-4 col-xs-offset-4">
                    <h4 style="border-bottom: none;">Processing <i class="fa fa-spin fa-spinner"></i></h4>
                </div>
            </div>
            <div class="row" style="margin-top: 30px; margin-bottom: 30px;" ng-if="!reviewCandidatePull.loadingCountsInfoFlag">
                <div class="col-xs-offset-2 col-xs-4">
                    <span>Pulled Candidates :</span>
                    <span class="pull-right">
                        <span ng-bind="reviewCandidatePull.candidateCounts.uploadedCandidateCount"></span>
                    </span>
                </div>
                <div class="col-xs-offset-1 col-xs-3">
                    <span>Resumes Not Processed :</span>
                    <span class="pull-right">
                        <span ng-bind="reviewCandidatePull.candidateCounts.notProcessedCandidateCount"></span>
                    </span>
                </div>
            </div>
            <div class="row" style="margin-top: 30px; margin-bottom: 30px;" ng-if="!reviewCandidatePull.loadingCountsInfoFlag">
                <div class="col-xs-offset-2 col-xs-4">
                    <span>Matched Candidates :</span>
                    <span class="pull-right">
                        <span ng-bind="reviewCandidatePull.candidateCounts.autoMatchedCandidateCount"></span>
                    </span>
                </div>
                <div class="col-xs-offset-1 col-xs-3">
                    <span>Unmatched Candidates :</span>
                    <span class="pull-right">
                        <span ng-bind="reviewCandidatePull.candidateCounts.unmatchedCandidateCount"></span>
                    </span>
                </div>
            </div>
            <div class="row" style="margin-top: 30px; margin-bottom: 30px;" ng-if="!reviewCandidatePull.loadingCountsInfoFlag">
                <div class="col-xs-offset-2 col-xs-4">
                    <span>Manually Matched Candidates :</span>
                    <span class="pull-right">
                        <span ng-bind="reviewCandidatePull.candidateCounts.manuallyMatchedCandidateCount"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="main-box clearfix" style="height:400px;padding-top: 10px;position:relative">
            <div class="main-box-body clearfix">
                <div class="row" ng-show="reviewCandidatePull.loadingJobMatchesInfoFlag">
                    <div class="col-xs-12 no_candidates_found text-center">
                        <span>Loading</span>
                        <span class="fa fa-spinner fa-spin"></span>
                    </div>
                </div>
                <div class="row" ng-show="!reviewCandidatePull.loadingJobMatchesInfoFlag" style="margin-bottom: 15px;">
                    <div class="col-xs-12 clearfix">
                        <div class="pull-left">
                            <button type="button" class="btn btn-info" ng-click="reviewCandidatePull.toggleSelectAllCandidates()">
                                <span ng-if="!reviewCandidatePull.selectedAllCandidatesFlag">Select All</span>
                                <span ng-if="reviewCandidatePull.selectedAllCandidatesFlag">Deselect All</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="!reviewCandidatePull.loadingJobMatchesInfoFlag">
                    <div class="col-xs-12">
                        <div class="row" class="review-candidate-pull-review-table-header-row">
                            <div class="col-xs-1 review-candidate-pull-review-table-header-text">
                                Select
                            </div>
                            <div class="col-xs-2 review-candidate-pull-review-table-header-text">
                                Name
                            </div>
                            <div class="col-xs-2 review-candidate-pull-review-table-header-text">
                                Phone Number
                            </div>
                            <div class="col-xs-2 review-candidate-pull-review-table-header-text">
                                Email
                            </div>
                            <div class="col-xs-1 review-candidate-pull-review-table-header-text">
                                Score
                            </div>
                            <div class="col-xs-4 review-candidate-pull-review-table-header-text">
                                Status
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="!reviewCandidatePull.loadingJobMatchesInfoFlag" style="height:300px; overflow-y: auto">
                    <div class="col-xs-12" ng-repeat="candidate in reviewCandidatePull.candidatesList">
                        <div class="row review-candidate-pull-review-table-row" ng-class="{'review-candidate-pull-associate-candidate-selection-bg': candidate.selectedFlag, 'green-bg': candidate.addedSuccessfullyFlag}">
                            <div class="col-xs-1 text-overflow-ellipsis">
                                <div class="">
                                    <input type="checkbox" ng-model="candidate.selectedFlag"
                                           ng-true-value="true" ng-false-value="false" ng-disabled="candidate.addedSuccessfullyFlag"
                                           ng-click="reviewCandidatePull.candidateToAssociateToggle(candidate)"
                                    />
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-2 text-overflow-ellipsis" ng-bind="candidate.name" uib-tooltip="{{candidate.name}}" tooltip-placement="auto bottom">
                            </div>
                            <div class="col-xs-2 text-overflow-ellipsis" ng-bind="candidate.phone" uib-tooltip="{{candidate.phone}}" tooltip-placement="auto bottom">
                            </div>
                            <div class="col-xs-2 text-overflow-ellipsis" ng-bind="candidate.email" uib-tooltip="{{candidate.email}}" tooltip-placement="auto bottom">
                            </div>
                            <div class="col-xs-1 text-overflow-ellipsis" uib-tooltip="{{candidate.score}} / {{candidate.jobThresholdScore}}" tooltip-placement="auto bottom">
                                {{candidate.score}} / {{candidate.jobThresholdScore}}
                            </div>
                            <div class="col-xs-4 text-overflow-ellipsis" ng-bind="candidate.status" uib-tooltip="{{candidate.status}}" tooltip-placement="auto bottom-right">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="position: absolute; bottom: 0; right: 0; margin: 5px;">
                    <div class="col-xs-12 clearfix">
                        <div class="pull-right">
                            <button type="button" class="btn btn-success" ng-click="reviewCandidatePull.associateCandidates()" ng-disabled="(reviewCandidatePull.candidatesToAssociateList.length == 0) || reviewCandidatePull.associatingCandidatesFlag">
                                <span ng-if="!reviewCandidatePull.associatingCandidatesFlag">Add Selected Candidates</span>
                                <span ng-if="reviewCandidatePull.associatingCandidatesFlag">Adding Candidates ...</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>