.review-candidate-pull-associate-candidate-selection-bg{
    background-color: #e8a540 !important;
}

.review-candidate-pull-review-table-row {
    margin-top: 0.2em;
    border-top: 1px dotted;
    padding: 1em;
}

.review-candidate-pull-review-table-header-text {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.875em;
    font-weight: 600;
}

.review-candidate-pull-review-table-header-row{
    padding: 0.2em 1em 0.2em 1em;
}

