<div class="container">
    <diV class="row">
        <div class="col-xs-12">
            <form role="form" name="manageLocation.locationForm" novalidate>
                <div class="row">
                    <div class="col-xs-10">
                        <div class="form-group" ng-class="{'has-error':(manageLocation.locationForm.$submitted && manageLocation.locationForm.address1.$invalid)}">
                            <label for="address1" class="control-label">Address1 : </label>
                            <input ng-model="manageLocation.location.address1" type="text" class="form-control"
                                   name="address1" id="address1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        <div class="form-group">
                            <label for="address2">Address2 : </label>
                            <input ng-model="manageLocation.location.address2" type="text" class="form-control"
                                   name="address2" id="address2">
                        </div>
                        <!--<div class="error form-group" ng-show="manageLocation.locationForm.address2.$dirty && manageLocation.location.address2 !== '' && ((manageLocation.location.address2 | uppercase) === (manageLocation.location.address1 | uppercase))">-->
                            <!--<small class="error"> {{manageLocation.MESSAGECONSTANTS.COMMONVALIDATIONS.ADDRESS_CANNOT_BE_SAME}} </small>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group" ng-class="{'has-error':(manageLocation.locationForm.$submitted && (manageLocation.locationForm.zipCode.$invalid || !manageLocation.isZipCodeValidFlag))}">
                            <label for="zipCode" class="control-label">Zip Code<em> * </em> :</label>
                            <input ng-model="manageLocation.location.zipCode" ng-model-options="{'allowInvalid': true}"
                                   allow-pattern="(\d|[a-zA-Z0-9])" ng-pattern="/^[a-zA-Z0-9]*$/" minlength="5" maxlength="6" type="text" class="form-control"
                                   name="zipCode" id="zipCode" required ng-blur="manageLocation.getZipCodeDetails()">
                            <span class="help-block">ex. 75056 </span>
                        </div>
                        <div class="error form-group" ng-show="manageLocation.locationForm.zipCode.$dirty && manageLocation.locationForm.zipCode.$valid && (!manageLocation.isZipCodeValidFlag)">
                            <small class="error">
                                {{manageLocation.MESSAGECONSTANTS.COMMONVALIDATIONS.NO_LOCATION_FOUND}}
                            </small>
                        </div>
                        <div class="error form-group" ng-show="manageLocation.locationForm.zipCode.$dirty && manageLocation.locationForm.zipCode.$invalid">
                            <small class="error" ng-show="manageLocation.locationForm.zipCode.$error.pattern">
                                {{manageLocation.MESSAGECONSTANTS.COMMONVALIDATIONS.NOT_VALID_ZIPCODE}}
                            </small>
                            <small class="error" ng-show="manageLocation.locationForm.zipCode.$error.minlength">
                                {{manageLocation.MESSAGECONSTANTS.COMMONVALIDATIONS.ZIPCODE_MINLENGTH}}
                            </small>
                            <small class="error" ng-show="manageLocation.locationForm.zipCode.$error.maxlength">
                                {{manageLocation.MESSAGECONSTANTS.COMMONVALIDATIONS.ZIPCODE_MAXLENGTH}}
                            </small>
                        </div>
                    </div>
                    <div class="col-xs-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group" ng-class="{'has-error':(manageLocation.locationForm.$submitted && manageLocation.locationForm.city.$invalid)}">
                            <label for="city" class="control-label">City <em> * </em>: </label>
                            <select class="form-control access companyaddresscopyenabled" name="city" id="city" ng-model="manageLocation.location.city" required>
                                <option ng-repeat="geolocation in manageLocation.geoLocations | unique:'city'" value="{{geolocation.city}}">{{geolocation.city}}</option>
                                <option value="" ng-if="false"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group" ng-class="{'has-error':(manageLocation.locationForm.$submitted && manageLocation.locationForm.state.$invalid)}">
                            <label for="state" class="control-label">State <em> * </em>: </label>
                            <select class="form-control access companyaddresscopyenabled" name="state" id="state" ng-model="manageLocation.location.state" required>
                                <option ng-repeat="geolocation in manageLocation.geoLocations | unique:'state'" value="{{geolocation.state}}">{{geolocation.state}}</option>
                                <option value="" ng-if="false"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group" ng-if="!manageLocation.doesCountyExistFlag">
                            <label for="county">County : </label>
                            <input ng-model="manageLocation.location.county" type="text" class="form-control access" name="county" id="county" >
                        </div>

                        <div class="form-group" ng-if="manageLocation.doesCountyExistFlag">
                            <label for="county">County : </label>
                            <select class="form-control access" name="county" id="county" ng-model="manageLocation.location.county">
                                <option ng-repeat="geolocation in manageLocation.geoLocations | unique:'county'" value="{{geolocation.county}}">{{geolocation.county}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group" ng-class="{'has-error':(manageLocation.locationForm.$submitted && manageLocation.locationForm.country.$invalid)}">
                            <label for="country" class="control-label">Country <em> * </em>: </label>
                            <select class="form-control access companyaddresscopyenabled" name="country" id="country" ng-model="manageLocation.location.country" required>
                                <option ng-repeat="geolocation in manageLocation.geoLocations | unique:'country'" value="{{geolocation.country}}">{{geolocation.country}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="clearfix">
                            <button type="button" class="btn btn-danger" ng-click="manageLocation.cancelLocationUpdate()" ng-disabled="manageLocation.savingFlag">
                                <span ng-if="!manageLocation.cancellingFlag">Cancel</span>
                                <span ng-if="manageLocation.cancellingFlag">Canceling..</span>
                            </button>
                            <button type="submit" class="btn btn-success" ng-click="manageLocation.saveLocation()" ng-disabled="manageLocation.savingFlag">
                                <span ng-if="!manageLocation.savingFlag">Update Location</span>
                                <span ng-if="manageLocation.savingFlag">Updating..</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </diV>
</div>