@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?gzc551');
  src:  url('../fonts/icomoon.eot?gzc551#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gzc551') format('truetype'),
    url('../fonts/icomoon.woff?gzc551') format('woff'),
    url('../fonts/icomoon.svg?gzc551#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_4dot5:before {
  content: "\e900";
}

/* Colors  */

.lightblue {
	color : rgba(69, 195, 255, 0.74) !important;
}
/* Color for passive candidate*/
.emerald-bg-passive-candidate {
    background-color: rgba(69, 195, 255, 0.74) !important;
}

/* Font Sizes */

.oneemfontsize {
	font-size : 1em !important;
}

.onepointoneemfontsize {
	font-size : 1.1em !important;
}

.twoemfontsize {
	font-size : 2em !important;
}

.twopointfiveemfontsize {
	font-size : 2.5em !important;
}

.threeemfontsize {
	font-size : 3em !important;
}
.displaynone {
	display: none !important;
}

.pointer {
	cursor: pointer !important;
}

.nopointerevents {
	pointer-events : none !important;
}

.textcursor {
	cursor: text;
}

.marginrightzero {
	margin-right: 0px !important;
}

.marginleftzero {
	margin-left: 0px !important;
}

.paddingleftzero{
	padding-left:0px !important;
}

.disablescreen {
	pointer-events : none !important;
	opacity : 0.6 !important;
}
.borderbottomnone {
	border-bottom: none !important
}

