<script type="text/javascript">
        $(function() {

        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                }, cb);

        cb(start, end);
        
        });
</script>

<style>
    .dropDownLabel {
        margin-top: 5px;
    }
    
    #printIcon {
        font-size: 25px;
    }
    
    #clientDetailsRow {
        margin-top: 3%;
        margin-left: 7px;
    }
    
    #clientName {
        margin-left: -4px;
    }
    
    .clientDetails {
        margin-left: 9px;
    }
    
    #requisitionDatePickRow {
        margin-top: 3%;
        margin-left: 7px;
    }
    
    #requisitionRoleLabel {
        margin-top: 5px;
    }
    
    #requisitionRoleDropdown {
        width: 50%;
    }
    
    #datePickLabel {
        margin-top: 5px;
    }
    
    #reportrange {
        background: #fff;
        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid #ccc;
        width: 100%;
    }
    
    #recruiterRow {
        margin-top: 3%;
        margin-left: 6px;
    }
    
    #reportPanelRow {
        margin-top: 3%;
        margin-left: 7px;
    }
    
    #reportTitle {
        margin-left: 2%;
    }
    
    #requisitionNumber {
        margin-right: 15px;
    }
    
    #reportOpeningsRow {
        margin-left: 1px;
    }
    
    #reportOpeningsLabel {
        margin-left: 49px;
    }
    
    #activeSourceDateRow {
        margin-left: 1px;
    }
    
    #activeDateLabel {
        margin-left: 82px;
    }
    
    #sourceDate {
        margin-left: 83px;
    }
    
    #filledCompletedDateRow {
        margin-left: 1px;
    }
    
    #filledDate {
        margin-left: 87px;
    }
    
    #completeDate {
        margin-left: 62px;
    }
    
    #candidateFilledLabel {
        font-weight: bolder;
    }
    
    #candidateRecruiterRow {
        margin-top: 2%;
    }
    
    #recruiterLabel {
        font-weight: bolder;
    }
    
    #activeRow {
        margin-top: 2%;
        margin-left: -14px;
    }
    
    .font-bold {
        font-weight: bolder;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div id="content-header" class="clearfix">
                <div class="pull-left">
                    <ol class="breadcrumb">
                        <li><a ui-sref="missioncontrol.dashboard">{{MESSAGECONSTANTS.BREADCRUMBS.HOME}}</a></li>
                        <li class="active"><span>{{MESSAGECONSTANTS.BREADCRUMBS.CLIENT_REPORTS}}</span></li>
                    </ol>
                    <h1 id="candidatesTitle" class="heading-css">{{MESSAGECONSTANTS.BREADCRUMBS.CLIENT_REPORTS}}</h1>
                </div>
            <div class="pull-right" style="margin-right: 3%;margin-top: 1%;">
                <button id="cmd" ng-click="download()" approw class="btn btn-primary">Download pdf</button>
                <button class="btn btn-primary" ng-print print-element-id="print-area"><i class="fa fa-print"></i> Print</button>
            </div>
        </div>
    </div>
</div>
<!--{{clientBuDetails}}-->
<div class="rowBody"  class="print-area">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="col-xs-6">
                <!--<div class="col-xs-6">-->
                <label class="fontsize pull-left dropDownLabel" ng-if="companyType === 'StaffingCompany'"> 
                   {{MESSAGECONSTANTS.LABLES.CLIENT}} &nbsp;
                </label>
                <label class="fontsize pull-left dropDownLabel" ng-if="companyType === 'Corporation'"> 
                     {{MESSAGECONSTANTS.LABLES.BU}} &nbsp;
                </label>
                <!--</div>-->
                <div class="col-xs-6">
                    <select class="form-control" ng-model="clientorbu.company.id" ng-change="details(clientorbu.company.id)">
                    <option ng-repeat="clientBuDetails in clientBuList"  ng-value="clientBuDetails.company.id">{{clientBuDetails.company.name}}</option>
                </select>
                </div>
            </div>
            <div class="col-xs-6 ">
                
            </div>
            <!--<button ng-print print-element-id="print-area" class="fa fa-print pull-right" id="printIcon" title="Print" aria-hidden="true">-->
                <!--<button class="btn btn-primary pull-right" ng-print print-element-id="print-area" ><i class="fa fa-print"></i> Print</button>-->
            <!--</button>-->
        </div>
    </div>


<div id="print-area">
    <div ng-hide="clientDetails">
    <!--{{clientorbu.company}}-->
    <div class="row" id="clientDetailsRow">
        <div class="col-xs-10 col-xs-offset-1">
            <h1 id="clientName" class="fontsize">{{clientorbu.company.name}}</h1>
            <h5 class="fontsize clientDetails">{{clientorbu.company.address1}}&sbquo;&nbsp;{{clientorbu.company.address2}}&sbquo;&nbsp; {{clientorbu.company.city}}&sbquo;&nbsp;{{clientorbu.company.addressState}}&sbquo;&nbsp;{{clientorbu.company.zipcode}}&sbquo;&nbsp;
                {{clientorbu.company.county}}&sbquo;&nbsp;{{clientorbu.company.country}}
            </h5>
            </br>
            <h5 class="fontsize clientDetails">{{MESSAGECONSTANTS.LABLES.CONTACT}} &nbsp:</h5>
            <div class="col-xs-8  col-xs-offset-1" style="margin-top: -38px;margin-left: 7%;">
                <h5 class="fontsize clientDetails">{{clientorbu.contactList[0].firstName}} &nbsp; {{clientorbu.contactList[0].lastName}}</h5>
                <h5 class="fontsize clientDetails">{{clientorbu.contactList[0].workPhone}} &sbquo;&nbsp; {{clientorbu.contactList[0].mobilePhone}}</h5>
                <h5 class="fontsize clientDetails">{{clientorbu.contactList[0].email}}</h5>
                <h5 class="fontsize clientDetails">{{clientorbu.contactList[0].firstName}}</h5>
            </div>

        </div>
    </div>
    <div class="row" id="requisitionDatePickRow">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="col-xs-6">
                <label class="pull-left fontsize" id="requisitionRoleLabel"> 
                    {{MESSAGECONSTANTS.LABLES.REQUISITION_ROLE}} &nbsp;
                </label>
                <div  isteven-multi-select input-model="requisitionRoles" output-model="selectedRequisitionRoles" button-label="icon name" item-label="icon name maker"
                    tick-property="ticked" helper-elements="all filter">
                    <!--ng-model="multiSelect"-->
                </div>
            </div>


            <div class="col-xs-6">
                <label class=" pull-left fontsize" id="datePickLabel"> 
                    &nbsp; {{MESSAGECONSTANTS.LABLES.DATE_PICKER}}  &nbsp;
                </label>
                <div class="form-group col-xs-6">
                    <div id="reportrange" class="pull-right">
                        <!--ng-disabled="!multiSelect" ng-model="dateRangePicker"-->
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span></span> <b class="caret"></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="recruiterRow" class="row">
        <div class="col-xs-6 col-xs-offset-1">
            <span class="fontsize">&nbsp {{MESSAGECONSTANTS.LABLES.RECRUITERS}} &nbsp;&nbsp;</span>
            <div class="btn-group" data-toggle="buttons">
                <!--ng-disabled="!dateRangePicker" ng-change="reportPanelDetails()"-->
                <label  class="btn btn-primary">
                    <div ng-click="showBelowDivision()">                      
                    <input type="checkbox"> Recruiter 1
                    </div>   
                </label>
                    <label  class="btn btn-primary">
                        <div  ng-click="showBelowDivision()">
                            <input  type="checkbox"> Recruiter 2
                        </div>
                </label>
                    <label class="btn btn-primary">
                        <div  ng-click="showBelowDivision()">
                            <input  type="checkbox"> Recruiter 3
                        </div>
                </label>
                    <label  class="btn btn-primary">
                        <div  ng-click="showBelowDivision()">
                            <input  type="checkbox"> Recruiter 4
                        </div>
                </label>
            </div>
        </div>
    </div>
 </div>

    <!--report panel-->
    <div id="reportPanelRow" class="row" ng-hide="reportPanel">
        <!--ng-hide="reportPanel"-->
        <div class="col-xs-9 col-xs-offset-1">
            <div class="panel-group" ng-repeat="report in reportList">
                <div class="panel panel-primary">
                    <div class="panel-heading panel-custom">
                        <div class="row">
                            <div class="col-xs-6">
                                <div>
                                    <b class="fontsize">{{MESSAGECONSTANTS.LABLES.REQUISITION_TITLE}} &nbsp;</b>
                                    <span class="fontsize" " id="reportTitle ">{{report.title}}</span>
                            </div>
                        </div>
                        <div class="col-xs-6 ">
                            <div class="pull-right ">
                                <b class="fontsize " id="requisitionNumber ">{{MESSAGECONSTANTS.LABLES.REQUISITION_NUMBER}} &nbsp;</b>
                                <span class="fontsize ">{{report.req_id}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body ">             
                    <div id="reportOpeningsRow " class="row ">
                        <div class="col-xs-6 ">
                            <b class="fontsize ">
                           Number of openings &nbsp;
                            </b>   
                            <label id="reportOpeningsLabel " class="fontsize" style="margin-left: 43px;">
                               {{report.openings}}
                            </label>                                               
                        </div>                       
                    </div>
                    <div id="activeSourceDateRow " class="row ">
                        <div class="col-xs-6 ">
                            <b class="fontsize ">
                            Active Date &nbsp;
                            </b>   
                            <label id="activeDateLabel "  class="fontsize" style="margin-left: 120px;">
                               {{report.active_date}}
                            </label>                                               
                        </div>
                        <div class="col-xs-6 ">
                             <label class="fontsize ">
                               <b style="margin-left: 59px;">Sourced Date &nbsp;</b> 
                               <label id="sourceDate" class="fontsize" style="margin-left: 120px;">{{report.source_date}}</label>
                            </label>
                        </div>                     
                    </div>
                    <div id="filledCompletedDateRow " class="row ">
                        <div class="col-xs-12">
                            <label class="fontsize ">
                                 <b>Completed Date &nbsp;</b> 
                                 <label id="completeDate" class="fontsize" style="margin-left: 81px;">{{report.completed_date}}</label>
                            </label>                             
                        </div>
                    </div>
                    <br>
                    <div class="row " id="candidateRecruiterRow ">
                        <div class="col-xs-12" style="margin-left: -16px;">
                            <div class="col-xs-9 ">
                            <div class="col-xs-3 ">
                                <label class="fontsize " id="candidateFilledLabel " for="candidatefilled " >
                                    <b>Candidate filled</b>
                                </label>
                            </div>
                            <div class="col-xs-3 ">
                                <label class="fontsize " id="recruiterLabel " for="recruiter ">
                                    <b>Recruiter</b>
                                </label>
                            </div> 
                            <div class="col-xs-3 ">
                                <label class="fontsize " id="recruiterLabel " for="recruiter ">
                                    <b>Filled Date</b>
                                </label>
                            </div>                            
                        </div>
                       <div class="col-xs-9 col-xs-offset-0 " ng-repeat="candidateDetail in report.candidate_mapping ">
                            <div class="col-xs-3 ">
                                <label class="fontsize " for="candidate1 ">
                                    {{candidateDetail.candidate_name}}
                                </label>
                            </div>
                            <div class="col-xs-3 ">
                                <label class="fontsize " for="recruiter 1 ">
                                   {{candidateDetail.recruiter}}
                                </label>
                            </div>
                             <div class="col-xs-3 ">
                                <label class="fontsize " for="recruiter 1 ">
                                   {{report.filled_date}}
                                </label>
                            </div>                            
                        </div>
                        </div>  
                        
                    </div> 
                    <br>                  
                        <div class="row " id="activeRow ">
                            <div class="col-xs-12" style="margin-left: -2%;">
                                 <div class="col-xs-6 " ng-repeat="state in report.state ">
                                <!--{{state}}-->
                                <div class="col-xs-9 ">
                                    <div class="col-xs-3 ">
                                        <label class="fontsize font-bold " id for="candidatefilled ">
                                            Active
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-9 col-xs-offset-0 " ng-repeat="active in state.active ">
                                    <div class="col-xs-6 ">
                                        <label class="fontsize " for="candidate1 ">
                                            {{active.state_name}}
                                        </label>
                                    </div>
                                    <div class="col-xs-2" style="margin-left: 12px;">
                                        <label class="fontsize " for="recruiter 1" >
                                            {{active.count}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                                <div class="col-xs-6 " ng-repeat= "state in report.state" style="margin-left: -13%;">
                                    <div class="col-xs-9 ">
                                        <div class="col-xs-3 ">
                                            <label class="fontsize font-bold " for="candidatefilled ">
                                                Passive
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-9 col-xs-offset-0 " ng-repeat="passive in state.passive ">
                                        <div class="col-xs-6 ">
                                            <label class="fontsize ">
                                                {{passive.state_name}}
                                            </label>
                                        </div>
                                        <div class="col-xs-2" style="margin-left: 12px;">
                                            <label class="fontsize">
                                                {{passive.count}}
                                            </label>
                                        </div>
                                    </div>                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
</div>