<!--<div ng-controller="">-->
<style>
.labelHeadings {
    font-size: large;
}
.wbcbuttons {
       margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 2%;
}
.notpref {
    list-style-type: none !important;
    padding-left: 35px;
    height: 50px;
}
.nothead {
	border-bottom: 0px;
	padding-left: 3% !important;
	padding-bottom: 10px !important;
	margin-bottom: 0px !important;
	font-size: 1.5em !important;
}

.notList {
	padding-left: 0px;
	/*padding-top: 15px;*/
	background: #FFFFFF;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	/* overflow: hidden; */
	border-radius: 3px;
	background-clip: padding-box;
}

.lbl {
	max-width: 50%;
	height: 22px !important;
    margin: auto;
	border: 0px;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 23px !important;
}
.lbl .onoffswitch-inner:before {
	line-height: 26px !important;
	font-size: 11px !important;
	margin-top: -2px;
	background-color: #03a9f4 !important;
}

.lbl .onoffswitch-inner:after {
	line-height: 26px !important;
	font-size: 10px !important;
	background-color: lightgray;
	margin-top: -1px;
	padding-right: 6px !important;
}

.swch {
	width: 7px !important;
    height: 7px !important;
	bottom: 6px !important;
	border-color: white;
}

.swch:before {
	right: 0px !important;
}

.swch:after {
	right: 26px !important;
}

.checkname {
	line-height: 26px;
}

.topheight {
	top: 4px;
    margin: 0px;
}

@media ( max-width : 1590px) {
	.res {
		width: 30%;
	}
}

.radio label:after {
	left: 2px !important;
	top: 2px !important;
}

.align-items-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.disabledToggle .onoffswitch-inner:before {
	line-height: 26px !important;
	font-size: 11px !important;
	margin-top: -2px;
	background-color: #03a9f4 !important;
}
.disabledToggle .onoffswitch-inner:after {
	line-height: 26px !important;
	font-size: 10px !important;
	background-color: lightgray;
	margin-top: -1px;
	padding-right: 6px !important;
}

.disabledpreference {
    opacity: 0.5;
}
#preferencename{
	padding-left: 12%;
}
#preferencemessage {
    padding-left: 9%
}
.preference-disable-cursor{
	cursor: auto;
}

</style>
<div class="approw">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a ui-sref="missioncontrol.dashboard">{{MESSAGECONSTANTS.BREADCRUMBS.HOME}}</a></li>
                <li class="active">
                    <span ng-if="isLogedinUser(TransactionNotificationPreferences.user.userDetails)">My Notification Preferences</span>
                    <span ng-if="!isLogedinUser(TransactionNotificationPreferences.user.userDetails)">Notification Preferences</span>
                </li>
            </ol>
            <h1 class="heading-css">
                <span ng-if="isLogedinUser(TransactionNotificationPreferences.user.userDetails)">My Notification Preferences</span>
                <span ng-if="!isLogedinUser(TransactionNotificationPreferences.user.userDetails)" >
                    Edit  
                    '<i ng-bind="handleLongName(getFullName(TransactionNotificationPreferences.user.userDetails.firstName,TransactionNotificationPreferences.user.userDetails.lastName),50)"></i>'s
                    Notification Preferences
                </span>
            </h1>
    	</div>
	</div>
    <div class="row" id="user-profile">
        <div class="main-box clearfix">
            <div style="margin-top: 2%;">
                <div class="col-lg-offset-4 col-lg-2 col-md-offset-5 col-md-2 col-sm-offset-6 col-sm-2 text-center">
                    <label class="labelHeadings"> Application </label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                    <label class="labelHeadings"> Email </label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                    <label class="labelHeadings"> Text Message </label>
                </div>
            </div>
            <div id="tab-activity">
                <form name="notificationPrefsForm" id="notificationPrefsForm">
                    <div ng-repeat="Group in TransactionNotificationPreferences.groups">
                        <ul class="package-features notList clearfix">
                            <h2 class="nothead">{{Group.name}}</h2>
                            <div ng-repeat="orderedPreference in Group.orderedNotificationPreferences" style="margin-left: 10px;">
                                <h2 class="nothead">{{orderedPreference.notificationPreferenceType}}</h2>
                                <li style="display:inline-block; width: 100%;" ng-repeat="Preference in orderedPreference.notificationPreferencesListDtos">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-5 col-lg-4">
                                            <h5 ng-class="{'disabledpreference' : !Preference.enabled }" id="preferencename">{{Preference.name}}</h5>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 align-items-center">
                                            <div class="onoffswitch onoffswitch-success topheight preference-disable-cursor" ng-class="{'disabledpreference preference-disable-cursor' : !Preference.enabled }">
                                                <input type="checkbox" name="{{Preference.name}}_App_{{$index}}" class="onoffswitch-checkbox" id="{{Preference.name}}_App_{{$index}}"
                                                       checked="true" ng-model="Preference.onForApp" disabled>
                                                <label class="onoffswitch-label lbl disabledToggle preference-disable-cursor" for="{{Preference.name}}_App_{{$index}}">
                                                    <div class="onoffswitch-inner toggleDisabled"></div>
                                                    <div class="onoffswitch-switch swch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 align-items-center">
                                            <div class="onoffswitch onoffswitch-success topheight" ng-class="{'disabledpreference preference-disable-cursor' : !Preference.enabled }">
                                                <input type="checkbox" name="{{Preference.name}}_Email_{{$index}}" class="onoffswitch-checkbox" id="{{Preference.name}}_Email_{{$index}}"
                                                       ng-model="Preference.onForEmail" ng-disabled="(!Preference.enabled) || (!Preference.enabledForEmail)">
                                                <label class="onoffswitch-label lbl" ng-class="{'disabledToggle preference-disable-cursor' : (!Preference.enabled) || (!Preference.enabledForEmail)}" for="{{Preference.name}}_Email_{{$index}}">
                                                    <div class="onoffswitch-inner" ng-class="{'toggleDisabled' : (!Preference.enabled) || (!Preference.enabledForEmail)}"></div>
                                                    <div class="onoffswitch-switch swch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 align-items-center">
                                            <div class="onoffswitch onoffswitch-success topheight" ng-class="{'disabledpreference preference-disable-cursor' : !Preference.enabled }">
                                                <input type="checkbox" name="{{Preference.name}}_Text_{{$index}}" class="onoffswitch-checkbox" id="{{Preference.name}}_Text_{{$index}}"
                                                       ng-model="Preference.onForText" ng-disabled="(!Preference.enabled) || (!Preference.enabledForEmail)">
                                                <label class="onoffswitch-label lbl" ng-class="{'disabledToggle preference-disable-cursor' : (!Preference.enabled) || (!Preference.enabledForEmail)}" for="{{Preference.name}}_Text_{{$index}}">
                                                    <div class="onoffswitch-inner" ng-class="{'toggleDisabled' : (!Preference.enabled) || (!Preference.enabledForEmail)}"></div>
                                                    <div class="onoffswitch-switch swch"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="(Preference.message !== null)">
                                        <div class="col-sm-9 col-md-8 col-lg-7">
                                            <small class="disabledpreference" id="preferencemessage"><i> {{"Note: " + Preference.message }} </i></small>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="col-md-offset-8 col-lg-offset-6 text-center ">
                        <div class="btn-group-single  wbcbuttons">
                            <button class="btn btn-danger btn-cancel" ng-click="cancelChanges()" type="button">Cancel</button>
                            <button class="btn wizard-next btn-primary" ng-click="saveNotificationPreferences()" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
