<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li><a href="">Notifications</a></li>
		</ol>
		<h1 class="heading-css">My Notifications</h1>
	</div>
</div>
<div class="row" id="user-profile">
	<div class="col-xs-12" ng-if="contextLabel != ''">
		<h2 ng-bind="contextLabel"></h2>
	</div>
	<div class="col-xs-12">
		<user-notifications height="600px" width="100%" search-object="{{searchObject}}" view-all-flag="{{viewAllNotifications}}"
			context="{{context}}" user-notification-controls="userNotificationControls" number-of-new-notifications="numberOfNewNotifications"
			show-filters="{{showFiltersFlag}}">
		</user-notifications>
	</div>
</div>
