<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form role="form" name="moveJobMatchStep.moveJobMatchStepForm" novalidate>
                <div class="row">
                    <div class="col-xs-12 job-match-status-statement">
                        <span>
                            <span>Moving candidate </span>
                            <span ng-show="moveJobMatchStep.labelLoadingFlag" style="padding-left: 10px;">
                                <span class="fa fa-spinner fa-spin"></span>
                            </span>
                            <span ng-show="!(moveJobMatchStep.labelLoadingFlag)">
                                '<span ng-bind="moveJobMatchStep.candidateJobMatch.name" class="emerald"></span>' to
                                '<span class="emerald" ng-bind="moveJobMatchStep.moveTypeLabel"></span>' for the role of '<span class="emerald" ng-bind="moveJobMatchStep.candidateJobMatch.jobMatchTitle"></span>'
                                at '<span class="emerald" ng-bind="moveJobMatchStep.candidateJobMatch.jobMatchClientName"></span>'
                            </span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group" ng-class="{'has-error': (moveJobMatchStep.moveJobMatchStepForm.$submitted && moveJobMatchStep.moveJobMatchStepForm.notes.$invalid)}">
                            <label for="notes" class="control-label">
                                Notes<em>*</em> :
                            </label>
                            <textarea id="notes" name="notes" class="form-control" rows="3" placeholder="Enter your note.." ng-model="moveJobMatchStep.moveData.notes" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="clearfix">
                            <button type="submit" class="btn btn-success" ng-click="moveJobMatchStep.moveJobMatchStep()" ng-disabled="moveJobMatchStep.savingFlag">
                                <span ng-if="!moveJobMatchStep.savingFlag">Save</span>
                                <span ng-if="moveJobMatchStep.savingFlag">Saving..</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>