<style>
/* cellpadding */
th, td { padding: 5px; }

/* cellspacing */
table { border-collapse: separate; border-spacing: 5px; } /* cellspacing="5" */
table { border-collapse: collapse; border-spacing: 0; }   /* cellspacing="0" */

/* valign */
th, td { vertical-align: top; }

/* align (center) */
table { margin: 0 auto; }

.checkbox {
		padding-left: 4%;
}

.checkbox-nice input[type=checkbox]:checked+label.disabledworkflow:after {
		opacity: 0.3 !important;
}

.onoffswitch {
    position: relative; width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px border-radius: 18px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.topheight {
	top: 4px;
}
.onoffswitch-inner:before {
    content: "YES";
    padding-left: 8px;
	line-height: 26px !important;
	font-size: 11px !important;
	margin-top: -1px;
	margin-bottom: 0px;
    background-color: #03a9f4;
    text-align: left;
}
.onoffswitch-inner:after {
    content: "NO    ";
    padding-right: 6px;
	line-height: 26px !important;
	margin-top: -1px;
	margin-bottom: 0px;
	font-size: 11px !important;
    background-color: lightgray;
    color: darkgray;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 10px; margin: 4.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 30px;
    border: 0px border-radius: 18px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
.modal { overflow: auto !important; }
</style>
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a ui-sref="recruiter.dashboard">Home</a></li>
            <li class="active"><span>Passive Candidates</span></li>
        </ol>

        <h1 class="heading-css">Passive Candidates</h1>
    </div>
</div>


<div class="modal fade" id="questionsModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="md-content">
            <div class="modal-header">
                <br/>
                <h5 class="modal-title" id="modalTitle">
                    &nbsp;&nbsp;&nbsp;
                    <b>Candidate Initial Questionnaire - {{candidate.contact.firstname +" " + candidate.contact.lastname}} </b>
                </h5>
            </div>
            <div class="modal-body">
                <table width="100%" class="table-bordered">
                    <thead>
                    <tr>
                        <th><span>Requistion</span></th>
                        <th><span>Client Name</span></th>
                        <th><span>Job Title</span></th>
                        <th><span>Score</span></th>
                        <th><span>Recruiter Name</span></th>
                        <th><span>Match Date</span></th>
                        <th><span>Interested</span></th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="clientList in sortedClientList track by $index">
                    <tr ng-repeat = "jobMatchId in clientListJobMatchDetails[clientList] track by $index" >
                        <td>
                            {{ jobDetails[jobMatchId].reqNumber }}
                        </td>
                        <td>
                            {{ jobDetails[jobMatchId].clientName }}
                        </td>
                        <td>
                            <a ng-click="getFile(jobMatchId)">{{ jobDetails[jobMatchId].title }}</a>
                        </td>
                        <td>
                            {{ jobDetails[jobMatchId].score }}
                        </td>
                        <td>
                            {{ jobDetails[jobMatchId].recruiterName }}
                        </td>
                        <td>
                            {{ jobDetails[jobMatchId].matchDate | date : "dd-MM-yyyy" }}
                        </td>
                        <td style="vertical-align: top; padding-bottom: 10px" align="center">
                            <div class="checkbox-nice checkbox-inline">
                                <input type="checkbox" id="checkbox-inl-{{jobMatchId}}" ng-model="jobDetails[jobMatchId].interested" ng-change="filterByInterested()" checked/>
                                <label for="checkbox-inl-{{jobMatchId}}"></label>
                            </div>
                            <!--input type="checkbox" id="myonoffswitch_{{jobMatchId}}" ng-model="jobDetails[jobMatchId].interested" ng-change="filterByInterested()" checked /-->
                            <!--div class="onoffswitch topheight">
                                <input type="checkbox" name="onoffswitch_{{jobMatchId}}" class="onoffswitch-checkbox"
                                       id="myonoffswitch_{{jobMatchId}}" ng-model="jobDetails[jobMatchId].interested" ng-change="filterByInterested()" checked>
                                <label class="onoffswitch-label" for="myonoffswitch_{{jobMatchId}}">
                                    <div class="onoffswitch-inner"></div>
                                    <div class="onoffswitch-switch"></div>
                                </label>
                            </div-->
                            <!--div class="onoffswitch onoffswitch-success topheight" style="display: inline-block;">
                                <input type="checkbox" name="onoffswitch_{{jobMatchId}}" class="onoffswitch-checkbox"
                                    id="onoffswitch_{{jobMatchId}}" ng-model="jobDetails[jobMatchId].interested" ng-change="filterByInterested(jobMatchId)" checked>
                                <label class="onoffswitch-label lbl" for="myonoffswitch_{{jobMatchId}}">
                                    <div class="onoffswitch-inner"></div>
                                    <div class="onoffswitch-switch swch"></div>
                                </label>
                            </div-->
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <div class="panel-group accordion" id="accordion">
                    <div class="panel panel-default">
                        <header class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#compQns">
                                    Company : {{companyName}}&nbsp;&nbsp;<span ng-if="!companyQnsComplete" style="color: #ff0000; font-size: 11px">Not Completed</span><span ng-if="companyQnsComplete" style="color: #008000; font-size: 11px">Completed</span>
                                </a>
                            </h4>

                        </header>
                        <div id="compQns" class = "{{getCompanyClass()}}" ng-repeat="(key, val) in companyQuestionsResults">
                            <div class="panel-body">
                                <table width="95%" ng-repeat="companyQuestion in val  | filter: filterFunction">
                                    <tr>
                                        <td colspan="2">
                                            <span id="co-qn">{{$index + 1}}. {{companyQuestion.question}}</span>
                                            <br/><br/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="120px">Rating : </td>
                                        <td style="width: 400px;"><div id="co-qn-slider"></div></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="text-align: center">
                                            <span id="co-qn-rating{{$index + 1}}" class="slider-label">{{companyQuestion.rating}}</span>
                                        </td>
                                    </tr>
                                    <tr><td style="height: 10px"></td></tr>
                                    <tr>
                                        <td colspan="2">
                                            <textarea style="resize:none" class="form-control" id="co-qn-comments{{$index + 1}}" rows="2" style="width: 525px; height: 49px;">{{companyQuestion.recruiterComment}}</textarea>
                                            <div ng-if = "companyQuestion.recruiterName != null">
                                                <span style="color: #5C5858; font-size: 11px; float:right;"> Recorded by {{companyQuestion.recruiterName}} on {{companyQuestion.questionareDateTime | date : "dd-MM-yyyy h:mma" }}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <table ng-repeat="clientKey in sortedClientList track by $index" width="100%" style="margin-top: 5px;">
                        <tr>
                            <td style="margin: 0px; padding: 0px">
                                <div id="{{clientKey}}" class="panel panel-default">
                                    <header class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#clientQns{{$index}}">
                                                Client : {{clientDetails[clientKey]}}&nbsp;&nbsp;<span ng-if="!checkifClientCompleted(clientKey)" style="color: #ff0000; font-size: 11px">Not Completed</span><span ng-if="checkifClientCompleted(clientKey)" style="color: #008000; font-size: 11px">Completed</span>
                                            </a>
                                        </h4>
                                    </header>
                                    <div id="clientQns{{$index}}" class = "{{getClientClass(clientKey)}}">
                                        <div class="panel-body">
                                            <table width="95%" ng-repeat="clientQuestion in clientQuestionsResults[clientKey]" ng-init="number = countClientQns()">
                                                <tr>
                                                    <td colspan="2">
                                                        <span id="cl-qn{{clientKey}}">{{$index + 1}}. {{clientQuestion.question}}</span>
                                                        <input id="cl-qn-no{{clientKey}}" type="hidden" value="{{number + 1}}" />
                                                        <br/><br/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="120px">Rating : </td>
                                                    <td style="width: 400px;"><div id="cl-qn-slider"></div></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td style="text-align: center">
                                                        <span id="cl-qn-rating{{number + 1}}" class="slider-label">{{clientQuestion.rating}}</span>
                                                    </td>
                                                </tr>
                                                <tr><td style="height: 10px"></td></tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <textarea style="resize:none" class="form-control" id="cl-qn-comments{{number + 1}}" rows="2" style="width: 525px; height: 49px;">{{clientQuestion.recruiterComment}}</textarea>
                                                        <div ng-if="clientQuestion.recruiterName != null">
                                                            <span style="color: #5C5858; font-size: 11px; float:right;"> Recorded by {{clientQuestion.recruiterName}} on {{clientQuestion.questionareDateTime | date : "dd-MM-yyyy h:mma" }}</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="{{jobMatchId}}" class="panel panel-default" ng-repeat="jobMatchId in clientListJobMatchDetails[clientKey]">
                                    <header class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#jobQns{{jobMatchId}}">
                                                Job : {{jobDetails[jobMatchId].title}}&nbsp;&nbsp;<span ng-if="!checkifJobCompleted(jobMatchId)" style="color: #ff0000; font-size: 11px">Not Completed</span><span ng-if="checkifJobCompleted(jobMatchId)" style="color: #008000; font-size: 11px">Completed</span>
                                            </a>
                                        </h4>

                                    </header>

                                    <div id="jobQns{{jobMatchId}}" class = "{{getJobClass(jobMatchId)}}">
                                        <div class="panel-body">
                                            <table width="95%" ng-repeat="jobQuestion in jobQuestionsResults[jobMatchId]" ng-init="jobNo = countJobQns()">
                                                <tr>
                                                    <td colspan="2">
                                                        <span id="job-qn{{jobMatchId}}">{{$index + 1}}. {{jobQuestion.question}}</span>
                                                        <input id="job-qn-no{{jobMatchId}}" type="hidden" value="{{jobNo + 1}}" />
                                                        <br/><br/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="120px">Rating : </td>
                                                    <td style="width: 400px;"><div id="job-qn-slider"></div></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td style="text-align: center">
                                                        <span id="job-qn-rating{{jobNo + 1}}" class="slider-label">{{jobQuestion.rating}}</span>
                                                    </td>
                                                </tr>
                                                <tr><td style="height: 10px"></td></tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <textarea style="resize:none" class="form-control" id="job-qn-comments{{jobNo + 1}}" rows="2" style="width: 525px; height: 49px;">{{jobQuestion.recruiterComment}}</textarea>

                                                        <div ng-if="jobQuestion.recruiterName != null">
                                                            <span style="color: #5C5858; font-size: 11px; float:right;"> Recorded by {{jobQuestion.recruiterName}} on {{jobQuestion.questionareDateTime | date : "dd-MM-yyyy h:mma" }}</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table width="100%" style="margin-top: 5px;">
                        <tr>
                            <td style="padding: 0px; margin: 0px;">
                                <div class="panel panel-default">
                                    <header class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#overall">
                                                Overall comments &nbsp;&nbsp;<span ng-if="!checkifCompanyOverallCompleted()" style="color: #ff0000; font-size: 11px">Not Completed</span><span ng-if="checkifCompanyOverallCompleted()" style="color: #008000; font-size: 11px">Completed</span>

                                            </a>
                                        </h4>
                                    </header>
                                    <div id="overall"  class = "{{getOverallClass()}}"  ng-repeat="(key, val) in companyQuestionsResults">
                                        <div class="panel-body">
                                            <table width="95%" ng-repeat="overallQn in val  | filter: filterFunctionForOverall" ng-init="$last && initializeSliders(); filterByInterested()">
                                                <tr>
                                                    <td colspan="2">
                                                        <span id="overall-qn">{{overallQn.question}}</span>
                                                        <br/><br/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="120px">Rating : </td>
                                                    <td style="width: 400px;"><div id="overall-qn-slider"></div></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td style="text-align: center">
                                                        <span id="overall-qn-rating" class="slider-label">{{overallQn.rating}}</span>
                                                    </td>
                                                </tr>
                                                <tr><td style="height: 10px"></td></tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <textarea style="resize:none" class="form-control" id="overall-qn-comments" rows="2" style="width: 525px; height: 49px;">{{overallQn.recruiterComment}}</textarea>
                                                        <div ng-if="overallQn.recruiterName != null">
                                                            <span style="color: #5C5858; font-size: 11px; float:right;"> Recorded by {{overallQn.recruiterName}} on {{overallQn.questionareDateTime | date : "MM-dd-yyyy  h:mma" }}</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="clearObjects()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveResults()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div style="margin: 10px;" class="pull-left">
            <soan ng-if="filterType === 'requisition'">{{requisitionRoleFilter}} | {{requistionCompanyFilter}}</span> <span ng-if="filterType === 'teamMember'">{{ctrl.teamMemberFilter}}</span>
        </div>
        <div style="margin: 10px;" class="pull-right">
            <span title="Click to show / hide the filter" class="pull-right filter-icon" ng-click="toggleInputBox()"><i
                    class="fa fa-filter fa-2x cursor-point" ng-model="hideDom"
                    aria-hidden="true" id="open-filter"></i></span>
        </div>
        <div style="margin: 10px;" class="pull-right" ng-hide="inputTextbox">
            <input class="text-center filter-style" type="text" placeholder="type to filter" ng-hide="hideDom" ng-model="searchTerm" />
        </div>
        <div style="margin: 10px;" class="pull-right">
            <!--<input class="btn btn-primary" type="button" ng-click="candidates.compareCandidates()" value="Compare Candidates">-->
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="showrecruiterquestions()" data-toggle="modal" data-target="#questionsModal">
                    Communication
                </button>
                <button type="button" class="btn btn-primary">Actions</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-click="compareCandidates()"><a href="">Compare
                        Candidates</a></li>
                    <li class="divider"></li>
                    <li><a href="">Release Candidates</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--Filter Starts-->
<div class="row">
    <div class="col-xs-12" id="search-panel" style="display: none;">
        <div class="main-box" style="padding-top: 1%;">
            <div class="main-box-body clearfix">
                <form role="form" ng-submit="searchBasedOnFilters(Filter)" name="" novalidate>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12">

                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <div class="form-group" ng-if="companyType === 'StaffingCompany'">
                                    <label for="client" >{{MESSAGECONSTANTS.LABLES.CLIENT}}</label>
                                    <select class="form-control access inputBoxBorder" ng-model="Filter.Company" name="company" id="company" required>
                                        <option value="Company 1">Client 1</option>
                                        <option value="Company 2">Client 2</option>
                                        <option value="Company 3">Client 3</option>
                                        <option value="Company 4">Client 4</option>
                                    </select>
                                </div>
                                <div class="form-group" ng-if="companyType === 'Corporation'">
                                    <label for="client" >{{MESSAGECONSTANTS.LABLES.BU}}</label>
                                    <select class="form-control access inputBoxBorder" ng-model="Filter.Company" name="company" id="company" required>
                                        <option value="Company 1">BU 1</option>
                                        <option value="Company 2">BU 2</option>
                                        <option value="Company 3">BU 3</option>
                                        <option value="Company 4">BU 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <div class="form-group">
                                    <label for="company">Role</label> <select class="form-control access inputBoxBorder" ng-model="Filter.Company"
                                                                              name="company" id="company" required>
                                    <option value="Company 1">Sr Developer</option>
                                    <option value="Company 3">Manager</option>
                                </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <div class="form-group">
                                    <label for="role">Requistion Status</label> <select class="form-control access inputBoxBorder" ng-model="Filter.Role"
                                                                                        name="role" id="role" required>
                                    <option value="Role 1">Open</option>
                                    <option value="Role 2">Closed</option>
                                </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <div class="form-group">
                                    <label for="role">Requistion Number</label> <select class="form-control access inputBoxBorder" ng-model="Filter.Role"
                                                                                        name="role" id="role" required>
                                    <option value="Role 1">1</option>
                                    <option value="Role 2">2</option>
                                    <option value="Role 3">3</option>
                                    <option value="Role 4">4</option>
                                </select>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-3 col-md-33">
                                <div class="form-group">
                                    <label for="role">State</label> <select class="form-control access inputBoxBorder" ng-model="Filter.Role"
                                                                            name="role" id="role" required>
                                    <option value="Role 1">In Tech Assessment</option>
                                    <option value="Role 2">Qualified</option>
                                    <option value="Role 3">Value Assessment</option>
                                    <option value="Role 4">Verification</option>
                                    <option value="Role 3">Golden Standard</option>
                                    <option value="Role 4">Released</option>
                                </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <div class="form-group">
                                    <label for="role">Recruiter</label> <select class="form-control access inputBoxBorder" ng-model="Filter.Role"
                                                                                name="role" id="role" required>
                                    <option value="Role 1">Recruiter 1</option>
                                    <option value="Role 2">Recruiter 2</option>
                                    <option value="Role 3">Recruiter 3</option>
                                </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <div class="form-group">
                                    <label for="role">First Name</label>
                                    <input type="text" name="firstName" value="" class="inputBoxTransactionRequisition inputBoxBorder">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <div class="form-group">
                                    <label for="role">Last Name</label>
                                    <input type="text" name="lastName" value="" class="inputBoxTransactionRequisition inputBoxBorder">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <div class="form-group">
                                    <label for="role">Phone</label>
                                    <input type="text" name="phone" value="" class="inputBoxTransactionRequisition inputBoxBorder">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <div class="form-group">
                                    <label for="role">Email</label>
                                    <input type="text" name="email" value="" class="inputBoxTransactionRequisition inputBoxBorder">
                                    <!--<div isteven-multi-select input-model="emails" output-model="selectedEmails"
                                        button-label="icon name" item-label="icon name maker" tick-property="ticked" helper-elements="all filter" style="width: 100%;">
                                    </div>-->
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <div class="form-group">
                                    <label for="role">Sort By</label> <select class="form-control access inputBoxBorder" ng-model="Filter.Role"
                                                                              name="role" id="role" required>
                                    <option value="Role 1">Most Recent</option>
                                    <option value="Role 2">Score</option>
                                </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pull-right">
                        <div class="col-lg-12 col-md-12 col-sm-12 searchButtonColumn">
                            <div class="form-group" id="searchButton">
                                <button type="submit" class="btn btn-success col-xs-12 searchButtonFilter">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Filter Ends-->
<div class="row row-horizon rowheight">
    <!-- passive candidates columns -->
    <div id="soft-candidates-column" class="col-xs-3 candidate-state-column " ng-if="candidatesType === 'passive'">
        <div class="main-box candidate-state-wrapper">
            <div class="candidate-state-wrapper-title">
                <div class="pull-left candidate-state-wrapper-title-name">Soft Qualified
                </div>
                <div class="pull-right">
                    <span id="soft-candidates-column-toogle-icon" class="fa fa-chevron-circle-left" ng-click="toggleView('soft');" title="Collapse Column"></span>
                </div>
            </div>
            <div class="candidate-state-wrapper-list">
                <ul dnd-list="softQualifiedCandidatesData" style="list-style: none outside none;">
                    <candidate-job-card candidates-data="softQualifiedCandidatesData" candidate-type="candidatesType"
                                        filter-criteria="searchCandidates" remove-from-list="removeItemFromList"
                                        candidate-click-callback="addOrRemoveFromCompare(candidateObj,event)"
                                        candidate-state="SoftQualified">
                    </candidate-job-card>
                </ul>
            </div>
        </div>
    </div>
    <div id="outreach-candidates-column" class="col-xs-3 candidate-state-column " ng-if="candidatesType === 'passive'">
        <div class="main-box candidate-state-wrapper">
            <div class="candidate-state-wrapper-title">
                <div class="pull-left candidate-state-wrapper-title-name">Outreach</div>
                <div class="pull-right">
                    <span id="outreach-candidates-column-toogle-icon" class="fa fa-chevron-circle-left" ng-click="toggleView('outreach');" title="Collapse Column"></span>
                </div>
            </div>
            <div class="candidate-state-wrapper-list">
                <ul dnd-list="outReachCandidatesData" style="list-style: none outside none;">
                    <candidate-job-card candidates-data="outReachCandidatesData" candidate-type="candidatesType"
                                        filter-criteria="searchCandidates" remove-from-list="removeItemFromList"
                                        candidate-click-callback="addOrRemoveFromCompare(candidateObj,event)"
                                        candidate-state="Outreach">
                    </candidate-job-card>
                </ul>
            </div>
        </div>
    </div>
    <!--<div id="responded-candidates-column" class="col-xs-3 candidate-state-column" ng-if="candidatesType === 'passive'">
		<div class="main-box candidate-state-wrapper">
			<div class="candidate-state-wrapper-title">
				<div class="pull-left candidate-state-wrapper-title-name">Responded</div>
				<div class="pull-right">
					<span id="responded-candidates-column-toogle-icon" class="fa fa-chevron-circle-left" ng-click="toggleView('responded');"
						title="Collapse Column"></span>
				</div>
			</div>
			<div class="candidate-state-wrapper-list">
				<ul dnd-list="respondedCandidatesData" style="list-style: none outside none;">
					<candidate-job-card candidates-data="respondedCandidatesData" candidate-type="candidatesType" filter-criteria="searchCandidates"
						remove-from-list="removeItemFromList" candidate-click-callback="addOrRemoveFromCompare(candidateObj,event)">
					</candidate-job-card>
				</ul>
			</div>
		</div>
	</div>-->
    <div id="not-interested-candidates-column" class="col-xs-3 candidate-state-column " ng-if="candidatesType === 'passive'">
        <div class="main-box candidate-state-wrapper">
            <div class="candidate-state-wrapper-title">
                <div class="pull-left candidate-state-wrapper-title-name">Not Interested
                </div>
                <div class="pull-right">
                    <span id="not-interested-candidates-column-toogle-icon" class="fa fa-chevron-circle-left" ng-click="toggleView('not-interested');" title="Collapse Column"></span>
                </div>
            </div>
            <div class="candidate-state-wrapper-list">
                <ul dnd-list="notInterestedCandidatesData" style="list-style: none outside none;">
                    <candidate-job-card candidates-data="notInterestedCandidatesData" candidate-type="candidatesType"
                                        filter-criteria="searchCandidates" remove-from-list="removeItemFromList"
                                        candidate-click-callback="addOrRemoveFromCompare(candidateObj,event)"
                                        candidate-state="NotInterested">
                    </candidate-job-card>
                </ul>
            </div>
        </div>
    </div>
    <div id="activated-candidates-column" class="col-xs-3 candidate-state-column " ng-if="candidatesType === 'passive'">
        <div class="main-box candidate-state-wrapper">
            <div class="candidate-state-wrapper-title">
                <div class="pull-left candidate-state-wrapper-title-name">Activated</div>
                <div class="pull-right">
                    <span id="activated-candidates-column-toogle-icon" class="fa fa-chevron-circle-left" ng-click="toggleView('activated');" title="Collapse Column"></span>
                </div>
            </div>
            <div class="candidate-state-wrapper-list">
                <ul dnd-list="activatedCandidatesData" style="list-style: none outside none;">
                    <candidate-job-card candidates-data="activatedCandidatesData" candidate-type="candidatesType"
                                        filter-criteria="searchCandidates" remove-from-list="removeItemFromList"
                                        candidate-click-callback="addOrRemoveFromCompare(candidateObj,event)"
                                        candidate-state="Activated">
                    </candidate-job-card>
                </ul>
            </div>
        </div>
    </div>
    <div id="released-candidates-column" class="col-xs-3 candidate-state-column " ng-if="candidatesType === 'passive'">
        <div class="main-box candidate-state-wrapper">
            <div class="candidate-state-wrapper-title">
                <div class="pull-left candidate-state-wrapper-title-name">Released</div>
                <div class="pull-right">
                    <span id="released-candidates-column-toogle-icon" class="fa fa-chevron-circle-left" ng-click="toggleView('released');" title="Collapse Column"></span>
                </div>
            </div>
            <div class="candidate-state-wrapper-list">
                <ul dnd-list="respondedCandidatesData" style="list-style: none outside none;">
                    <candidate-job-card candidates-data="respondedCandidatesData" candidate-type="candidatesType"
                                        filter-criteria="searchCandidates" remove-from-list="removeItemFromList"
                                        candidate-click-callback="addOrRemoveFromCompare(candidateObj,event)"
                                        candidate-state="Responded">
                    </candidate-job-card>
                </ul>
            </div>
        </div>
    </div>
</div>