<div class="approw" id="printThisElement">
    <div class="row">
        <div class="col-lg-12">
            <div id="content-header" class="clearfix">
                <div class="pull-left">
                    <ol class="breadcrumb">
                        <li><a ui-sref="missioncontrol.dashboard">Home</a></li>
                        <li class="active"><span>Report - {{reportTypeLabel}}</span></li>
                    </ol>
                    <h1 class="heading-css" ng-bind="reportTypeLabel"></h1>
                </div>
                <!--<div style="margin: 10px;" class="text-right">
                    <button id="addUserButton" class="btn btn-primary" ng-if="hasAccess('Manage User Profile')" ui-sref="missioncontrol.usermanagement({manager : userDetails,accessMode : 'create'})"
                        ui-sref-opts="{reload : true}">Add User</button>
                </div>-->
                <div class="pull-right" style="margin-right: 3%;margin-top: 1%;">
                    <button id="cmd" ng-click="download()" approw class="btn btn-primary">Download pdf</button>
                    <button class="btn btn-primary" ng-print print-element-id="printThisElement"><i class="fa fa-print"></i> Print</button>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
    <div id="content">
        <div class="row">
            <div class="col-md-12">
                <div class="main-box">
                    <header class="main-box-header clearfix">
                        <div ng-if="userDetails.company.companyType === MESSAGECONSTANTS.COMPANY_TYPES.STAFFING" class="col-lg-1 pull-left team-members-select-label">
                            Client
                        </div>
                        <div ng-if="userDetails.company.companyType === MESSAGECONSTANTS.COMPANY_TYPES.CORPORATE && bulist.length" class="col-lg-1 pull-left team-members-select-label">
                            Bu
                        </div>
                        <div class="pull-left team-members-multi-select" style="width: 20%;">
                            <div ng-if="userDetails.company.companyType === MESSAGECONSTANTS.COMPANY_TYPES.STAFFING" class="clientmulti" isteven-multi-select
                                input-model="clientlist" output-model="selectedclient" button-label="name" item-label="name"
                                helper-elements="all filter" on-select-all="client(clientlist)" max-labels="4" tick-property="selected"
                                search-property="name" on-close="client(selectedclient)" max-height="200px">
                            </div>
                            <div ng-if="userDetails.company.companyType === MESSAGECONSTANTS.COMPANY_TYPES.CORPORATE && bulist.length" class="bumulti"
                                isteven-multi-select input-model="bulist" output-model="selectedbu" button-label="name" item-label="name"
                                helper-elements="all filter" on-select-all="bu(bulist)" max-labels="4" tick-property="selected"
                                search-property="name" on-close="bu(selectedbu)" max-height="200px">
                            </div>
                        </div>

                        <div class="col-lg-2 team-members-select-label">
                            Select Requisition Roles
                        </div>
                        <div class="col-lg-2">
                            <select name="requisitionRole" id="requisitionRole" ng-model="requisitionRole" ng-options="requisitionRole as requisitionRole for requisitionRole in RequisitonRoles"
                                class="form-control access" ng-change="roleSelected(requisitionRole)">
                        <option value="" ng-if="false"></option>
                    </select>
                        </div>
                        <div class="col-lg-2 team-members-select-label">
                            Select Source Types
                        </div>
                        <div class="col-lg-2 team-members-multi-select" style="width: 20%;">
                            <div isteven-multi-select input-model="sources" output-model="selectedsourcetypeList" button-label="Type" item-label="Type"
                                helper-elements="all filter" on-select-all="selectedsourceTypeList(sources)" max-labels="4" tick-property="ticked"
                                on-close="selectedsourceTypeList(selectedsourcetypeList)" max-height="200px">
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary" ng-click="search()">Search</button>
                        </div>
                </div>

                </header>
            </div>
        </div>
    </div>
    <div class="row" ng-repeat=" source in selectedsourceList">
        <div class="col-md-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    <h2 class="pull-left">{{ source.Type}}</h2>
                </header>

                <div class="main-box-body clearfix">
                    <div class="row">
                        <div class="col-md-9">
                            <div id="{{ source.id}}-graph-bar" style="height: 240px; padding: 0px; position: relative;"></div>
                        </div>
                        <div class="col-md-3">
                            <ul class="graph-stats">
                                <li>
                                    <div class="clearfix">
                                        <div class="title pull-left"> # Sourced </div>
                                        <div class="value pull-right" title="{{ source.Sourced}}" data-toggle="tooltip">
                                            {{ source.Sourced}}
                                            <!-- 60 <i class="fa fa-level-down red"></i>  -->
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div style="width: {{ source.Sourced *100 /1000}}%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="9.2" role="progressbar"
                                            class="progress-bar progress-bar-danger">
                                            <span class="sr-only">{{ source.Sourced}}% Complete</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="clearfix">
                                        <div class="title pull-left">
                                            % Gold Candidates
                                        </div>
                                        <div class="value pull-right" title="{{source.Gold_Candidates}}" data-toggle="tooltip">
                                            {{source.Gold_Candidates}}
                                            <!-- 3.930 <i class="fa fa-level-up green"></i>  -->
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div style="width: {{source.Gold_Candidates}}%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1.67" role="progressbar"
                                            class="progress-bar progress-bar-info">
                                            <span class="sr-only">{{source.Gold_Candidates}}% Complete</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="clearfix">
                                        <div class="title pull-left">
                                            % Hired
                                        </div>
                                        <div class="value pull-right" title="{{ source.Hired_pre}}" data-toggle="tooltip">
                                            {{ source.Hired_pre}}
                                            <!-- 894 <i class="fa fa-level-up green"></i>  -->
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div style="width: {{ source.Hired_pre}}%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1.67" role="progressbar"
                                            class="progress-bar progress-bar-warning">
                                            <span class="sr-only">{{ source.Hired_pre}}% Complete</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="clearfix">
                                        <div class="title pull-left">
                                            # Hired
                                        </div>
                                        <div class="value pull-right" title="{{source.Hired}}" data-toggle="tooltip">
                                            {{ source.Hired}}
                                            <!-- 824.418 <i class="fa fa-level-down red"></i>  -->
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div style="width: {{source.Hired}}%;" aria-valuemax="60" aria-valuemin="0" aria-valuenow="1.6" role="progressbar" class="progress-bar progress-bar-success">
                                            <span class="sr-only">{{abc.Hired}}% Complete</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="text-center"><strong>Past Six Months</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script>

</script>
