<style>
    .spinner:before {
        background-color: rgba(49, 37, 37, 0.2);
        border-radius: 6px;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: fixed;
        content: " ";
    }
    
    button:focus {
    	outline:0 !important;
    }
        
    #maskedWorkPhone::-webkit-input-placeholder { /* WebKit browsers */
	    color:    #fff;
	}
	#maskedWorkPhone:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color:    #fff;
		opacity:  1;
	}
	#maskedWorkPhone::-moz-placeholder { /* Mozilla Firefox 19+ */
		color:    #fff;
		opacity:  1;
	}
	#maskedWorkPhone:-ms-input-placeholder { /* Internet Explorer 10+ */
		color:    #fff;
	}
	
	#maskedWorkPhone1::-webkit-input-placeholder { /* WebKit browsers */
	    color:    #fff;
	}
	#maskedWorkPhone1:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color:    #fff;
		opacity:  1;
	}
	#maskedWorkPhone1::-moz-placeholder { /* Mozilla Firefox 19+ */
		color:    #fff;
		opacity:  1;
	}
	#maskedWorkPhone1:-ms-input-placeholder { /* Internet Explorer 10+ */
		color:    #fff;
	}
    
    #maskedWorkPhoneSecondary::-webkit-input-placeholder { /* WebKit browsers */
	    color:    #fff;
	}
	#maskedWorkPhoneSecondary:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color:    #fff;
		opacity:  1;
	}
	#maskedWorkPhoneSecondary::-moz-placeholder { /* Mozilla Firefox 19+ */
		color:    #fff;
		opacity:  1;
	}
	#maskedWorkPhoneSecondary:-ms-input-placeholder { /* Internet Explorer 10+ */
		color:    #fff;
	}
	
	#maskedMobilePhoneSecondary::-webkit-input-placeholder { /* WebKit browsers */
	    color:    #fff;
	}
	#maskedMobilePhoneSecondary:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color:    #fff;
		opacity:  1;
	}
	#maskedMobilePhoneSecondary::-moz-placeholder { /* Mozilla Firefox 19+ */
		color:    #fff;
		opacity:  1;
	}
	#maskedMobilePhoneSecondary:-ms-input-placeholder { /* Internet Explorer 10+ */
		color:    #fff;
	}
    
    .scopes {
        font-size: 0.875em;
    }
    
    .scopeslabel {
        font-weight: 700;
    }
    
    .checkbox {
        padding-left: 4%;
    }
    
    .scopesall {
        font-size: 0.75em;
    }

	.disabledworkflow{
		color: grey;
	}

	.innerobjects{
		margin-left: 3%;
	}

	/*.disabledworkflow:after {
		opacity: 0.3 !important;
	}*/

	.checkbox-nice input[type=checkbox]:checked+label.disabledworkflow:after {
		opacity: 0.3 !important;
	}

	.disabledworkflowmessage{
		/*color: #ccc;*/
		color : gray;
		/*padding-left: 26%;*/
	}

	.disablemultiselect {
		background-color: #eee;
		border-color: #e7ebee;
		cursor: not-allowed;
	}

	.disableindustry {
		background-color: #eee;
		border-color: #e7ebee;
		pointer-events: none;
		cursor: not-allowed;
	}

	.disablemultiselect button {
		cursor: not-allowed;
		color: #555;
		pointer-events: none;
		border-color: #e7ebee;
	}

	/*.flag-container{
		cursor: not-allowed;
		color: #555;
		pointer-events: none;
		border-color: #e7ebee;
	}*/

	.validatemultiselect button{
		border-color: red;
	}

	.industriespanel{
		border-color: red;
	}

	.intl-tel-input{
    	width: 100%;
	}
	.multiSelect > button {
		width: 100%;
		text-align: left;
	}

	.multiSelect .checkboxLayer {
    	width: 98%;
	}

	.company-img {
		height: 120px;
		border: 1px solid #eee;
	}

	input[type="file"] {
    	display: none;
	}
	.profile-img {
		height: 120px;
		border: 1px solid #eee;
	}
	.custom-file-upload {
		border: 1px solid #ccc;
		display: inline-block;
		padding: 6px 12px;
		cursor: pointer;
	}
	#user-profile {
		margin-top: 25px;
	}
	.licensePreferenceMessage{
		font-size:0.9em;
	}

	.licensePreferenceName{
		font-size:14px;
	}
    /*.multiSelect > button {
		border-color: red;
	}*/
</style>
<div class="approw">
    <div class="row">
        <div class="col-lg-12">
            <div id="content-header" class="clearfix">
                <div class="pull-left">
                    <ol class="breadcrumb">
                        <li>
							<a ui-sref="missioncontrol.dashboard" ng-if="(userDetails.company.companyId !== null) && (userDetails.company.companyState !== 'Draft')">{{MESSAGECONSTANTS.BREADCRUMBS.HOME}}</a>
							<a ng-if="(userDetails.company.companyId === null) || (userDetails.company.companyState === 'Draft')" >{{MESSAGECONSTANTS.BREADCRUMBS.HOME}}</a>
						</li>
                        <li ng-if="userDetails.company.companyType == 'StaffingCompany'" class="active"><span>{{MESSAGECONSTANTS.BREADCRUMBS.CLIENT_MANAGEMENT}}</span></li>
                        <li ng-if="userDetails.company.companyType == 'Corporation'" class="active"><span>{{MESSAGECONSTANTS.BREADCRUMBS.BU_MANAGEMENT}}</span></li>
                    </ol>
                    <h1 class ="heading-css" ng-if="TypeOfCompany == 'Company' || TypeOfCompany == 'Host'">{{MESSAGECONSTANTS.BREADCRUMBS.COMPANY_MANAGEMENT}}</h1>

                    <h1 title="{{editCompanyNameOnHover}}" class ="heading-css" ng-if="TypeOfCompany == 'Client' && !ClientOrBuUpdate">{{MESSAGECONSTANTS.BREADCRUMBS.CLIENT_MANAGEMENT}} </h1>
					<h1 title="{{editCompanyNameOnHover}}" class ="heading-css" ng-if="TypeOfCompany == 'Client' && ClientOrBuUpdate && CompanyManagement.companyState != 'Draft'">{{MESSAGECONSTANTS.BREADCRUMBS.EDIT}} {{"'"+editCompanyName+"'"}}</h1>
					<h1 title="{{editCompanyNameOnHover}}" class ="heading-css" ng-if="TypeOfCompany == 'Client' && ClientOrBuUpdate && CompanyManagement.companyState == 'Draft'">{{MESSAGECONSTANTS.BREADCRUMBS.EDIT}} {{"'"+editCompanyName+"'"}} ({{CompanyManagement.companyState}})</h1>
                    <h1 title="{{editCompanyNameOnHover}}" class ="heading-css" ng-if="TypeOfCompany == 'BusinessUnit' && !ClientOrBuUpdate">{{MESSAGECONSTANTS.BREADCRUMBS.BU_MANAGEMENT}}</h1>
					<h1 title="{{editCompanyNameOnHover}}" class ="heading-css" ng-if="TypeOfCompany == 'BusinessUnit' && ClientOrBuUpdate && CompanyManagement.companyState != 'Draft'">{{MESSAGECONSTANTS.BREADCRUMBS.EDIT}} {{"'"+editCompanyName+"'"}}</h1>
					<h1 title="{{editCompanyNameOnHover}}" class ="heading-css" ng-if="TypeOfCompany == 'BusinessUnit' && ClientOrBuUpdate && CompanyManagement.companyState == 'Draft'">{{MESSAGECONSTANTS.BREADCRUMBS.EDIT}} {{"'"+editCompanyName+"'"}} ({{CompanyManagement.companyState}})</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row fuelux">
        <div class="col-lg-12">
            <div class="main-box clearfix" style="min-height: 820px;">
                <header ng-if="TypeOfCompany == 'Company' && ShowCreateCompanyHeading != false && HostCompanySelected != true" class="main-box-header clearfix">
                    <h2>{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.CREATE_COMPANY}}</h2>
                </header>
                <header ng-if="TypeOfCompany == 'Client' && ClientOrBuUpdate == false" class="main-box-header clearfix">
                    <h2>{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.CREATE_CLIENT}}</h2>
                </header>
                <header ng-if="TypeOfCompany == 'BusinessUnit'  && ClientOrBuUpdate == false" class="main-box-header clearfix">
                    <h2 style="color: #03a9f4;"><b>{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.CREATE_BU}}</b></h2>
                </header>
                <header ng-if="HostCompanySelected == false && (userDetails.roleScreenRef.role.name == '4dot5SuperUser')" class="main-box-header clearfix" style="text-align: right;">
                    <button type="button" class="btn btn-danger btn-mini"  data-toggle="modal" data-target="#deleteconfirm"> <span><i class="fa fa-eraser"></i></span> {{MESSAGECONSTANTS.BUTTONS.COMPANY_MANAGEMENT_PAGE.DELETE}}</button>
                </header>

				<div class="main-box-body clearfix wizardmainbox">
					<div id="myWizard" data-initialize="wizard" class="wizard">
						<div class="steps-container">
							<ul class="steps">
								<li ng-if="TypeOfCompany == 'Company' || TypeOfCompany == 'Host'" ng-click="getStepChanges(1)" data-name="{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.COMPANY_DETAILS}}" data-step="1"
									id="1" class="steps active"><span data="1" value="one" class="badge badge-primary">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.STEP_ONE}}</span><span class="align-middle">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.COMPANY_DETAILS}}</span>
									<span class="chevron"></span>
								</li>
								<li ng-if="TypeOfCompany == 'Client'" ng-click="getStepChanges(1)" data-name="{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.CLIENT_DETAILS}}" data-step="1" id="1"
									class="steps active"><span data="1" value="one" class="badge badge-primary">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.STEP_ONE}}</span><span class="align-middle">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.CLIENT_DETAILS}}</span>
									<span class="chevron"></span>
								</li>
								<li ng-if="TypeOfCompany == 'BusinessUnit'" ng-click="getStepChanges(1)" data-name="{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.CLIENT_DETAILS}}" data-step="1" id="1"
									class="steps active"><span data="1" value="one" class="badge badge-primary">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.STEP_ONE}}</span><span class="align-middle">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.BU_DETAILS}}</span>
									<span class="chevron"></span>
								</li>
								<li data-step="2" ng-click="getStepChanges(2)" data-name="{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.PRIMARY_CONTACT}}" id="2" class="steps"><span data="2" value="two" class="badge">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.STEP_TWO}}</span><span class="align-middle">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.PRIMARY_CONTACT}}</span>
									<span class="chevron"></span>
								</li>
								<li ng-if="TypeOfCompany == 'Client' || TypeOfCompany == 'BusinessUnit'" ng-click="getStepChanges(3)" data-step="4" data-name="{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.LICENCE_PREFERENCES}}"
									id="3" class="steps"><span data="3" value="three" class="badge">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.STEP_THREE}}</span><span class="align-middle">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.LICENCE_PREFERENCES}}</span>
									<span class="chevron"></span>
								</li>
							</ul>
						</div>

						<div class="actions">
							<button ng-click="prevbtnclicked()" type="button" class="btn btn-info btn-prev">
								<span class="glyphicon glyphicon-arrow-left"></span>{{MESSAGECONSTANTS.BUTTONS.COMPANY_MANAGEMENT_PAGE.PREVIOUS}} </button>
							<button type="button" class="btn btn-info btn-save" ng-click="saveStepsData(company,contactPerson,FourDotFiveAdmin)" ng-if="accessMode !== 'accessMode' && CompanyDetailsUpdateMode != false"><span>
								 <i class="fa fa-save"></i> {{MESSAGECONSTANTS.BUTTONS.COMPANY_MANAGEMENT_PAGE.SAVE}} </span></button>
							<button type="button" class="btn btn-info btn-save" ng-click="saveStepsData(company,contactPerson,FourDotFiveAdmin)" ng-if="accessMode === 'accessMode'"><span>
								 <i class="fa fa-save"></i> {{MESSAGECONSTANTS.BUTTONS.COMPANY_MANAGEMENT_PAGE.SAVE}} </span></button>
							<button type="button" class="btn btn-info btn-next" data-last="{{dataLastLabel}}" ng-click="manageStepData(company,contactPerson,FourDotFiveAdmin)" > {{MESSAGECONSTANTS.BUTTONS.COMPANY_MANAGEMENT_PAGE.NEXT}}
								 <span class="glyphicon glyphicon-arrow-right"></span></button>
							
							<button type="reset" ng-if="CompanyDetailsUpdateMode != false" ng-click="cancel()" class="btn btn-danger btn-cancel"><span class="glyphicon glyphicon-remove"></span> {{MESSAGECONSTANTS.BUTTONS.COMPANY_MANAGEMENT_PAGE.CANCEL}}</button>
						</div>
						<div class="step-content hig">
							<div class="step-pane active sample-pane alert" data-step="1">
								<div class="row">
									<div class="col-xs-12">
										<!--<div class="main-box">-->
										<header class="main-box-header clearfix col-xs-offset-2 col-xs-10">
											<h2 ng-if="(step1formsubmitted && (form.companydetailsform.$error.required))" class="has-error"><span class="help-block"> <em>*</em>  {{MESSAGECONSTANTS.COMPANY_MANAGEMENT.ENTER_MANDATORY_FIELDS}}</span></h2>
										</header>
										<div class="col-lg-6 col-lg-offset-1">
											<form role="form" name="form.companydetailsform" novalidate>
												<div ng-if="HostCompanySelected" class="form-group" ng-class="{'has-error':(step1formsubmitted && form.companydetailsform.companyType.$invalid)}">
													<label for="companytype">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.COMPANY_TYPE}}<em> * </em> : </label>
													<input disabled readonly ng-model ="CompanyManagement.company.companyType" type="text" class="form-control" name="companyType"
														id="companyType" required>
												</div>
												<div ng-if="TypeOfCompany == 'Company' && !HostCompanySelected" class="form-group" ng-class="{'has-error':(step1formsubmitted && CompanyManagement.company.companyType == null)}">
													<label for="companyTpe">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.COMPANY_TYPE}}<em> * </em> : </label>
													<select ng-readonly="CompanyDetailsUpdateMode || userDetails.roleScreenRef.role.name == 'StaffingAdmin'" ng-disabled="CompanyDetailsUpdateMode || userDetails.roleScreenRef.role.name == 'StaffingAdmin'" name="companyTpe"
														id="companyTpe" ng-model="CompanyManagement.company.companyType" ng-options="companyType as companyType for companyType in CompanyTypes"
														class="form-control access" required>
														<option value="" ng-if="false"></option>
													</select>
												</div>
												<div class="form-group" ng-class="{'has-error':(step1formsubmitted && form.companydetailsform.companyShortName.$invalid)}">
													<label for="companyShortName" class="control-label">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.COMPANY_SHORT_NAME}}<em> * </em> : </label>
													<input ng-model="CompanyManagement.company.companyShortName" type="text" class="form-control hostaccess" name="companyShortName"
														id="companyShortName" maxlength="100" allow-pattern="[0-9A-Za-z ,-.-/']" ng-pattern="/^[0-9A-Za-z ,-.-/']*$/" required ng-focus="form.companydetailsform.companyShortName.focused = true" ng-blur="form.companydetailsform.companyShortName.focused = false">
													<div style="color:red;" ng-if="!form.companydetailsform.companyShortName.focused && form.companydetailsform.companyShortName.$error.pattern"
													 ng-message="pattern">{{MESSAGECONSTANTS.COMMONVALIDATIONS.COMPANYSHORTNAME}} </div>
												</div>
												<div class="form-group" ng-class="{'has-error':(step1formsubmitted && form.companydetailsform.name.$invalid)}">
													<label for="name" class="control-label">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.COMPANY_NAME}}<em> * </em> : </label>
													<input ng-model="CompanyManagement.company.name"  maxlength="150" allow-pattern="[0-9A-Za-z ]" ng-pattern="/^[0-9A-Za-z ]*$/" type="text" class="form-control hostaccess" name="name" id="name" required ng-focus="form.companydetailsform.name.focused = true" ng-blur="form.companydetailsform.name.focused = false">
													<div style="color:red;" ng-if="!form.companydetailsform.name.focused && form.companydetailsform.name.$error.pattern"
													 ng-message="pattern">{{MESSAGECONSTANTS.COMMONVALIDATIONS.COMPANYNAME}} </div>
												</div>


												<div class="form-group" ng-class="{'has-error':(step1formsubmitted && form.companydetailsform.address1.$invalid)}">
													<label for="address1" class="control-label">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.ADDRESS_1}}<em> * </em> : </label>
													<div class="checkbox-nice" style="float : right"
													 ng-show="(accessMode !== MESSAGECONSTANTS.ACCESS_MODES.VIEW) && !isSeniorRecruiter(userDetails.roleScreenRef.role) && !isRecruiter(userDetails.roleScreenRef.role) && !isRecruitingManager(userDetails.roleScreenRef.role)">
														<input type="checkbox" id="copyCompanyAddress" ng-click="toggleCopyCompanyAddress(copyCompanyAddress)" />
														<label for="copyCompanyAddress">
															Copy Company Address
														</label>
													</div>
													
													<input style="margin-top: 1%;" ng-model="CompanyManagement.company.address1" type="text" class="form-control access companyaddresscopyenabled"
														name="address1" id="address1" required ng-focus="form.companydetailsform.address1.focused = true" ng-blur="form.companydetailsform.address1.focused = false">
												</div>
												<div class="form-group">
													<label for="address2">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.ADDRESS_2}} : </label>
													<input ng-model="CompanyManagement.company.address2" type="text" class="form-control access companyaddresscopyenabled"
														name="address2" id="address2" ng-focus="form.companydetailsform.address2.focused = true" ng-blur="form.companydetailsform.address2.focused = false">
												</div>
												<div class="error form-group" ng-show="!form.companydetailsform.address1.focused && !form.companydetailsform.address2.focused && !form.companydetailsform.address1.$error.required && CompanyManagement.company.address2 !== '' && ((CompanyManagement.company.address2 | uppercase) === (CompanyManagement.company.address1 | uppercase))">
													<small class="error"> {{MESSAGECONSTANTS.COMMONVALIDATIONS.ADDRESS_CANNOT_BE_SAME}} </small>
												</div>
												<div class="form-group" ng-class="{'has-error':((step1formsubmitted && form.companydetailsform.zipcode.$invalid))}">
													<label for="zipcode" class="control-label">{{MESSAGECONSTANTS.LABLES.ZIPCODE}}
														<em> * </em> :</label>
													<input ng-model="CompanyManagement.company.zipcode" ng-model-options="{'allowInvalid': true}" allow-pattern="(\d|[a-zA-Z0-9])" ng-pattern="/^[a-zA-Z0-9]*$/" minlength="5" maxlength="6" type="text" class="form-control access companyaddresscopyenabled"
														name="zipcode" id="zipcode" required ng-focus="form.companydetailsform.zipcode.visited = false" ng-blur="(form.companydetailsform.zipcode.visited = true) && getZipCodeDetails(CompanyManagement.company.zipcode,'zipchanged')">
													<span class="help-block">ex. 75056 </span>
													<!--{{form.companydetailsform.zipcode.visited}} 2{{form.companydetailsform.zipcode.$valid}} 3{{invalidZipcode}}-->
												</div>
												<div class="error form-group" ng-show="!form.companydetailsform.zipcode.$pristine && form.companydetailsform.zipcode.visited && form.companydetailsform.zipcode.$valid && angular.isDefined(validzipcode) && !validzipcode">
													<small class="error">
															{{MESSAGECONSTANTS.COMMONVALIDATIONS.NO_LOCATION_FOUND}}
													</small>
												</div>
												<div class="error form-group" ng-show="!form.companydetailsform.zipcode.$pristine && form.companydetailsform.zipcode.visited && form.companydetailsform.zipcode.$invalid">
													<small class="error" ng-show="form.companydetailsform.zipcode.$error.pattern">
															{{MESSAGECONSTANTS.COMMONVALIDATIONS.NOT_VALID_ZIPCODE}} 
													</small>
													<small class="error" ng-show="!cancelNotClicked && form.companydetailsform.zipcode.$error.minlength">
															{{MESSAGECONSTANTS.COMMONVALIDATIONS.ZIPCODE_MINLENGTH}} 
													</small>
													<small class="error" ng-show="form.companydetailsform.zipcode.$error.maxlength">
															{{MESSAGECONSTANTS.COMMONVALIDATIONS.ZIPCODE_MAXLENGTH}} 
													</small>
												</div>

												<div class="form-group" ng-class="{'has-error':(step1formsubmitted && form.companydetailsform.city.$invalid)}">
													<label for="city" class="control-label">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.CITY}}<em> * </em> : </label>
													<select class="form-control access companyaddresscopyenabled" name="city" id="city" ng-model="CompanyManagement.company.city"
														ng-change="changeAddressObject('city',CompanyManagement.company.city)" required> 
														<option ng-repeat="geolocation in geoLocations | unique:'city'" value="{{geolocation.city}}">{{geolocation.city}}</option>
														<option value="" ng-if="false"></option>
													</select>
												</div>
												<div class="form-group" ng-class="{'has-error':(step1formsubmitted && form.companydetailsform.state.$invalid)}">
													<label for="addressState" class="control-label">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.STATE}}<em> * </em> : </label>
													<select class="form-control access companyaddresscopyenabled" name="state" id="state" ng-model="CompanyManagement.company.addressState"
														ng-change="changeAddressObject('state',CompanyManagement.company.addressState)" required> 
														<option ng-repeat="geolocation in geoLocations | unique:'state'" value="{{geolocation.state}}">{{geolocation.state}}</option>
														<option value="" ng-if="false"></option>
													</select>
												</div>
												
												<div class="form-group" ng-if="!isCountyExists">
													<label for="companycountyShortName">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.COUNTY}} : </label>
													<input ng-model="CompanyManagement.company.county" type="text" class="form-control access companyaddresscopyenabled" name="county"
														id="companycountyShortName">
												</div>
												
												<div class="form-group" ng-if="isCountyExists">
													<label for="companycountyShortName">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.COUNTY}} : </label>
													<select class="form-control access companyaddresscopyenabled" name="county" id="county" ng-model="CompanyManagement.company.county"
														ng-change="changeAddressObject('county',CompanyManagement.company.county)"> 
														<option ng-repeat="geolocation in geoLocations | unique:'county'" value="{{geolocation.county}}">{{geolocation.county}}</option>
													</select>
												</div>

												<div class="form-group" ng-class="{'has-error':(step1formsubmitted && form.companydetailsform.country.$invalid)}">
													<label for="country" class="control-label">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.COUNTRY}}<em> * </em> : </label>
													<select class="form-control access companyaddresscopyenabled" name="country" id="country" ng-model="CompanyManagement.company.country"
														ng-change="changeAddressObject('country',CompanyManagement.company.country)" required> 
														<option ng-repeat="geolocation in geoLocations | unique:'country'" value="{{geolocation.country}}">{{geolocation.country}}</option>
													</select>
												</div>

												<div class="form-group" ng-class="{'has-error':(step1formsubmitted && form.companydetailsform.description.$invalid)}">
													<label for="description">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.COMPANY_DESCRIPTION}} : </label>
													<input ng-model="CompanyManagement.company.description" type="text" class="form-control access" name="description" id="Description"
														 ng-focus="form.companydetailsform.description.focused = true" ng-blur="form.companydetailsform.description.focused = false">
														<!--<div style="color:red;" ng-if="!form.companydetailsform.description.focused && form.companydetailsform.description.$error.pattern"
													 ng-message="pattern">{{MESSAGECONSTANTS.COMMONVALIDATIONS.DESCRIPTION}} </div>-->
												</div>
											</form>
										</div>
						 				<div class="col-lg-3 col-md-4 col-sm-4 col-lg-offset-1 col-md-offset-1 col-sm-offset-1" id = "user-profile">
											<div class="main-box clearfix">
												<header class="main-box-header clearfix text-center" id="profilepicname"></header>
												<div class="main-box-body clearfix">
													<img src="app-content/img/samples/4dot5-default-no-profile-pic.jpg" data-ng-src="{{profilePic.url}}" alt="Image not found" type="{{profilePic.file.type}}" class="profile-img img-responsive img-circle center-block"/> 
													<div class="profile-label">
														<input id="inputImage" type="file" accept="image/*" image="profilePic" ng-model="profileImage"/>
														<label for="file-upload" class="custom-file-upload">
    														<i class="fa fa-upload"></i>  <span>Select Profile Picture<span>
														</label>
														<button id="selectprofilepic" ng-click="single(profilePic)" hidden></button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="step-pane sample-pane alert" data-step="2">
								<div class="row">
									<div class="col-xs-12">
										<div class="main-box">
											<header class="main-box-header clearfix col-xs-offset-2 col-xs-10">
												<h2 ng-if="(step2formsubmitted && ((form.companycontactpersondetailsform.$error.required
																						|| !isValidPrimaryMobileEntered
																						|| !isValidPrimaryWorkPhoneEntered
																					) ||
																					((form.companysecondarycontactpersondetailsform.$error.required
																						|| !isValidSecondaryMobileEntered
																						|| !isValidSecondaryWorkPhoneEntered
																					) && validateSecondaryDetails)))"
													class="has-error"><span class="help-block"> <em>*</em>  {{MESSAGECONSTANTS.COMPANY_MANAGEMENT.ENTER_MANDATORY_FIELDS}}</span></h2>
											</header>
											<div class="main-box-body clearfix">
												<div class="col-lg-6 col-lg-offset-1">
													<form role="form" name="form.companycontactpersondetailsform" novalidate>
														<div class="form-group" ng-class="{'has-error':(step2formsubmitted && form.companycontactpersondetailsform.firstName.$invalid)}">
															<label for="inputPassword1" class="control-label">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.FIRST_NAME}} <em> * </em> : </label>
															<input type="text" allow-pattern="[a-zA-Z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF'._ -]" ng-pattern="MESSAGECONSTANTS.VALIDATIONPATTERNS.NAME" ng-model="CompanyManagement.contactList[0].firstName" class="form-control access"
															ng-model-options="{'allowInvalid': true}" name="firstName" id="firstName" maxlength="100" ng-model-options="{'allowInvalid': true}" required ng-focus="form.companycontactpersondetailsform.firstName.focused = true" ng-blur="form.companycontactpersondetailsform.firstName.focused = false">
																<div style="color:red;" ng-if="!form.companycontactpersondetailsform.firstName.focused && form.companycontactpersondetailsform.firstName.$error.pattern"
													 			ng-message="pattern">	<small class="error">{{MESSAGECONSTANTS.COMMONVALIDATIONS.FIRST_NAME}}</small> </div>
														</div>
														<div class="form-group" ng-class="{'has-error':(step2formsubmitted && form.companycontactpersondetailsform.lastName.$invalid)}">
															<label for="inputPassword1" class="control-label">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.LAST_NAME}} : </label>
															<input type="text" allow-pattern="[a-zA-Z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF'._ -]" ng-pattern="MESSAGECONSTANTS.VALIDATIONPATTERNS.NAME" ng-model="CompanyManagement.contactList[0].lastName" class="form-control access"
																ng-model-options="{'allowInvalid': true}" name="lastName" id="lastName" maxlength="100" ng-model-options="{'allowInvalid': true}"  ng-focus="form.companycontactpersondetailsform.lastName.focused = true" ng-blur="form.companycontactpersondetailsform.lastName.focused = false">
																<div style="color:red;" ng-if="!form.companycontactpersondetailsform.lastName.focused && form.companycontactpersondetailsform.lastName.$error.pattern"
													 			ng-message="pattern">	<small class="error">{{MESSAGECONSTANTS.COMMONVALIDATIONS.LAST_NAME}}</small></div>
														</div>
														<div class="form-group" ng-class="{'has-error':(step2formsubmitted && !isValidPrimaryWorkPhoneEntered)}">
															<label for="maskedWorkPhone" class="control-label">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.WORK_PHONE}} <em> * </em> : </label>
															<input type="text" class="form-control access" id="maskedWorkPhone" name="maskedWorkPhone" ng-model="CompanyManagement.contactList[0].workPhone"
																ng-focus="form.companycontactpersondetailsform.maskedWorkPhone.visited = false" ng-blur="(form.companycontactpersondetailsform.maskedWorkPhone.visited = true) && isPrimaryContactWTValid(CompanyManagement.contactList[0].workPhone)"
																ng-intl-tel-input data-default-country="{{defaultCountryCode}}" data-number-type="FIXED_LINE_OR_MOBILE" data-geo-ip-lookup="">
															<span class="help-block">ex. <span>{{primaryContactWTFormat}}</span></span>
														</div>

														<div class="error form-group" ng-show="invalidCompanyWorkNumber && form.companycontactpersondetailsform.$dirty && form.companycontactpersondetailsform.maskedWorkPhone.$dirty && form.companycontactpersondetailsform.maskedWorkPhone.visited && form.companycontactpersondetailsform.maskedWorkPhone.$invalid">
															<small class="error"> {{MESSAGECONSTANTS.COMMONVALIDATIONS.WORK_PHONE_INVALID}} </small>
														</div>
														<div class="error form-group" ng-show="emptyCompanyWorkNumber && form.companycontactpersondetailsform.$dirty && form.companycontactpersondetailsform.maskedWorkPhone.$dirty && form.companycontactpersondetailsform.maskedWorkPhone.visited && !isValidPrimaryWorkPhoneEntered">
		                                                       <small class="error">{{MESSAGECONSTANTS.COMMONVALIDATIONS.WORK_PHONE_REQUIRED}} </small>
		                                               </div>
														<div class="form-group" ng-class="{'has-error':(step2formsubmitted && !isValidPrimaryMobileEntered)}">
															<label for="maskedWorkPhone1" class="control-label">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.MOBILE_PHONE}} <em> * </em> : </label>
															<input type="text" class="form-control access" id="maskedWorkPhone1" name="maskedWorkPhone1" ng-model="CompanyManagement.contactList[0].mobilePhone"
																ng-focus="form.companycontactpersondetailsform.maskedWorkPhone1.visited = false" ng-blur="(form.companycontactpersondetailsform.maskedWorkPhone1.visited = true) && isPrimaryContactWTValid1(CompanyManagement.contactList[0].mobilePhone)"
																ng-intl-tel-input data-default-country="{{defaultCountryCode}}" data-number-type="FIXED_LINE_OR_MOBILE" data-geo-ip-lookup="">
															<span class="help-block">ex. <span>{{primaryContactWTFormat1}}</span></span>
														</div>

														<div class="error form-group" ng-show="invalidCompanyMobileNumber && form.companycontactpersondetailsform.$dirty && form.companycontactpersondetailsform.maskedWorkPhone1.$dirty && form.companycontactpersondetailsform.maskedWorkPhone1.visited && form.companycontactpersondetailsform.maskedWorkPhone1.$invalid">
															<small class="error">{{MESSAGECONSTANTS.COMMONVALIDATIONS.MOBILE_PHONE_INVALID}} </small>
														</div>
														<div class="error form-group" ng-show="emptyCompanyMobileNumber && form.companycontactpersondetailsform.$dirty && form.companycontactpersondetailsform.maskedWorkPhone1.$dirty && form.companycontactpersondetailsform.maskedWorkPhone1.visited && !isValidPrimaryMobileEntered">
															<small class="error">{{MESSAGECONSTANTS.COMMONVALIDATIONS.MOBILE_PHONE_REQUIRED}}</small>
														</div>
														<div class="form-group" ng-class="{'has-error':(step2formsubmitted && form.companycontactpersondetailsform.email.$invalid)}">
															<label for="email" class="control-label">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.EMAIL}} <em> * </em> : </label>
															<input type="email" ng-model="CompanyManagement.contactList[0].email" ng-pattern="MESSAGECONSTANTS.VALIDATIONPATTERNS.EMAIL"
																ng-model-options="{'allowInvalid': true}" class="form-control access" name="email" id="email" placeholder="example@example.com" ng-focus="form.companycontactpersondetailsform.email.focused = true" ng-blur="form.companycontactpersondetailsform.email.focused = false" required>
															<span class="help-block">ex. example@example.com</span>
															<div style="color:red;" ng-if="!form.companycontactpersondetailsform.email.focused && form.companycontactpersondetailsform.email.$invalid && form.companycontactpersondetailsform.email.$error.pattern" ng-message="pattern">
																<small class="error">{{MESSAGECONSTANTS.COMMONVALIDATIONS.NOT_VALID_EMAIL}} </small></div>
														</div>
														<div class="form-group" ng-class="{'has-error':(step2formsubmitted && form.companycontactpersondetailsform.im.$invalid)}">
															<label for="im"  class="control-label">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.IM}} <em> * </em> : </label>
															<input type="text" ng-model="CompanyManagement.contactList[0].im" class="form-control access" name="im" id="im" required>
														</div>
													</form>
													<div class="form-group">
														<button type="button" ng-readonly="CompanyDetailsUpdateMode == false" ng-disabled="CompanyDetailsUpdateMode == false" ng-class="{'btn btn-primary': SecondaryContact == 'Add','btn btn-danger': SecondaryContact == 'Remove'}"
															ng-click="isSecondaryContactSelected()">{{SecondaryContact}} {{MESSAGECONSTANTS.COMPANY_MANAGEMENT.SECONDARY_CONTACT}}</button> 
													</div>
												</div>

												<div class="col-lg-6 col-lg-offset-1" ng-show="SecondaryContact == 'Remove'">
													<form role="form" name="form.companysecondarycontactpersondetailsform" novalidate>
														<div class="form-group" ng-class="{'has-error':(step2formsubmitted && form.companysecondarycontactpersondetailsform.secondaryfirstName.$invalid && validateSecondaryDetails)}">
															<label for="secondaryfirstName" class="control-label">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.FIRST_NAME}}<em> * </em> : </label>
															<input type="text" ng-model-options="{'allowInvalid': true}" allow-pattern="[a-zA-Z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF'._ -]" ng-pattern="MESSAGECONSTANTS.VALIDATIONPATTERNS.NAME" ng-model="CompanyManagement.contactList[1].firstName" ng-readonly="CompanyDetailsUpdateMode == false"
																ng-disabled="CompanyDetailsUpdateMode == false" class="form-control access" name="secondaryfirstName" id="secondaryfirstName"
																required ng-focus="form.companysecondarycontactpersondetailsform.secondaryfirstName.focused = true" ng-blur="form.companysecondarycontactpersondetailsform.secondaryfirstName.focused = false">
															<div style="color:red;" ng-if="!form.companysecondarycontactpersondetailsform.secondaryfirstName.focused && form.companysecondarycontactpersondetailsform.secondaryfirstName.$error.pattern"
													 			ng-message="pattern"><small class="error">{{MESSAGECONSTANTS.COMMONVALIDATIONS.FIRST_NAME}} </small> </div>
														</div>
														<div class="form-group" ng-class="{'has-error':(step2formsubmitted && form.companysecondarycontactpersondetailsform.secondarylastName.$invalid && validateSecondaryDetails)}">
															<label for="inputPassword1" class="control-label">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.LAST_NAME}} : </label>
															<input type="text" ng-model-options="{'allowInvalid': true}" 	allow-pattern="[a-zA-Z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF'._ -]" ng-pattern="MESSAGECONSTANTS.VALIDATIONPATTERNS.NAME" ng-model="CompanyManagement.contactList[1].lastName" ng-readonly="CompanyDetailsUpdateMode == false"
																ng-disabled="CompanyDetailsUpdateMode == false" class="form-control access" name="secondarylastName" id="secondarylastName"
																ng-focus="form.companysecondarycontactpersondetailsform.secondarylastName.focused = true" ng-blur="form.companysecondarycontactpersondetailsform.secondarylastName.focused = false">
															<div style="color:red;" ng-if="!form.companysecondarycontactpersondetailsform.secondarylastName.focused && form.companysecondarycontactpersondetailsform.secondarylastName.$error.pattern"
													 			ng-message="pattern"><small class="error">{{MESSAGECONSTANTS.COMMONVALIDATIONS.LAST_NAME}} </small>  </div>
														</div>
														
														<div class="form-group" ng-class="{'has-error':(step2formsubmitted && !isValidSecondaryWorkPhoneEntered && validateSecondaryDetails)}">
															<label for="maskedWorkPhoneSecondary" class="control-label">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.WORK_PHONE}} <em> * </em> : </label>
															<input type="text" ng-model-options="{'allowInvalid': true}" class="form-control access" id="maskedWorkPhoneSecondary" name="maskedWorkPhoneSecondary" ng-model="CompanyManagement.contactList[1].workPhone"
																ng-readonly="CompanyDetailsUpdateMode == false" ng-disabled="CompanyDetailsUpdateMode == false" 
																ng-focus="form.companysecondarycontactpersondetailsform.maskedWorkPhoneSecondary.visited = false" ng-blur="(form.companysecondarycontactpersondetailsform.maskedWorkPhoneSecondary.visited = true) && isSecondaryContactWTValid(CompanyManagement.contactList[1].workPhone)"
																ng-intl-tel-input data-default-country="{{defaultCountryCode}}" data-number-type="FIXED_LINE_OR_MOBILE" data-geo-ip-lookup="">
															<span class="help-block">ex. <span>{{secondaryContactWTFormat}}</span></span>
														</div>
														<div class="error form-group" ng-show="invalidCompanySecondaryWorkNumber && form.companysecondarycontactpersondetailsform.$dirty && form.companysecondarycontactpersondetailsform.maskedWorkPhoneSecondary.$dirty && form.companysecondarycontactpersondetailsform.maskedWorkPhoneSecondary.visited && form.companysecondarycontactpersondetailsform.maskedWorkPhoneSecondary.$invalid">
															<small class="error"> {{MESSAGECONSTANTS.COMMONVALIDATIONS.WORK_PHONE_INVALID}} </small>
														</div>
														<div class="error form-group" ng-show="emptyCompanySecondaryWorkNumber && form.companysecondarycontactpersondetailsform.$dirty && form.companysecondarycontactpersondetailsform.maskedWorkPhoneSecondary.$dirty && form.companysecondarycontactpersondetailsform.maskedWorkPhoneSecondary.visited && !isValidSecondaryWorkPhoneEntered">
															<small class="error"> {{MESSAGECONSTANTS.COMMONVALIDATIONS.WORK_PHONE_REQUIRED}} </small>
														</div>

														<div class="form-group" ng-class="{'has-error':(step2formsubmitted && !isValidSecondaryMobileEntered && validateSecondaryDetails)}">
															<label for="maskedMobilePhoneSecondary" class="control-label">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.MOBILE_PHONE}} <em> * </em> : </label>
															<input type="text" class="form-control access" id="maskedMobilePhoneSecondary" name="maskedMobilePhoneSecondary" ng-model="CompanyManagement.contactList[1].mobilePhone"
																ng-readonly="CompanyDetailsUpdateMode == false" ng-disabled="CompanyDetailsUpdateMode == false"
																ng-focus="form.companysecondarycontactpersondetailsform.maskedMobilePhoneSecondary.visited = false" ng-blur="(form.companysecondarycontactpersondetailsform.maskedMobilePhoneSecondary.visited = true) && isSecondaryContactMNValid(CompanyManagement.contactList[1].mobilePhone)"
																ng-intl-tel-input data-default-country="{{defaultCountryCode}}" data-number-type="MOBILE" data-geo-ip-lookup="">
															<span class="help-block">ex. <span ng-init="setSecondaryContactNExamples()">{{secondaryContactMNFormat}}</span></span>
														</div>
														
														<div class="error form-group" ng-show="invalidCompanySecondaryMobilePhone && form.companysecondarycontactpersondetailsform.$dirty && form.companysecondarycontactpersondetailsform.maskedMobilePhoneSecondary.$dirty && form.companysecondarycontactpersondetailsform.maskedMobilePhoneSecondary.visited && form.companysecondarycontactpersondetailsform.maskedMobilePhoneSecondary.$invalid">
															<small class="error">{{MESSAGECONSTANTS.COMMONVALIDATIONS.MOBILE_PHONE_INVALID}}</small>
														</div>

														<div class="error form-group" ng-show="emptyCompanySecondaryMobilePhone && form.companysecondarycontactpersondetailsform.$dirty && form.companysecondarycontactpersondetailsform.maskedMobilePhoneSecondary.$dirty && form.companysecondarycontactpersondetailsform.maskedMobilePhoneSecondary.visited && !isValidSecondaryMobileEntered">
															<small class="error">{{MESSAGECONSTANTS.COMMONVALIDATIONS.MOBILE_PHONE_REQUIRED}}</small>
														</div>
											
														<div class="form-group" ng-class="{'has-error':(step2formsubmitted && form.companysecondarycontactpersondetailsform.secondaryemail.$invalid && validateSecondaryDetails)}">
															<label for="secondaryemail" class="control-label">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.EMAIL}} <em> * </em> : </label>
															<input type="email" ng-model="CompanyManagement.contactList[1].email" ng-model-options="{'allowInvalid': true}" ng-pattern="MESSAGECONSTANTS.VALIDATIONPATTERNS.EMAIL" ng-readonly="CompanyDetailsUpdateMode == false" ng-disabled="CompanyDetailsUpdateMode == false"
																class="form-control access" name="secondaryemail" id="secondaryemail" placeholder="example@example.com" ng-focus="form.companysecondarycontactpersondetailsform.secondaryemail.focused = true" ng-blur="form.companysecondarycontactpersondetailsform.secondaryemail.focused = false" required>
															<span class="help-block">ex. example@example.com</span>
															<small class="error"  ng-if="!form.companysecondarycontactpersondetailsform.secondaryemail.focused && form.companysecondarycontactpersondetailsform.secondaryemail.$invalid && form.companysecondarycontactpersondetailsform.secondaryemail.$error.pattern" ng-message="pattern">{{MESSAGECONSTANTS.COMMONVALIDATIONS.NOT_VALID_EMAIL}}</small>
														</div>
														<div class="form-group" ng-class="{'has-error':(step2formsubmitted && form.companysecondarycontactpersondetailsform.secondaryim.$invalid && validateSecondaryDetails)}">
															<label for="im" class="control-label">{{MESSAGECONSTANTS.COMPANY_MANAGEMENT.IM}} <em> * </em> : </label>
															<input type="text" ng-model="CompanyManagement.contactList[1].im" ng-readonly="CompanyDetailsUpdateMode == false" ng-disabled="CompanyDetailsUpdateMode == false"
																class="form-control access" name="secondaryim" id="secondaryim" required>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="step-pane sample-pane alert" data-step="4">
								<br>
								<div class="row">
									<div class="col-xs-12">
										<div class="main-box">
											<div id="sliders"></div>
											<div class="main-box-body clearfix">
												<br>
												
												<form role="form" name="form.companyassessementflowdetailsform" novalidate>
													<div class="col-lg-9 col-lg-offset-1" ng-repeat="(value,key) in preferences">
														<label class="licensePreferenceName" style="margin-top: 1%;" ng-if="key.licensePrefDetailsList.length > 1">{{key.name}}</label>
														<div class="checkbox-nice" ng-repeat="workflow in key.licensePrefDetailsList" ng-class="{'innerobjects':(key.licensePrefDetailsList.length > 1)}">
															<input ng-disabled="!workflow.enabled || CompanyDetailsUpdateMode == false || value == 'fourDotFiveIntellList'" ng-value="{{workflow.selected}}" ng-click="toggleAssessmentWorkFlowValues($index,workflow)"
																type="checkbox" id="{{workflow.licensePrefEnum}}" ng-checked="{{workflow.selected}}" />
																<!--<h3>{{value}} 22 </h3>-->
															<label class="licensePreferenceName" ng-class="{'disabledworkflow':(workflow.enabled == false) && value != 'fourDotFiveIntellList'}" for="{{workflow.licensePrefEnum}}">{{workflow.name}}</label>
															<span class="licensePreferenceMessage" ng-if="workflow.message != null" ng-class="{'disabledworkflowmessage':(workflow.enabled == false && value != 'fourDotFiveIntelligenceList')}">
																&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;( {{workflow.message}} )
															</span>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="modal fade" id="deleteconfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
											<h4 class="modal-title" id="myModalLabel">Delete Company</h4>
										</div>
										<div class="modal-body">
											<p>Deleting<a> {{userDetails.company.companyName}} </a>will make it inaccessible for use. The system will log you out. Please be very careful when confirming this operation</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
											<button type="button" class="btn btn-danger" 
												ng-click="deleteCompanyDetails()">Yes</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- this page specific inline scripts -->
<script>
	$(function() {
		$('#myWizard').wizard()
		.on('actionclicked.fu.wizard', function (event, data) {
			var wizardoperations = localStorage.getItem('myStorage-wizardoperations');
			console.log('wizardoperations : '+wizardoperations);
			if ((wizardoperations === null) || (wizardoperations !== 'true')) {
				console.log('preventing');
				event.preventDefault();
			}
		});

		$('.custom-file-upload').bind("click" , function () {
			$('#inputImage').trigger('click');
		});
		$('#inputImage').change(function() {
			var filepath = $('#inputImage').val();
			var filename = filepath.split('\\').pop().split('/').pop(); //str.split('\\').pop().split('/').pop();
			$('#companypicname').html(filename);
		});
	});
</script>
