<div class="container main-box">

    <div class="row main-box-header">
        <div class="col-xs-12">
            <div class="form-group">
                <label style="padding-right: 10px">
                    Add Candidates:
                </label>
                <div class="radio" style="display: inline;">
                    <input type="radio" name="addCandidateType" id="addCandidatesWithResume" ng-value="true" ng-model="addCandidates.addWithResumesFlag" ng-change="scheduleJobMatchItem.userTypeChanged()">
                    <label for="addCandidatesWithResume">
                        With Resumes
                    </label>
                </div>
                <div class="radio" style="display: inline;">
                    <input type="radio" name="addCandidateType" id="addCandidatesWithoutResume" ng-value="false" ng-model="addCandidates.addWithResumesFlag" ng-change="scheduleJobMatchItem.userTypeChanged()">
                    <label for="addCandidatesWithoutResume">
                        Without Resumes
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row main-box-body">
        <div class="col-xs-12" ng-if="!addCandidates.addWithResumesFlag">
            <div class="row" ng-repeat="candidate in addCandidates.candidatesArray">
                <div class="col-xs-12 main-box">
                    <div class="row main-box-header">
                        <div class="col-xs-12">
                            <div class="pull-left">
                                <b>New Candidate {{ $index + 1 }}</b>
                                <i class="fa" ng-class="{'fa-check dark-green':candidate.addStatus == 'success', 'fa-times red': candidate.addStatus == 'error'}"></i>
                            </div>
                            <div class="pull-right" ng-if="candidate.addStatus != 'success' && $index != 0">
                                <span>
                                    <i class="fa fa-times pointer" uib-tooltip="Remove Candidate" ng-click="addCandidates.removeCandidate($index)"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-if="candidate.addStatus == 'error'">
                            <div class="alert alert-danger add-candidate-alert">
                                <div ng-repeat="message in candidate.errorMessages">
                                    <strong>Error!</strong> {{message}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-if="candidate.addStatus == 'success'">
                            <div class="alert alert-success add-candidate-alert">
                                <strong>Success!</strong> Candidate added successfully.
                            </div>
                        </div>

                    </div>
                    <div class="row main-box-body add-candidate-form-container">
                        <form role="form" name="candidate.addForm" novalidate>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group" ng-class="{'has-error': (candidate.addForm.$submitted && candidate.addForm.firstName.$invalid)}">
                                        <label for="firstName" class="control-label">
                                            First Name<em>*</em> :
                                        </label>
                                        <input type="text" name="firstName" id="firstName" class="form-control" placeholder="First Name"
                                               ng-model="candidate.firstName" required ng-disabled="candidate.addStatus == 'success'">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group" ng-class="{'has-error': (candidate.addForm.$submitted && candidate.addForm.lastName.$invalid)}">
                                        <label for="lastName" class="control-label">
                                            Last Name<em>*</em> :
                                        </label>
                                        <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last Name"
                                               ng-model="candidate.lastName" required ng-disabled="candidate.addStatus == 'success'">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group" ng-class="{'has-error': (candidate.addForm.$submitted && candidate.addForm.email.$invalid)}">
                                        <label for="email" class="control-label">
                                            Email<em>*</em> :
                                        </label>
                                        <input type="email" name="email" id="email" class="form-control" placeholder="Email"
                                               ng-model="candidate.emailId" required ng-disabled="candidate.addStatus == 'success'">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group" ng-class="{'has-error':(candidate.addForm.$submitted && candidate.addForm.phoneNumber.$invalid)}">
                                        <label for="phoneNumber" class="control-label">
                                            Phone Number<em>*</em> :
                                        </label>
                                        <input type="text" class="form-control access" id="phoneNumber" name="phoneNumber" ng-model="candidate.phoneNumber"
                                               ng-intl-tel-input data-default-country="us" data-number-type="FIXED_LINE_OR_MOBILE"
                                               required ng-disabled="candidate.addStatus == 'success'">
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-if="$index == (addCandidates.candidatesArray.length - 1)">
                                <div class="col-xs-12">
                                    <button type="button" class="btn btn-success" ng-click="addCandidates.addAnotherCandidate()">
                                        Add Another Candidate
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12" ng-if="addCandidates.addWithResumesFlag">
            <upload-resumes job-id="{{addCandidates.jobId}}" cancel-callback="addCandidates.saveCallback()"
                complete-callback="addCandidates.saveCallback()"></upload-resumes>
        </div>
    </div>

    <div class="row main-box-footer" ng-if="!addCandidates.addWithResumesFlag">
        <div class="col-xs-12 text-right">
            <div class="clearfix">
                <button type="submit" class="btn btn-success" ng-click="addCandidates.saveCandidates()" ng-disabled="addCandidates.savingFlag">
                    <span ng-if="!addCandidates.savingFlag">Save</span>
                    <span ng-if="addCandidates.savingFlag">Saving..</span>
                </button>
            </div>
        </div>
    </div>
</div>