.notesAndCommunicationUserImage{
    height: 50px;
    width: 50px;
}

.contactNotesBackground{
    background-color: #dceffc !important;
}

.contactCommunicationBackground{
    background-color: #ffebcc !important;
}

.contact-method-detail{
    font-size: 0.8em;
    padding-left: 1px;
}

.contact-notes-no-values{
    padding-top: 30px;
    color: grey;
}