<div class="conversation-wrapper">
    <div class="conversation-content">
        <div class="conversation-inner" style="height: 250px;">
            <!--<div ng-if="notes.loadingFlag" class="animate-if text-center">-->
                <!--<span class="fa fa-2x fa-spinner fa-spin"></span>-->
            <!--</div>-->
            <!--<div ng-if="!notes.loadingFlag">-->
                <div ng-repeat="contactNote in notes.contactNotes" class="conversation-item item-right clearfix"
                     ng-show="(notes.contactNotes.length > 0) && ( (notes.displayType == 'Notes' && contactNote.contactMethod == null) || (notes.displayType == 'Communication' && contactNote.contactMethod != null) || (notes.displayType == 'Both') )">
                    <div class="conversation-user">
                        <img src="app-content/img/people/4dot5-default-no-profile-pic.jpg" alt="" class="notesAndCommunicationUserImage">
                    </div>
                    <div class="conversation-body"
                         ng-class="{'contactNotesBackground': (contactNote.contactMethod == null), 'contactCommunicationBackground': (contactNote.contactMethod != null)}">
                        <div class="name">
                            <span ng-bind="contactNote.user.name"></span>
                            <i ng-if="(contactNote.contactMethod === 'Incoming Call') || (contactNote.contactMethod === 'Outgoing Call')"
                               class="fa fa-phone contact-method-detail" uib-tooltip="Call" tooltip-placement="bottom"
                               ng-class="{ 'dark-green': (contactNote.contactMethod === 'Incoming Call'), 'red' : (contactNote.contactMethod === 'Outgoing Call')}"></i>
                            <i ng-if="(contactNote.contactMethod === 'Incoming Email') || (contactNote.contactMethod === 'Outgoing Email')"
                               class="fa fa-envelope contact-method-detail" uib-tooltip="Email" tooltip-placement="bottom"
                               ng-class="{ 'dark-green': (contactNote.contactMethod === 'Incoming Email'), 'red' : (contactNote.contactMethod === 'Outgoing Email')}"></i>
                            <i ng-if="((contactNote.contactMethod === 'Incoming Email') || (contactNote.contactMethod === 'Incoming Call'))"
                               class="fa fa-arrow-left dark-green contact-method-detail"
                               uib-tooltip="Incoming" tooltip-placement="bottom"></i>
                            <i ng-if="((contactNote.contactMethod === 'Outgoing Email') || (contactNote.contactMethod === 'Outgoing Call'))"
                               class="fa fa-arrow-right red contact-method-detail"
                               uib-tooltip="Outgoing" tooltip-placement="bottom"></i>
                            <span class="contact-method-detail" ng-if="(contactNote.contactMethod === 'Outgoing Call' || contactNote.contactMethod ==='Incoming Call')">
                                {{contactNote.duration}} Min
                            </span>
                        </div>
                        <div class="time d-none d-sm-block">
                            <span ng-bind="contactNote.dateTime | fourdotfiveTimeStampFormat"></span>
                            <span uib-tooltip="Delete Note" tooltip-placement="bottom"
                                  class="glyphicon glyphicon-remove pointer ng-scope" ng-if="((contactNote.contactMethod === '' ||  contactNote.contactMethod === null) && contactNote.user.id === notes.userDetails.id)"
                                  ng-click="notes.deleteContactNote(contactNote)">
                            </span>
                        </div>
                        <div class="text" ng-bind="contactNote.note">
                        </div>
                    </div>
                </div>
                <div ng-show="notes.contactNotes.length == 0" class="text-center contact-notes-no-values">
                    Add <span ng-if="notes.displayType != 'Both'" ng-bind="notes.displayType"></span><span ng-if="notes.displayType === 'Both'">Notes or Communication</span> to display !
                </div>
            <!--</div>-->
        </div>
    </div>
    <div class="conversation-new-message">
        <div class="row">
            <div class="col-xs-12">
                <form role="form" name="notes.contactNoteForm" novalidate>
                    <div class="row" ng-if="notes.type == 'communication'">
                        <div class="col-xs-5">
                            <div class="form-group" ng-class="{'has-error': (notes.contactNoteForm.$submitted && notes.contactNoteForm.communicationType.$invalid)}">
                                <label for="communicationType">
                                    Communication Type<em>*</em> :
                                </label>
                                <select class="form-control" name="communicationType" id="communicationType"
                                        ng-model="notes.newContactNote.contactMethod" required ng-change="notes.communicationTypeChanged()">
                                    <option value=""></option>
                                    <option ng-repeat="communicationType in notes.communicationTypesList" value="{{communicationType.value}}">{{communicationType.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-3" ng-if="notes.durationEnabledFlag">
                            <div class="form-group" ng-class="{'has-error': (notes.contactNoteForm.$submitted && notes.contactNoteForm.duration.$invalid)}">
                                <label for="duration">
                                    Duration<em>*</em> :
                                </label>
                                <select class="form-control" name="duration" id="duration" ng-model="notes.newContactNote.duration" required>
                                    <option ng-repeat="duration in notes.durationTypesList" value="{{duration.value}}">{{duration.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2" ng-if="notes.durationEnabledFlag && notes.newContactNote.duration == 'Other'">
                            <div class="form-group" ng-class="{'has-error': (notes.contactNoteForm.$submitted && notes.contactNoteForm.otherDuration.$invalid)}">
                                <label for="otherDuration" class="control-label">
                                    Other<em>*</em> :
                                </label>
                                <input name="otherDuration" id="otherDuration" type="number" class="form-control" ng-model="notes.durationOtherValue" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group" ng-class="{'has-error': (notes.contactNoteForm.$submitted && notes.contactNoteForm.notes.$invalid)}">
                                <label for="notes" class="control-label">
                                    Notes<em>*</em> :
                                </label>
                                <textarea id="notes" name="notes" class="form-control" rows="3" placeholder="Enter your note.." ng-model="notes.newContactNote.note" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 text-left">
                            <input type="checkbox" ng-true-value="'Both'" ng-false-value="'{{notes.displayType}}'" ng-model="notes.displayType">
                            <span>Display <span ng-if="notes.type == 'notes'">Communication</span><span ng-if="notes.type == 'communication'">Notes</span> as well</span>
                        </div>
                        <div class="col-xs-4 text-right">
                            <div class="clearfix">
                                <button type="submit" class="btn btn-success" ng-click="notes.saveContactNote()" ng-disabled="notes.savingFlag">
                                    <span ng-if="!notes.savingFlag">Save</span>
                                    <span ng-if="notes.savingFlag">Saving..</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>