<style>
	.disablemultiselect {
		background-color: #eee;
		border-color: #e7ebee;
		cursor: not-allowed;
	}
	
	.disablemultiselect button {
		cursor: not-allowed;
		color: #555;
		pointer-events: none;
		border-color: #e7ebee;
	}
	
	.scopename {
		padding-left: 8px;
		padding-right: 8px;
	}
	
	.multiSelect button {
		width: 100%;
		/*padding-left: 0px;*/
		padding-right: 0px;
		text-align: left;
	}
	
	#workTelephone::-webkit-input-placeholder {
		/* WebKit browsers */
		color: #fff;
	}
	
	#workTelephone:-moz-placeholder {
		/* Mozilla Firefox 4 to 18 */
		color: #fff;
		opacity: 1;
	}
	
	#workTelephone::-moz-placeholder {
		/* Mozilla Firefox 19+ */
		color: #fff;
		opacity: 1;
	}
	
	#workTelephone:-ms-input-placeholder {
		/* Internet Explorer 10+ */
		olor: #fff;
	}
	
	#mobileNumber::-webkit-input-placeholder {
		/* WebKit browsers */
		color: #fff;
	}
	
	#mobileNumber:-moz-placeholder {
		/* Mozilla Firefox 4 to 18 */
		color: #fff;
		opacity: 1;
	}
	
	#mobileNumber::-moz-placeholder {
		/* Mozilla Firefox 19+ */
		color: #fff;
		opacity: 1;
	}
	
	#mobileNumber:-ms-input-placeholder {
		/* Internet Explorer 10+ */
		color: #fff;
	}
	
	.multiSelect .checkboxLayer {
		width: 98%;
	}

	.user_scope_table{
		width: 90%;
		margin: 1% 5%;
		font-size: 1.1em;
	}

	.user_scope_table_columns {
		width: 33%;
		padding-top: 2%;
	}

	.user_scope_columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
	
	.user_scope_columns li {
		display: block;
		border-bottom: 0px solid #ebebeb;
		padding: 0px;
		margin: 15px 5px;
	}
	
	.user_scope_columns_for_one {
		float: left;
	}
	
	.user_scope_columns_for_one li {
		display: list-item;
		border-bottom: 0px solid #ebebeb;
		padding: 0px;
		margin: 15px 5px;
	}
	
	.panelminheight {
		min-height: 100px;
		max-height: 400px
	}
	
	.scopeclientlist {}
	
	.multiSelect button {
		width: 100%;
		/*padding-left: 0px;*/
		padding-right: 0px;
		text-align: left;
	}
	
	.multiSelect .checkboxLayer {
		width: 98%;
	}
	
	.profile-img {
		height: 120px;
		border: 1px solid #eee;
	}
	
	input[type="file"] {
		display: none;
	}
	
	.custom-file-upload {
		border: 1px solid #ccc;
		display: inline-block;
		padding: 6px 12px;
		cursor: pointer;
	}
	
	#user-profile {
		margin-top: 25px;
	}
	
	.scoperesetlabel {
		color: grey;
		margin-left: 30px;
	}
</style>

<div class="approw">
	<div class="row">
		<div class="col-lg-12">
			<div id="content-header" class="clearfix">
				<div class="pull-left">
					<ol class="breadcrumb">
						<li>
							<a ui-sref="missioncontrol.dashboard">{{MESSAGECONSTANTS.BREADCRUMBS.HOME}}</a>
						</li>
						<li class="active" ng-if="(fromUserProfile === null )"><span>{{MESSAGECONSTANTS.BREADCRUMBS.USER_MANAGEMENT}}</span>
						</li>
						<li ng-if="(fromUserProfile !== null )">
							<span>User Profile</span>
						</li>
						<li class="active" ng-if="(fromUserProfile !== null)">
							<span>Edit Profile</span>
						</li>
					</ol>

					<h1 class="heading-css" ng-if="accessMode === MESSAGECONSTANTS.ACCESS_MODES.CREATE" ng-bind="MESSAGECONSTANTS.BREADCRUMBS.USER_MANAGEMENT"></h1>

					<h1 class="heading-css" title="{{userprofilereset.userDetails.firstName+ ' ' +userprofilereset.userDetails.lastName}}" ng-if="(accessMode === MESSAGECONSTANTS.ACCESS_MODES.EDIT) && (userprofilereset.userDetails.lastName !== null)">
						{{'Edit '}}<b><i>{{("'"+userprofilereset.userDetails.firstName +' ' + userprofilereset.userDetails.lastName + "'") | limitTo: 55}}</i></b>
						<span ng-if="('Edit ' + userprofilereset.userDetails.firstName + ' ' + userprofilereset.userDetails.lastName).length > 40"><i><b>...'</b></i></span>
						<span ng-if="!(userprofilereset.userState ==='Active')">(UnVerified)</span>
					</h1>

					<h1 class="heading-css" title="{{userprofilereset.userDetails.firstName}}" ng-if="(accessMode === MESSAGECONSTANTS.ACCESS_MODES.EDIT) && (userprofilereset.userDetails.lastName === null)">
						{{'Edit '}}<i><b>{{("'"+userprofilereset.userDetails.firstName+ "'") | limitTo: 55}}</b></i>
						<span ng-if="('Edit ' + userprofilereset.userDetails.firstName).length > 40"><i><b>...'</b></i></span>
						<span ng-if="!(userprofilereset.userState ==='Active')">(UnVerified)</span>
					</h1>

					<h1 class="heading-css" title="{{userprofilereset.userDetails.firstName+ ' ' +userprofilereset.userDetails.lastName}}" ng-if="(accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW) && (userprofilereset.userDetails.lastName !== null)">
						{{'View '}}<i><b>{{("'"+userprofilereset.userDetails.firstName + ' ' + userprofilereset.userDetails.lastName+ "'") | limitTo: 55}}</b></i>
						<span ng-if="('View ' + userprofilereset.userDetails.firstName + ' ' + userprofilereset.userDetails.lastName).length > 40"><i>...'</i></span>
						<span ng-if="!(userprofilereset.userState ==='Active')">(UnVerified)</span>
					</h1>

					<h1 class="heading-css" title="{{userprofilereset.userDetails.firstName}}" ng-if="(accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW) && (userprofilereset.userDetails.lastName === null)">
						{{'View '}}<i><b>{{("'"+userprofilereset.userDetails.firstName+ "'") | limitTo: 55}}</b></i>
						<span ng-if="('View ' + userprofilereset.userDetails.firstName).length > 40"><i>...'</i></span>
						<span ng-if="!(userprofilereset.userState ==='Active')">(UnVerified)</span>
					</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="row fuelux">
		<div class="col-lg-12">
			<div class="main-box clearfix">
				<header ng-if="accessMode === MESSAGECONSTANTS.ACCESS_MODES.CREATE" class="main-box-header clearfix">
					<h2 style="color: #03a9f4;"><b>{{MESSAGECONSTANTS.STEPNAMES.USERMANAGEMENT.CREATE_USER}}</b></h2>
				</header>
				<div class="main-box-body clearfix wizardmainbox">
					<div class="wizard" data-initialize="wizard" id="myWizard">
						<div class="steps-container">
							<ul class="steps">
								<li data-step="1" data-name="{{MESSAGECONSTANTS.STEPNAMES.USERMANAGEMENT.STEP_ONE}}" class="active" ng-click="getStepChanges(1)"><span class="badge">1</span><span class="align-middle">{{MESSAGECONSTANTS.STEPNAMES.USERMANAGEMENT.STEP_ONE}}</span>
									<span class="chevron"></span></li>
								<li data-step="2" data-name="{{MESSAGECONSTANTS.STEPNAMES.USERMANAGEMENT.STEP_TWO}}" ng-click="getStepChanges(2)"><span class="badge">2</span><span class="align-middle">{{MESSAGECONSTANTS.STEPNAMES.USERMANAGEMENT.STEP_TWO}}</span>
									<span class="chevron"></span></li>
								<li data-step="3" data-name="{{MESSAGECONSTANTS.STEPNAMES.USERMANAGEMENT.STEP_THREE}}" ng-click="getStepChanges(3)"><span class="badge">3</span><span class="align-middle">{{MESSAGECONSTANTS.STEPNAMES.USERMANAGEMENT.STEP_THREE}}</span>
									<span class="chevron"></span></li>
							</ul>
						</div>
						<div class="actions">
							<button type="button" class="btn btn-info btn-prev" ng-click="prevStepClicked()">
								<span class="glyphicon glyphicon-arrow-left"></span>{{MESSAGECONSTANTS.BUTTONS.PREVIOUS}}
							</button>

							<button type="button" class="btn btn-info btn-save" ng-click="saveStepData()" ng-if="(accessMode !== MESSAGECONSTANTS.ACCESS_MODES.VIEW)">
								<span> <i class="fa fa-save"></i>
								</span>{{MESSAGECONSTANTS.BUTTONS.SAVE}}
							</button>

							<!--<button type="button" class="btn btn-info btn-save" ng-if="accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW" disabled>
								<span> <i class="fa fa-save"></i> </span>{{MESSAGECONSTANTS.BUTTONS.SAVE}}
							</button>-->

							<button type="button" class="btn btn-info btn-next create-next" ng-if="((accessMode === MESSAGECONSTANTS.ACCESS_MODES.CREATE) || ((accessMode === MESSAGECONSTANTS.ACCESS_MODES.EDIT)))"
								data-last="Complete" ng-click="manageStepData()" ng-show="((accessMode === MESSAGECONSTANTS.ACCESS_MODES.CREATE) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.EDIT))">
								{{MESSAGECONSTANTS.BUTTONS.NEXT}} <span
									class="glyphicon glyphicon-arrow-right"></span>
							</button>

							<button type="button" class="btn btn-info btn-next view-next" data-last="Complete" ng-click="getNextStepData()" ng-if="accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW">
								{{MESSAGECONSTANTS.BUTTONS.NEXT}} <span
									class="glyphicon glyphicon-arrow-right"></span>
							</button>

							<button type="button" class="btn btn-danger btn-cancel" ng-mousedown="cancelSteps()" ng-if="(accessMode !== MESSAGECONSTANTS.ACCESS_MODES.VIEW)">
								<span class="glyphicon glyphicon-remove" ></span> {{MESSAGECONSTANTS.BUTTONS.CANCEL}}
							</button>
						</div>
						<div class="step-content">
							<div class="step-pane active sample-pane alert" data-step="1">
								<header class="main-box-header clearfix col-lg-6 col-lg-offset-2">
									<h2 ng-if="(formsubmitted && (form.userDetailsform.$error.required || !workTelephoneDirty || !mobileNumberDirty))" class="has-error">
										<span class="help-block"> <em>*</em>  {{MESSAGECONSTANTS.COMMONVALIDATIONS.ENTER_MANDATORY_FIELDS}}
										</span>
									</h2>
								</header>
								<div class="row">
									<div class="col-lg-12">
										<form role="form" name="form.userDetailsform" id="userDetailsform" novalidate>
											<div class="col-lg-6 col-md-6 col-sm-7 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
												<!--<form role="form" name="form.userDetailsform" id="userDetailsform" novalidate>-->
												<div class="form-group" ng-class="{'has-error': (formsubmitted && form.userDetailsform.role.$invalid)}">
													<label for="role" class="control-label">{{MESSAGECONSTANTS.LABLES.USER_MANAGEMENT.ROLE}}
														<em> * </em> :
													</label>
													 <select class="form-control access" name="role" id="role" ng-model="userprofile.userDetails.role.id"
														ng-change="changeRoleObject()" required>
														<option ng-repeat="role in roles" value="{{role.id}}">{{role.description}}</option>
													</select>
												</div>

												<div class="form-group" ng-if="accessMode !== MESSAGECONSTANTS.ACCESS_MODES.EDIT" ng-class="{'has-error': (formsubmitted && form.userDetailsform.manager.$invalid)}">
													<label for="manager" class="control-label">{{MESSAGECONSTANTS.LABLES.USER_MANAGEMENT.MANAGER}}
														<em
														ng-if="!((userprofile.userDetails.role.name === MESSAGECONSTANTS.ROLESNAMES.STAFFINGADMIN_NAME) ||(userprofile.userDetails.role.name === MESSAGECONSTANTS.ROLESNAMES.CORPORATEADMIN_NAME))">
															* </em> :
													</label> <input type="text" class="form-control access" id="manager" name="manager" class="manager"
														ng-model="userprofile.userDetails.manager.firstName" disabled readonly ng-required="!((userprofile.userDetails.role.name === MESSAGECONSTANTS.ROLESNAMES.STAFFINGADMIN_NAME) ||(userprofile.userDetails.role.name === MESSAGECONSTANTS.ROLESNAMES.CORPORATEADMIN_NAME))">
												</div>

												<div class="form-group" ng-if="accessMode === MESSAGECONSTANTS.ACCESS_MODES.EDIT" ng-class="{'has-error': (formsubmitted && form.userDetailsform.manager.$invalid)}">
													<label for="manager" class="control-label">{{MESSAGECONSTANTS.LABLES.USER_MANAGEMENT.MANAGER}}
														<em ng-if="!isCompanyAdmin(userprofile.userDetails.role)"> * </em> :
													</label> <select class="form-control access" name="manager" id="manager" class="manager" ng-model="userprofile.userDetails.manager.userId"
														ng-change="changeManagerObject()" ng-required="!isCompanyAdmin(userprofile.userDetails.role)"
														ng-readonly="isCompanyAdmin(userprofile.userDetails.role) || isFourDotFiveAdmin(userprofile.userDetails.role) || isLogedinUser(userprofile.userDetails)"
														ng-disabled="isCompanyAdmin(userprofile.userDetails.role) || isFourDotFiveAdmin(userprofile.userDetails.role) || isLogedinUser(userprofile.userDetails)">
														<option title="{{manager.firstName}} {{manager.lastName}}" ng-repeat="manager in managerList" value="{{manager.userId}}">{{manager | subStringFilter}}</option>
													</select>
												</div>

												<div class="form-group" ng-class="{'has-error':(formsubmitted && form.userDetailsform.firstName.$invalid)}">
													<label for="firstName" class="control-label">{{MESSAGECONSTANTS.LABLES.FIRST_NAME}}
														<em> * </em> :
													</label> <input type="text" allow-pattern="[a-zA-Z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF'._ - ]"
														ng-pattern="MESSAGECONSTANTS.VALIDATIONPATTERNS.NAME" class="form-control access" id="firstName" name="firstName"
														ng-model="userprofile.userDetails.firstName" ng-model-options="{allowInvalid: true}" required ng-focus="form.userDetailsform.firstName.focused = true"
														ng-blur="form.userDetailsform.firstName.focused = false" maxlength="100">
													<div style="color:red;" ng-if="!form.userDetailsform.firstName.focused && form.userDetailsform.firstName.$error.pattern"
														ng-message="pattern"><small class="error">{{MESSAGECONSTANTS.COMMONVALIDATIONS.FIRST_NAME}}</small> </div>
													<div style="color:red;" ng-if="!form.userDetailsform.firstName.focused && form.userDetailsform.firstName.$error.maxlength"
														ng-message="pattern"><small class="error">First name can have maximum 100 characters.</small> </div>
												</div>

												<div class="form-group" ng-class="{'has-error':(formsubmitted && form.userDetailsform.lastName.$invalid)}">
													<label for="lastName" class="control-label">{{MESSAGECONSTANTS.LABLES.LAST_NAME}} :
													</label> <input type="text" allow-pattern="[a-zA-Z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF'._ - ]"
														ng-pattern="MESSAGECONSTANTS.VALIDATIONPATTERNS.NAME" class="form-control access" id="lastName" name="lastName"
														ng-model="userprofile.userDetails.lastName" ng-model-options="{allowInvalid: true}" ng-focus="form.userDetailsform.lastName.focused = true"
														ng-blur="form.userDetailsform.lastName.focused = false" maxlength="100">
													<div style="color:red;" ng-if="!form.userDetailsform.lastName.focused && form.userDetailsform.lastName.$error.pattern" ng-message="pattern">
														<small class="error">{{MESSAGECONSTANTS.COMMONVALIDATIONS.LAST_NAME}}</small> </div>
													<div style="color:red;" ng-if="!form.userDetailsform.lastName.focused && form.userDetailsform.lastName.$error.maxlength"
														ng-message="pattern">
														<small class="error">Last name can have maximum 100 characters.</small> </div>
												</div>

												<div class="form-group" ng-class="{'has-error':(formsubmitted && form.userDetailsform.address1.$invalid)}">
													<label for="address1" class="control-label">{{MESSAGECONSTANTS.LABLES.ADDRESS_1}}
														<em> * </em> :
													</label>

													<div class="checkbox-nice" style="float : right"
													 ng-show="(accessMode !== MESSAGECONSTANTS.ACCESS_MODES.VIEW) && !isSeniorRecruiter(userDetails.roleScreenRef.role) && !isRecruiter(userDetails.roleScreenRef.role) && !isRecruitingManager(userDetails.roleScreenRef.role)">
														<input type="checkbox" id="copyCompanyAddress" ng-click="toggleCopyCompanyAddress(copyCompanyAddress)" />
														<label for="copyCompanyAddress">
															Copy Company Address
														</label>
													</div>
													<input style="margin-top: 1%;" type="text" class="form-control access companyaddresscopyenabled" id="address1" name="address1"
														ng-model="userprofile.userDetails.address1" required ng-focus="form.userDetailsform.address1.focused = true"
														ng-blur="form.userDetailsform.address1.focused = false">
												</div>

												<div class="form-group">
													<label for="address2" class="control-label">{{MESSAGECONSTANTS.LABLES.ADDRESS_2}} :
													</label> <input type="text" class="form-control access companyaddresscopyenabled" id="address2"
														name="address2" ng-model="userprofile.userDetails.address2" ng-focus="form.userDetailsform.address2.focused = true"
														ng-blur="form.userDetailsform.address2.focused = false">
												</div>

												<div class="error form-group" ng-show="!form.userDetailsform.address1.focused && !form.userDetailsform.address2.focused && !form.userDetailsform.address1.$error.required && userprofile.userDetails.address2 !== '' && ((userprofile.userDetails.address2 | uppercase) === (userprofile.userDetails.address1 | uppercase))">
													<small class="error"> {{MESSAGECONSTANTS.COMMONVALIDATIONS.ADDRESS_CANNOT_BE_SAME}} </small>
												</div>

												<div class="form-group" ng-class="{'has-error':(formsubmitted && (form.userDetailsform.zipcode.$invalid || angular.isDefined(validzipcode) && !validzipcode))}">
													<label for="zipcode" class="control-label">{{MESSAGECONSTANTS.LABLES.ZIPCODE}}
														<em> * </em> :</label>
													<input ng-model="userprofile.userDetails.zipcode" ng-model-options="{allowInvalid: true}" allow-pattern="(\d|[a-zA-Z0-9])"
														ng-pattern="/^[a-zA-Z0-9]*$/" minlength="5" maxlength="6" type="text" class="form-control access companyaddresscopyenabled"
														name="zipcode" id="zipcode" required ng-focus="form.userDetailsform.zipcode.visited = false" ng-blur="(form.userDetailsform.zipcode.visited = true) && getZipCodeDetails(userprofile.userDetails.zipcode,'zipchanged')">
													<span class="help-block">ex. 75056 </span>
												</div>

												<div class="error form-group" ng-show="!form.userDetailsform.zipcode.$pristine && form.userDetailsform.zipcode.visited && form.userDetailsform.zipcode.$valid  && angular.isDefined(validzipcode) && !validzipcode">
													<small class="error">
															{{MESSAGECONSTANTS.COMMONVALIDATIONS.NO_LOCATION_FOUND}}
													</small>
												</div>
												<div class="error form-group" ng-show="!form.userDetailsform.zipcode.$pristine && form.userDetailsform.zipcode.visited && form.userDetailsform.zipcode.$invalid">
													<small class="error" ng-show="form.userDetailsform.zipcode.$error.pattern">
															{{MESSAGECONSTANTS.COMMONVALIDATIONS.NOT_VALID_ZIPCODE}}
													</small>
													<small class="error" ng-show="form.userDetailsform.zipcode.$error.minlength">
															{{MESSAGECONSTANTS.COMMONVALIDATIONS.ZIPCODE_MINLENGTH}}
													</small>
													<small class="error" ng-show="form.userDetailsform.zipcode.$error.maxlength">
															{{MESSAGECONSTANTS.COMMONVALIDATIONS.ZIPCODE_MAXLENGTH}} 
													</small>
												</div>

												<div class="form-group" ng-class="{'has-error':(formsubmitted && form.userDetailsform.city.$invalid)}">
													<label for="city" class="control-label">{{MESSAGECONSTANTS.LABLES.CITY}}
														<em> * </em> :
													</label>
													<select class="form-control access companyaddresscopyenabled" name="city" id="city" ng-model="userprofile.userDetails.city"
														ng-change="changeAddressObject('city',userprofile.userDetails.city)" required> 
														<option ng-repeat="geolocation in geoLocations | unique:'city'" value="{{geolocation.city}}">{{geolocation.city}}</option>
													</select>
												</div>
												<div class="form-group" ng-class="{'has-error':(formsubmitted && form.userDetailsform.state.$invalid)}">
													<label for="state" class="control-label">{{MESSAGECONSTANTS.LABLES.STATE}} <em> * </em> :
													</label>
													<select class="form-control access companyaddresscopyenabled" name="state" id="state" ng-model="userprofile.userDetails.state"
														ng-change="changeAddressObject('state',userprofile.userDetails.state)" required> 
														<option ng-repeat="geolocation in geoLocations | unique:'state'" value="{{geolocation.state}}">{{geolocation.state}}</option>
													</select>
												</div>

												<div class="form-group" ng-if="!isCountyExists">
													<label for="county" class="control-label">{{MESSAGECONSTANTS.LABLES.COUNTY}} : </label>
													<input type="text" class="form-control access companyaddresscopyenabled" id="county" name="county" ng-model="userprofile.userDetails.county" >
												</div>
												
												<div class="form-group" ng-if="isCountyExists">
													<div class="form-group" ng-init="disableCountyFieldIfViewMode()">
														<label for="county" class="control-label">{{MESSAGECONSTANTS.LABLES.COUNTY}} : </label>
														<select class="form-control access companyaddresscopyenabled" name="county" id="county" ng-model="userprofile.userDetails.county"
														 ng-change="changeAddressObject('county',userprofile.userDetails.county)">
															<option ng-repeat="geolocation in geoLocations | unique:'county'" value="{{geolocation.county}}">{{geolocation.county}}</option>
														</select>
													</div>
												</div>
												
												<div class="form-group" ng-class="{'has-error':(formsubmitted && form.userDetailsform.country.$invalid)}">
													<label for="country" class="control-label">{{MESSAGECONSTANTS.LABLES.COUNTRY}}
														<em> * </em> :
													</label>
													<select class="form-control access companyaddresscopyenabled" name="country" id="country" ng-model="userprofile.userDetails.country"
														ng-change="changeAddressObject('country',userprofile.userDetails.country)" required> 
														<option ng-repeat="geolocation in geoLocations | unique:'country'" value="{{geolocation.country}}">{{geolocation.country}}</option>
													</select>
												</div>

												<div class="form-group" ng-class="{'has-error':(formsubmitted && !isValidWorkTelephoneEntered)}">
													<label for="workTelephone" class="control-label">{{MESSAGECONSTANTS.LABLES.WORK_PHONE}} <em> * </em> : </label>
													<input type="text" class="form-control access" id="workTelephone" name="workTelephone" ng-model="userprofile.userDetails.workTelephone"
														ng-focus="form.userDetailsform.workTelephone.visited = false" ng-blur="(form.userDetailsform.workTelephone.visited = true) && isWorkTelephoneValid(userprofile.userDetails.workTelephone)"
														ng-intl-tel-input data-default-country="{{defaultCountryCode}}" data-number-type="FIXED_LINE_OR_MOBILE" ng-paste="workTelephoneDirty=true">
													<span class="help-block">ex. <span>{{telephoneNumberFormat}}</span></span>
												</div>
												<div ng-if="invalidUserworkTelephone && form.userDetailsform.$dirty && form.userDetailsform.workTelephone.$dirty && form.userDetailsform.workTelephone.visited && form.userDetailsform.workTelephone.$invalid"
													class="error form-group">
													<small class="error"> {{MESSAGECONSTANTS.COMMONVALIDATIONS.WORK_PHONE_INVALID}} </small>
												</div>
												<div class="error form-group" ng-if="emptyUserworkTelephone && form.userDetailsform.$dirty && form.userDetailsform.workTelephone.$dirty && form.userDetailsform.workTelephone.visited && !isValidWorkTelephoneEntered">
													<small class="error"> {{MESSAGECONSTANTS.COMMONVALIDATIONS.WORK_PHONE_REQUIRED}} </small>
												</div>

												<div class="form-group" ng-class="{'has-error':(formsubmitted && !isValidMobileNumberEntered)}">
													<label for="mobileNumber" class="control-label">{{MESSAGECONSTANTS.LABLES.MOBILE_PHONE}} <em> * </em> : </label>
													<input type="text" class="form-control access" id="mobileNumber" name="mobileNumber" ng-model="userprofile.userDetails.mobileNumber"
														ng-focus="form.userDetailsform.mobileNumber.visited = false" ng-blur="(form.userDetailsform.mobileNumber.visited = true) && isMobileNumberValid(userprofile.userDetails.mobileNumber)"
														ng-intl-tel-input data-default-country="{{defaultCountryCode}}" data-number-type="MOBILE" ng-paste="mobileNumberDirty=true">
													<span class="help-block">
														ex. <span id="mobilenumberformatspan"> {{mobileNumberFormat}}</span>
													</span>
												</div>
												<div ng-if="invalidUsermobileNumber && form.userDetailsform.$dirty && form.userDetailsform.mobileNumber.$dirty && form.userDetailsform.mobileNumber.visited && form.userDetailsform.mobileNumber.$invalid"
													class="error form-group">
													<small class="error"> {{MESSAGECONSTANTS.COMMONVALIDATIONS.MOBILE_PHONE_INVALID}} </small>
												</div>
												<div ng-if="emptyUsermobileNumber && form.userDetailsform.$dirty && form.userDetailsform.mobileNumber.$dirty && form.userDetailsform.mobileNumber.visited && !isValidMobileNumberEntered"
													class="error form-group">
													<small class="error"> {{MESSAGECONSTANTS.COMMONVALIDATIONS.MOBILE_PHONE_REQUIRED}}</small>
												</div>

												<div class="form-group" ng-class="{'has-error':(formsubmitted && form.userDetailsform.email.$invalid)}">
													<label for="email" class="control-label">{{MESSAGECONSTANTS.LABLES.EMAIL}}
														<em> * </em> :
													</label> <input type="text" class="form-control access" id="email" name="email" placeholder="example@example.com"
														ng-model="userprofile.userDetails.email" ng-model-options="{allowInvalid: true}" ng-pattern="MESSAGECONSTANTS.VALIDATIONPATTERNS.EMAIL"
														required ng-focus="form.userDetailsform.email.focused = true" ng-blur="form.userDetailsform.email.focused = false">
													<span class="help-block">ex. example@example.com</span>
													<div style="color:red;" ng-if="!form.userDetailsform.email.focused && form.userDetailsform.email.$invalid && form.userDetailsform.email.$error.pattern"
														ng-message="pattern">
														<small class="error">
															{{MESSAGECONSTANTS.COMMONVALIDATIONS.NOT_VALID_EMAIL}}
													</small></div>
												</div>
												<div class="form-group" ng-class="{'has-error':(formsubmitted && form.userDetailsform.im.$invalid)}">
													<label for="im" class="control-label">{{MESSAGECONSTANTS.LABLES.IM}}
														<em> * </em> :
													</label> <input type="text" class="form-control access" id="im" name="im" ng-model="userprofile.userDetails.im"
														required>
												</div>
												<div class="form-group" hidden>
													<input type="text" class="form-control access" id="compilerowprofilepicture" readonly disabled>
												</div>
												<!--</form>-->
											</div>
											<div class="col-lg-3 col-md-4 col-sm-4 col-lg-offset-1 col-md-offset-1 col-sm-offset-1" id="user-profile">
												<div class="main-box clearfix">
													<header class="main-box-header clearfix text-center" id="profilepicname"></header>
													<div class="main-box-body clearfix">
														<img src="app-content/img/samples/4dot5-default-no-profile-pic.jpg" data-ng-src="{{profilePic.url}}" alt="Image not found"
															type="{{profilePic.file.type}}" class="profile-img img-responsive img-circle center-block" />
														<div class="profile-label">
															<input id="inputImage" type="file" accept="image/*" image="profilePic" ng-model="profileImage" /> <label for="file-upload"
																class="custom-file-upload"> <i
																class="fa fa-upload"></i> <span>Select Profile
																	Picture<span></label>
															<button id="selectprofilepic" ng-click="single(profilePic)" hidden></button>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="step-pane sample-pane alert" data-step="2">
								<header class="main-box-header clearfix col-sm-6 col-sm-offset-2">
									<h2 ng-if="(formsubmitted && form.userScopeDetailsform.$error.required)" class="has-error">
										<span class="help-block"> <em>*</em>
											{{MESSAGECONSTANTS.COMMONVALIDATIONS.ENTER_MANDATORY_FIELDS}}
										</span>
									</h2>
								</header>
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12" ng-if="isinHost()">
										<form role="form" class="form-horizontal" name="form.userScopeDetailsform" novalidate>
											<div align="center">
												<lable for="message" ng-if="!userprofile.userScopeDetails.staffingCompanies.length && !userprofile.userScopeDetails.corporateCompanies.length" class="scoperesetlabel">No companies are assigned to this user yet</lable>
											</div>
											<div class="main-box clearfix" ng-if="(userprofile.userScopeDetails.staffingCompanies.length)">
												<header class="main-box-header clearfix">
													<h2 class="oneemfontsize threehundredfontweight"> <b>Staffing Companies </b></h2>
												</header>
												<div class="main-box-body clearfix panelminheight table-responsive">
													<table class="user_scope_table widget-todo table borderlesstable">
														<tr ng-repeat="clientOrBU in userprofile.userScopeDetails.staffingCompanies" ng-switch on="$index % 3">
															<td ng-switch-when="0" class="user_scope_table_columns">
																<label class="oneemfontsize" ng-bind="handleLongName(userprofile.userScopeDetails.staffingCompanies[$index].companyName,40)"></label>
															</td>
															<td ng-switch-when="0" class="user_scope_table_columns">
																<label class="oneemfontsize" ng-if="(userprofile.userScopeDetails.staffingCompanies.length > 1) && userprofile.userScopeDetails.staffingCompanies[$index+1]"
																	ng-bind="handleLongName(userprofile.userScopeDetails.staffingCompanies[$index+1].companyName,40)">
        														</label>
															</td>
															<td ng-switch-when="0" class="user_scope_table_columns">
																<label class="oneemfontsize" ng-if="(userprofile.userScopeDetails.staffingCompanies.length > 2) && userprofile.userScopeDetails.staffingCompanies[$index+2]"
																	ng-bind="handleLongName(userprofile.userScopeDetails.staffingCompanies[$index+2].companyName,40)">
        														</label>
															</td>
														</tr>
													</table>
												</div>
												<footer class="main-box-footer clearfix">
													<label style="color : gray;font-size : 1.2em">
														 <i><em>*</em> For all the above Staffing Companies, this user has scope as <b>Client : All</b></i></label>
												</footer>
											</div>
											<div class="main-box clearfix" ng-if="(userprofile.userScopeDetails.corporateCompanies.length)">
												<header class="main-box-header clearfix">
													<h2 class="oneemfontsize threehundredfontweight"> <b>Corporate Companies </b></h2>
												</header>
												<div class="main-box-body clearfix panelminheight table-responsive">
													<table class="user_scope_table widget-todo table borderlesstable">
														<tr ng-repeat="clientOrBU in userprofile.userScopeDetails.corporateCompanies" ng-switch on="$index % 3">
															<td ng-switch-when="0" class="user_scope_table_columns">
																<label class="oneemfontsize" ng-bind="handleLongName(userprofile.userScopeDetails.corporateCompanies[$index].companyName,40)"></label>
															</td>
															<td ng-switch-when="0" class="user_scope_table_columns">
																<label class="oneemfontsize" ng-if="(userprofile.userScopeDetails.corporateCompanies.length > 1) && userprofile.userScopeDetails.corporateCompanies[$index+1]"
																	ng-bind="handleLongName(userprofile.userScopeDetails.corporateCompanies[$index+1].companyName,40)">
        														</label>
															</td>
															<td ng-switch-when="0" class="user_scope_table_columns">
																<label class="oneemfontsize" ng-if="(userprofile.userScopeDetails.corporateCompanies.length > 2) && userprofile.userScopeDetails.corporateCompanies[$index+2]"
																	ng-bind="handleLongName(userprofile.userScopeDetails.corporateCompanies[$index+2].companyName,40)">
        														</label>
															</td>
														</tr>
													</table>
												</div>
												<footer class="main-box-footer clearfix">
													<label style="color : gray;font-size : 1.2em">
														 <i><em>*</em> For all the above Corporate Companies, this user has scope as <b>BU : All</b></i></label>
												</footer>
											</div>
										</form>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12" ng-if="!isinHost()">
										<form role="form" class="form-horizontal" name="form.userScopeDetailsform" novalidate>
											<div align="center">
												<lable for="message" ng-if="userprofile.userScopeDetails.disabled" class="scoperesetlabel">{{MESSAGECONSTANTS.NOTIFICATIONS.USER.BULIST_NOT_SETUP}}</lable>
												<lable for="message" ng-if="!userprofile.userScopeDetails.disabled && userprofile.userScopeDetails.withBuAndNoRES" class="scoperesetlabel">{{MESSAGECONSTANTS.NOTIFICATIONS.USER.RES_NOT_SETUP}}</lable>
												<lable for="message" ng-if="!userprofile.userScopeDetails.disabled && !userprofile.userScopeDetails.withBuAndNoRES && (roleChanged || managerChanged) && (!userprofile.userScopeDetails.allclientOrBU) && userprofile.userScopeDetails.clientOrBUList[0].length" class="scoperesetlabel">{{MESSAGECONSTANTS.NOTIFICATIONS.USER.SCOPE_RESET}}</lable>
											</div>
											<div class="form-group scopename">
												<label for="role" class="col-sm-1 control-label" ng-if="(companytype === MESSAGECONSTANTS.COMPANY_TYPES.STAFFING)">{{MESSAGECONSTANTS.LABLES.CLIENT}}
													: </label> <label for="role" class="col-sm-1 control-label" ng-if="(companytype === MESSAGECONSTANTS.COMPANY_TYPES.CORPORATE)">{{MESSAGECONSTANTS.LABLES.BU}}
													: </label>
												<div class="col-sm-6 col-lg-8" style="margin-top: 0.3%">
													<label ng-if="(companytype === MESSAGECONSTANTS.COMPANY_TYPES.STAFFING)">
														<span class="label label-primary"
														ng-if="userprofile.userScopeDetails.allclientOrBU">
															{{MESSAGECONSTANTS.LABLES.ALL}} </span> <span
														class="label label-primary"
														ng-if="!userprofile.userScopeDetails.allclientOrBU">
															{{MESSAGECONSTANTS.LABLES.LIST}} </span>
													</label> <label ng-if="(companytype === MESSAGECONSTANTS.COMPANY_TYPES.CORPORATE)">
														<span class="label label-default" ng-if="userprofile.userScopeDetails.disabled || userprofile.userScopeDetails.withBuAndNoRES">
															{{MESSAGECONSTANTS.LABLES.ALL}} </span> <span
														ng-if="!clientOrBUList.length">
															&nbsp;&nbsp; </span> <span
														class="label label-default" ng-if="userprofile.userScopeDetails.disabled || userprofile.userScopeDetails.withBuAndNoRES">
															{{MESSAGECONSTANTS.LABLES.LIST}} </span> <span
														class="label label-primary"
														ng-if="!userprofile.userScopeDetails.disabled && !userprofile.userScopeDetails.withBuAndNoRES && userprofile.userScopeDetails.allclientOrBU">
															{{MESSAGECONSTANTS.LABLES.ALL}} </span> <span
														class="label label-primary"
														ng-if="!userprofile.userScopeDetails.disabled && !userprofile.userScopeDetails.withBuAndNoRES && !userprofile.userScopeDetails.allclientOrBU">
															{{MESSAGECONSTANTS.LABLES.LIST}} </span>
													</label>
												</div>
											</div>
											<div class="main-box clearfix" ng-if="!userprofile.userScopeDetails.disabled && !userprofile.userScopeDetails.withBuAndNoRES && !userprofile.userScopeDetails.allclientOrBU">
												<header class="main-box-header clearfix">
													<h2 class="oneemfontsize threehundredfontweight" ng-if="(companytype === MESSAGECONSTANTS.COMPANY_TYPES.STAFFING)">{{MESSAGECONSTANTS.LABLES.CLIENT_LIST}}</h2>
													<h2 class="oneemfontsize threehundredfontweight" ng-if="(companytype === MESSAGECONSTANTS.COMPANY_TYPES.CORPORATE)">{{MESSAGECONSTANTS.LABLES.BU_LIST}}</h2>
												</header>
												<div class="main-box-body clearfix panelminheight table-responsive" ng-if="userprofile.userScopeDetails.clientOrBUList[0].length">
													<table class="user_scope_table widget-todo table borderlesstable">
														<tr ng-repeat="clientOrBU in userprofile.userScopeDetails.clientOrBUList[0] track by $index" ng-switch on="$index % 3">
															<td ng-switch-when="0" class="user_scope_table_columns">
																<div class="name">
																	<div class="checkbox-nice">
																		<input type="checkbox" class="access" id="{{userprofile.userScopeDetails.clientOrBUList[0][$index].companyName}}"
																		ng-value="userprofile.userScopeDetails.clientOrBUList[0][$index].selected"
																		ng-model="userprofile.userScopeDetails.clientOrBUList[0][$index].selected"
																		ng-readonly="(userprofile.userScopeDetails.clientOrBUList[0][$index].disabled) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)"
																		ng-disabled="(userprofile.userScopeDetails.clientOrBUList[0][$index].disabled) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)" />
																		<label class="oneemfontsize" for="{{userprofile.userScopeDetails.clientOrBUList[0][$index].companyName}}"
																		ng-class="{'disablecheckboxselection nopointerevents' : (userprofile.userScopeDetails.clientOrBUList[0][$index].disabled) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)}"
																		ng-bind="handleLongName(userprofile.userScopeDetails.clientOrBUList[0][$index].companyName,40)"></label>
																	</div>
																</div>
															</td>
															<td ng-switch-when="0" class="user_scope_table_columns">
																<div class="name" ng-if="(userprofile.userScopeDetails.clientOrBUList[0].length > 1) && userprofile.userScopeDetails.clientOrBUList[0][$index+1]">
																	<div class="checkbox-nice">
																		<input type="checkbox" class="access" id="{{userprofile.userScopeDetails.clientOrBUList[0][$index+1].companyName}}"
																		ng-value="userprofile.userScopeDetails.clientOrBUList[0][$index+1].selected"
																		ng-model="userprofile.userScopeDetails.clientOrBUList[0][$index+1].selected"
																		ng-readonly="(userprofile.userScopeDetails.clientOrBUList[0][$index+1].disabled) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)"
																		ng-disabled="(userprofile.userScopeDetails.clientOrBUList[0][$index+1].disabled) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)"/>
																		<label class="oneemfontsize" for="{{userprofile.userScopeDetails.clientOrBUList[0][$index+1].companyName}}"
																		ng-class="{'disablecheckboxselection nopointerevents' : (userprofile.userScopeDetails.clientOrBUList[0][$index+1].disabled) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)}"
																		ng-bind="handleLongName(userprofile.userScopeDetails.clientOrBUList[0][$index+1].companyName,40)"></label>
																	</div>
																</div>
															</td>
															<td ng-switch-when="0" class="user_scope_table_columns">
																<div class="name" ng-if="(userprofile.userScopeDetails.clientOrBUList[0].length > 2) && userprofile.userScopeDetails.clientOrBUList[0][$index+2]">
																	<div class="checkbox-nice">
																		<input type="checkbox" class="access" id="{{userprofile.userScopeDetails.clientOrBUList[0][$index+2].companyName}}"
																		ng-value="userprofile.userScopeDetails.clientOrBUList[0][$index+2].selected"
																		ng-model="userprofile.userScopeDetails.clientOrBUList[0][$index+2].selected"
																		ng-readonly="(userprofile.userScopeDetails.clientOrBUList[0][$index+2].disabled) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)"
																		ng-disabled="(userprofile.userScopeDetails.clientOrBUList[0][$index+2].disabled) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)"/>
																		<label class="oneemfontsize" for="{{userprofile.userScopeDetails.clientOrBUList[0][$index+2].companyName}}"
																		ng-class="{'disablecheckboxselection nopointerevents' : (userprofile.userScopeDetails.clientOrBUList[0][$index+2].disabled) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)}"
																		ng-bind="handleLongName(userprofile.userScopeDetails.clientOrBUList[0][$index+2].companyName,40)"></label>
																	</div>
																</div>
															</td>
														</tr>
													</table>
												</div>
												<div class="main-box-body clearfix panelminheight" ng-if="!userprofile.userScopeDetails.clientOrBUList[0].length">
													<p class="text-center">
														<label class="oneemfontsize" ng-if="(companytype === MESSAGECONSTANTS.COMPANY_TYPES.STAFFING)"> {{MESSAGECONSTANTS.NOTIFICATIONS.USER.NO_CLIENTS}}</label>
														<label class="oneemfontsize" ng-if="(companytype === MESSAGECONSTANTS.COMPANY_TYPES.CORPORATE)"> {{MESSAGECONSTANTS.NOTIFICATIONS.USER.NO_BULIST}}</label>
													</p>
												</div>
											</div>
											<div class="main-box clearfix" ng-if="!userprofile.userScopeDetails.disabled && !userprofile.userScopeDetails.withBuAndNoRES && userprofile.userScopeDetails.clientOrBUList[1].length">
												<header class="main-box-header clearfix">
													<h2 class="oneemfontsize threehundredfontweight" ng-if="(companytype === MESSAGECONSTANTS.COMPANY_TYPES.STAFFING)">{{MESSAGECONSTANTS.LABLES.CLIENT_LIST + ' (from Forward Recipients)'}}</h2>
													<h2 class="oneemfontsize threehundredfontweight" ng-if="(companytype === MESSAGECONSTANTS.COMPANY_TYPES.CORPORATE)">{{MESSAGECONSTANTS.LABLES.BU_LIST + ' (from Forward Recipients)'}}</h2>
												</header>
												<div class="main-box-body clearfix panelminheight table-responsive">
													<table class="user_scope_table widget-todo table borderlesstable">
														<tr ng-repeat="clientOrBU in userprofile.userScopeDetails.clientOrBUList[1] track by $index" ng-switch on="$index % 3">
															<td ng-switch-when="0" class="user_scope_table_columns">
																<div class="name nopointerevents">
																	<div class="checkbox-nice">
																		<input type="checkbox" class="access nopointerevents" id="{{userprofile.userScopeDetails.clientOrBUList[1][$index].companyName}}"
																		ng-value="userprofile.userScopeDetails.clientOrBUList[1][$index].selected"
																		ng-model="userprofile.userScopeDetails.clientOrBUList[1][$index].selected"
																		ng-readonly="(userprofile.userScopeDetails.clientOrBUList[1][$index].disabled) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)"
																		ng-disabled="(userprofile.userScopeDetails.clientOrBUList[1][$index].disabled) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)" />
																		<label class="oneemfontsize nopointerevents disablecheckboxselection" for="{{userprofile.userScopeDetails.clientOrBUList[1][$index].companyName}}"
																		ng-bind="handleLongName(userprofile.userScopeDetails.clientOrBUList[1][$index].companyName,40)"
																		ng-title-attr="{{userprofile.userScopeDetails.clientOrBUList[1][$index].companyName}}"></label>
																	</div>
																</div>
															</td>
															<td ng-switch-when="0" class="user_scope_table_columns">
																<div class="name nopointerevents" ng-if="(userprofile.userScopeDetails.clientOrBUList[1].length > 1) && userprofile.userScopeDetails.clientOrBUList[1][$index+1]">
																	<div class="checkbox-nice">
																		<input type="checkbox" class="access" id="{{userprofile.userScopeDetails.clientOrBUList[1][$index+1].companyName}}"
																		ng-value="userprofile.userScopeDetails.clientOrBUList[1][$index+1].selected"
																		ng-model="userprofile.userScopeDetails.clientOrBUList[1][$index+1].selected"
																		ng-readonly="(userprofile.userScopeDetails.clientOrBUList[1][$index+1].disabled) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)"
																		ng-disabled="(userprofile.userScopeDetails.clientOrBUList[1][$index+1].disabled) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)"/>
																		<label class="oneemfontsize disablecheckboxselection" for="{{userprofile.userScopeDetails.clientOrBUList[1][$index+1].companyName}}"
																		ng-bind="handleLongName(userprofile.userScopeDetails.clientOrBUList[1][$index+1].companyName,40)"></label>
																	</div>
																</div>
															</td>
															<td ng-switch-when="0" class="user_scope_table_columns">
																<div class="name nopointerevents" ng-if="(userprofile.userScopeDetails.clientOrBUList[1].length > 2) && userprofile.userScopeDetails.clientOrBUList[1][$index+2]">
																	<div class="checkbox-nice">
																		<input type="checkbox" class="access" id="{{userprofile.userScopeDetails.clientOrBUList[1][$index+2].companyName}}"
																		ng-value="userprofile.userScopeDetails.clientOrBUList[1][$index+2].selected"
																		ng-model="userprofile.userScopeDetails.clientOrBUList[1][$index+2].selected"
																		ng-readonly="(userprofile.userScopeDetails.clientOrBUList[1][$index+2].disabled) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)"
																		ng-disabled="(userprofile.userScopeDetails.clientOrBUList[1][$index+2].disabled) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)"/>
																		<label class="oneemfontsize disablecheckboxselection" for="{{userprofile.userScopeDetails.clientOrBUList[1][$index+2].companyName}}"
																		ng-bind="handleLongName(userprofile.userScopeDetails.clientOrBUList[1][$index+2].companyName,40)"></label>
																	</div>
																</div>
															</td>
														</tr>
													</table>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="step-pane sample-pane alert" data-step="3">
								<header class="main-box-header clearfix col-lg-6 col-lg-offset-2">
									<h2 ng-if="(formsubmitted && form.userForwardRecipientsform.$error.required)" class="has-error">
										<span class="help-block"> <em>*</em>
											{{MESSAGECONSTANTS.COMMONVALIDATIONS.ENTER_MANDATORY_FIELDS}}
										</span>
									</h2>
								</header>

								<div class="col-lg-6 col-lg-offset-1">
									<div class="row">
										<div class="col-lg-12">
											<form role="form" name="form.userForwardRecipientsform" novalidate>
												<div class="form-group">
													<label for="forwardRecipient" class="control-label">{{MESSAGECONSTANTS.LABLES.USER_MANAGEMENT.FORWARDRECIPIENTS}}
												: </label>
													<div isteven-multi-select input-model="forwardrecipients" output-model="selectedforwardRecipient" button-label="fullName"
														item-label="fullName current" helper-elements="all filter" tick-property="ticked" selection-mode="single" search-property="firstName"
														on-item-click="selectForwardRecipient()" ng-class="{'disablemultiselect' : ((forwardrecipients.length === 0) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW))}"
														max-height="200px">
													</div>
												</div>

												<div class="error form-group" ng-show="((accessMode !== MESSAGECONSTANTS.ACCESS_MODES.VIEW) && ((forwardrecipients === null) || (forwardrecipients === '') || (forwardrecipients.length === 0)))">
													<small class="error" style="color: #9e9e9e;">
														{{MESSAGECONSTANTS.COMMONVALIDATIONS.NO_FORWARD_RECIPIENTS}}
													</small>
												</div>
												<div class="row marginrightzero marginleftzero">
													<div class="col-lg-6 formfirstsideelement form-group" ng-class="{'has-error': (formsubmitted && (form.userForwardRecipientsform.fromDate.$invalid))}">
														<label for="fromDate" class="control-label">{{MESSAGECONSTANTS.LABLES.USER_MANAGEMENT.FROM_DATE}}
															<em ng-if="(selectedforwardRecipient.length > 0)"> *
														</em> :
														</label>
														<div class="input-group">
															<span class="input-group-addon"><i
															class="fa fa-calendar"></i></span>
															<input type="text" class="form-control access" placeholder="Mmm dd, YYYY" id="fromDate" name="fromDate" ng-model="userprofile.userForwardRecipientDetails.fromDate"
																ng-change="checkDateValidation()" ng-readonly="(selectedforwardRecipient.length === 0) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)"
																ng-disabled="(selectedforwardRecipient.length === 0) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)"
																ng-required="(selectedforwardRecipient.length > 0)">
															<!-- <input type="text" value="{{userprofile.userForwardRecipientDetails.fromDate}}" id="fromDate" name="fromDate" 
															class="form-control access" ng-model="userprofile.userForwardRecipientDetails.fromDate"  ng-change="checkDateValidation()"
															ng-readonly="(selectedforwardRecipient.length === 0) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)"
															ng-disabled="(selectedforwardRecipient.length === 0) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)"
															ng-required="(selectedforwardRecipient.length > 0)" data-autoclose="true" placeholder="Mmm dd, YYYY" bs-datepicker> -->
														</div>
													</div>
													<div class="col-lg-6 formsecodesideelement form-group" ng-show="userprofile.userForwardRecipientDetails.fromDate" ng-class="{'has-error': (formsubmitted && (form.userForwardRecipientsform.fromTime.$invalid))}">
														<label for="fromTime" class="control-label">{{MESSAGECONSTANTS.LABLES.USER_MANAGEMENT.FROM_TIME}}
															: </label>
														<div class="input-group">
															<span class="input-group-addon"><i
															class="fa fa-clock-o"></i></span> <input type="text" class="form-control access" placeholder="hh:mm:ss"
																value="{{userprofile.userForwardRecipientDetails.fromDate}}" id="fromTime" name="fromTime" ng-model="userprofile.userForwardRecipientDetails.fromTime"
																ng-change="checkDateValidation()" ng-readonly="(selectedforwardRecipient.length === 0) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)"
																ng-disabled="(selectedforwardRecipient.length === 0) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)">
														</div>
													</div>
												</div>
												<div class="row marginrightzero marginleftzero" ng-show="(selectedforwardRecipient.length > 0) && (form.userForwardRecipientsform.fromDate.$error.date || form.userForwardRecipientsform.fromTime.$error.time)">
													<div class="col-lg-6 formfirstsideelement form-group" ng-show="form.userForwardRecipientsform.fromDate.$error.date">
														<div class="error">
															<small class="error">{{MESSAGECONSTANTS.COMMONVALIDATIONS.FROMDATE_VALIDATION}}</small>
														</div>
													</div>
													<div class="col-lg-6 col-lg-offset-6 formsecodesideelement form-group" ng-show="!form.userForwardRecipientsform.fromDate.$error.date && form.userForwardRecipientsform.fromTime.$error.time">
														<div class="error">
															<small class="error">{{MESSAGECONSTANTS.COMMONVALIDATIONS.TODATE_VALIDATION}}</small>
														</div>
													</div>
												</div>
												<div class="row marginrightzero marginleftzero">
													<div class="col-lg-6 formfirstsideelement form-group" ng-class="{'has-error': (formsubmitted && (form.userForwardRecipientsform.toDate.$invalid))}">
														<label for="toDate" class="control-label">{{MESSAGECONSTANTS.LABLES.USER_MANAGEMENT.TO_DATE}}
															<em ng-if="(selectedforwardRecipient.length > 0)"> *
														</em> :
														</label>
														<div class="input-group">
															<span class="input-group-addon"><i
															class="fa fa-calendar"></i></span> <input type="text" class="form-control access" placeholder="Mmm dd, YYYY"
																id="toDate" name="toDate" ng-model="userprofile.userForwardRecipientDetails.toDate" ng-change="checkDateValidation()"
																ng-readonly="(selectedforwardRecipient.length === 0) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)"
																ng-disabled="(selectedforwardRecipient.length === 0) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)"
																ng-required="(selectedforwardRecipient.length > 0)">
														</div>
													</div>
													<div class="col-lg-6 formsecodesideelement form-group" ng-show="userprofile.userForwardRecipientDetails.toDate" ng-class="{'has-error': (formsubmitted && (form.userForwardRecipientsform.toTime.$invalid))}">
														<label for="toTime" class="control-label">{{MESSAGECONSTANTS.LABLES.USER_MANAGEMENT.TO_TIME}}
															: </label>
														<div class="input-group">
															<span class="input-group-addon"><i
															class="fa fa-clock-o"></i></span> <input type="text" class="form-control access" placeholder="hh:mm:ss"
																value="{{userprofile.userForwardRecipientDetails.toDate}}" id="toTime" name="toTime" ng-model="userprofile.userForwardRecipientDetails.toTime"
																ng-change="checkDateValidation()" ng-readonly="(selectedforwardRecipient.length === 0) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)"
																ng-disabled="(selectedforwardRecipient.length === 0) || (accessMode === MESSAGECONSTANTS.ACCESS_MODES.VIEW)">
														</div>
													</div>
												</div>
												<div class="row marginrightzero marginleftzero" ng-show="(selectedforwardRecipient.length > 0) && (form.userForwardRecipientsform.toDate.$error.date || form.userForwardRecipientsform.toTime.$error.time)">
													<div class="col-lg-6 formfirstsideelement form-group" ng-show="form.userForwardRecipientsform.toDate.$error.date">
														<div class="error">
															<small class="error">{{MESSAGECONSTANTS.COMMONVALIDATIONS.FROMDATE_VALIDATION}}</small>
														</div>
													</div>
													<div class="col-lg-6 col-lg-offset-6 formsecodesideelement form-group" ng-show="!form.userForwardRecipientsform.toDate.$error.date && form.userForwardRecipientsform.toTime.$error.time">
														<div class="error">
															<small class="error">{{MESSAGECONSTANTS.COMMONVALIDATIONS.TODATE_VALIDATION}}</small>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input type="text" ng-model="companytype" id="hiddencompanytype"></input>
</div>
<script>
	$(function() {
		var companytype = $('#hiddencompanytype').val();
		$('#hiddencompanytype').hide();
		var is4dot5Admin = localStorage.getItem('myStorage-4dot5Admin');
		console.log('is4dot5Admin : '+ is4dot5Admin);
		//var userDetails = getCookie('myStorage-userDetails');
		if((companytype === 'Host') || is4dot5Admin){
			console.log('removing 3rd step');
			$('#myWizard').wizard('removeSteps', 3, 1).on('actionclicked.fu.wizard', function (event, data) {
                var wizardoperations = localStorage.getItem('myStorage-wizardoperations');
                if ((wizardoperations === null) || (wizardoperations !== 'true')) {
                    //console.log('preventing');
                    event.preventDefault();
                }
            }).on('finished.fu.wizard', function (event, data) {
                 console.log('finished.fu.wizard : ');
                // if ((wizardoperations === null) || (wizardoperations !== 'true')) {
                //     console.log('preventing');
                //     event.preventDefault();
                // }
            }).on('stepclicked.fu.wizard', function (event, data) {
                 console.log('stepclicked.fu.wizard : ');
                // if ((wizardoperations === null) || (wizardoperations !== 'true')) {
                //     console.log('preventing');
                //     event.preventDefault();
                // }
            });
		}else{
			$('#myWizard').wizard()
			.on('actionclicked.fu.wizard', function (event, data) {
                var wizardoperations = localStorage.getItem('myStorage-wizardoperations');
                //console.log('wizardoperations : '+wizardoperations);
                if ((wizardoperations === null) || (wizardoperations !== 'true')) {
                    //console.log('preventing');
                    event.preventDefault();
                }
            }).on('changed.fu.wizard', function (event, data) {
                 console.log('changed.fu.wizard : ');
				 localStorage.removeItem('myStorage-wizardoperations');
            }).on('stepclicked.fu.wizard', function (event, data) {
                 console.log('stepclicked.fu.wizard : ');
                // if ((wizardoperations === null) || (wizardoperations !== 'true')) {
                //     console.log('preventing');
                //     event.preventDefault();
                // }
            });
            
		}
		var currentDate = new Date();
		$('#fromDate').datepicker({
			format : 'M d, yyyy',
			startDate: currentDate,
			autoclose: true,
		}); 
		
		$('#toDate').datepicker({
			format : 'M d, yyyy',
			startDate: currentDate,
			autoclose: true
		});
		
		$('#fromTime').timepicker({
			minuteStep : 1,
			showSeconds : true,
			showMeridian : false,
			disableFocus : true,
			showWidget : true,
		}).focus(function() {
			$(this).next().trigger('click');
		});
		// angular.element('#fromTime').trigger('click');
		$('#toTime').timepicker({
			minuteStep : 1,
			showSeconds : true,
			showMeridian : false,
			disableFocus : true,
			showWidget : true
		// defaultTime : true
		}).focus(function() {
			$(this).next().trigger('click');
		});
		// angular.element('#fromTime').trigger('click');

		//masked inputs
		// $("#workTelephone").mask("9?99.999.999999999",{placeholder:" ",autoclear: false});
		/* $("#mobileNumber").mask("9?99.999.999999999",{placeholder:" ",autoclear: false}); */

		// $('#myWizard').bind("cut copy paste",function(e) {
		// 		e.preventDefault();
		// 	});
	});

	$('.custom-file-upload').bind("click", function() {
		$('#inputImage').trigger('click');
	});
	$('#inputImage').change(function() {
		var filepath = $('#inputImage').val();
		var filename = filepath.split('\\').pop().split('/').pop(); //str.split('\\').pop().split('/').pop();
		$('#profilepicname').html(filename);
	});
</script>