<style>
    .modal-backdrop.fade {
        opacity: 0;
    }

    .modal-backdrop {
        position: initial;
    }
    #content-wrapper{
        min-height: 915px !important;
    }
</style>

<div id="content-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="slide-main-container">
                <div class="container slide-main-animation">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="login-box" ng-if="!tokenLogin.authenticatedFlag">
                                <div id="login-box-holder">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <header id="login-header">
                                                <div id="login-logo">
                                                    <img ng-src={{imageUrl}}logo-symbol.png alt="" />
                                                </div>
                                            </header>
                                            <div id="login-box-inner">
                                                <authenticate-token token="{{tokenLogin.token}}" success-callback="tokenLogin.successCallback(tokenResponse)"
                                                        error-callback="tokenLogin.errorCallback(tokenResponse)"></authenticate-token>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="performAction" ng-if="tokenLogin.authenticatedFlag" class="main-box" style="max-height: 500px; margin: 60px auto 20px auto; overflow: scroll;">
                                <div class="main-box-body">
                                    <div ng-if="tokenLogin.action == 'Interview' || tokenLogin.action == 'PhoneScreen'">
                                        <feedback-execution-screen user-id="{{tokenLogin.userId}}" feedback-type="{{tokenLogin.action}}" job-match-id="{{tokenLogin.tokenData.jobMatchId}}" save-callback="tokenLogin.actionSaveCallback()"></feedback-execution-screen>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>