<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <h4 class="modal-title wrap-text-in ng-binding">
        <span ng-bind="resendConfirmationModal.label"></span>
    </h4>
</div>

<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form role="form" name="resendConfirmationModal.resendAssessmentForm" novalidate>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label">
                                    Are you really sure you want to re-send the assessment to the candidate, as it will be another attempt ?
                                    <br>The previous attempt was in '<span class="emerald" ng-bind="resendConfirmationModal.assessmentDetails.assessmentLinkStatus"></span>' state and it occurred at '<span class="emerald" ng-bind="resendConfirmationModal.previousStateDateTime | fourdotfiveTimeStampFormat"></span>'
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="reasonForResend" class="control-label">
                                    Reason:
                                </label>
                                <select class="form-control" style="display:inline; width: 70%;" id="reasonForResend" name="reasonForResend" ng-model="resendConfirmationModal.resendReason" ng-required="true">
                                    <option value="Technical Issue with Assessment">Technical Issue with Assessment</option>
                                    <option value="Validity Period for completed assessment has ended">Validity Period for completed assessment has ended</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="resendConfirmationModal.resendReason == 'Other'">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <textarea id="otherReasonNotes" name="otherReasonNotes" class="form-control" rows="3" placeholder="Enter your reason.." ng-model="resendConfirmationModal.otherReasonNotes" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <div class="clearfix">
                                <button type="button" class="btn btn-success pull-right" style="margin-left: 5px" ng-click="resendConfirmationModal.resendAction(true)">
                                    <span>Yes</span>
                                </button>
                                <button type="button" class="btn btn-danger pull-right" ng-click="resendConfirmationModal.resendAction(false)">
                                    <span>No</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>