<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form role="form" name="sendAssessment.sendAssessmentForm" novalidate>
                <div class="row">
                    <div class="col-xs-12 send-assessment-statement">
                        <span ng-if="sendAssessment.assessmentSendMode == 'send'">
                            '<span class="emerald">Send</span>' <span ng-bind="sendAssessment.sendAssessmentLabel"></span> to Candidate '<span ng-bind="sendAssessment.candidateJobMatch.name" class="emerald"></span>'
                            for role of '<span class="emerald" ng-bind="sendAssessment.candidateJobMatch.jobMatchTitle"></span>' at '<span class="emerald" ng-bind="sendAssessment.candidateJobMatch.jobMatchClientName"></span>'
                        </span>
                        <span ng-if="sendAssessment.assessmentSendMode == 'resend' && sendAssessment.assessmentDetails.assessmentLinkStatus == 'Cancelled'">
                            '<span class="emerald">Resend</span>' <span ng-bind="sendAssessment.sendAssessmentLabel"></span> to Candidate '<span ng-bind="sendAssessment.candidateJobMatch.name" class="emerald"></span>'
                            for role of '<span class="emerald" ng-bind="sendAssessment.candidateJobMatch.jobMatchTitle"></span>' at '<span class="emerald" ng-bind="sendAssessment.candidateJobMatch.jobMatchClientName"></span>'
                            as it was previously Canceled on '<span class="emerald" ng-bind="sendAssessment.assessmentDetails.cancelledDateTime | fourdotfiveTimeStampFormat"></span>'
                        </span>
                        <span ng-if="sendAssessment.assessmentSendMode == 'resend' && ( sendAssessment.assessmentDetails.assessmentLinkStatus == 'Expired' || sendAssessment.assessmentDetails.assessmentLinkStatus == 'Suspended' || sendAssessment.assessmentDetails.assessmentLinkStatus == 'Test Left' || sendAssessment.assessmentDetails.assessmentLinkStatus == 'Terminated')">
                            '<span class="emerald">Resend</span>' <span ng-bind="sendAssessment.sendAssessmentLabel"></span> to Candidate '<span ng-bind="sendAssessment.candidateJobMatch.name" class="emerald"></span>'
                            for role of '<span class="emerald" ng-bind="sendAssessment.candidateJobMatch.jobMatchTitle"></span>' at '<span class="emerald" ng-bind="sendAssessment.candidateJobMatch.jobMatchClientName"></span>'
                            as it was in '<span class="emerald" ng-bind="sendAssessment.assessmentDetails.assessmentLinkStatus"></span>' status. The Assessment was sent on '<span class="emerald" ng-bind="sendAssessment.assessmentDetails.sentDateTime | fourdotfiveTimeStampFormat"></span>' and '<span class="emerald" ng-bind="sendAssessment.assessmentDetails.assessmentLinkStatus"></span>' on '<span class="emerald" ng-bind="sendAssessment.previousStateDateTime | fourdotfiveTimeStampFormat"></span>'
                        </span>
                        <span ng-if="sendAssessment.assessmentSendMode == 'resend' && sendAssessment.assessmentDetails.assessmentLinkStatus == 'Completed'">
                            '<span class="emerald">Resend</span>' <span ng-bind="sendAssessment.sendAssessmentLabel"></span> to Candidate '<span ng-bind="sendAssessment.candidateJobMatch.name" class="emerald"></span>'
                            for role of '<span class="emerald" ng-bind="sendAssessment.candidateJobMatch.jobMatchTitle"></span>' at '<span class="emerald" ng-bind="sendAssessment.candidateJobMatch.jobMatchClientName"></span>'
                            as it was previously '<span class="emerald">Completed</span>'. The Assessment was sent on '<span class="emerald" ng-bind="sendAssessment.assessmentDetails.sentDateTime | fourdotfiveTimeStampFormat"></span>' and was '<span class="emerald">Completed</span>' on '<span class="emerald" ng-bind="sendAssessment.previousStateDateTime | fourdotfiveTimeStampFormat"></span>'
                        </span>
                    </div>
                </div>
                <div class="row" ng-show="sendAssessment.loadingAccessTimeOptionsFlag">
                    <div class="col-xs-12 text-center">
                        Querying access time options <i class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="row" ng-show="!sendAssessment.loadingAccessTimeOptionsFlag">
                    <div class="col-xs-12" ng-show="sendAssessment.showAccessTimeOptionsFlag">
                        <div class="form-group">
                            <label style="padding-right: 10px">
                                Access Time :
                            </label>
                            <div class="radio" style="display: inline;" ng-if="sendAssessment.accessTimePreferences.anyTime">
                                <input type="radio" name="accessTimeType" id="accessTimeTypeAny"
                                       ng-model="sendAssessment.assessmentData.accessTime"
                                       ng-value="'anyTime'" ng-change="sendAssessment.accessTimeTypeChanged()">
                                <label for="accessTimeTypeAny">
                                    Any Time
                                </label>
                            </div>
                            <div class="radio" style="display: inline;" ng-if="sendAssessment.accessTimePreferences.timeBound">
                                <input type="radio" name="accessTimeType" id="accessTimeTypeTimeBound"
                                       ng-model="sendAssessment.assessmentData.accessTime"
                                       ng-value="'timeBound'" ng-change="sendAssessment.accessTimeTypeChanged()">
                                <label for="accessTimeTypeTimeBound">
                                    Time Bound
                                </label>
                            </div>
                            <div class="radio" style="display: inline;" ng-if="sendAssessment.accessTimePreferences.slotWise">
                                <input type="radio" name="accessTimeType" id="accessTimeTypeSlotWise"
                                       ng-model="sendAssessment.assessmentData.accessTime"
                                       ng-value="'slotWise'" ng-change="sendAssessment.accessTimeTypeChanged()">
                                <label for="accessTimeTypeSlotWise">
                                    Slot Wise
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <div class="form-group" ng-class="{'has-error': ((sendAssessment.sendAssessmentForm.$submitted && sendAssessment.sendAssessmentForm.reminderInDays.$invalid) || sendAssessment.reminderErrorFlag)}">
                            <label for="notes" class="control-label">
                                Remind After<em>*</em> :
                            </label>
                            <select class="form-control" style="display:inline; width: 20%;" id="reminderInDays" name="reminderInDays" ng-model="sendAssessment.assessmentData.reminder" ng-required="true" ng-change="sendAssessment.reminderChanged()">
                                <option ng-repeat="day in sendAssessment.remindAfterDays track by $index" value="{{day.id}}">{{day.text}}</option>
                            </select>
                            <label style="padding-left:5px;">
                                Day(s)
                            </label>
                            <span class="help-block" ng-show="sendAssessment.reminderErrorFlag">
                                <span>Remind After must be less than the number of days between start date and end date</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-md-offset-1">
                        <div class="form-group" ng-class="{'has-error': (sendAssessment.sendAssessmentForm.$submitted && sendAssessment.sendAssessmentForm.timeZone.$invalid)}">
                            <label for="timezoneName" class="control-label">
                                Time Zone<em>*</em> :
                            </label>
                            <timezone-selector id="timezoneName" ng-model="sendAssessment.assessmentData.timeZoneName" sort-by="offset"
                               ng-change="sendAssessment.timeZoneChanged()" set-local="true" show-local="true" display-utc="true" primary-choices="HST HST10HDT AKST9AKDT PST PST8PDT MST MST7MDT CST CST6CDT EST EST5EDT"></timezone-selector>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="sendAssessment.assessmentData.accessTime == 'timeBound'">
                        <div class="row">
                            <div class="col-xs-12 col-md-5">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group" ng-class="{'has-error': (sendAssessment.sendAssessmentForm.$submitted && sendAssessment.sendAssessmentForm.timeBoundStartDate.$invalid)}">
                                            <label for="timeBoundStartDate" class="control-label">
                                                Start Date<em>*</em> :
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                </div>
                                                <input type="text" name="timeBoundStartDate" id="timeBoundStartDate" class="form-control" ng-model="sendAssessment.timeBoundStartDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group" ng-class="{'has-error': (sendAssessment.sendAssessmentForm.$submitted && sendAssessment.sendAssessmentForm.timeBoundStartTime.$invalid)}">
                                            <label for="timeBoundStartTime" class="control-label">
                                                Start Time<em>*</em> :
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>
                                                </div>
                                                <input type="text" name="timeBoundStartTime" id="timeBoundStartTime" class="form-control" ng-model="sendAssessment.timeBoundStartTime">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-5 col-md-offset-1">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group" ng-class="{'has-error': (sendAssessment.sendAssessmentForm.$submitted && sendAssessment.sendAssessmentForm.timeBoundEndDate.$invalid)}">
                                            <label for="timeBoundEndDate" class="control-label">
                                                End Date<em>*</em> :
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                </div>
                                                <input type="text" name="timeBoundEndDate" id="timeBoundEndDate" class="form-control" ng-model="sendAssessment.timeBoundEndDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group" ng-class="{'has-error': (sendAssessment.sendAssessmentForm.$submitted && sendAssessment.sendAssessmentForm.timeBoundEndTime.$invalid)}">
                                            <label for="timeBoundEndTime" class="control-label">
                                                End Time<em>*</em> :
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>
                                                </div>
                                                <input type="text" name="timeBoundEndTime" id="timeBoundEndTime" class="form-control" ng-model="sendAssessment.timeBoundEndTime">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="sendAssessment.assessmentData.accessTime == 'slotWise'">
                        <div class="row">
                            <div class="col-xs-12 col-md-5">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group" ng-class="{'has-error': (sendAssessment.sendAssessmentForm.$submitted && sendAssessment.sendAssessmentForm.slotWiseStartDate.$invalid)}">
                                            <label for="slotWiseStartDate" class="control-label">
                                                Start Date<em>*</em> :
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                </div>
                                                <input type="text" name="slotWiseStartDate" id="slotWiseStartDate" class="form-control" ng-model="sendAssessment.slotWiseStartDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group" ng-class="{'has-error': (sendAssessment.sendAssessmentForm.$submitted && sendAssessment.sendAssessmentForm.slotWiseEndDate.$invalid)}">
                                            <label for="slotWiseEndDate" class="control-label">
                                                End Date<em>*</em> :
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                </div>
                                                <input type="text" name="slotWiseEndDate" id="slotWiseEndDate" class="form-control" ng-model="sendAssessment.slotWiseEndDate">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-5 col-md-offset-1">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group" ng-class="{'has-error': (sendAssessment.sendAssessmentForm.$submitted && sendAssessment.sendAssessmentForm.slotWiseStartTime.$invalid)}">
                                            <label for="slotWiseStartTime" class="control-label">
                                                Start Time<em>*</em> :
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>
                                                </div>
                                                <input type="text" name="slotWiseStartTime" id="slotWiseStartTime" class="form-control" ng-model="sendAssessment.slotWiseStartTime">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group" ng-class="{'has-error': (sendAssessment.sendAssessmentForm.$submitted && sendAssessment.sendAssessmentForm.slotWiseEndTime.$invalid)}">
                                            <label for="slotWiseEndTime" class="control-label">
                                                End Time<em>*</em> :
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>
                                                </div>
                                                <input type="text" name="slotWiseEndTime" id="slotWiseEndTime" class="form-control" ng-model="sendAssessment.slotWiseEndTime">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group" ng-class="{'has-error': (sendAssessment.sendAssessmentForm.$submitted && sendAssessment.sendAssessmentForm.notes.$invalid)}">
                            <label for="notes" class="control-label">
                                Notes<em>*</em> :
                            </label>
                            <textarea id="notes" name="notes" class="form-control" rows="3" placeholder="Enter your note.." ng-model="sendAssessment.assessmentData.notes" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="clearfix">
                            <button type="submit" class="btn btn-success" ng-click="sendAssessment.sendAssessment()" ng-disabled="sendAssessment.savingFlag">
                                <span ng-if="sendAssessment.assessmentSendMode == 'send' && !sendAssessment.savingFlag">Send Assessment</span>
                                <span ng-if="sendAssessment.assessmentSendMode == 'send' &&  sendAssessment.savingFlag">Sending..</span>
                                <span ng-if="sendAssessment.assessmentSendMode == 'resend' && !sendAssessment.savingFlag">Resend Assessment</span>
                                <span ng-if="sendAssessment.assessmentSendMode == 'resend' && sendAssessment.savingFlag">Resending..</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>