<div class="row">
	<div class="col-lg-12">
		<div id="content-header" class="clearfix">
			<div class="pull-left">
				<ol class="breadcrumb">
					<li><a ui-sref="missioncontrol.dashboard">Home</a></li>
					<li class="active"><span>My Dashboard</span></li>
				</ol>				
	<!-- 			<h1 class="heading-css">My Dashboard</h1> -->
				 <h1 class="heading-css">My Dashboard</h1>
			</div>
		</div>
	</div>
</div>
<!--<div class="row">-->
	<!--<div class="col-xs-12">-->
		<!--<div style="margin:5px;font-size:0.9em" class="pull-left" >-->
			<!--<div style="padding-right:10px;" class="pull-left">-->
				<!--<input type="checkbox" id="unassignedFilter" name="unassignedFilter" ng-true-value="true" ng-false-value="false" ng-model="dashboard.visibilityFilters.unassigned" ng-click="dashboard.visibilityFilterChanged()">-->
				<!--<label for="unassignedFilter">-->
					<!--<strong>Unassigned</strong>-->
				<!--</label>-->
			<!--</div>-->
			<!--<div style="padding-right:10px;" class="pull-left">-->
				<!--<input type="checkbox" id="assignedToMeFilter" name="assignedToMeFilter" ng-true-value="true" ng-false-value="false" ng-model="dashboard.visibilityFilters.assignedToMe" ng-click="dashboard.visibilityFilterChanged()">-->
				<!--<label for="assignedToMeFilter">-->
					<!--<strong>Assigned To Me</strong>-->
				<!--</label>-->
			<!--</div>-->
			<!--<div class="pull-left">-->
				<!--<input type="checkbox" id="assignedToOthers" name="assignedToOthers" ng-true-value="true" ng-false-value="false" ng-model="dashboard.visibilityFilters.assignedToOthers" ng-click="dashboard.visibilityFilterChanged()">-->
				<!--<label for="assignedToOthers">-->
					<!--<strong>Assigned To Others</strong>-->
				<!--</label>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="main-box infographic-box">
					<!--<i class="icon-icon_4dot5 threeemfontsize emerald-bg"></i>-->
					<i class="fa fa-users emerald-bg"></i>
					<span class="headline">Active Candidates</span>
					<span class="value">
						<span ng-show="!dashboard.candidateCountsLoadingFlag">
							<a href="" ng-click="dashboard.redirectToCandidates('Active')">{{dashboard.candidateCounts.activeCandidatesCount}}</a>
						</span>
						<span ng-show="dashboard.candidateCountsLoadingFlag">
							<span class="fa fa-spinner fa-spin"></span>
						</span>
					</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="main-box infographic-box">
					<!--<i class="icon-icon_4dot5 threeemfontsize emerald-bg-passive-candidate"></i>-->
					<i class="fa fa-users emerald-bg-passive-candidate"></i>
					<span class="headline">Passive Candidates</span>
					<span class="value">
						<span ng-show="!dashboard.candidateCountsLoadingFlag">
							<a href="" ng-click="dashboard.redirectToCandidates('Passive')">{{dashboard.candidateCounts.passiveCandidatesCount}}</a>
						</span>
						<span ng-show="dashboard.candidateCountsLoadingFlag">
							<span class="fa fa-spinner fa-spin"></span>
						</span>
					</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="main-box infographic-box">
					<i class="fa fa-users purple-bg"></i>
					<span class="headline">Total Candidates</span>
					<span class="value">
						<span ng-show="!dashboard.candidateCountsLoadingFlag">
							<a style="pointer-events: none; cursor: default;">{{dashboard.candidateCounts.totalCandidatesCount}}</a>
						</span>
						<span ng-show="dashboard.candidateCountsLoadingFlag">
							<span class="fa fa-spinner fa-spin"></span>
						</span>
					</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="main-box infographic-box">
					<i class="fa fa-briefcase green-bg"></i>
					<span class="headline">Open Requisitions</span>
					<span class="value">
						<span ng-show="!dashboard.requisitionCountsLoadingFlag">
							<a href="" ng-click="dashboard.redirectToRequisitions()">{{dashboard.requisitionCount}}</a>
						</span>
						<span ng-show="dashboard.requisitionCountsLoadingFlag">
							<span class="fa fa-spinner fa-spin"></span>
						</span>
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="main-box">
					<header class="main-box-header clearfix">
						<h2>Recent Requisitions</h2>
					</header>
					<div class="main-box-body clearfix">
						<requisition-view-dashboard dashboard-view="true" limit="3">
					</div>
				</div>
			</div>
		</div>
		<!--<div class="row">-->
			<!--<div class="col-lg-3 col-sm-6 col-xs-12">-->
				<!--<div class="main-box">-->
					<!--<header class="main-box-header clearfix">-->
						<!--<h2>Time to Source (days)</h2>-->
					<!--</header>-->
					<!---->
					<!--<div class="main-box-body clearfix">-->
						<!--<div class="center-block" style="width: 200px;">-->
							<!--<input id="timeToSource" class="knob" data-fgColor="#03a9f4" value="" data-thickness=".3" data-readOnly=true >-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="col-lg-3 col-sm-6 col-xs-12">-->
				<!--<div class="main-box">-->
					<!--<header class="main-box-header clearfix">-->
						<!--<h2>Time to Convert (days)</h2>-->
					<!--</header>-->
					<!---->
					<!--<div class="main-box-body clearfix">-->
						<!--<div class="center-block" style="width: 200px;">-->
							<!--<input id="timeToConvert" class="knob" data-fgColor="#03a9f4" data-thickness=".3" data-readOnly=true ng-model="dashboardDetails.timeToConvert" ng-value="dashboardDetails.timeToConvert">-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="col-lg-3 col-sm-6 col-xs-12">-->
				<!--<div class="main-box">-->
					<!--<header class="main-box-header clearfix">-->
						<!--<h2>Time to Place (days)</h2>-->
					<!--</header>-->
					<!---->
					<!--<div class="main-box-body clearfix">-->
						<!--<div class="center-block" style="width: 200px;">-->
							<!--<input id="timeToPlace" class="knob" data-fgColor="#03a9f4" data-thickness=".3" data-readOnly=true ng-model="dashboardDetails.timeToPlace" ng-value="dashboardDetails.timeToPlace">-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="col-lg-3">-->
				<!--<div class="main-box">-->
					<!--<header class="main-box-header clearfix">-->
						<!--<h2>Time to Fill (days)</h2>-->
					<!--</header>-->
					<!---->
					<!--<div class="main-box-body clearfix">-->
						<!--<div class="center-block" style="width: 200px;">-->
							<!--<input id="timeToFill" class="knob" data-fgColor="#03a9f4" data-thickness=".3" data-readOnly=true ng-model="dashboardDetails.timeToFill" ng-value="dashboardDetails.timeToFill">-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	</div>
</div>
<!--<div class="row">-->
	<!--<div class="col-md-12">-->
		<!--<div class="main-box">-->
			<!--<header class="main-box-header clearfix">-->
				<!--<h2 class="pull-left">Candidates</h2>-->
				<!--<div class="btn-group" style="margin-left: 20px;">-->
					<!--<button type="button" class="btn btn-primary" ng-click="toggleCandidatesGraph('active')">Active</button>-->
				    <!--<button type="button" class="btn btn-primary" ng-click="toggleCandidatesGraph('passive')">Passive</button>-->
				<!--</div>-->
			<!--</header>-->
				<!---->
			<!---->
			<!--<div class="main-box-body clearfix" >-->
				<!--<div class="row">-->
					<!--<div class="col-md-12">-->
						<!--<div id="reportGraphId" style="height: 240px; padding: 0px; position: relative;"></div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->

			<!--&lt;!&ndash;<div class="main-box-body clearfix" ng-show="showPassiveCandidatesGraph">-->
				<!--<div class="row">-->
					<!--<div class="col-md-12">-->
						<!--<div id="passive-candidates-graph-bar" style="height: 240px; padding: 0px; position: relative;"></div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>&ndash;&gt;-->

		<!--</div>	-->
	<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
	<!--<div class="col-md-12">-->
		<!--<div class="main-box">-->
			<!--<header class="main-box-header clearfix">-->
				<!--<h2 class="pull-left">Requisitions</h2>-->
			<!--</header>-->
			<!---->
			<!--<div class="main-box-body clearfix">-->
				<!--<div class="row">-->
					<!--<div class="col-md-12">-->
						<!--<div id="requisitions-candidates-graph-bar" style="height: 240px; padding: 0px; position: relative;"></div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>	-->
	<!--</div>-->
<!--</div>-->

