<p>Job boards search history for
	<span class="emerald">{{jobBoardsSearchHistory.jobTitle}}</span>
	<span ng-if="jobBoardsSearchHistory.clientOrBuName!== null">at
		<span class="emerald">{{jobBoardsSearchHistory.clientOrBuName}}</span>
	</span>
</p>
 
<uib-accordion close-others="true" infinite-scroll="jobBoardsSearchHistory.searchHistoryContainer.getNext()" infinite-scroll-disabled='jobBoardsSearchHistory.searchHistoryContainer.busy || jobBoardsSearchHistory.searchHistoryContainer.disableInfiniteScroll' ng-if="jobBoardsSearchHistory.searchHistoryContainer.searchHistoryExistFlag">	
	<div ng-repeat="searchDetail in jobBoardsSearchHistory.searchHistoryContainer.searchHistory" uib-accordion-group is-open="jobBoardsSearchHistory.isPanelOpen[$index]">
		<uib-accordion-heading>
			<div style="font-size: small" ng-class="{'text-danger': searchDetail.searchStatus == 'failure'}">
				<b ng-bind="searchDetail.noOfResumesPulled"></b>
				Candidate Resumes Added on
				<span ng-bind="searchDetail.requestedDate | fourdotfiveTimeStampFormat"></span>
				<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': jobBoardsSearchHistory.isPanelOpen[$index], 'glyphicon-chevron-right': !jobBoardsSearchHistory.isPanelOpen[$index]}"></i></i></div>
		</uib-accordion-heading>
		<div class="row">
			<div class="col-xs-3">
				<div class="col-xs-12" style="padding: 15px; padding-left: 30px;">
					<div class="row">
						<div class="col-xs-12 emerald">
							<h3 style="margin-top:0; border-bottom:0px">
								<strong>Job Boards</strong>
							</h3>
						</div>
						<div class="col-xs-12" style="padding-left: 20px">
							<p ng-repeat="jobBoard in searchDetail.jobBoards" ng-bind="jobBoard.sourceType"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-9" style="border-left: 1px solid lightgray">
				<div class="col-xs-12" style="padding: 15px; padding-left: 30px;">
					<div class="row">
						<div class="col-xs-12 emerald">
							<h3 style="margin-top:0; border-bottom:0px">
								<strong>Search Filters</strong>
							</h3>
						</div>
						<div class="col-xs-12">
							<table class="table table-bordered">
								<tbody>
									<tr>
										<td>
											<div class="col-xs-6">
												Number of resumes to pull:
											</div>
											<div class="col-xs-6">
												<span ng-bind="searchDetail.resumesToPullPerJobBoardCount"></span>
											</div>
										</td>
										<td>
											<div class="col-xs-6">
												<i class="fa fa-clock-o mr-1"></i>Recency:
											</div>
											<div class="col-xs-6">
												<span ng-bind="searchDetail.recency"></span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="col-xs-6">
												<i class="fa fa-map-marker mr-1"></i>
												Location :
											</div>
											<div class="col-xs-6">
												<span ng-if="searchDetail.location != null" ng-bind="searchDetail.location">
												</span>
												<span ng-if="searchDetail.location == null">
													Not Available
												</span>
											</div>
										</td>
										<td>
											<div class="col-xs-6">
												<i class="fa fa-map-pin mr-1"></i>Postcode:
											</div>
											<div class="col-xs-6">
												<span ng-if="searchDetail.postcode !== null" ng-bind="searchDetail.postcode"></span>
												<span ng-if="searchDetail.postcode == null">Not Available</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="col-xs-6">
												<i class="fa fa-compass mr-1"></i>Radius:
											</div>
											<div class="col-xs-6">
												<span ng-bind="searchDetail.radius"></span>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- Render Job boards specific daxtra params  -->
						<!-- <div class="col-xs-12">
								<div ng-repeat="jobBoard in searchDetail.jobBoards" ng-if="jobBoard.daxtraParameters.length>0">
									<h5 ng-bind="jobBoard.sourceType"></h5>
									<table class="table table-bordered">
										<tr ng-repeat="param in jobBoard.daxtraParameters | limitTo: jobBoardsSearchHistory.Math.ceil(jobBoard.daxtraParameters.length/2)">
											<td>
												<div class="col-xs-12">
													<div class="col-xs-8">
														{{ jobBoard.daxtraParameters[$index*2].name }}:
													</div>
													<div class="col-xs-4">
														{{ jobBoard.daxtraParameters[$index*2].value }}
													</div>
												</div>
											</td>
											<td>
												<span ng-if="$index*2+1 < jobBoard.daxtraParameters.length">
													<div class="col-xs-12">
														<div class="col-xs-8">{{ jobBoard.daxtraParameters[$index*2+1].name }}:</div>
														<div class="col-xs-4">{{ jobBoard.daxtraParameters[$index*2+1].value }}</div>
													</div>
												</span>
											</td>
										</tr>
									</table>
								</div>
							</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</uib-accordion>
		
<div class="row" ng-show="jobBoardsSearchHistory.searchHistoryContainer.busy">
	<div class="col-xs-12 no_history_found text-center">
		<span>Loading</span>
		<span class="fa fa-spinner fa-spin"></span>
	</div>
</div>

<div class="row animate-if" ng-show="!jobBoardsSearchHistory.searchHistoryContainer.searchHistoryExistFlag">
    <div class="col-xs-12 no_history_found text-center">
        No Search History Found!
    </div>
</div>