<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="deleteCompanyModal.closeModal()">×</button>
        <h4 class="modal-title wrap-text-in ng-binding">Delete Company</h4>
</div>
    
<div class="modal-body">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-xs-12">
            <delete-entity entity="company" company-info="deleteCompanyModal.companyInfo" delete-callback="deleteCompanyModal.onCompanyDelete()">
            </delete-entity>
        </div>
    </div>
</div>