<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="modifyPlanModal.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding" ng-if="!modifyPlanModal.isModifyPlan">Choose Plan '{{modifyPlanModal.selectedPlanName}}' </h4>
    <h4 class="modal-title wrap-text-in ng-binding" ng-if="modifyPlanModal.isModifyPlan">Modify Plan '{{modifyPlanModal.selectedPlanName}}' </h4>
</div>

<div class="modal-body">
     <modify-plan selected-plan="modifyPlanModal.selectedPlan" selected-plan-name="modifyPlanModal.selectedPlanName" plan-type-list="modifyPlanModal.planTypeList" cancel-callback="modifyPlanModal.closeModal()" save-callback="modifyPlanModal.savePlan()" is-modify-plan="modifyPlanModal.isModifyPlan"></modify-plan>
</div>