<div id="content-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="slide-main-container">
				<div class="container slide-main-animation">
					<div class="row">
						<div class="col-xs-12">
							<div id="login-box">
								<div id="login-box-holder">
									<div class="row" ui-view>
										<div class="col-xs-12">
											<header id="login-header">
												<div id="login-logo">
													<img ng-src={{imageUrl}}logo-symbol.png alt="" />
												</div>
											</header>
											<div id="login-box-inner" class="with-heading">
												<h4 class="text-center">{{MESSAGECONSTANTS.FORGETPASSWORD.FORGOT_PASSWORD}}</h4>
												<p ng-if="angular.isUndefined(message)">{{MESSAGECONSTANTS.FORGETPASSWORD.PASSWORD_RECOVERY_MESSAGE}}</p>
												<!--<p class=" error">{{message}}</p>-->
												<form role="form" name="form.forgetpasswordform" ng-submit="form.forgetpasswordform.$valid && getPassword()" novalidate>
													<div class="input-group reset-pass-input">
														<span class="input-group-addon"><i
																class="fa fa-user"></i></span> 
														<input class="form-control" type="email" placeholder="Email address" name="email" ng-model="user.email"
														ng-focus="form.forgetpasswordform.email.visited = false" ng-blur="form.forgetpasswordform.email.visited = true"
														 ng-pattern="MESSAGECONSTANTS.VALIDATIONPATTERNS.EMAIL" required>
													</div>
													<div class=" error" ng-show="form.forgetpasswordform.email.visited && form.forgetpasswordform.$submitted">
														<small class="error" ng-show="form.forgetpasswordform.email.$error.required">
																{{MESSAGECONSTANTS.COMMONVALIDATIONS.EMAIL_MANDATORY}}
														</small> 
														<small class="error" ng-show="form.forgetpasswordform.email.visited && form.forgetpasswordform.email.$error.pattern">
																{{MESSAGECONSTANTS.COMMONVALIDATIONS.NOT_VALID_EMAIL}}
														</small>
													</div>
													<div class=" error" ng-show="form.forgetpasswordform.$pristine">
														<small class="error" ng-show="angular.isDefined(errormessage) && (errormessage !== null)">
																{{errormessage}}</small></div>
													<div class="has-success" ng-show="form.forgetpasswordform.$pristine">
														<small class="help-block" ng-show="angular.isDefined(confirmlink) && (confirmlink !== null)">
																{{confirmlink}}</small>
													</div>
													<div class="row">
														<div class="col-xs-12">
															<button id="resetPasswordButton" type="submit" class="btn btn-success">{{MESSAGECONSTANTS.BUTTONS.FORGOT_PASSWORD_PAGE.RESET_PASSWORD}}</button>
														</div>
														<div class="col-xs-12">
															<br /> <a ui-sref="login" ui-sref-opts="{reload : true}" id="login-forget-link" class="forgot-link">{{MESSAGECONSTANTS.FORGETPASSWORD.BACK_TO_LOGIN}}</a>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>