<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table" id="jobmatchestable" datatable="ng" dt-options="candidateJobMatches.dtOptions">
                <thead>
                    <tr>
                        <th class="text-center">
                            Job Match Date
                        </th>
                        <th class="text-center">
                            Job Title
                        </th>
                        <th class="text-center">
                            Company
                        </th>
                        <th class="text-center">
                            Status
                        </th>
                        <th class="text-center">
                            Req# (Status)
                        </th>
                        <th class="text-center">
                            Recruiter
                        </th>
                        <th class="text-center">
                            4dot5 Score
                        </th>
                        <th class="text-center">
                            T.A Score
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="jobMatch in candidateJobMatches.jobMatches"
                        ng-class="{'color-grey': jobMatch.requisitionStatus === 'CLOSED'}">
                        <td class="text-center" data-order="{{jobMatch.jobMatchDate}}">
                            {{ :: jobMatch.jobMatchDate | fourdotfiveDateFormat }}
                        </td>
                        <td class="text-center">
                           <span uib-tooltip="{{jobMatch.title}}" ui-sref="missioncontrol.jobProfile({'jobId':jobMatch.jobId})">
                               <a ng-click="">{{jobMatch.title | limitTo : 25}}
                                   <span ng-if="jobMatch.title.length > 25">..</span>
                               </a>
                           </span>
                        </td>
                        <td class="text-center">
                            <span class="pointer" uib-tooltip="{{jobMatch.company}}">
                                   {{jobMatch.company | limitTo : 25}}
                                <span ng-if="jobMatch.company.length > 25">..</span>
                            </span>
                            <div class="pointer" uib-tooltip="{{jobMatch.companyDetailsText}}">
                                    {{jobMatch.companyDetailsText | limitTo : 25}}
                                 <span ng-if="jobMatch.companyDetailsText.length > 25">..</span>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="pointer" uib-tooltip="{{jobMatch.currentStep}}">
                                <b>{{jobMatch.currentStep | limitTo : 20}}</b>
                                <span ng-if="jobMatch.currentStep.length > 20">..</span>
                            </div>
                            <div class="pointer" uib-tooltip="{{jobMatch.currentState}}">
                                {{jobMatch.currentState | limitTo : 18}}
                                <span ng-if="jobMatch.currentState.length > 18">..</span>
                            </div>
                        </td>
                        <td class="text-center pointer">
                            <span uib-tooltip="{{jobMatch.requisitionNumber}}" ui-sref="missioncontrol.uploadReq({'jobId':jobMatch.jobId})">
                                <a ng-click="">{{jobMatch.requisitionNumber | limitTo : 12}}
                                    <span ng-if="jobMatch.requisitionNumber.length > 12">..</span>
                                </a>
                            </span>
                            <span uib-tooltip="{{jobMatch.requisitionStatus}}">
                                ({{ :: jobMatch.requisitionStatus | limitTo : 8}})
                                <span ng-if="jobMatch.requisitionStatus.length > 8">..</span>
                            </span>
                        </td>
                        <td class="text-center">
                            <div ng-repeat="recruiter in jobMatch.recruiters track by $index">
                                <span uib-tooltip="{{recruiter}}">{{recruiter | limitTo: 30}}
                                     <span ng-if="recruiter.length > 30">..</span>
                                </span>
                            </div>
                        </td>
                        <td class="text-center">
                            <span uib-tooltip="4dot5 Intelligence Score" ui-sref="missioncontrol.candidateJobComparison({'jobMatchId':jobMatch.jobMatchId})">
                                <a ng-click="">
                                    <b>{{jobMatch.fourDotFiveIntelligentScore}}</b>
                                </a>
                            </span> /
                            <span uib-tooltip="Job Intelligence Threshold Score">
                                {{jobMatch.fourDotFiveIntelligentThresholdScore}}
                            </span>
                        </td>
                        <td class="text-center">
                            <span ng-if="jobMatch.techAssessmentThresholdScore == null">
                                N.A
                            </span>
                            <span ng-if="jobMatch.techAssessmentThresholdScore != null">
                                <span uib-tooltip="Technical Assessment Score">
                                    <b>{{jobMatch.techAssessmentScore}}</b>
                                </span> /
                                <span uib-tooltip="Job Technical Assessment Threshold Score">
                                    {{jobMatch.techAssessmentThresholdScore}}
                                </span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>