<div class="container">
	<div class="row">
		<div class="col-xs-10" style="padding:15px;" ng-if="candidateActivity.jobMatchId === undefined">
			Activity details for <span class="emerald">
				{{candidateActivity.candidateName}}
			</span>
		</div>
		<div class="col-xs-10" style="padding:15px;" ng-if="candidateActivity.jobMatchId !== undefined">
			Activity details for <span class="emerald">
				{{candidateActivity.candidateName}}
			</span> for requisition
			<span class="emerald">
				{{candidateActivity.jobTitle}}</span> with Job Id
			<span class="emerald">{{candidateActivity.requisitionNumber}}</span>
			<span ng-if="candidateActivity.clientOrBuName !== null">
				for <span class="emerald">{{candidateActivity.clientOrBuName}}</span>
			</span>
		</div>
		<div class="pull-right" style="margin-right:10px">
			<span title="Click to show / hide the filter" class="pull-right filter-icon">
				<i class="fa fa-filter fa-2x cursor-point" aria-hidden="true" id="open-filter"></i>
			</span>
		</div>
		<!--filter starts-->
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12" id="search-panel" style="display: none;">
					<div class="main-box" style="padding-top: 1%;">
						<div class="main-box-body clearfix">
							<form role="form" name="" novalidate>
								<div class="row">
									<div class="col-lg-12 col-sm-12 col-md-12">
										<div class="row">
											<div class="col-lg-3 col-sm-3 col-md-3" ng-if="candidateActivity.context === 'candidate'">
												<div class="form-group">
													<label for="activityType">Activity Type</label>
													<select class="form-control access inputBoxBorder" ng-model="candidateActivity.candidateActivityFilter.activityType"
													 ng-change="candidateActivity.getCandidateActivity()" name="activityType" id="activityType">
														<option value="any">Any</option>
														<option ng-repeat="activityType in candidateActivity.activityTypes" value="{{activityType.value}}">{{activityType.name}}</option>
													</select>
												</div>
											</div>
											<div class="col-lg-3 col-sm-3 col-md-3" ng-if="candidateActivity.context === 'candidate'">
												<div class="form-group">
													<label for="clientOrBuId" ng-if="candidates.companyType === MESSAGECONSTANTS.COMPANY_TYPES.STAFFING">Client</label>
													<label for="clientOrBuId" ng-if="candidates.companyType !== MESSAGECONSTANTS.COMPANY_TYPES.STAFFING">BU</label>
													<select class="form-control access inputBoxBorder" ng-model="candidateActivity.candidateActivityFilter.clientOrBuId"
													 ng-change="candidateActivity.getCandidateActivity()" name="clientOrBuId" id="clientOrBuId">
													 <option value="any">Any</option>
														<option ng-repeat="client in candidateActivity.clientsOrBu" value="{{client.id}}">{{client.val}}</option>
													</select>
												</div>
											</div>
											<div class="col-lg-3 col-sm-3 col-md-3" ng-if="candidateActivity.context === 'candidate'">
												<div class="form-group">
													<label for="role">Role</label>
													<select class="form-control access inputBoxBorder" ng-model="candidateActivity.candidateActivityFilter.title"
													 ng-change="candidateActivity.onRoleChange()" name="role" id="role">
														<option value="any">Any</option>
														<option ng-repeat="role in candidateActivity.uniqueRoles" value="{{role}}">{{role}}</option>
													</select>
												</div>
											</div>
											<div class="col-lg-3 col-sm-3 col-md-3" ng-if="candidateActivity.context === 'candidate'">
												<div class="form-group">
													<label for="requisitionNumber">Requisition</label>
													<select class="form-control access inputBoxBorder" ng-model="candidateActivity.candidateActivityFilter.requisitionId"
													 ng-change="candidateActivity.getCandidateActivity()" name="requisitionNumber" id="requisitionNumber">
														<option value="any">Any</option>
														<option ng-repeat="requisition in candidateActivity.requisitionIds" value="{{requisition.id}}">{{requisition.requisitionNumber}}</option>
													</select>
												</div>
											</div>
											<div class="col-lg-3 col-sm-3 col-md-3">
												<div class="form-group">
													<label for="startDate" class="control-label">
														Start Date:
													</label>
													<div class="input-group">
														<div class="input-group-addon">
															<div class="input-group-text">
																<i class="fa fa-calendar"></i>
															</div>
														</div>
														<input type="text" name="startDate" id="startDate" class="form-control" ng-model="candidateActivity.startDate">
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-sm-3 col-md-3">
												<div class="form-group">
													<label for="startTime" class="control-label">
														Start Time:
													</label>
													<div class="input-group">
														<div class="input-group-addon">
															<div class="input-group-text">
																<i class="fa fa-clock-o"></i>
															</div>
														</div>
														<input type="text" name="startTime" id="startTime" class="form-control" ng-model="candidateActivity.startTime">
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-sm-3 col-md-3">
												<div class="form-group">
													<label for="endDate" class="control-label">
														End Date:
													</label>
													<div class="input-group">
														<div class="input-group-addon">
															<div class="input-group-text">
																<i class="fa fa-calendar"></i>
															</div>
														</div>
														<input type="text" name="endDate" id="endDate" class="form-control" ng-model="candidateActivity.endDate">
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-sm-3 col-md-3">
												<div class="form-group">
													<label for="endTime" class="control-label">
														End Time:
													</label>
													<div class="input-group">
														<div class="input-group-addon">
															<div class="input-group-text">
																<i class="fa fa-clock-o"></i>
															</div>
														</div>
														<input type="text" name="endTime" id="endTime" class="form-control" ng-model="candidateActivity.endTime">
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-sm-3 col-md-3" ng-if="candidateActivity.context !== 'candidate'">
												<div class="form-group">
													<label for="activityType">Activity Type</label>
													<select class="form-control access inputBoxBorder" ng-model="candidateActivity.candidateActivityFilter.activityType"
													 ng-change="candidateActivity.getCandidateActivity()" name="activityType" id="activityType">
														<option value="any">Any</option>
														<option ng-repeat="activityType in candidateActivity.activityTypes" value="{{activityType.value}}">{{activityType.name}}</option>
													</select>
												</div>
											</div>
											
										</div>
									</div>
								</div>
								<div class="row pull-right" style="margin-right:10px">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group" id="resetFiltersButton">
											<button type="button" class="btn btn-danger" ng-click="candidateActivity.resetCandidateFilters()">Reset</button>
										</div>
									</div>
								</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--filter ends-->


	<div class="col-xs-12">
		<div class="table-responsive" style="height: 250px; overflow-y: scroll">
			<table class="table">
				<tbody>
					<tr ng-repeat="activity in candidateActivity.activities">
						<td class="text-center">
							<i class="fa" ng-class="{'fa-pencil': (activity.activityType === 'change'),'fa-plus': (activity.activityType === 'add' || activity.activityType === 'assign'),'fa-minus': (activity.activityType === 'remove')}"></i>
						</td>
						<td>
							<strong>{{activity.activityDisplayValue}}</strong>
							<span ng-if="activity.createdBy !== ''"> by <span class="emerald"><i>{{activity.createdBy}}</i></span></span>
							<span ng-if="activity.activityType === 'change'">
								&nbsp;from <span class="badge badge-warning">{{activity.fromState}}</span> to <span class="badge badge-primary">{{activity.toState}}</span>
								<span>for role </span> <span class="emerald">{{activity.title}} </span>
								<span ng-if="activity.clientOrBuName !== null"> for <span class="emerald">
										{{activity.clientOrBuName}}
									</span>
									<span ng-if="activity.clientOrBuLocation !== null" ng-bind-html="activity.clientOrBuLocationText"></span>
								</span>
							</span>
							<span ng-if="activity.activityType === 'add' || activity.activityType === 'remove'">
								<span class="badge" ng-class="{'badge-success': activity.activityType === 'add','badge-danger': activity.activityType === 'remove' }">{{activity.toState}}</span>
								<span>for role </span> <span class="emerald">{{activity.title}} </span>
								<span ng-if="activity.clientOrBuName !== null"> for <span class="emerald">
										{{activity.clientOrBuName}}
									</span>
									<span ng-if="activity.clientOrBuLocation !== null" ng-bind-html="activity.clientOrBuLocationText"></span>
								</span>
								<span ng-if="activity.activityType === 'assign'">
									&nbsp;- <span class="badge" ng-class="{'badge-success': activity.activityType === 'add','badge-danger': activity.activityType === 'remove' }">{{activity.toState}}</span>
									<span>for role </span> <span class="emerald">{{activity.title}} </span>
									<span ng-if="activity.clientOrBuName !== null"> for <span class="emerald">
											{{activity.clientOrBuName}}
										</span>
									  <span ng-if="activity.clientOrBuLocation !== null" ng-bind-html="activity.clientOrBuLocationText"></span>
									</span>
						</td>
						<td ng-bind="activity.displayDate | fourdotfiveTimeStampFormat" width="20%">
						</td>
					</tr>
					<tr ng-if="candidateActivity.activities.length == 0">
						<td>
							<h2 class="text-center">No activities found</h2>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>