<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form role="form" name="setCandidateAvailability.setAvailabilityDateForm" novalidate>
                <!--<div class="row" style="margin-bottom: 10px">-->
                    <!--<div class="col-xs-12" style="padding: 10px; padding-top: 5px;">-->
                        <!--<span>-->
                            <!--<span>Marking the candidate </span>-->
                            <!--<span ng-show="jobMatch.loadingFlag" style="padding-left: 10px;">-->
                                <!--<span class="fa fa-spinner fa-spin"></span>-->
                            <!--</span>-->
                            <!--<span ng-show="!(jobMatch.loadingFlag)">-->
                                <!--'<span ng-bind="jobMatch.jobMatchData.name" class="emerald"></span>' as '<span class="emerald" ng-bind="setCandidateAvailability.statusDisplayLabel"></span>'-->
                                <!--for the role of '<span class="emerald" ng-bind="jobMatch.jobMatchData.jobMatchTitle"></span>' at '<span class="emerald" ng-bind="jobMatch.jobMatchData.jobMatchClientName"></span>'-->
                            <!--</span>-->
                        <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group" ng-class="{'has-error': (setCandidateAvailability.setAvailabilityDateForm.$submitted && setCandidateAvailability.setAvailabilityDateForm.availabilityDate.$invalid)}">
                            <label for="availabilityDate" class="control-label">
                                <span ng-if="setCandidateAvailability.availabilityType == 'availability'">Availability Date<em>*</em> :</span>
                                <span ng-if="setCandidateAvailability.availabilityType == 'jobLeft'">Job Left Date<em>*</em> :</span>
                            </label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                                <input type="text" name="availabilityDate" id="availabilityDate" class="form-control" ng-model="setCandidateAvailability.availabilityDate">
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row">-->
                    <!--<div class="col-xs-12">-->
                        <!--<div class="form-group" ng-class="{'has-error': (setCandidateAvailability.setAvailabilityDateForm.$submitted && setCandidateAvailability.setAvailabilityDateForm.notes.$invalid)}">-->
                            <!--<label for="notes" class="control-label">-->
                                <!--Notes<em>*</em> :-->
                            <!--</label>-->
                            <!--<textarea id="notes" name="notes" class="form-control" rows="3" placeholder="Enter your note.." ng-model="setCandidateAvailability.notes" required></textarea>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="clearfix">
                            <button type="submit" class="btn btn-success" ng-click="setCandidateAvailability.setCandidateAvailability()" ng-disabled="setCandidateAvailability.savingFlag">
                                <span ng-if="!setCandidateAvailability.savingFlag">Set Date</span>
                                <span ng-if="setCandidateAvailability.savingFlag">Setting..</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>