<form role="form" name="authToken.authenticateForm" novalidate>
    <!--<div>-->
        <!--<div>-->
            <!--<small class="error">-->
                <!--Enter your email id to authenticate.-->
            <!--</small>-->
        <!--</div>-->
    <!--</div>-->
    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-envelope"></i>
        </span>
        <input class="form-control" type="text" placeholder="Email address"
           name="email" ng-model="authToken.tokenObject.email" ng-pattern="authToken.MESSAGECONSTANTS.VALIDATIONPATTERNS.EMAIL" required>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button id="loginButton" type="submit" class="btn btn-success col-xs-12" ng-click="authToken.authenticateToken()">Authenticate</button>
        </div>
    </div>
</form>