<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form role="form" name="cancelJobMatchMeeting.cancelForm" novalidate>
                <div class="row">
                    <div class="col-xs-12 job-match-status-statement">
                            <span>
                                '<span class="emerald">Cancel</span>' <span ng-bind="cancelJobMatchMeeting.itemDisplayLabel"></span> for '<span ng-bind="cancelJobMatchMeeting.jobMatchObject.name" class="emerald"></span>'
                                for role of '<span class="emerald" ng-bind="cancelJobMatchMeeting.jobMatchObject.jobMatchTitle"></span>' at '<span class="emerald" ng-bind="cancelJobMatchMeeting.jobMatchObject.jobMatchClientName"></span>'
                            </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label style="padding-right: 10px">
                                <span ng-bind="cancelJobMatchMeeting.usersListLabel"></span> :
                            </label>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6" ng-repeat="meeting in cancelJobMatchMeeting.meetingsList">
                                    <div class="radio"  style="display: inline;">
                                        <input type="radio" name="chosenMeeting" id="chosenMeeting-{{meeting.id}}" ng-value="meeting.id"
                                               ng-click="cancelJobMatchMeeting.meetingChanged()" ng-model="cancelJobMatchMeeting.chosenMeeting" ng-disabled="!meeting.editableFlag">
                                        <label for="chosenMeeting-{{meeting.id}}">
                                            <span ng-class="{'disabled-meeting-label': !meeting.editableFlag}">
                                                <span uib-tooltip="{{meeting.userName}}">
                                                    <span>{{ ::meeting.userName | limitTo : 12}}</span>
                                                    <span ng-if="meeting.userName.length > 12">..</span>
                                                </span>
                                                <span> - </span>
                                                <span>{{ ::meeting.scheduledTime }}</span>
                                            </span>
                                            <span class="{{meeting.statusClass}}" uib-tooltip="{{meeting.statusLabel}}"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="!cancelJobMatchMeeting.cancellableMeetingsExistFlag && !cancelJobMatchMeeting.loadingFlag">
                    <div class="col-xs-12 text-center" style="padding-bottom: 10px">
                        <h4 ng-bind="cancelJobMatchMeeting.noCancellableMeetingsLabel">
                        </h4>
                    </div>
                </div>
                <div class="row" ng-show="cancelJobMatchMeeting.loadingFlag">
                    <div class="col-xs-12 text-center" style="padding-top: 20px">
                        <span class="fa fa-2x fa-spinner fa-spin"></span>
                    </div>
                </div>

                <div class="row" ng-show="cancelJobMatchMeeting.showFormFlag">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="email" class="control-label">
                                Email :
                            </label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email" ng-model="cancelJobMatchMeeting.scheduleData.emailAddress" ng-disabled="true">
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="cancelJobMatchMeeting.showFormFlag">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="firstName" class="control-label">
                                First Name :
                            </label>
                            <input type="text" name="firstName" id="firstName" class="form-control" placeholder="First Name" ng-model="cancelJobMatchMeeting.scheduleData.firstName" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="lastName" class="control-label">
                                Last Name :
                            </label>
                            <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last Name" ng-model="cancelJobMatchMeeting.scheduleData.lastName" ng-disabled="true">
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="cancelJobMatchMeeting.showFormFlag">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="role" class="control-label">
                                Role :
                            </label>
                            <input type="text" name="role" id="role" class="form-control" placeholder="Role" ng-model="cancelJobMatchMeeting.scheduleData.role" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="department" class="control-label">
                                Department :
                            </label>
                            <input type="text" name="department" id="department" class="form-control" placeholder="Department" ng-model="cancelJobMatchMeeting.scheduleData.department" ng-disabled="true">
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="cancelJobMatchMeeting.showFormFlag">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="jobMatchScheduleStartDate" class="control-label">
                                        Start Date :
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <div class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                        <input type="text" name="jobMatchScheduleStartDate" id="jobMatchScheduleStartDate" class="form-control" ng-model="cancelJobMatchMeeting.startDate" ng-disabled="true">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="jobMatchScheduleStartTime" class="control-label">
                                        Start Time :
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <div class="input-group-text">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                        <input type="text" name="jobMatchScheduleStartTime" id="jobMatchScheduleStartTime" class="form-control" ng-model="cancelJobMatchMeeting.startTime" ng-disabled="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="jobMatchScheduleEndDate" class="control-label">
                                        End Date :
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <div class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                        <input type="text" name="jobMatchScheduleEndDate" id="jobMatchScheduleEndDate" class="form-control" ng-model="cancelJobMatchMeeting.endDate" ng-disabled="true">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="jobMatchScheduleEndTime" class="control-label">
                                        End Time :
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <div class="input-group-text">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                        <input type="text" name="jobMatchScheduleEndTime" id="jobMatchScheduleEndTime" class="form-control" ng-model="cancelJobMatchMeeting.endTime" ng-disabled="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="cancelJobMatchMeeting.showFormFlag">
                    <div class="col-xs-12">
                        <div class="form-group" ng-class="{'has-error': (cancelJobMatchMeeting.cancelForm.$submitted && cancelJobMatchMeeting.cancelForm.note.$invalid)}">
                            <label for="note" class="control-label">
                                Notes<em>*</em> :
                            </label>
                            <textarea id="note" name="note" class="form-control" rows="3" placeholder="Enter your note.." ng-model="cancelJobMatchMeeting.scheduleData.note" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="cancelJobMatchMeeting.showFormFlag">
                    <div class="col-xs-12 text-right">
                        <div class="clearfix">
                            <button type="submit" class="btn btn-success" ng-click="cancelJobMatchMeeting.cancelMeeting()" ng-disabled="cancelJobMatchMeeting.savingFlag">
                                <span ng-if="!cancelJobMatchMeeting.savingFlag" ng-bind="cancelJobMatchMeeting.cancelLabel"></span>
                                <span ng-if="cancelJobMatchMeeting.savingFlag">Cancelling..</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>