.activity-list-item {
    height: 60px;
}

.activity-item {
    color: #707070 !important;
    transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
    border-top: 1px solid #f6f6f6;
    text-decoration: none;
    display: block;
    padding: 8px 10px;
}

.activity-time {
    white-space: normal !important;
    color: #03a9f4;
    float: right;
    margin-top: 3px;
}

.activity-item:hover {
    text-decoration: none;
}

.activity-time i {
    margin-right: 3px;
}

.activity-item-info {
    display: block;
    padding-top: 12px;
}

.activity-text {
    font-size: 13px;
}