<li class="pointer">
    <div class="pointer-inner">
        <div class="arrow"></div>
    </div>
</li>
<li ng-if="recentActivities.activities.length > 0" class="item" ng-class="{'activity-list-item': recentActivities.context!=='requisitionCard'}" style="padding:5px"
    ng-repeat="activity in recentActivities.activities">
    <div ng-if="recentActivities.context !== 'requisitionCard'">
        <div class="col-xs-12">
            <div ng-bind-html="activity.activityDisplayValue" ng-class="{'text-overflow-ellipsis': activity.showShortMessageFlag}" ng-click="recentActivities.expandText($event, activity)"></div>
        </div>
        <div class="col-xs-12 text-left" style="font-size:0.8em; padding-top:5px; padding-left: 10px;">
            <span ng-bind="activity.date | fourdotfiveTimeStampFormat"></span>
        </div>
    </div>

    <a href="" class="activity-item" ng-if="recentActivities.context == 'requisitionCard'">
        <div>
            <span>
                {{activity.activityDisplayValue}}
            </span>
            <span class="activity-time">
                <i class="fa fa-clock-o"></i>
                <span>{{activity.date | fourdotfiveDateFormat}}
                    {{activity.date | fourdotfiveTimeFormat}}
                </span>
            </span>
        </div>
    </a>
</li>
<li ng-if="recentActivities.activities.length > 0" class="item text-center">
    <a href="" ng-click="recentActivities.showAllActivity()" class="activity-item activity-item-info">
        <span>
            Show All
        </span>
    </a>
</li>
<li class="item text-center" ng-if="recentActivities.activities.length == 0">
    <a href="" class="activity-item activity-item-info">
        <span>No activity recorded.</span>
    </a>
</li>