<div class="approw">
	<div class="row">
		<div class="col-lg-12">
			<div id="content-header" class="clearfix">
				<div class="pull-left">
					<ol class="breadcrumb">
						<li><a ui-sref="missioncontrol.dashboard">{{uploadResume.MESSAGECONSTANTS.BREADCRUMBS.HOME}}</a></li>
						<li class="active"><span>Upload Resume</span></li>
					</ol>
					<h1 class="heading-css">Upload Resume</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="row fuelux">
		<div class="col-lg-12">
			<div class="main-box clearfix">
				<div class="main-box-body clearfix wizardmainbox">
					<div class="wizard" data-initialize="wizard" id="uploadResumeWizard">
						<div class="steps-container">
							<ul class="steps">
								<li data-step="1" data-name="upload" class="active" ng-click="uploadResume.tabClick('upload')">
									<span class="badge">1</span>Upload<span class="chevron"></span>
								</li>
								<li data-step="2" data-name="recruiters" ng-click="uploadResume.tabClick('results')">
									<span class="badge">2</span>View Results <span class="chevron"></span>
								</li>
							</ul>
						</div>
						<div class="actions">
							<button type="button" class="btn btn-info btn-prev" ng-disabled="uploadResume.disablePreviousButtonFlag">
								<span class="glyphicon glyphicon-arrow-left"></span>Prev
							</button>
							<!--<button type="button" class="btn btn-info btn-save" ng-disabled="uploadResume.disableSaveButtonFlag" ng-click="uploadResume.wizardSaveStepData()">-->
								<!--<span class="glyphicon glyphicon-pause"></span>Save-->
							<!--</button>-->
							<button type="button" class="btn btn-info btn-next" data-last="Complete" ng-disabled="uploadResume.disableNextButtonFlag">
								Next<span class="glyphicon glyphicon-arrow-right"></span>
							</button>
							<button type="button" class="btn btn-danger btn-cancel" ng-click="uploadResume.wizardCancel()" ng-disabled="uploadResume.disableCancelButtonFlag">
								<span class="glyphicon glyphicon-remove"></span>Cancel
							</button>
						</div>
						<div class="step-content">
							<div class="step-pane active sample-pane alert" data-step="1">
								<div class="row">
									<div class="col-lg-12">
										<div class="main-box clearfix" style="min-height: 200px;">
											<header class="main-box-header clearfix col-xs-offset-2 col-xs-10">
												<h2 ng-if="uploadResume.mandatoryFieldsError" class="has-error">
													<span class="help-block"> <em>*</em> {{uploadResume.MESSAGECONSTANTS.COMMONVALIDATIONS.ENTER_MANDATORY_FIELDS}}
													</span>
												</h2>
											</header>
											<div class="row">
												<div class="col-lg-5 col-lg-offset-1" style="margin-top: 2%; padding: 0 20px 20px 20px;">
													<form role="form" name="form.uploadResume" novalidate>
														<div class="form-group">
															<label for="sourceType" class="control-label">
																{{uploadResume.MESSAGECONSTANTS.LABLES.UPLOAD_RESUME.SOURCE_TYPE}}
																<em> * </em> :
															</label>
															<select class="form-control" name="sourceType" id="sourceType" ng-options="source as source.sourceType for source in uploadResume.sourceTypeList track by source.id"
																	ng-model="uploadResume.sourceType" ng-change="uploadResume.sourceTypeChanged()" ng-disabled="uploadResume.disableSourceTypesFlag" required>
																<option value="" ng-if="false"></option>
															</select>
														</div>
													</form>
												</div>
											</div>
											<div class="main-box-body clearfix col-lg-10 col-lg-offset-1">
												<div>
													<form name="resumeUploadDropzone" id="resumeUploadDropzone" class="dropzone dz-clickable" action="" enctype="multipart/form-data">
														<div class="dz-a dz-default dz-message">
															<span>
																<h3>Drop files here to upload</h3>(or click)
															</span>
														</div>
													</form>
												</div>
											</div>
											<!-- Upload Requisition button -->
											<div class="row buttonrow" style="margin-bottom: 200px">
												<div class="col-xs-12 col-sm-offset-4 col-sm-4">
													<button type="button" class="btn btn-success col-xs-12" id="uploadFile" ng-click="uploadResume.uploadResume()" ng-disabled="uploadResume.disableUploadButtonFlag">
														<i class="fa fa-upload"></i>
														<span ng-if="!uploadResume.fileUploadInProgressFlag">Upload </span><span ng-if="uploadResume.fileUploadInProgressFlag">Uploading... </span> Resume
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="step-pane active sample-pane alert" data-step="2">
								<div class="row">
									<div class="col-xs-12">
										<div class="main-box clearfix" style="min-height: 200px;">
											<div class="row">
												<div class="col-xs-8 col-xs-offset-1">
													<h3 style="border-bottom: none;">Candidate Counts</h3>
												</div>
											</div>
											<div class="row" style="margin-top: 30px; margin-bottom: 30px;" ng-if="uploadResume.scoringCandidatesFlag">
												<div class="col-xs-4 col-xs-offset-4">
													<h4 style="border-bottom: none;">Processing ...</h4>
												</div>
											</div>
											<!--<div class="row" style="margin-top: 30px; margin-bottom: 30px;">-->
												<!--<div class="col-xs-offset-2 col-xs-2">-->
													<!--<span>Active Candidates :</span> <span class="pull-right" ng-bind="uploadResume.candidateCount.activeCandidatesCount"></span>-->
												<!--</div>-->
												<!--<div class="col-xs-offset-1 col-xs-2">-->
													<!--<span>Passive Candidates :</span> <span class="pull-right" ng-bind="uploadResume.candidateCount.passiveCandidatesCount"></span>-->
												<!--</div>-->
											<!--</div>-->
											<div class="row" style="margin-top: 30px; margin-bottom: 30px;" ng-if="!(uploadResume.scoringCandidatesFlag)">
												<div class="col-xs-offset-2 col-xs-2">
													<span>Uploaded Candidates :</span>
													<span class="pull-right">
														<a href="" ng-bind="uploadResume.totalUploads" ui-sref="missioncontrol.candidates({teamMemberName: 'All', candidatesType: 'All'})">
														</a>
													</span>
												</div>
												<div class="col-xs-offset-1 col-xs-2">
													<span>Resumes Not Processed :</span>
													<span class="pull-right">
														<a href="" ng-bind="uploadResume.candidateCount.notProcessedCandidateCount" ui-sref="missioncontrol.candidates({teamMemberName: 'All', candidatesType: 'All'})">
														</a>
													</span>
												</div>
											</div>
											<div class="row" style="margin-top: 30px; margin-bottom: 30px;" ng-if="!(uploadResume.scoringCandidatesFlag)">
												<div class="col-xs-offset-2 col-xs-2">
													<span>Matched Candidates :</span>
													<span class="pull-right">
														<a href="" ng-bind="uploadResume.candidateCount.matchedCandidateCount" ui-sref="missioncontrol.candidates({teamMemberName: 'All', candidatesType: 'All'})">
														</a>
													</span>
												</div>
												<div class="col-xs-offset-1 col-xs-2">
													<span>Unmatched Candidates :</span>
													<span class="pull-right">
														<a href="" ng-bind="uploadResume.candidateCount.unMatchedCandidateCount" ui-sref="missioncontrol.candidates({teamMemberName: 'All', candidatesType: 'All'})">
														</a>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
