.assessment-info-main-box-body-margin{
    margin-top: 10px;
}

.assessment-info-browser-time-zone-row{
    background-color: #f5f5dc;
    border: solid 1px #cfcfb8;
    border-radius: 5px;
}

.assessment-info-browser-time-zone-label{
    font-size: 0.7em;
}