<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="main-box" ng-repeat="assessmentDetail in assessmentInfo.assessmentInfoDetails" ng-show="!assessmentInfo.loadingFlag">
                <div class="main-box-body" ng-class="{'assessment-info-main-box-body-margin': assessmentInfo.assessmentInfoDetails.length == 1}">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 ng-if="assessmentInfo.assessmentInfoDetails.length > 1 && $index == 0">Current Attempt</h4>
                            <h4 ng-if="$index != 0">Past Attempt</h4>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 text-overflow-ellipsis">
                                    <strong>Access Time:</strong> <span>{{ :: assessmentDetail.assessmentAccessTime }}</span>
                                </div>
                                <div class="col-xs-12 col-sm-4 text-overflow-ellipsis">
                                    <strong>Status:</strong> <span>{{ :: assessmentDetail.candidateCurrentJobState }}</span>
                                </div>
                                <div class="col-xs-12 col-sm-4 text-overflow-ellipsis">
                                    <strong>Score:</strong> <span>{{ :: assessmentDetail.score }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 text-overflow-ellipsis" uib-tooltip="{{assessmentInfo.timeZone}}">
                                    <strong>Timezone:</strong> <span>{{ :: assessmentDetail.timeZone }}</span>
                                </div>
                                <div class="col-xs-12 col-sm-4 text-overflow-ellipsis">
                                    <strong>Start Time:</strong>
                                    <span>{{ :: assessmentDetail.startDateTimeDisplayValue }}</span>
                                </div>
                                <div class="col-xs-12 col-sm-4 text-overflow-ellipsis">
                                    <strong>End Time:</strong> <span>{{ :: assessmentDetail.endDateTimeDisplayValue }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-if="assessmentDetail.timeZone != '-' && assessmentDetail.timeZone != assessmentInfo.browserTimeZone">
                            <div class="row assessment-info-browser-time-zone-row">
                                <div class="col-xs-12 col-sm-4 text-overflow-ellipsis" uib-tooltip="{{assessmentInfo.browserTimeZone}}">
                                    <strong class="assessment-info-browser-time-zone-label">Your Computer's Timezone:</strong> <span>{{ :: assessmentInfo.browserTimeZone}}</span>
                                </div>
                                <div class="col-xs-12 col-sm-4 text-overflow-ellipsis">
                                    <strong>Start Time:</strong> <span>{{ :: assessmentDetail.startDateTimeInBrowserTimezoneDisplayValue }}</span>
                                </div>
                                <div class="col-xs-12 col-sm-4 text-overflow-ellipsis">
                                    <strong>End Time:</strong> <span>{{ :: assessmentDetail.endDateTimeInBrowserTimezoneDisplayValue }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 text-overflow-ellipsis">
                                    <strong>Reminders Set:</strong> <span>{{ :: assessmentDetail.numberOfRemindersSet }}</span>
                                </div>
                                <div class="col-xs-12 col-sm-4 text-overflow-ellipsis">
                                    <strong>Reminders Sent:</strong> <span>{{ :: assessmentDetail.numberOfReminderSent }}</span>
                                </div>
                                <div class="col-xs-12 col-sm-4 text-overflow-ellipsis">
                                    <strong>Last Reminder:</strong>
                                    <span ng-if="assessmentDetail.mostRecentReminder == '-'">{{ :: assessmentDetail.mostRecentReminder }}</span>
                                    <span ng-if="assessmentDetail.mostRecentReminder != '-'">{{ :: assessmentDetail.mostRecentReminder | fourdotfiveTimeStampFormat }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="assessmentInfo.loadingFlag">
                <div class="col-xs-12 text-center" style="padding-top: 20px">
                    <span class="fa fa-2x fa-spinner fa-spin"></span>
                </div>
            </div>
        </div>
    </div>
</div>

