<style>
	.dataTables_filter input,.dataTables_filter input[type="search"] {
	   width: 300px;
	    height: 33px;
	    border: 1px solid #ccc;
	 	text-align: center;
	    font: inherit;
	}
	a.dt-button {
        font-size: 14px;
        padding: 0.4em 1em;
	}
	.dataTables_filter input, .dataTables_filter input[type="search"]{
		font-size: 14px;
	}
	
    a.datatablebutton{
        color: #fff !important;
        background-color: #03a9f4 !important;
        border-color: #2980b9 !important;
        background-image: none !important;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-right:20px;
    }

    table.table thead .sorting_desc:before,table.table thead .sorting_asc:before {
        display : none;
    }
   .table thead>tr>th {
    	text-transform: none !important;
	}
    .headerStyling{
        width: 250px !important;
    }
    div.dt-buttons {
	    float: none;
	    display: inline-block;
	}
	.dataTables_wrapper .text-right .dataTables_filter input {
	  margin-left: 0px;
	}
</style>

<style ng-if="!ClientOrBuList.length">
     #clienttable_info {
        display : none;
    }
</style>
<div class="approw">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <!--{{ClientOrBuList.company.companyType}}-->
                <li><a ui-sref="missioncontrol.dashboard">{{MESSAGECONSTANTS.BREADCRUMBS.HOME}}</a></li>
                <!--<li ng-if="ClientOrBuList.company.companyType === 'BU'"><a ui-sref="missioncontrol.dashboard">{{MESSAGECONSTANTS.BREADCRUMBS.HOME}}</a></li>-->
                <li ng-if="companyType === 'StaffingCompany'" class="active"><span>{{MESSAGECONSTANTS.BREADCRUMBS.CLIENT_MANAGEMENT}}</span></li>
                <li ng-if="companyType === 'Corporation'" class="active"><span>{{MESSAGECONSTANTS.BREADCRUMBS.BU_MANAGEMENT}}</span></li>
            </ol>
            <h1 class="heading-css"  ng-if="companyType === 'StaffingCompany'">{{MESSAGECONSTANTS.BREADCRUMBS.CLIENT_MANAGEMENT}}</h1>
            <h1 class="heading-css"  ng-if="companyType === 'Corporation'">{{MESSAGECONSTANTS.BREADCRUMBS.BU_MANAGEMENT}}</h1>
        </div>
    </div>
    <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="main-box clearfix">
            <!--<header class="main-box-header clearfix">
                <h2 class="pull-left">Manage Client</h2>
                <div class="filter-block pull-right">
                    <button class="btn btn-primary pull-right" ng-click = "addClientOrBu()">Add new client</button>
                </div>
            </header>-->
            <div class="main-box-body clearfix table-responsive">
                <table id='clienttable' datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumns" class="table table-hover">
                    <thead>
                        <tr>
                            <th ng-if="companyType === 'StaffingCompany'" class="headerStyling">Client Name</th>
                            <th ng-if="companyType === 'Corporation'" class="headerStyling">BU Name</th>
                            <th class="headerStyling">Contact Name</th>
                            <th class="headerStyling">Phone</th>
                            <th class="headerStyling">Email</th> 
                            <th class="headerStyling">Creation Date</th>
                            <th class="headerStyling">Updated By</th>
                            <th class="headerStyling">Updated Date</th>
                            <th class="text-center actions headerStyling">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="client in ClientOrBuList">
                             <td>
                                <span title="{{client.company.name}}">
                                    <span ng-if="client.company.name.length > 20">{{client.company.name | limitTo : 20}}...</span>
                                    <span ng-if="!(client.company.name.length > 20)">{{client.company.name}}</span>
                                    <span ng-if="client.companyState == 'Draft'">({{client.companyState}})</span>
                                </span>
                            </td>

                            <td>
                                {{client.contactList[0].firstName}} {{client.contactList[0].lastName}}
                            </td>

                            <td><span ng-if="client.contactList[0].workPhone != null">{{client.contactList[0].workPhone}}&nbsp;(w)</span><br>
                                <span ng-if="client.contactList[0].workPhone != null">{{client.contactList[0].mobilePhone}}&nbsp;(m)</span>
                            </td>

                            <td>
                                <a href="mailto:{{client.contactList[0].email}}?Subject=" target="_top">{{client.contactList[0].email}}</a>
                            </td>

                            <td data-order="{{client.auditDto.createdOn}}">
                                {{client.auditDto.createdOn | amUtc | amTimezone: systemTimeZone | amDateFormat:'MMM D, YYYY &nbsp h:mm a'}}
                            </td>
                            <td>
                                {{client.auditDto.lastModifiedBy}}
                            </td>
                            <td data-order="{{client.auditDto.modifiedOn}}">
                                {{client.auditDto.modifiedOn | amUtc | amTimezone: systemTimeZone | amDateFormat:'MMM D, YYYY &nbsp h:mm a'}}
                            </td>
                            <td class="text-center" style="padding : 12px 4px;">
                                <a ng-click="updateClientOrBu(client)" style="margin : 0px;" class="table-link primary">
                                    <span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
                                </a>
                                <a style="margin : 0px;" ng-click="deleteClientOrBU(client)" class="table-link danger">
                                    <span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
