<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="deleteClientOrBUModal.closeModal()">×</button>
    <h4 ng-if="deleteClientOrBUModal.clientOrBUInfo.companyType =='StaffingCompany'" class="modal-title wrap-text-in ng-binding">Delete Client</h4>
    <h4 ng-if="deleteClientOrBUModal.clientOrBUInfo.companyType =='Corporation'" class="modal-title wrap-text-in ng-binding">Delete BU</h4>
</div>
<div class="modal-body">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-xs-12">
            <delete-entity entity="clientOrBU" client-or-bu-info="deleteClientOrBUModal.clientOrBUInfo" delete-callback="deleteClientOrBUModal.closeModal()">
            </delete-entity>
        </div>
    </div>
</div>