<style>
	.user-footer-content-bar {
		margin-left: 0px !important;
	}
</style>
<div class="approw">
    <!--<div class="col-xs-12">-->
        <footer id="footer-bar" class="user-footer-content-bar">
            <p id="footer-copyright">Powered by 4dot5</p>
        </footer>
    <!--</div>-->
</div>