<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="deleteUserModal.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding">Delete User</h4>
</div>

<div class="modal-body">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-xs-12" ng-if="deleteUserModal.userInfo.reporteesCount == 0">
            <delete-entity entity="user" user-info="deleteUserModal.userInfo" delete-callback="deleteUserModal.closeModal()">
            </delete-entity>
        </div>
        <div class="col-xs-12" ng-if="deleteUserModal.userInfo.reporteesCount > 0">
            <p>
                There are users reporting to this user. Please re-assign or delete these users before attempting to
                delete this user.
            </p>
            <div class="col-xs-12 text-right">
                <div class="clearfix">
                    <button type="button" class="btn btn-primary" ng-click="deleteUserModal.closeModal()">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>