
/* #addUserButton {
	background-color: #8bc34a !important;
	border-color: #8bc34a !important;
	color: white !important;
}

#actionButton {
	background-color: #8bc34a !important;
	border-color: #8bc34a !important;
	color: white !important;
}

 */
#addUserLink {
	color: white;
}

.dropdownOption {
	text-align: center !important;
	font-size: 0.875em !important;
	color: #000000;
}
.dropdownOption:hover{
	color: #03a9f4;
}

.dropdownButtonGroup {
	margin-top: 8px;
}

