<style>
	.breadcrumbnames {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-bottom: -0.4%;
		width: 8%;
	}
	
	.teammemberwithreportees {
		cursor: pointer;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: inherit;
		max-width: 50%;
	}
	
	.teammemberwithoutreportees {
		cursor: pointer;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 100%;
	}

	.profile-box-footer .candidatesvalue {
		font-size: 1.2em !important;
		color: #212121;
		cursor: text;
	}
	
	.cmpr {
		height: 168px;
	}
</style>

<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a ui-sref="missioncontrol.dashboard">Home</a></li>
			<li ng-class="{active : (managers.length === 0)}">
				<a ng-click="listData()">
					<span>Users</span>
				</a>
			</li>
			<li ng-repeat="manager in managers" ng-class="{active : ($index === managers.length-1)}">
				<a ng-click="viewManagerReporties(manager)">
					<span title="{{manager.firstName + ' ' +manager.lastName}}" ng-if="manager.lastName !== null">{{manager.firstName + ' ' +manager.lastName | limitTo : 55}}<span ng-if="(manager.firstName + ' ' +manager.lastName).length > 55">... </span></span>
					<span title="manager.firstName" ng-if="manager.lastName === null">{{manager.firstName | limitTo : 55}}<span ng-if="(manager.firstName).length > 55">... </span></span>
				</a>
			</li>
		</ol>
		<h1 class="heading-css">
			<span class="heading-css" ng-if="managers.length === 0">Users</span>
			<span title="{{currentmanager.firstName}}" ng-if="(managers.length !== 0) && (currentmanager.lastName === null)"><b><i>{{currentmanager.firstName  | limitTo : 55}} <span ng-if="(currentmanager.firstName+ ' ' +currentmanager.lastName ).length > 55">... </span>'s</i></b> Direct Reports</span>
			<span title="{{currentmanager.firstName + ' '+ currentmanager.lastName }}" ng-if="managers.length !== 0 && (currentmanager.lastName !== null)"><b><i>{{currentmanager.firstName + ' '+ currentmanager.lastName  | limitTo : 55}}<span ng-if="(currentmanager.firstName+ ' ' +currentmanager.lastName ).length > 55">... </span>'s</i></b>  Direct Reports</span>
		</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div style="margin: 10px;" class="text-right">

			<button id="addUserButton" class="btn btn-primary" ng-if="(userDetails.roleName ==='4dot5SuperUser') || (hasAccess('57c368b9820fea2470d6b9de') &&  (managers.length !== 0))"
				ng-click="addUser()" style="margin-bottom: 2px; margin: 15px;">Add User</button>
			<input type="text" placeholder="type to filter" ng-model="searchTerm" class="text-center filter-style" />
		</div>
	</div>
</div>
<!-- Projects Row -->
<div class="row testDiv bottomgap">
	<div class="" ng-if="(teamMemberLoaded && (teamMemberData | filter:searchUser).length==0)" style="height: 187px;margin-bottom: 0px;text-align: center;font-size: 24px;color: gray;padding-top:50px">{{MESSAGECONSTANTS.COMMONVALIDATIONS.NO_USERS}}</div>
	<div class="col-lg-4 col-md-5 col-sm-6" ng-repeat="teammember in teamMemberData | filter:searchUser">
		<div class="main-box clearfix profile-box-stats">
			<div class="main-box-body clearfix">
				<div class="profile-box-header emerald-bg clearfix">
					<div>
						<h2 ng-if="teammember.lastName!== null">
							<span class="pointer" ng-click="viewProfile(teammember,'view')" >
								<span ng-if = "(teammember.firstName + ' ' + teammember.lastName).length > 17" title="{{(teammember.firstName + ' ' + teammember.lastName)}}">{{(teammember.firstName + ' ' + teammember.lastName) | limitTo : 14}}...</span>
								<span ng-if="!((teammember.firstName + ' ' + teammember.lastName).length > 17)">{{(teammember.firstName + ' ' + teammember.lastName)}}</span>
							</span>
							<span ng-if="(teammember.userState==='UnVerfied')" style="font-weight: normal;font-size: 0.7em;">(UnVerified)</span>
							<sup ng-show="(teammember.forwardRecipient)">
								<span class="pointer"  title="{{(teammember.forwardFromId !== userDetailsCopy.userId) ? 'Forwarded to ' + teammember.forwardFromUser : 'Forwarded to me'}}" style="font-size: 20px;">
									<i class="fa fa-share" aria-hidden="true"></i>
								</span>
							</sup>
							<sup ng-show="(teammember.forwardToId !== null)">
								<span class="pointer"  title="{{(teammember.forwardToId !== userDetailsCopy.userId) ? 'Forwarded to ' + teammember.forwardToUser : 'Forwarded to me'}}" style="font-size: 20px;">
									<i class="fa fa-share" aria-hidden="true"></i>
								</span>
							</sup>
						</h2>

						<h2 ng-if="teammember.lastName === null">
							<span class="pointer" ng-click="viewProfile(teammember,'view')">
								<span ng-if = "(teammember.firstName).length > 17" title="{{(teammember.firstName)}}">{{(teammember.firstName) | limitTo : 14}}...</span>
								<span ng-if = "!((teammember.firstName).length > 17)">{{(teammember.firstName)}}</span>
							</span>
							<span ng-if="(teammember.userState ==='UnVerfied')" style="font-weight: normal;font-size: 0.7em;">(UnVerified)</span>
							<sup ng-show="(teammember.forwardRecipient)">
								<span class="pointer"  title="{{(teammember.forwardFromId !== userDetailsCopy.userId) ? 'Forwarded to ' + teammember.forwardFromUser : 'Forwarded to me'}}" style="font-size: 20px;">
									<i class="fa fa-share" aria-hidden="true"></i>
								</span>
							</sup>
							<sup ng-show="(teammember.forwardToId !== null)">
								<span class="pointer"  title="{{(teammember.forwardToId !== userDetailsCopy.userId) ? 'Forwarded to ' + teammember.forwardToUser : 'Forwarded to me'}}" style="font-size: 20px;">
									<i class="fa fa-share" aria-hidden="true"></i>
								</span>
							</sup>
						</h2>
						<br>

						<!--<span ng-show="(teammember.canDrillDown)" ng-click="viewReporties(teammember)" style="cursor: pointer; position : absolute;padding-left : 5px;">({{teammember.reporteesCount}}
							Direct Reports)</span>-->
						<!--</main>-->
						<div class="job-position" ng-bind="teammember.roleDescription" style="display: inline-block;"></div>
						<span class="pointer" ng-show="(teammember.canDrillDown)" ng-click="viewReporties(teammember)">({{teammember.reporteesCount}} Direct Reports)</span>
						<!-- <span class="pointer" ng-show="(teammember.forwardRecipient)">(forward recipient)</span> -->
						<img ng-src={{imageUrl}}samples/4dot5-default-no-profile-pic.jpg alt="" class="profile-img img-responsive" />
					</div>
				</div>
				<div class="profile-box-footer clearfix">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-offset-5 col-md-4"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="profile-box-footer clearfix " style="margin-top: -65px;">
				<a>
					<span class="candidatesvalue" ng-bind="teammember.currentCandidates"></span>
					<span class="label ">Active</span>
				</a>
				<a> 
					<span class="candidatesvalue"  ng-bind="teammember.convertedCandidates"></span>
					<span class="label">Passive</span>
				</a>
				<a href="" ng-if="teammember.canEdit || teammember.canDelete" class="tmactions">
					<span class="value">
						<div class="btn-group" style="margin-top: 8px;">
							<button id="actionButton" type="button" class="btn btn-primary">Actions</button>
							<button id="actionButton" type="button"
								class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li class="dropdownOption action" ng-if="teammember.canEdit" ng-click="viewProfile(teammember,'edit')">Edit</li>
								<li class="divider" ng-if="teammember.canDelete"></li>
								<!-- <li class="dropdownOption action" ng-if="teammember.canDelete" ng-click="assigndeletinguser(teammember)" data-toggle="modal"
									data-target="#deleteconfirm">Delete</li> -->
								<li class="dropdownOption action" ng-if="teammember.canDelete" ng-click="deleteSelectedUser(teammember)">Delete</li>
								<li class="divider" ng-if="teammember.canViewNotificationPref"></li>
								<li class="dropdownOption action" ng-if="teammember.canViewNotificationPref"
								ui-sref="missioncontrol.notificationpreference({'userId':teammember.userId})">
										Notification Preferences
								</li>
							</ul>
						</div>
					</span>
				</a>
			</div>
		</div>
	</div> 
</div>
