<div>
    <div class="row candidate-job-match-card-recruiters-popover-content-container">
        <div class=" text-center" ng-class="{'col-xs-12':candidateJobMatchCard.candidateJobMatch.recruitersList.length == 1, 'col-xs-6':candidateJobMatchCard.candidateJobMatch.recruitersList.length<3, 'col-xs-3':candidateJobMatchCard.candidateJobMatch.recruitersList.length>=3}" ng-repeat="recruiter in candidateJobMatchCard.candidateJobMatch.recruitersList track by $index" uib-tooltip="{{recruiter.name}}">
            <img src="app-content/img/people/4dot5-default-no-profile-pic.jpg" alt="{{recruiter.name}}"
                 class="candidate-card-recruiter-img img-responsive"/>
            <span class="candidate-card-recruiter-name">{{ recruiter.name }}</span>
        </div>
    </div>
</div>