<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="jobMatchMeetingsModal.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding">{{ jobMatchMeetingsModal.title }}</h4>
</div>

<div class="modal-body">
    <job-match-meetings job-match-id="{{jobMatchMeetingsModal.jobMatchId}}" meeting-type="{{jobMatchMeetingsModal.meetingType}}"
        save-callback="jobMatchMeetingsModal.saveCallback()"></job-match-meetings>
</div>
