<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="reportModal.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding">
        <span>{{ ::reportModal.modalTitle }}</span>
    </h4>
</div>

<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 candidate-job-match-card-report-label">
                <span>
                    <span>{{ ::reportModal.modalTitle }}</span> of '<span class="emerald">{{ ::reportModal.candidateJobMatch.name }}</span>' for the role of '<span class="emerald">{{ ::reportModal.candidateJobMatch.jobMatchTitle }}</span>' at '<span class="emerald">{{ ::reportModal.candidateJobMatch.jobMatchClientName }}</span>'
                </span>
            </div>
        </div>
        <div class="row" ng-show="reportModal.reportLoadingFlag">
            <div class="col-xs-12 text-center" style="padding-top: 10px">
                <span>Loading </span><span class="fa fa-2x fa-spinner fa-spin"></span>
            </div>
        </div>
        <div class="row" ng-show="!reportModal.reportLoadingFlag">
            <div class="col-xs-12">
                <object data="{{reportModal.content}}#view=fitH" type="application/pdf" style="width:100%; height:500px;">
                    <embed ng-src="{{reportModal.content}}" style="width:100%; height:500px;"></embed>
                </object>
            </div>
        </div>
    </div>
</div>