<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="jobMatchIdModal.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding">
        <span ng-bind="jobMatchIdModal.label"></span>
    </h4>
</div>

<div class="modal-body">
    <cancel-job-match-meeting job-match-object="jobMatchIdModal.candidateJobMatch" item-type="{{jobMatchIdModal.scheduleType}}"
          job-match-id="{{jobMatchIdModal.jobMatchId}}" save-callback="jobMatchIdModal.saveCallback()"></cancel-job-match-meeting>
</div>