<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="jobMatchIdModal.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding">Notes</h4>
</div>

<div class="modal-body">
    <notes-and-communication job-match-id="{{jobMatchIdModal.jobMatchId}}" type="notes" save-callback="jobMatchIdModal.refreshCallback()"></notes-and-communication>
</div>