<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="jobMatchIdModal.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding">
        <span ng-bind="jobMatchIdModal.label"></span>
    </h4>
</div>

<div class="modal-body">
    <send-assessment job-match-id="{{jobMatchIdModal.jobMatchId}}" candidate-id="{{jobMatchIdModal.candidateId}}"
         assessment-type="{{jobMatchIdModal.assessmentType}}" assessment-send-mode="{{jobMatchIdModal.assessmentSendMode}}" save-callback="jobMatchIdModal.saveCallback()"></send-assessment>
</div>