<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="assessmentInfoModal.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding">{{ assessmentInfoModal.title }}</h4>
</div>

<div class="modal-body">
    <assessment-info job-match-id="{{assessmentInfoModal.jobMatchId}}" assessment-type="{{assessmentInfoModal.assessmentType}}"></assessment-info>
</div>
