<div class="candidate-job-match-card-container" ng-class="{'job-match-card-disabled': candidateJobMatchCard.disabledFlag}">
    <div ng-show="!candidateJobMatchCard.loadingFlag" class="main-box clearfix profile-box-menu">
        <div class="main-box-body clearfix">
            <div class="profile-box-notification" ng-class="{'dark-blue-bg': candidateJobMatchCard.candidateJobMatch.jobMatchStatus === 'ACTIVE','blue-bg': candidateJobMatchCard.candidateJobMatch.jobMatchStatus === 'PASSIVE',
            'grey-bg': candidateJobMatchCard.candidateJobMatch.jobMatchStatus === 'INERT', 'job-match-card-selected-bg': candidateJobMatchCard.selectedFlag}">
                <div uib-tooltip="Refresh Card" tooltip-placement="bottom-left" class="pull-left candidate-job-card-notification-icon candidate-job-card-notification-icon-left">
                    <a class="btn" id="refreshCard" ng-click="candidateJobMatchCard.refreshCard()">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
                <div class="dropdown pull-right candidate-job-card-notification-icon">
                    <a uib-tooltip="Notifications" tooltip-placement="bottom-right" class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownBell" ng-click="candidateJobMatchCard.userNotificationControls.setNewNotificationsAsViewed()">
                        <i class="fa fa-bell"></i>
                        <span class="count notification-count" ng-show="candidateJobMatchCard.numberOfNewNotifications > 0"
                              ng-bind="candidateJobMatchCard.numberOfNewNotifications">
                        </span>
                    </a>
                    <ul class="dropdown-menu notifications-list">
                        <li class="item">
                            <user-notifications ng-if="candidateJobMatchCard.showNotificationsFlag" height="200px" width="250px" search-object="{{candidateJobMatchCard.notificationsSearchObject}}" view-all-flag="true"
                                context="candidateJobMatchCard" user-notification-controls="candidateJobMatchCard.userNotificationControls" number-of-new-notifications="candidateJobMatchCard.numberOfNewNotifications"></user-notifications>
                        </li>
                    </ul>
                </div>
                <div uib-tooltip="Activity Monitor" tooltip-placement="bottom-right" class="dropdown pull-right candidate-job-card-notification-icon">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" id="activity-list" ng-click="candidateJobMatchCard.recentActivitiesControls.getActivities()">
                        <i class="fa fa-list"></i>
                        <!--<span class="count notification-count">2</span>-->
                    </a>
                    <ul class="dropdown-menu candidate-job-match-activity-list">
                        <recent-activities activity-map="candidateJobMatchCard.activityMap" recent-activities-controls="candidateJobMatchCard.recentActivitiesControls"  context="candidateJobMatchCard" candidate-id="{{candidateJobMatchCard.candidateJobMatch.id}}" job-match-id="{{candidateJobMatchCard.jobMatchId}}" show-all-callback="candidateJobMatchCard.showAllActivityModal()"></recent-activities>
                    </ul>
                </div>
                <!--<div class="pull-right candidate-job-card-notification-icon">-->
                <!--<span class="btn"> | </span>-->
                <!--</div>-->
                <div uib-tooltip="Notes" tooltip-placement="bottom-right" ng-if="candidateJobMatchCard.showNotesFlag" class="pull-right candidate-job-card-notification-icon">
                    <a class="btn" id="notes" ng-click="candidateJobMatchCard.performAction(candidateJobMatchCard.notesActionObject)">
                        <i class="fa fa-sticky-note"></i>
                    </a>
                </div>
                <div uib-tooltip="Communication" tooltip-placement="bottom-right" ng-if="candidateJobMatchCard.showCommunicationFlag" class="pull-right candidate-job-card-notification-icon">
                    <a class="btn" id="communication" ng-click="candidateJobMatchCard.performAction(candidateJobMatchCard.communicationActionObject)">
                        <i class="fa fa-comments"></i>
                    </a>
                </div>
                <div uib-tooltip="Assign Recruiter" tooltip-placement="bottom-right" ng-if="candidateJobMatchCard.showAssignRecruiterFlag" class="pull-right candidate-job-card-notification-icon">
                    <a class="btn" id="assignRecruiter" ng-click="candidateJobMatchCard.performAction(candidateJobMatchCard.assignRecruiterActionObject)">
                        <i class="fa fa-user-plus"></i>
                    </a>
                </div>
                <div uib-tooltip="Not Interested" tooltip-placement="bottom-right" ng-if="candidateJobMatchCard.showNotInterestedFlag" class="pull-right candidate-job-card-notification-icon">
                    <a class="btn" id="notInterested" ng-click="candidateJobMatchCard.performAction(candidateJobMatchCard.notInterestedActionObject)">
                        <i class="fa fa-thumbs-down"></i>
                    </a>
                </div>
                <div uib-tooltip="Release" tooltip-placement="bottom-right" ng-if="candidateJobMatchCard.showReleaseFlag" class="pull-right candidate-job-card-notification-icon">
                    <a class="btn" id="release" ng-click="candidateJobMatchCard.performAction(candidateJobMatchCard.releaseActionObject)">
                        <i class="fa fa-sign-out"></i>
                    </a>
                </div>
            </div>
            <div class="profile-box-header candidate-job-match-card-header clearfix"
                 ng-class="{'dark-blue-bg': candidateJobMatchCard.candidateJobMatch.jobMatchStatus === 'ACTIVE','blue-bg': candidateJobMatchCard.candidateJobMatch.jobMatchStatus === 'PASSIVE',
                 'grey-bg': candidateJobMatchCard.candidateJobMatch.jobMatchStatus === 'INERT', 'job-match-card-selected-bg': candidateJobMatchCard.selectedFlag}">
                <div class="candidate-job-match-card-name-div">
                    <img src="app-content/img/people/4dot5-default-no-profile-pic.jpg" alt="{{candidateJobMatchCard.candidateJobMatch.name}}"
                         class="candidate-job-match-card-img img-responsive pull-left" ng-click="candidateJobMatchCard.selectedFlag= (!candidateJobMatchCard.selectedFlag)"/>
                    <div>
                        <div class="cursor-pointer job-position">
                            <div class="candidate-job-match-card-candidate-name-container" >
                                <span class="candidate-job-match-card-wrap-candidate-name" title='{{candidateJobMatchCard.candidateJobMatch.name}}' id="candidateName"
                                      ng-bind="candidateJobMatchCard.candidateJobMatch.name" ui-sref="missioncontrol.candidateprofile({'candidateId':'{{candidateJobMatchCard.candidateId}}'})">
                                </span>
                                <span class="candidate-job-match-card-update-contact-icon">
                                    <i class="fa fa-pencil" uib-tooltip="Update Candidate Contact Details" tooltip-placement="bottom"
                                       ng-click="candidateJobMatchCard.performAction(candidateJobMatchCard.updateContactActionObject)"></i>
                                </span>
                                <span class="candidate-job-match-card-value-assessment-icon" ng-if="candidateJobMatchCard.showValueAssessmentScoreFlag" ng-click="candidateJobMatchCard.getReport('ValueAssessment', candidateJobMatchCard.candidateJobMatch.valueAssessmentPdfReportURL)">
                                    <i class="fa fa-balance-scale" tooltip-placement="bottom-right" uib-tooltip="Value Assessment Score - {{candidateJobMatchCard.candidateJobMatch.valueAssessmentScore}}"></i>
                                </span>
                            </div>
                        </div>
                        <div class="candidate-job-match-card-detail-div">
                            <span>
                                <span ng-if="!candidateJobMatchCard.candidateJobMatch.conflictPhoneNumber && !candidateJobMatchCard.candidateJobMatch.inCompletePhoneNumber">
                                    <i class="fa fa-phone fa-lg"></i>
                                    <span ng-bind="candidateJobMatchCard.candidateJobMatch.mobilephone"></span>
                                </span>
                                <span ng-if="candidateJobMatchCard.candidateJobMatch.conflictPhoneNumber || candidateJobMatchCard.candidateJobMatch.inCompletePhoneNumber">
                                    <span class="fa-stack fa" style="height: 1.5em" ng-if="candidateJobMatchCard.candidateJobMatch.conflictPhoneNumber" tooltip-placement="top-left" uib-tooltip="Phone Number in conflict. Update contact details.">
                                        <i class="fa fa-phone fa-stack-1x"></i>
                                        <i class="fa fa-exclamation fa-stack-2x red"></i>
                                    </span>
                                    <span class="fa-stack fa" style="height: 1.5em" ng-if="candidateJobMatchCard.candidateJobMatch.inCompletePhoneNumber" tooltip-placement="top-left" uib-tooltip="Phone Number missing. Update contact details.">
                                        <i class="fa fa-phone fa-stack-1x"></i>
                                        <i class="fa fa-ban fa-stack-2x red"></i>
                                    </span>
                                </span>
                            </span>
                            <!--<span class="pull-right">-->
                                <!--<span class="cursor-pointer" style="margin-left: 10px;">-->
                                    <!--<a href="#" title="Chat with {{candidateJobMatchCard.candidateJobMatch.im}}">-->
                                        <!--<i class="fa fa-comment"></i>-->
                                    <!--</a>-->
                                <!--</span>-->
                            <!--</span>-->
                            <span class="candidate-job-match-card-email pull-right">
                                <span ng-if="!candidateJobMatchCard.candidateJobMatch.conflictEmail && !candidateJobMatchCard.candidateJobMatch.inCompleteEmail" tooltip-placement="top-right" uib-tooltip="Email {{candidateJobMatchCard.candidateJobMatch.email}}" class="cursor-pointer" style="margin-left: 10px;">
                                    <a href="mailto:{{candidateJobMatchCard.candidateJobMatch.email}}">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                </span>
                                <span ng-if="candidateJobMatchCard.candidateJobMatch.conflictEmail || candidateJobMatchCard.candidateJobMatch.inCompleteEmail">
                                    <span class="fa-stack fa" style="height: 1.5em" ng-if="candidateJobMatchCard.candidateJobMatch.conflictEmail" tooltip-placement="top-right" uib-tooltip="Email in conflict. Update contact details.">
                                        <i class="fa fa-envelope fa-stack-1x"></i>
                                        <i class="fa fa-exclamation fa-stack-2x red"></i>
                                    </span>
                                    <span class="fa-stack fa" style="height: 1.5em" ng-if="candidateJobMatchCard.candidateJobMatch.inCompleteEmail" tooltip-placement="top-right" uib-tooltip="Email missing. Update contact details.">
                                        <i class="fa fa-envelope fa-stack-1x"></i>
                                        <i class="fa fa-ban fa-stack-2x red"></i>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="candidate-job-match-card-detail-div">
                    <span class="cursor-pointer" uib-tooltip="Job Title" ng-bind="candidateJobMatchCard.candidateJobMatch.jobMatchTitle"
                          tooltip-placement="top-left" ui-sref="missioncontrol.jobprofile({'jobId':'{{candidateJobMatchCard.candidateJobMatch.jobMatchJobId}}'})"></span>
                    <span uib-tooltip="Job Match Date" tooltip-placement="top-right" class="pull-right" ng-bind="candidateJobMatchCard.candidateJobMatch.jobMatchDate | fourdotfiveDateFormat"></span>
                </div>
                <div class="candidate-job-match-card-detail-div">
                    <span uib-tooltip="Requisition Number of Best Job Match" tooltip-placement="top-left" ng-bind="candidateJobMatchCard.candidateJobMatch.jobMatchRequisitionNum"></span>
                    <span tooltip-placement="top-right" class="pull-right" uib-tooltip="'Open' Openings of 'Total' Openings">{{candidateJobMatchCard.candidateJobMatch.numberOfOpenOpenings}} of {{candidateJobMatchCard.candidateJobMatch.totalOpenings}} Open</span>
                </div>
                <div class="candidate-job-match-card-detail-div">
                    <span uib-tooltip="Client of Job Match" tooltip-placement="top-left" ng-bind="candidateJobMatchCard.candidateJobMatch.jobMatchClientName"></span>
                </div>
                <div class="candidate-job-match-card-detail-div">
                    <span uib-tooltip="Status of Job Match" tooltip-placement="top-left" ng-bind="candidateJobMatchCard.candidateJobMatch.jobMatchCurrentStateDisplayLabel" class="pull-left"></span>
                    <span ng-if="candidateJobMatchCard.showInterviewCountFlag" class="candidate-job-match-card-meeting-count-container pointer" uib-tooltip="Interviews"
                          ng-click="candidateJobMatchCard.openMeetingsModal()">
                            <span class="fa-stack fa">
                                <i class="fa fa-calendar-o fa-stack-2x"></i>
                                <strong class="fa-stack-1x candidate-job-match-card-meeting-count">{{ candidateJobMatchCard.candidateJobMatch.numberOfOpenInterviews }}</strong>
                            </span>
                    </span>
                    <span ng-if="candidateJobMatchCard.showPhoneScreenCountFlag" class="candidate-job-match-card-meeting-count-container pointer" uib-tooltip="Phone Screens"
                          ng-click="candidateJobMatchCard.openMeetingsModal()">
                            <span class="fa-stack fa">
                                <i class="fa fa-calendar-o fa-stack-2x"></i>
                                <strong class="fa-stack-1x candidate-job-match-card-meeting-count">{{ candidateJobMatchCard.candidateJobMatch.numberOfOpenPhoneScreens }}</strong>
                            </span>
                    </span>
                    <span ng-if="candidateJobMatchCard.showAssessmentInfoFlag" class="candidate-job-match-card-meeting-count-container pointer" uib-tooltip="Assessment Info"
                          ng-click="candidateJobMatchCard.openAssessmentInfoModal()">
                            <i class="fa fa-info-circle candidate-job-match-card-assessment-info"></i>
                    </span>
                    <span tooltip-placement="top-right" class="pull-right" uib-tooltip="Days since resume has been uploaded.">{{candidateJobMatchCard.candidateJobMatch.noOfDaysSinceLastUpload}} days</span>
                </div>
            </div>
            <div class="profile-box-content clearfix">
                <ul class="menu-items">
                    <li>
                        <div class="row candidate-job-match-card-popovers-container">
                            <div class="col-xs-4">
                                <div class="text-center" style="padding-top:5px;">
                                    <span class="text-center" uib-tooltip="Job Match Score" tooltip-placement="top-left" ng-if="!(candidateJobMatchCard.showTechAssessmentScoreFlag)">
                                        <span class="pointer" ng-if="candidateJobMatchCard.showIntelligenceScoreFlag" style="font-size: 1.7em;display: block; font-weight: 400; margin-left:17px; margin-right: 23px;"
                                              ng-bind="candidateJobMatchCard.candidateJobMatch.jobMatchScore"
                                              ui-sref="missioncontrol.candidateJobComparison({'jobMatchId': '{{candidateJobMatchCard.jobMatchId}}'})"
                                              ng-class="{'candidate-job-match-card-only-intelligence-score-success green-bg': candidateJobMatchCard.intelligenceScorePassFlag, 'candidate-job-match-card-only-intelligence-score-failure': !candidateJobMatchCard.intelligenceScorePassFlag}">
                                        </span>
                                        <span ng-if="!candidateJobMatchCard.showIntelligenceScoreFlag" style="font-size: 1.6em;display: block; font-weight: 300; margin-left:-5px;">
                                            N/A
                                        </span>
                                        <span style="display: block; font-size: 1em;font-weight: 300;">Score %</span>
                                    </span>
                                    <span class="text-center" ng-if="candidateJobMatchCard.showTechAssessmentScoreFlag">
                                        <span style="font-size: 1.5em; display: block; font-weight: 400;padding-top: 0.1em;">
                                            <span ng-if="candidateJobMatchCard.showIntelligenceScoreFlag" class="pointer" uib-tooltip="Job Match Score" tooltip-placement="top-left"
                                                 ng-bind="candidateJobMatchCard.candidateJobMatch.jobMatchScore"
                                                 ui-sref="missioncontrol.candidateJobComparison({'jobMatchId': '{{candidateJobMatchCard.jobMatchId}}'})"
                                                 ng-class="{'candidate-job-match-card-intelligence-score-success green-bg': candidateJobMatchCard.intelligenceScorePassFlag, 'candidate-job-match-card-intelligence-score-failure': !candidateJobMatchCard.intelligenceScorePassFlag}">
                                            </span>
                                            <span ng-if="!candidateJobMatchCard.showIntelligenceScoreFlag" uib-tooltip="Job Match Score" tooltip-placement="top-left">
                                                N/A
                                            </span>
                                            <span> | </span>
                                            <span class="pointer" uib-tooltip="Technical Assessment Score" tooltip-placement="top-left"
                                                 ng-bind="candidateJobMatchCard.candidateJobMatch.techAssessmentScore"
                                                 ng-click="candidateJobMatchCard.getReport('TechAssessment', candidateJobMatchCard.candidateJobMatch.techAssessmentPdfReportURL)"
                                                 ng-class="{'candidate-job-match-card-tech-score-success green-bg': candidateJobMatchCard.techAssessmentScorePassFlag,'candidate-job-match-card-tech-score-failure': !(candidateJobMatchCard.techAssessmentScorePassFlag) }">
                                            </span>
                                        </span>
                                        <span style="display: block; font-size: 1em;font-weight: 300;">Score %</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="text-center">
                                    <img src="app-content/img/people/4dot5-default-no-profile-pic.jpg"
                                         alt="{{candidateJobMatchCard.candidateJobMatch.primaryRecruiterName}}"
                                         class="candidate-job-match-card-recruiter-img img-responsive"/>
                                    <span ng-if="candidateJobMatchCard.candidateJobMatch.recruitersList.length > 0" class="candidate-job-match-card-recruiter-count pointer"
                                          popover-placement="top" uib-popover-template="'app/directives/candidateJobMatchCard/candidate-job-match-recruiters-popover.html'"
                                          popover-class="candidate-job-match-card-recruiters-popover" popover-trigger="'outsideClick'" popover-append-to-body="true">
                                        +{{candidateJobMatchCard.candidateJobMatch.recruitersList.length}}
                                    </span>
                                    <span class="candidate-job-match-card-recruiter-name" uib-tooltip="{{candidateJobMatchCard.candidateJobMatch.primaryRecruiterName}}" tooltip-append-to-body="true" tooltip-placement="top">
                                        {{candidateJobMatchCard.candidateJobMatch.primaryRecruiterName}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="text-center candidate-job-match-card-footer-section">
                                    <div class="btn-group dropdown" id="{{candidateJobMatchCard.jobMatchId}}-dropdown" uib-dropdown on-toggle="candidateJobMatchCard.cardMenuToggled(open, candidateJobMatchCard.jobMatchId + '-dropdown-menu')">
                                        <button type="button" class="btn btn-primary">Actions</button>
                                        <button type="button" class="btn btn-primary" data-toggle="dropdown" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span> <span class="sr-only"></span>
                                        </button>
                                        <ul id="{{candidateJobMatchCard.jobMatchId}}-dropdown-menu" class="dropdown-menu dropdown-menu-right" uib-dropdown-menu="" role="menu">
                                            <li role="menuitems" ng-repeat="actionObject in candidateJobMatchCard.candidateJobMatch.availableActions">
                                                <a href="" ng-click="candidateJobMatchCard.performAction(actionObject)" style="height: 30px;line-height: 30px;padding-left: 5px;">{{actionObject.action}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="candidateJobMatchCard.loadingFlag" class="candidate-job-match-card-loader-div text-center">
        <span class="fa fa-2x fa-spinner fa-spin"></span>
    </div>
</div>