<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="setStatusModal.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding">Not Interested</h4>
</div>

<div class="modal-body">
    <set-job-match-status job-match-details-array-string="{{setStatusModal.jobMatchDetailsArray}}" status-type="{{setStatusModal.statusType}}"
        save-callback="setStatusModal.saveCallback()">
    </set-job-match-status>
</div>