<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="jobMatchIdModal.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding">
        <span>{{ ::jobMatchIdModal.label }}</span>
    </h4>
</div>

<div class="modal-body">
    <add-update-candidate-contact candidate-id="{{jobMatchIdModal.candidateId}}"
        save-callback="jobMatchIdModal.saveCallback()" cancel-callback="jobMatchIdModal.closeModal()">
    </add-update-candidate-contact>
</div>