<div class="container main-box">
    <div class="row main-box-header">
        <div class="col-xs-12" ng-if="candidateContact.showProfileUrlFlag">
            <div class="form-group">
                <label style="padding-right: 10px">
                    Candidate Profile :
                </label>
                <div style="display: inline">
                    <a target="_blank" href="{{candidateContact.profileUrl}}">{{candidateContact.profileUrlText}}</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label style="padding-right: 10px">
                    Update <span class="emerald">{{candidateContact.candidateName}}</span>'s :
                </label>
                <div class="radio" style="display: inline;">
                    <input type="radio" name="updateContactType" id="updateCandidatePhone" value="phone" ng-model="candidateContact.updateContactType" ng-change="candidateContact.updateContactTypeChanged()">
                    <label for="updateCandidatePhone">
                        Phone Number
                    </label>
                </div>
                <div class="radio" style="display: inline;">
                    <input type="radio" name="updateContactType" id="updateCandidateEmail" value="email" ng-model="candidateContact.updateContactType" ng-change="candidateContact.updateContactTypeChanged()">
                    <label for="updateCandidateEmail">
                        Email
                    </label>
                </div>
                <div class="radio" style="display: inline;">
                    <input type="radio" name="updateContactType" id="updateCandidateAddress" value="address" ng-model="candidateContact.updateContactType" ng-change="candidateContact.updateContactTypeChanged()">
                    <label for="updateCandidateAddress">
                        Location
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row main-box-body">
        <form ng-show="!candidateContact.loadingContactInfoFlag" role="form" name="candidateContact.addUpdateContactForm" novalidate>
            <div class="col-xs-12" ng-if="candidateContact.updateContactType == 'phone'">
                <div class="form-group" ng-class="{'has-error':(candidateContact.addUpdateContactForm.$submitted && candidateContact.addUpdateContactForm.phoneNumber.$invalid)}">
                    <label for="phoneNumber" class="control-label">
                        Phone Number<em>*</em> :
                    </label>
                    <input type="text" class="form-control access" id="phoneNumber" name="phoneNumber" ng-model="candidateContact.contactObject.phoneNumber"
                           ng-intl-tel-input data-default-country="us" data-number-type="FIXED_LINE_OR_MOBILE" required>
                </div>
            </div>
            <div class="col-xs-12" ng-if="candidateContact.updateContactType == 'email'">
                <div class="form-group" ng-class="{'has-error': (candidateContact.addUpdateContactForm.$submitted && candidateContact.addUpdateContactForm.email.$invalid)}">
                    <label for="email" class="control-label">
                        Email<em>*</em> :
                    </label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email" ng-model="candidateContact.contactObject.emailId" required>
                </div>
            </div>
            <div class="col-xs-12" ng-if="candidateContact.updateContactType == 'address'">
                <manage-entity-location entity-type="candidate" entity-id="{{candidateContact.candidateId}}"
                    location-object="candidateContact.contactObject.address" save-callback="candidateContact.saveCallback()" cancel-callback="candidateContact.cancelCallback()">
                </manage-entity-location>
            </div>
            <div class="col-xs-12 text-right" ng-if="candidateContact.updateContactType != 'address'">
                <div class="clearfix">
                    <button type="button" class="btn btn-danger" ng-click="candidateContact.cancelCallback()" ng-disabled="candidateContact.savingFlag">
                        <span>Cancel</span>
                        <!--<span ng-if="manageLocation.cancellingFlag">Canceling..</span>-->
                    </button>
                    <button type="submit" class="btn btn-success" ng-click="candidateContact.updateContactDetails()" ng-disabled="candidateContact.savingFlag">
                        <span ng-if="!candidateContact.savingFlag">
                            Update
                            <span ng-if="candidateContact.updateContactType == 'phone'">Phone Number</span>
                            <span ng-if="candidateContact.updateContactType == 'email'">Email</span>
                        </span>
                        <span ng-if="candidateContact.savingFlag">Updating..</span>
                    </button>
                </div>
            </div>
        </form>

        <div class="row" ng-show="candidateContact.loadingContactInfoFlag">
            <div class="col-xs-12 text-center">
                Loading Candidate Contact Details <i class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
        </div>
    </div>

</div>