<!--<div class="container">-->
<style>
		@media ( min-width : 768px) {
			.checkBox-Settings {
				margin-left: -4% !important;
			}
			.dropdown-Settings {
				margin-left: 0% !important;
			}
		}

		@media ( min-width : 992px){
			.checkBox-Settings {
				margin-left: -4% !important;
			}
			.dropdown-Settings {
				margin-left: 0% !important;
			}
		}

			/*
			*	100% screen resolution
			*/
			@media ( min-width : 1301px) and ( max-width :1400px) {
				.checkBox-Settings {
					margin-left: -4% !important;
				}
				.dropdown-Settings {
					margin-left: 0% !important;
				}
				.selectClient-Settings{
					margin-left: 8% !important;
				}
			}
			@media ( min-width : 1401px) and ( max-width :1500px){
				.checkBox-Settings {
					margin-left: -4% !important;
				}
				.dropdown-Settings {
					margin-left: 0% !important;
				}
				.selectClient-Settings{
					margin-left: 8% !important;
				}
			}
			/*
			*	90% screen resolution
			*/
			@media ( min-width : 1501px) and ( max-width :1600px) {
				.checkBox-Settings {
					margin-left: -5% !important;
				}
				.dropdown-Settings {
					margin-left: -1% !important;
				}
				.selectClient-Settings{
					margin-left: 6% !important;
				}
			}
			@media ( min-width : 1601px) and ( max-width :1700px) {
				.checkBox-Settings {
					margin-left: -5% !important;
				}
				.dropdown-Settings {
					margin-left: -1% !important;
				}
				.selectClient-Settings{
					margin-left: 6% !important;
				}
			}
			/*
			*	80% screen resolution
			*/
			@media ( min-width : 1701px) and ( max-width :1800px) {
				.checkBox-Settings {
					margin-left: -10% !important;
				}
				.dropdown-Settings {
					margin-left: -3% !important;
				}
				.selectClient-Settings{
					margin-left: 1% !important;
				}
			}

			/*
			*	75% screen resolution
			*/
			@media ( min-width : 1801px) and ( max-width :1900px) {
				.checkBox-Settings {
					margin-left: -13% !important;
				}
				.dropdown-Settings {
					margin-left: -7% !important;
				}
				.selectClient-Settings{
					margin-left: -3% !important;
				}
			}
			@media ( min-width : 1901px) {
				.checkBox-Settings {
					margin-left: -15% !important;
				}
				.dropdown-Settings {
					margin-left: -4% !important;
				}
				.selectClient-Settings{
					margin-left: 0% !important;
				}
			}
.slider-range .noUi-origin-upper {
	background-color: red;
}

.slider-range .noUi-base {
	background-color: green;
}

.sliderBold {
	color: red;
	font-weight: bold;
}

.disableelementview {
	color: #9e9e9e !important;
	opacity: 1;
	cursor: auto;
}

.pointsevenopacity {
	opacity: 0.7 !important;
}

.pointsevenopacity .noUi-handle{
	pointer-events: none;
}

/* 	.disablescreenview {
		color : #9e9e9e !important;
		opacity : 1;
	} */
.slider-range .noUi-origin-lower {
	background-color: #FF8C00;
}

.noUi-background {
	background: green;
}

.noUi-connect {
	background: red;
}

.disabledToggle {
	max-width: 50%;
	height: 22px !important;
	margin-left: 44px;
	border: 0px;
}

.avoid-clicks {
	pointer-events: none;
}

.nopointerevents {
	pointer-events: none;
}

.lbl {
	max-width: 50%;
	height: 22px !important;
	/*		margin-left: 44px !important;*/
	border: 0px;
}

.lbl .onoffswitch-inner:before {
	line-height: 26px !important;
	font-size: 11px !important;
	margin-top: -2px;
	background-color: #03a9f4 !important;
}

.lbl .onoffswitch-inner:after {
	line-height: 26px !important;
	font-size: 10px !important;
	background-color: lightgray;
	margin-top: -1px;
	padding-right: 6px !important;
}

.swch {
	width: 7px !important;
	bottom: 6px !important;
	border-color: white;
	margin-right: 5%;
}

.swch:before {
	right: 0px !important;
}

.swch:after {
	right: 26px !important;
}

.checkname {
	line-height: 26px;
}

.topheight {
	top: 4px;
}

.fromLabel {
	display: inline-block;
}

.toLabel {
	display: inline-block;
}

.differentiatorLine {
	border-top: 1.5px solid #eee !important;
	border-color: #A9A9A9 !important;
	margin-bottom: 2%;
}

.spacingBetweenScoreAndDays {
	margin-bottom: 1%;
}

/*.secondaryLabels {
		font-weight: 500;
	}*/
.spaceBetweenPerformanceSettings {
	margin-bottom: 3%;
}

.settingspage {
	height: 3250px !important;
    overflow-y: scroll;
}

.marginBetweenCardsAndValidDate {
	margin-bottom: 1.5%;
}

label {
	font-size: 1.075em;
}

.disabledworkflow {
	opacity: 0.4;
}

.radio .removeradio:before {
	border: none;
	background: none;
}

.heig{
	min-height: 780px;
	max-height: 3500px;
	/*min-height: 660px !important;*/
}
</style>
<div class="approw settingspage">
    <div class="row">
        <div class="col-lg-12">
            <div id="content-header" class="clearfix">
                <div class="pull-left">
                    <ol class="breadcrumb">
                        <li><a ui-sref="missioncontrol.dashboard">{{MESSAGECONSTANTS.BREADCRUMBS.HOME}}</a></li>
                        <li class="active"><span>{{MESSAGECONSTANTS.BREADCRUMBS.SETTINGS}}</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h1 ng-if="currentCompany.companyType != 'Host'">Settings</h1>
        <h1 ng-if="currentCompany.companyType == 'Host'">Global Settings</h1>
    </div>
    <div class="row">
        <div class="form-group">
            <div ng-if="!isinHost()">
                <form name="settingsForCompanyOrClientForm">
                    <div class="radio">
                        <div class="col-xs-5">
                            <input type="radio" ng-click="manageCompanySelection()"
                                   name="toggleSettings" id="companyname" value="option1" checked>
                            <label for="companyname" title="{{currentCompany.companyName}}">{{currentCompany.companyName | companyNameSettingFilter}}</label>
                            <label class="removeradio paddingleftzero" ng-if="!settingsCopyForCompany.global && !isStillProcessingModified">(Modified)</label>

                        </div>
                        <div class="col-xs-7">
                            <div class="col-xs-3" style="padding-left: 0px;">
                                <input type="radio"	ng-click="manageClientOrBuSelection()" name="toggleSettings" id="clientorbu" value="option2">
                                <label ng-if="currentCompany.companyType == 'StaffingCompany'" for="clientorbu">Client</label>
                                <label ng-if="currentCompany.companyType == 'Corporation'" for="clientorbu">BU</label>
                            </div>
                            <div class="col-xs-7 selectClient-Settings" ng-if="showClientsOrBusList && (allClientsOrBus.length !== 0)">
                                <div class="col-xs-3" style="font-size: 1.075em;">
									<span ng-if="currentCompany.companyType != 'Host' && showClientsOrBusList && currentCompany.companyType == 'StaffingCompany'"
                                    >Select Client </span>
                                    <span ng-if="currentCompany.companyType != 'Host' && showClientsOrBusList && currentCompany.companyType == 'Corporation'"
                                    >Select BU</span>
                                </div>
                                <div class="col-xs-7" >
                                    <select class="form-control" style="margin-top: -5px;"  name="client"
                                            id="client" ng-model="client"
                                            ng-options="client as client.aliasName for client in allClientsOrBus "
                                            ng-change="getClientSettings(client)"
                                            class="form-control access" required >
                                        <option value="client">{{client.aliasName}}</option>
                                        <!--<option value="Transactions" ng-if="false"></option>-->
                                    </select>
                                    <!-- <span ng-show="clientMandatoryMessage" style="color: #ff0000">Please
                                        select any Client</span> <span ng-show="bUMandatoryMessage"
                                        style="color: #ff0000">Please select any BU</span> -->
                                </div>
                                <div class="col-xs-2"></div>
                            </div>
                            <div class="hidden hide col-xs-1">
                                <input type="radio" id="setvalues" ng-click="setValues()"
                                       name="optionsRadios" id="companyname" value="option1">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="row" ng-if="currentCompany.companyType != 'Host'">
        <div class="form-group">
            <form name="form.settingsTypeform">
                <!-- <span ng-if="globalSettingCurrentMessage" style="margin-left: 1%;">Currently the global settings are displayed</span> , 'displaynone': (!companySelectionActive && !allClientsOrBus.length)} -->
                <div ng-if="companySelectionActive">
                    <div class="col-xs-5" ng-class="{'nopointerevents disabledworkflow': (showClientsOrBusList || viewonlymode) } ">
                        <div class="radio" style="margin-left:5%">
                            <input type="radio" ng-model="modifySettingsCompanyModel"
                                   ng-click="changeCompanySettings()"
                                   name="modifySettingsCompanyName" id="modifySettingsCompany">
                            <label for="modifySettingsCompany"  style="margin-bottom: 10px;">Modify Settings</label><br>
                            <input type="radio" ng-model="globalSettingsCompanyModel"
                                   ng-click="changeGlobalSettings()"
                                   id="globalSettingsCompany" name="modifySettingsCompanyName" >
                            <label for="globalSettingsCompany" >Reset to Global Settings</label>
                        </div>
                    </div>
                    <div class="col-xs-7" ng-class="{'nopointerevents disabledworkflow': (!showClientsOrBusList || viewonlymode)}">
                        <div class="radio" style="margin-left:4%">
                            <input type="radio" ng-model="modifySettingsClientModel" ng-click="changeClientSettings()"
                                   name="modifySettingsClientName" id="modifySettingsClient">
                            <label for="modifySettingsClient"  style="margin-bottom: 10px;">Modify Settings</label><br>
                            <input type="radio" ng-model="globalSettingsClientModel"
                                   ng-click="changeGlobalSettings()"
                                   id="globalSettingsClient" name="modifySettingsClientName">
                            <label for="globalSettingsClient">Reset to Company Settings</label>
                        </div>
                    </div>
                </div>
                <div ng-if="!companySelectionActive">
                    <div class="col-xs-5" ng-class="{'nopointerevents disabledworkflow': (showClientsOrBusList || viewonlymode)}">
                        <div class="radio" style="margin-left:5%">
                            <input type="radio"	name="modifySettingsCompanyName" id="modifySettingsCompany">
                            <label for="modifySettingsCompany"  style="margin-bottom: 10px;">Modify Settings</label><br>
                            <input type="radio" id="globalSettingsCompany" name="modifySettingsCompanyName" >
                            <label for="globalSettingsCompany">Reset to Global Settings</label>
                        </div>
                    </div>
                    <div class="col-xs-7" ng-class="{'nopointerevents disabledworkflow': (viewonlymode || (showClientsOrBusList && (allClientsOrBus.length === 0))) }">
                        <div class="radio" style="margin-left:4%">
                            <input type="radio" ng-model="modifySettingsClientModel" ng-click="changeClientSettings()"
                                   name="modifySettingsClientName" id="modifySettingsClient">
                            <label for="modifySettingsClient"  style="margin-bottom: 10px;">Modify Settings</label><br>
                            <div class="row" style="margin-top: 6px; margin-bottom: 16px;"
                                 ng-if="isModifyClientSelected() && copyClientCheckBox">
                                <div class="col-xs-12">
                                    <div class="col-xs-5">
                                        <label class="removeradio" ng-if="currentCompany.companyType == 'StaffingCompany'">Like to copy from another Client?</label>
                                        <label	class="removeradio"	ng-if="currentCompany.companyType == 'Corporation'">Like to copy from another BU?</label>
                                    </div>
                                    <div class="col-xs-1 checkbox-nice checkbox-inline checkBox-Settings"	style="min-height: 20px; padding-right: 0px; padding-left: 0px;">
                                        <input type="checkbox" id="checkbox-inl-1" ng-click="isCopyChecked()">
                                        <label for="checkbox-inl-1"> </label>
                                    </div>
                                    <div ng-if="showClientsOrBusList && (client != null) && copyChecked" class="col-xs-4 dropdown-Settings" style=" margin-top: -0.7%; width:34.333333%;"
                                         ng-class="{'has-error': (clientCopyMandatoryMessage) && (isinCorporate() || isinStaffing())}">
                                        <select class="form-control" name="clientCopy" id="clientCopy" ng-model="clientCopy"
                                                ng-options="clientCopy as clientCopy.company.name for clientCopy in availableClientsToCopy"
                                                ng-change="getSettingsForClientToCopy(clientCopy)"
                                                class="form-control access" required>
                                            <option value="" ng-if="false"></option>
                                        </select>
                                        <span ng-show="clientCopyMandatoryMessage && currentCompany.companyType == 'StaffingCompany'" style="color:#ff0000">Please select any Client for copy.</span>
                                        <span ng-show="clientCopyMandatoryMessage && currentCompany.companyType == 'Corporation'" style="color:#ff0000">Please select any BU for copy.</span>
                                    </div>
                                    <div class="col-xs-1">&nbsp;</div>
                                </div>
                            </div>

                            <input type="radio" ng-model="globalSettingsClientModel"
                                   ng-click="changeGlobalSettings()"
                                   id="globalSettingsClient" name="modifySettingsClientName" >
                            <label for="globalSettingsClient">Reset to Company Settings</label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-xs-12" style="text-align: center;margin-bottom: -25px;min-height: 65px;">
                <!-- <h3 style="border-bottom: none !important" ng-if="selected4dot5Settings">You are viewing <strong><i style="color: #03a9f4;">4dot5</i></strong>'s global settings</h3>
                <h3 style="border-bottom: none !important" ng-if="selectedCompanySettings">You are viewing <strong><i style="color: #03a9f4;">{{currentCompany.companyName | companyNameSettingsFilter}}</i></strong>'s company settings</h3>
                <h3 style="border-bottom: none !important" ng-if="selectedClientSettings">You are viewing <strong><i style="color: #03a9f4;">{{selectedClientNameForMessage | companyNameSettingsFilter}}</i></strong>'s client settings</h3>
                <h3 style="border-bottom: none !important" ng-if="selectedClientSettingsCopy">You are viewing <strong><i style="color: #03a9f4;">{{selectedClientNameForMessageCopy | companyNameSettingsFilter}}</i></strong>'s client settings</h3>
                <h3 style="border-bottom: none !important" ng-if="selectedBUSettings">You are viewing <strong><i style="color: #03a9f4;">{{selectedBUNameForMessage | companyNameSettingsFilter}}</i></strong>'s BU settings</h3>
                <h3 style="border-bottom: none !important" ng-if="selectedBUSettingsCopy">You are viewing <strong><i style="color: #03a9f4;">{{selectedBUNameForMessageCopy | companyNameSettingsFilter}}</i></strong>'s BU settings</h3> -->

                <!-- For Company settings message -->

                <h3 class="borderbottomnone" ng-if="!isStillProcessing && companySelectionActive && globalSettingsCompanyModel">{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.RESETTING}}<strong><i style="color: #03a9f4;">{{currentCompany.companyName | companyNameSettingsFilter}}</i></strong>'s settings to <strong><i style="color: #03a9f4;">4dot5</i></strong>'s {{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.FOUR_DOT_FIVE}}</h3>
                <h3 class="borderbottomnone" ng-if="!isStillProcessing && companySelectionActive && settings.global && !globalSettingsCompanyModel && !modifySettingsCompanyModel">{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.VIEWING_SETTINGS}} <strong><i style="color: #03a9f4;">{{currentCompany.companyName | companyNameSettingsFilter}}</i></strong>'s {{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.COMPANY_WITHOUT_SETTINGS}} <strong><i style="color: #03a9f4;">4dot5</i></strong>'s {{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.FOUR_DOT_FIVE}}</h3>
                <h3 class="borderbottomnone" ng-if="!isStillProcessing && companySelectionActive && !settings.global && !globalSettingsCompanyModel && !modifySettingsCompanyModel">{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.VIEWING_SETTINGS}} <strong><i style="color: #03a9f4;">{{currentCompany.companyName | companyNameSettingsFilter}}</i></strong>'s {{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.SETTING}}</h3>
                <h3 class="borderbottomnone" ng-if="!isStillProcessing && companySelectionActive && modifySettingsCompanyModel">{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.MODIFYING_SETTINGS}} <strong><i style="color: #03a9f4;">{{currentCompany.companyName | companyNameSettingsFilter}}</i></strong>'s {{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.SETTING}}</h3>

                <!-- For Client settings message -->

                <h3 class="borderbottomnone" ng-if="!isStillProcessing && isinStaffing() && !companySelectionActive && globalSettingsClientModel && !isClientCopyObject">{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.RESETTING}} <strong><i style="color: #03a9f4;">{{selectedClientNameForMessage | companyNameSettingsFilter}}</i></strong>'s settings to <strong><i style="color: #03a9f4;">{{currentCompany.companyName | companyNameSettingsFilter}}</i></strong>'s {{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.SETTING}}</h3>
                <h3 class="borderbottomnone" ng-if="!isStillProcessing && isinStaffing() && !companySelectionActive && isClientGlobal && !modifySettingsClientModel && !globalSettingsClientModel && !isClientCopyObject">{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.VIEWING_SETTINGS}} <strong><i style="color: #03a9f4;">{{selectedClientNameForMessage | companyNameSettingsFilter}}</i></strong>'s {{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.CLIENT_WITHOUT_SETTINGS}}<strong><i style="color: #03a9f4;">{{currentCompany.companyName | companyNameSettingsFilter}}</i></strong>'s {{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.SETTING}}</h3>
                <h3 class="borderbottomnone" ng-if="!isStillProcessing && isinStaffing() && !companySelectionActive && !isClientGlobal && !modifySettingsClientModel && !globalSettingsClientModel && !isClientCopyObject  && allClientsOrBus.length !== 0">{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.VIEWING_SETTINGS}} <strong><i style="color: #03a9f4;">{{selectedClientNameForMessage | companyNameSettingsFilter}}</i></strong>'s {{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.SETTING}}</h3>
                <h3 class="borderbottomnone" ng-if="!isStillProcessing && isinStaffing() && !companySelectionActive && modifySettingsClientModel && !isClientCopyObject">{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.MODIFYING_SETTINGS}} <strong><i style="color: #03a9f4;">{{selectedClientNameForMessage | companyNameSettingsFilter}}</i></strong>'s {{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.SETTING}}</h3>
                <h3 class="borderbottomnone" ng-if="!isStillProcessing && isinStaffing() && !companySelectionActive && isClientCopyObject && !globalSettingsClientModel ">{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.COPY_SETTINGS}} <strong><i style="color: #03a9f4;">{{selectedClientNameForMessageCopy | companyNameSettingsFilter}}</i></strong>'s to <strong><i style="color: #03a9f4;">{{selectedClientNameForMessage | companyNameSettingsFilter}}</i></strong>'s {{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.SETTING}}</h3>
                <h3 class="borderbottomnone" ng-if="!isStillProcessing && isinStaffing() && !companySelectionActive && !isClientGlobal && !modifySettingsClientModel && !globalSettingsClientModel && !isClientCopyObject  && (allClientsOrBus.length === 0) && !isClientExists">{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.NO_CLIENTS}}<strong><i style="color: #03a9f4;">{{currentCompany.companyName | companyNameSettingsFilter}}</i></strong>{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.COMPANY}}</h3>
                <h3 class="borderbottomnone" ng-if="!isStillProcessing && isinStaffing() && !companySelectionActive && !isClientGlobal && !modifySettingsClientModel && !globalSettingsClientModel && !isClientCopyObject  && (allClientsOrBus.length === 0) && isClientExists">{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.NO_CLIENTS_USER}}<strong><i style="color: #03a9f4;">{{currentCompany.companyName | companyNameSettingsFilter}}</i></strong>{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.NO_CLIENTBU_USER_ACCESSIBLE}}</h3>

                <!-- For BU settings message -->

                <h3 class="borderbottomnone" ng-if="!isStillProcessing && isinCorporate() && !companySelectionActive && globalSettingsClientModel && !isClientCopyObject">{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.RESETTING}} <strong><i style="color: #03a9f4;">{{selectedBUNameForMessage | companyNameSettingsFilter}}</i></strong>'s settings to <strong><i style="color: #03a9f4;">{{currentCompany.companyName | companyNameSettingsFilter}}</i></strong>'s {{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.SETTING}}</h3>
                <h3 class="borderbottomnone" ng-if="!isStillProcessing && isinCorporate() && !companySelectionActive && isClientGlobal && !modifySettingsClientModel && !globalSettingsClientModel && !isClientCopyObject">{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.VIEWING_SETTINGS}} <strong><i style="color: #03a9f4;">{{selectedBUNameForMessage | companyNameSettingsFilter}}</i></strong>'s {{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.CLIENT_WITHOUT_SETTINGS}}<strong><i style="color: #03a9f4;">{{currentCompany.companyName | companyNameSettingsFilter}}</i></strong>'s {{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.SETTING}}</h3>
                <h3 class="borderbottomnone" ng-if="!isStillProcessing && isinCorporate() && !companySelectionActive && !isClientGlobal && !modifySettingsClientModel && !globalSettingsClientModel && !isClientCopyObject  && allClientsOrBus.length !== 0">{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.VIEWING_SETTINGS}} <strong><i style="color: #03a9f4;">{{selectedBUNameForMessage | companyNameSettingsFilter}}</i></strong>'s {{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.SETTING}}</h3>
                <h3 class="borderbottomnone" ng-if="!isStillProcessing && isinCorporate() && !companySelectionActive && modifySettingsClientModel && !isClientCopyObject">{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.MODIFYING_SETTINGS}} <strong><i style="color: #03a9f4;">{{selectedBUNameForMessage | companyNameSettingsFilter}}</i></strong>'s {{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.SETTING}}</h3>
                <h3 class="borderbottomnone" ng-if="!isStillProcessing && isinCorporate() && !companySelectionActive && isClientCopyObject && !globalSettingsClientModel">{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.COPY_SETTINGS}} <strong><i style="color: #03a9f4;">{{selectedBUNameForMessageCopy | companyNameSettingsFilter}}</i></strong>'s to <strong><i style="color: #03a9f4;">{{selectedBUNameForMessage | companyNameSettingsFilter}}</i></strong>'s {{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.SETTING}}</h3>
                <h3 class="borderbottomnone" ng-if="!isStillProcessing && isinCorporate() && !companySelectionActive && !isClientGlobal && !modifySettingsClientModel && !globalSettingsClientModel && !isClientCopyObject  && (allClientsOrBus.length === 0) && !isClientExists">{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.NO_BUS}}<strong><i style="color: #03a9f4;">{{currentCompany.companyName | companyNameSettingsFilter}}</i></strong>{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.COMPANY}}</h3>
                <h3 class="borderbottomnone" ng-if="!isStillProcessing && isinCorporate() && !companySelectionActive && !isClientGlobal && !modifySettingsClientModel && !globalSettingsClientModel && !isClientCopyObject  && (allClientsOrBus.length === 0)&& isClientExists">{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.NO_BUS_USER}}<strong><i style="color: #03a9f4;">'{{currentCompany.companyName | companyNameSettingsFilter}}'</i></strong>{{MESSAGECONSTANTS.NOTIFICATIONS.SETTINGS.NO_CLIENTBU_USER_ACCESSIBLE}}</h3>
            </div>
        </div>
    </div>
    <hr class="differentiatorLine">
    <div class="row" ng-class="{'nopointerevents' : !isSectionActive() , 'displaynone': (!companySelectionActive && !allClientsOrBus.length)}" style="min-height:3%">
        <div class="col-xs-12" ng-repeat="userRole in settings.userRoleSetting track by $index" style="margin-top: 2%;">
            <div class="col-xs-2">
                <label ng-class="{'disableelementview' : !isSectionActive()}"><b>{{userRole.name}} </b> notification </label>
            </div>
            <br/><br/>
            <div class="col-xs-12" ng-repeat="notification in userRole.notifyEvents track by $index">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1">
                        <label ng-class="{'disableelementview' : !isSectionActive()  || notification.detectOnReadOnly }" style="margin-top: 5px;">Turn Detection</label>
                    </div>
                    <div class="col-xs-8" ng-hide="cards === null" style="margin-left: 8px;">
                        <div class="col-xs-4">
                            <div class="col-xs-7">
                                <div class="onoffswitch onoffswitch-success topheight" style="display: inline-block;" ng-class="{'disabledworkflow nopointerevents' : (!isSectionActive() || notification.detectOnReadOnly)}">
                                    <input type="checkbox" name="todetectuserRole_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}" class="onoffswitch-checkbox"
                                           id="todetectuserRole_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}" ng-model="notification.detectOn">
                                    <label class="onoffswitch-label lbl" for="todetectuserRole_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}">
                                        <div class="onoffswitch-inner" ng-class="{'toggleDisabled' : !isSectionActive() }"></div>
                                        <div class="onoffswitch-switch swch"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1">
                        <label ng-class="{'disableelementview' : !isSectionActive()}" style="margin-top: 5px;">Display at</label>
                    </div>
                    <div class="col-xs-8" style="margin-left: 8px;">
                        <div class="col-xs-4" ng-repeat="cards in notification.notifyOn track by $index" >
                            <div class="col-xs-7" ng-hide="cards === null">
                                <label class="pull-left" ng-class="{'disableelementview' : !isSectionActive() || cards.readOnly || notification.detectOnReadOnly || !notification.detectOn }" style="margin-top: 4px;">{{cards.name}}</label>
                            </div>
                            <div class="col-xs-3" ng-hide="cards === null">
                                <div class="onoffswitch onoffswitch-success topheight" style="display: inline-block;" ng-class="{'disabledworkflow nopointerevents' : (!isSectionActive()) || (cards.readOnly) || (notification.detectOnReadOnly) || !notification.detectOn  }">
                                    <input type="checkbox" name="userRolecards_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}" class="onoffswitch-checkbox"
                                           id="userRolecards_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}" ng-model="cards.enabled">
                                    <label class="onoffswitch-label lbl" for="userRolecards_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}">
                                        <div class="onoffswitch-inner" ng-class="{'toggleDisabled' : !isSectionActive() }"></div>
                                        <div class="onoffswitch-switch swch"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
        </div>
    </div>
    <hr class="differentiatorLine">
    <div class="row" ng-class="{'nopointerevents' : !isSectionActive() , 'displaynone': (!companySelectionActive && !allClientsOrBus.length)}" style="min-height:10%">
        <div class="col-xs-12" ng-repeat="performance in settings.performanceSetting track by $index" style="margin-top: 2%;">
            <div class="row">
                <div class="col-xs-12 form-group">
                    <form name="form.performanceSetting">
                        <div class="col-xs-2">
                            <label ng-class="{'disableelementview' : !isSectionActive()}"><b>{{performance.name}} </b> notification </label>
                        </div>
                        <div class="col-xs-8" style="margin-top: 5px;padding-left: 2%;">
                            <div id="slider-range-{{$index}}" class="slider-range slider-range-{{$index}}" ng-class="{'pointsevenopacity' : !isSectionActive()}"></div>
                            <p ng-class="{'disableelementview' : !isSectionActive()}">
                                <span class="slider-label fromLabel" style="margin-left: 45%;"></span>
                                <span> &nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;</span>
                                <span class="slider-label toLabel"></span>
                            </p>
                            <label class="pull-left" style="margin-top: -25px;" ng-class="{'disableelementview' : !isSectionActive()}">0</label>
                            <label ng-show="!performance.isSelected" class="pull-right" style="margin-top: -25px;" ng-class="{'disableelementview' : !isSectionActive()}">{{performance.maxLimit}}
                                <span ng-show="currentCompany.companyType === 'Host'" class="fa fa-pencil pointer" ng-click="toggleEditOptionForSliders($index)"></span>
                            </label>
                            <div class="col-xs-10"></div>
                            <div ng-show="performance.isSelected" class="col-xs-2 pull-right" style="margin-top: -25px;">
                                <input type="text" style="width: 40px; height: 25px; padding: 0px 0px;" class="form-control" ng-model="performance.duplicateMaxLImit"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57' data-toggle="tooltip" data-placement="bottom" id="timeToPlace"
                                       name="timeToPlace" data-original-title="very nice tooltip about this field" maxlength="3">
                                <span class="fa fa-times pull-right pointer" style="margin-top: -20px; margin-right: 12%;" ng-click="cancelTimeForSliders($index)"></span>
                                <span class="fa fa-check pull-right pointer" style="margin-top: -20px; margin-right: 36%;" ng-click="updateMaxLimitForSliders($index, performance.duplicateMaxLImit)"></span>
                            </div>
                            <div class="col-xs-12">
							<span ng-show="performance.isError" style="color: #ff0000;float:right">
								Maximum value can't be less than max limit or empty
							</span>
                                <span ng-show="performance.isErrorForMax" style="color: #ff0000;float:right">
								Maximum value can't be more than 200
							</span>
                            </div>
                            <!--<div class="col-xs-12" style="margin-left: 86%;">
                            <label ng-show="errorTimeToPlace" style="color: #ff0000">Maximum
                                value can't be zero or empty</label>
                        </div>-->
                        </div>
                        <div class="col-xs-1">
                            <label ng-class="{'disableelementview' : !isSectionActive()}"><b>Days</b></label>
                        </div>
                        <div class="col-xs-1">
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-xs-12" ng-repeat="notification in performance.notifyEvents track by $index">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1">
                        <label ng-class="{'disableelementview' : !isSectionActive()  || notification.detectOnReadOnly }" style="margin-top: 5px;">Turn Detection</label>
                    </div>
                    <div class="col-xs-8" ng-hide="cards === null" style="margin-left: 8px;">
                        <div class="col-xs-4">
                            <div class="col-xs-7">
                                <div class="onoffswitch onoffswitch-success topheight" style="display: inline-block;" ng-class="{'disabledworkflow nopointerevents' : (!isSectionActive() || notification.detectOnReadOnly)}">
                                    <input type="checkbox" name="todetect_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}" class="onoffswitch-checkbox"
                                           id="todetect_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}" ng-model="notification.detectOn">
                                    <label class="onoffswitch-label lbl" for="todetect_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}">
                                        <div class="onoffswitch-inner" ng-class="{'toggleDisabled' : !isSectionActive() }"></div>
                                        <div class="onoffswitch-switch swch"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1">
                        <label ng-class="{'disableelementview' : !isSectionActive()}" style="margin-top: 5px;">Display at</label>
                    </div>
                    <div class="col-xs-8" style="margin-left: 8px;">
                        <div class="col-xs-4" ng-repeat="cards in notification.notifyOn track by $index" >
                            <div class="col-xs-7" ng-hide="cards === null">
                                <label class="pull-left" ng-class="{'disableelementview' : !isSectionActive() || cards.readOnly || notification.detectOnReadOnly || !notification.detectOn }" style="margin-top: 4px;">{{cards.name}}</label>
                            </div>
                            <div class="col-xs-3" ng-hide="cards === null">
                                <div class="onoffswitch onoffswitch-success topheight" style="display: inline-block;" ng-class="{'disabledworkflow nopointerevents' : (!isSectionActive()) || (cards.readOnly) || (notification.detectOnReadOnly) || !notification.detectOn }">
                                    <input type="checkbox" name="cards_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}" class="onoffswitch-checkbox"
                                           id="cards_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}" ng-model="cards.enabled">
                                    <label class="onoffswitch-label lbl" for="cards_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}">
                                        <div class="onoffswitch-inner" ng-class="{'toggleDisabled' : !isSectionActive() }"></div>
                                        <div class="onoffswitch-switch swch"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
        </div>
    </div>
    <hr class="differentiatorLine" ng-hide="(!companySelectionActive && allClientsOrBus.length === 0)">
    <div class="row" ng-class="{'nopointerevents' : (!isSectionActive()) , 'displaynone': (!companySelectionActive && !allClientsOrBus.length)}">
        <div class="col-xs-12" ng-repeat="set in settings.licensePreferenceSetting track by $index">
            <div class="row">
                <div class="col-xs-12" style="margin-bottom: 2%;">
                    <label ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}"><b>{{set.name}}</b></label>
                    <label ng-if="!set.isEnabled" style="margin-left:2%"><b>{{set.message}}</b></label>
                </div>
            </div>
            <div class="row" ng-if="set.score != null">
                <div class="col-xs-12" style="margin-bottom: 2%;">
                    <div class="col-xs-2" style="margin-left: 0px;" ng-if="set.score != null">
                        <label ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}"><b>Score</b></label>
                    </div>
                    <div class="col-xs-8" style="padding-top: 5px;padding-left: 2.5%;" ng-if="set.score != null">
                        <label class="pull-left" style="padding-top: 14px;" ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}">0</label>
                        <label class="pull-right" style="padding-top: 14px;" ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}">100</label>
                        <div class="slider-license slider-setting-{{$index}} slde3" ng-class="{'pointsevenopacity' : (!isSectionActive()) || (!set.isEnabled)}"></div>
                        <span class="slider-label" style="margin-left: 45%;" ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}">{{sliderPlaceValue[$index]}}</span>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
            </div>
            <div class="row marginBetweenCardsAndValidDate" ng-if="set.licensePreferenceEnum !== 'FOUR_DOT_FIVE_INTELLIGENCE'">
                <div class="col-xs-12">
                    <div class="col-xs-2" style="margin-left: 0px;">
                        <label ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}"><b class="secondaryLabels">Time to complete</b></label>
                    </div>
                    <div class="col-xs-5" style="padding-top: 5px;padding-left: 2.5%;">
                        <label class="pull-left" style="padding-top: 14px;" ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}">0</label>
                        <label class="pull-right" style="padding-top: 14px;" ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}">10</label>
                        <div class="slider-license slider-setting-timeToComplete-{{$index}} slde3" ng-class="{'pointsevenopacity' : (!isSectionActive()) || (!set.isEnabled)}"></div>
                        <span class="slider-label" style="margin-left: 45%;" ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}">{{set.timeToComplete}}</span>
                    </div>
                    <div class="col-xs-1">
                        <label ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}"><b>Day(s)</b></label>
                    </div>
                    <div class="col-xs-3" style="margin-left: -3%;">
                        <div class="col-xs-6">
                            <label ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}"><b>Remind after</b></label>
                        </div>
                        <div class="col-xs-3" style="margin-left: -15%;margin-top: -2%;">
                            <select name="remindAfter" id="remindAfter" ng-model="set.reminderInterval"
                                    ng-options="remindAfter as remindAfter for remindAfter in days" ng-change="updateIsvalidFor(set.remindAfter)" class="form-control access dropdowns-for-{{$index}}"
                                    required ng-disabled="(!isSectionActive()) || (!set.isEnabled)" ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}">
                                <option value="" ng-if="false"></option>
                            </select>
                        </div>
                        <div class="col-xs-3">
                            <label style="margin-left:-2%" ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}"><b>Day(s)</b></label>
                        </div>
                        <!-- <div class="col-xs-1"></div> -->
                    </div>
                </div>
            </div>
            <div class="row marginBetweenCardsAndValidDate" ng-if="set.licensePreferenceEnum !== 'FOUR_DOT_FIVE_INTELLIGENCE'">
                <div class="col-xs-12">
                    <div class="col-xs-2" style="padding-top: 0.5%;margin-left: 0px;">
                        <label ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}"><b class="secondaryLabels">Valid for </b></label>
                    </div>
                    <div class="col-xs-2" style="padding-top: 5px;margin-left: 1.4%;">
                        <div class="col-xs-1">
                            <select style="width: 66px; height: 32px;" name="year" id="year" ng-model="set.year" ng-options="year as year for year in years"
                                    ng-change="updateIsvalidFor(set.year)" class="form-control access dropdowns-for-{{$index}}" required ng-disabled="(!isSectionActive()) || (!set.isEnabled)" ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}">
                                <option value="" ng-if="false"></option>
                            </select>
                        </div>
                        <div class="col-xs-1" style="margin-left: 30%;margin-top: 1%;">
                            <label for="years" ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}">year(s)</label>
                        </div>
                    </div>
                    <div class="col-xs-2" style="padding-top: 5px;">
                        <div class="col-xs-1">
                            <select style="width: 66px; height: 32px;" name="month" id="month" ng-model="set.month" ng-options="month as month for month in months"
                                    ng-change="updateIsvalidFor(set.month)" class="form-control access dropdowns-for-{{$index}}" required ng-disabled="(!isSectionActive()) || (!set.isEnabled)" ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}">
                                <option value="" ng-if="false"></option>
                            </select>
                        </div>
                        <div class="col-xs-1" style="margin-left: 30%;margin-top: 1%;">
                            <label for="months" ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}">month(s)</label>
                        </div>
                    </div>
                    <div class="col-xs-2" style="padding-top: 5px;">
                        <div class="col-xs-1">
                            <select style="width: 66px; height: 32px;" name="day" id="day" ng-model="set.day" ng-options="day as day for day in days"
                                    ng-change="updateIsvalidFor(set.day)" class="form-control access dropdowns-for-{{$index}}" required ng-disabled="(!isSectionActive()) || (!set.isEnabled)" ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}">
                                <option value="" ng-if="false"></option>
                            </select>
                        </div>
                        <div class="col-xs-1" style="margin-left: 30%;margin-top: 1%;">
                            <label for="days" ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}">day(s)</label>
                        </div>
                    </div>
                </div>
            </div>
            <!--style="margin-top: 1%;margin-bottom: 0.5%;"-->

            <div class="row">
                <div class="col-xs-12" ng-repeat="notificationLists in set.notifyEvents track by $index" style="margin-left: 0px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-4">
                                <label ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}"><b class="secondaryLabels">{{notificationLists.name}} </b>notification</label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-1">
                                <label ng-class="{'disableelementview' : !isSectionActive()  || notificationLists.detectOnReadOnly }" style="margin-top: 5px;">Turn Detection</label>
                            </div>
                            <div class="col-xs-8" ng-hide="cards === null" style="margin-left: 8px;">
                                <div class="col-xs-4">
                                    <div class="col-xs-7">
                                        <div class="onoffswitch onoffswitch-success topheight" style="display: inline-block;" ng-class="{'disabledworkflow nopointerevents' : (!isSectionActive() || notificationLists.detectOnReadOnly)}">
                                            <input type="checkbox" name="todetect_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}" class="onoffswitch-checkbox"
                                                   id="todetectlicense_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}" ng-model="notificationLists.detectOn">
                                            <label class="onoffswitch-label lbl" for="todetectlicense_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}">
                                                <div class="onoffswitch-inner" ng-class="{'toggleDisabled' : !isSectionActive() }"></div>
                                                <div class="onoffswitch-switch swch"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-1"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-1">
                                <label style="margin-top: 5px;" ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled)}">Display at</label>
                            </div>
                            <div class="col-xs-8" style="margin-left: 1%;">
                                <div class="col-xs-4" ng-repeat="notifyOnLists in notificationLists.notifyOn track by $index">
                                    <div class="col-xs-7" ng-hide="notifyOnLists === null">
                                        <label class="pull-left" style="margin-top: 4px;" ng-class="{'disableelementview' : (!isSectionActive()) || (!set.isEnabled) || (notifyOnLists.readOnly) || (notificationLists.detectOnReadOnly) || !notificationLists.detectOn}">{{notifyOnLists.name}}</label>
                                    </div>
                                    <div class="col-xs-5" ng-hide="notifyOnLists === null">
                                        <div class="onoffswitch onoffswitch-success topheight" ng-class="{'disabledworkflow nopointerevents' : !isSectionActive() || !set.isEnabled || notifyOnLists.readOnly || notificationLists.detectOnReadOnly || !notificationLists.detectOn }" style="display: inline-block;">
                                            <input type="checkbox" name="notifyOnLists_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}" class="onoffswitch-checkbox"
                                                   id="notifyOnLists_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}" ng-model="notifyOnLists.enabled" ng-disabled="((!isSectionActive()) || (!set.isEnabled))">
                                            <label class="onoffswitch-label lbl" for="notifyOnLists_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}">
                                                <div class="onoffswitch-inner" ng-class="{'toggleDisabled' : ((!isSectionActive()) || (!set.isEnabled))}"></div>
                                                <div class="onoffswitch-switch swch"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-1"></div>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
            <hr class="differentiatorLine" ng-hide="(!companySelectionActive && allClientsOrBus.length === 0)">
            <!--duplicate to be removed after ng-repeat-->
        </div>
    </div>
    <div class="col-md-offset-8 col-lg-offset-6 text-center" style="margin-left: 65%;"  ng-hide="(!companySelectionActive && allClientsOrBus.length === 0)">
        <div class="btn-group-single wbcbuttons">
            <button class="btn btn-danger btn-cancel" type="button" ng-click="cancel()" ng-disabled="(companySelectionActive  && !modifySettingsCompanyModel) || (!companySelectionActive  && !modifySettingsClientModel) || (!companySelectionActive  && isClientCopyObject)">Cancel</button>
            <button class="btn wizard-next btn-primary" ng-click="setSettings()" type="button" ng-disabled="(companySelectionActive && !globalSettingsCompanyModel && !modifySettingsCompanyModel) || (!companySelectionActive && !globalSettingsClientModel && !modifySettingsClientModel)">Save</button>
            <!-- <button ng-if="isClientCopyObject" class="btn wizard-next btn-primary" ng-click="setSettingsForCopy()"
                type="button">Save</button> -->
        </div>
    </div>
</div>


<!--<div class="col-xs-9">
	<div class="col-xs-4" ng-repeat="notifyOnLists in notificationLists.notifyOnList track by $index">
		<label class="pull-left" style="margin-top: 4px;">{{notifyOnLists.notifyEnum}}</label>
		<div class="col-xs-4" style="margin-top: -2px;">
			<div class="onoffswitch onoffswitch-success topheight" style="display: inline-block;">
				<input type="checkbox" name="notifyOnLists_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}" class="onoffswitch-checkbox"
					id="notifyOnLists_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}" ng-model="notifyOnLists.enabled">
				<label
					class="onoffswitch-label lbl" for="notifyOnLists_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}">
					<div class="onoffswitch-inner"></div>
					<div class="onoffswitch-switch swch"></div>
					</label>
			</div>
		</div>
	</div>
</div>-->

<!-- Needs to be commented -->
<!--<div class="row">
	<div class="form-group">
		<div class="col-md-12">
			<div ng-if="currentCompany.companyType != 'Host'" class="col-md-6">
				<form name="teenageMutant">
					<div class="radio">
						<input type="radio" ng-click="toggleCompanyOrClientBu('company')" name="toggleSettings" id="companyname"
							value="option1" checked> <label for="companyname">Company
							Name </label> <input type="radio" ng-click="toggleCompanyOrClientBu('clientOrBu')" name="toggleSettings" id="clientorbu"
							value="option2"> <label for="clientorbu">Client/BU</label>
					</div>
				</form>
			</div>
			<div class="hidden hide col-md-6">
				<input type="radio" id="setvalues" ng-click="setValues()"
					name="optionsRadios" id="companyname" value="option1">
			</div>
		</div>
	</div>
</div>-->

<!--<div class="row" ng-if="currentCompany.companyType != 'Host'">
	<div class="col-xs-6">
		<div class="col-xs-2">
			<label ng-if="currentCompany.companyType != 'Host' && showClientsOrBusList" style="margin-top: 10px; margin-left: 3px;">Select
				Client/BU</label>
		</div>
		<div ng-if="showClientsOrBusList" class="col-xs-4">
			<select class="form-control pull-left" name="client" id="client"
				ng-model="client"
				ng-options="client as client.company.name for client in allClientsOrBus"
				ng-change="getSettingsForClient(client)" class="form-control access" required>
				<option value="" ng-if="false"></option>
			</select>
			<span ng-show ="clientMandatoryMessage" style="color:#ff0000">Please select any client</span>
		</div>
	</div>
</div>-->