<div id="content-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="slide-main-container">
					<div class="container slide-main-animation">
						<div class="row">
							<div class="col-xs-12">
								<div id="login-box">
									<div id="login-box-holder">
										<div class="row" ui-view>
											<div class="col-xs-12">
												<header id="login-header">
													<div id="login-logo">
														<img ng-src={{imageUrl}}logo-symbol.png alt="" />
													</div>
												</header>
												<div id="login-box-inner" class="with-heading">
													<p ng-if="message">{{message}}</p>
													<form role="form" name="form.resetpasswordform" ng-submit="form.resetpasswordform.$valid && resetPassword()" novalidate>
														<div class="input-group reset-pass-input">
															<span class="input-group-addon"><i
																class="fa fa-key"></i></span> <input class="form-control" type="password" placeholder="current password"
																name="currentpassword" ng-model="user.currentPassword" ng-minlength="8" ng-maxlength="15" required>
														</div>
														<div class="error" ng-show="form.resetpasswordform.$submitted && form.resetpasswordform.currentpassword.$error">
															<small class="error" ng-show="form.resetpasswordform.currentpassword.$error.required">
																{{MESSAGECONSTANTS.RESETPASSWORD.CURRENTPASSWORD_MANDATORY}}
															</small><small class="error" ng-show="form.resetpasswordform.currentpassword.$error.minlength">
																{{MESSAGECONSTANTS.COMMONVALIDATIONS.PASSWORD_MINLENGTH}}</small>
															<small class="error" ng-show="form.resetpasswordform.currentpassword.$error.maxlength">
																{{MESSAGECONSTANTS.COMMONVALIDATIONS.PASSWORD_MAXLENGTH}}</small>
														</div>
														<div class="input-group reset-pass-input">
															<span class="input-group-addon"><i
																class="fa fa-key"></i></span> <input class="form-control" type="password" placeholder="new password"
																name="newpassword" ng-model="user.newPassword" ng-minlength="8" ng-maxlength="15" required>
														</div>
														<div class="error" ng-show="form.resetpasswordform.$submitted && form.resetpasswordform.newpassword.$error">
															<small class="error" ng-show="form.resetpasswordform.newpassword.$error.required">
																{{MESSAGECONSTANTS.RESETPASSWORD.NEWPASSWORD_MANDATORY}}</small>
															<small class="error" ng-show="form.resetpasswordform.newpassword.$error.minlength">
																{{MESSAGECONSTANTS.COMMONVALIDATIONS.PASSWORD_MINLENGTH}}</small>
															<small class="error" ng-show="form.resetpasswordform.newpassword.$error.maxlength">
																{{MESSAGECONSTANTS.COMMONVALIDATIONS.PASSWORD_MAXLENGTH}}</small>
														</div>
														<div class="error" ng-show="!form.resetpasswordform.$pristine && form.resetpasswordform.newpassword.$error && !form.resetpasswordform.newpassword.$error.required">
															<small class="error" ng-show="form.resetpasswordform.newpassword.$error.unMatched">{{MESSAGECONSTANTS.RESETPASSWORD.PASSWORDS_SAME}}</small>
														</div>
														<div class="input-group reset-pass-input">
															<span class="input-group-addon"><i
																class="fa fa-key"></i></span> <input class="form-control" type="password" placeholder="confirm new password"
																name="confirmnewpassword" ng-model="user.verifyPassword" valid-password-c="user.newPassword" required>
														</div>
														<div class="error" ng-show="form.resetpasswordform.$submitted  && form.resetpasswordform.confirmnewpassword.$error">
															<small class="error" ng-show="form.resetpasswordform.confirmnewpassword.$error.required">
																{{MESSAGECONSTANTS.RESETPASSWORD.CONFIRMNEWPASSWORD_MANDATORY}}</small>
														</div>
														<div class="error" ng-show="!form.resetpasswordform.$pristine && form.resetpasswordform.confirmnewpassword.$error">
															<small class="error" ng-show="form.resetpasswordform.confirmnewpassword.$error.noMatch && !form.resetpasswordform.confirmnewpassword.$error.required">{{MESSAGECONSTANTS.RESETPASSWORD.PASSWORDSNOTEQUAL}}</small>
														</div>

														<div class="error" ng-show="form.resetpasswordform.$pristine">
															<small class="error" ng-if="angular.isDefined(errormessage) && form.resetpasswordform.$valid && !form.resetpasswordform.confirmnewpassword.$error.noMatch">
																{{errormessage}}</small>
														</div>
														<div class="row">
															<div class="col-xs-12">
																<button type="submit" class="btn btn-success col-xs-12">{{MESSAGECONSTANTS.BUTTONS.RESET_PASSWORD_PAGE.RESET_PASSWORD}}</button>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-12">
																<br/> <a ui-sref="login" ui-sref-opts="{reload : true}" id="login-forget-link" class="forgot-link">{{MESSAGECONSTANTS.RESETPASSWORD.BACK_TO_LOGIN}}</a>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>