<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form role="form" name="scheduleJobMatchItem.scheduleForm" novalidate>
                <div class="row">
                    <div class="col-xs-12 job-match-status-statement">
                        <span>
                            '<span class="emerald" ng-bind="scheduleJobMatchItem.scheduleLabel"></span>' <span ng-bind="scheduleJobMatchItem.itemDisplayLabel"></span> for '<span ng-bind="scheduleJobMatchItem.jobMatchObject.name" class="emerald"></span>'
                            for role of '<span class="emerald" ng-bind="scheduleJobMatchItem.jobMatchObject.jobMatchTitle"></span>' at '<span class="emerald" ng-bind="scheduleJobMatchItem.jobMatchObject.jobMatchClientName"></span>'
                        </span>
                    </div>
                </div>
                <div class="row" ng-if="scheduleJobMatchItem.editModeFlag">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label style="padding-right: 10px">
                                <span ng-bind="scheduleJobMatchItem.usersListLabel"></span> :
                            </label>
                            <div class="row">
                                <div class="col-xs-12" ng-repeat="meeting in scheduleJobMatchItem.meetingsList">
                                    <div class="radio" style="display: inline;">
                                        <input type="radio" name="chosenMeeting" id="chosenMeeting-{{meeting.id}}" ng-value="meeting.id"
                                               ng-click="scheduleJobMatchItem.meetingChanged()" ng-model="scheduleJobMatchItem.chosenMeeting" ng-disabled="!meeting.editableFlag">
                                        <label for="chosenMeeting-{{meeting.id}}" class="schedule-job-match-meeting-meeting-label">
                                            <div class="row" ng-class="{'disabled-meeting-label': !meeting.editableFlag}">
                                                <div class="col-xs-2 schedule-job-match-meeting-user-name" uib-tooltip="{{meeting.userName}}" ng-bind="meeting.userName">
                                                </div>
                                                <div class="col-xs-10">
                                                    <span>{{ ::meeting.scheduledTimeInSelectedTimeZone }}</span>
                                                    <span class="{{meeting.statusClass}}" uib-tooltip="{{meeting.statusLabel}}"></span>
                                                </div>
                                            </div>
                                            <div class="row" ng-if="meeting.scheduledTimeInBrowserTimeZone != null">
                                                <div class="col-xs-offset-2 col-xs-10">
                                                    <span class="schedule-job-match-meeting-browser-time-zone-info">{{ ::meeting.scheduledTimeInBrowserTimeZone }}</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="scheduleJobMatchItem.editModeFlag && !scheduleJobMatchItem.editableMeetingsExistFlag && !scheduleJobMatchItem.loadingFlag">
                    <div class="col-xs-12 text-center" style="padding-bottom: 10px">
                        <h4 ng-bind="scheduleJobMatchItem.noEditableMeetingsLabel">
                        </h4>
                    </div>
                </div>
                <div class="row" ng-show="scheduleJobMatchItem.loadingFlag">
                    <div class="col-xs-12 text-center" style="padding-top: 20px">
                        <span class="fa fa-2x fa-spinner fa-spin"></span>
                    </div>
                </div>
                <div class="row" ng-if="!scheduleJobMatchItem.editModeFlag" ng-show="scheduleJobMatchItem.showFormFlag">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label style="padding-right: 10px">
                                {{ scheduleJobMatchItem.userTypeLabel }} belongs to:
                            </label>
                            <div class="radio" style="display: inline;">
                                <input type="radio" name="userType" id="interviewerTypeCompany" ng-value="true" ng-model="scheduleJobMatchItem.scheduleData.isCompany"
                                       ng-disabled="scheduleJobMatchItem.editModeFlag" ng-change="scheduleJobMatchItem.companyClientUserTypeChanged()">
                                <label for="interviewerTypeCompany">
                                    {{ scheduleJobMatchItem.companyName }}
                                </label>
                            </div>
                            <div class="radio" style="display: inline;">
                                <input type="radio" name="userType" id="interviewerTypeClient" ng-value="false" ng-model="scheduleJobMatchItem.scheduleData.isCompany"
                                       ng-disabled="scheduleJobMatchItem.editModeFlag" ng-change="scheduleJobMatchItem.companyClientUserTypeChanged()">
                                <label for="interviewerTypeClient">
                                    {{ scheduleJobMatchItem.clientName }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="!scheduleJobMatchItem.editModeFlag" ng-show="scheduleJobMatchItem.showFormFlag">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label style="padding-right: 10px">
                                Choose User :
                            </label>
                            <div class="radio" style="display: inline;">
                                <input type="radio" name="chooseUser" id="searchForUser" ng-value="true" ng-model="scheduleJobMatchItem.userSearchFlag" ng-change="scheduleJobMatchItem.userTypeChanged()">
                                <label for="searchForUser">
                                    Search for an existing user
                                </label>
                            </div>
                            <div class="radio" style="display: inline;">
                                <input type="radio" name="chooseUser" id="addNewUser" ng-value="false" ng-model="scheduleJobMatchItem.userSearchFlag" ng-change="scheduleJobMatchItem.userTypeChanged()">
                                <label for="addNewUser">
                                    Add a new user
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="!scheduleJobMatchItem.editModeFlag && scheduleJobMatchItem.userSearchFlag">
                    <div class="col-xs-10">
                        <div class="form-group open">
                            <label for="userSearch">
                                User Search :
                            </label>
                            <tags-input name="userSearch" id="userSearch" ng-model="scheduleJobMatchItem.selectedUserObjectsArray" max-tags="1" display-property="displayString"
                                    add-on-space="false" on-tag-added="scheduleJobMatchItem.userTypeAheadChanged()"  on-tag-removed="scheduleJobMatchItem.userTypeAheadChanged()"
                                    replace-spaces-with-dashes="false" add-from-autocomplete-only="true" placeholder="{{scheduleJobMatchItem.userSearchPlaceholder}}"
                                    ng-class="{'has-tags': scheduleJobMatchItem.selectedUserObjectsArray.length}">
                                <auto-complete source="scheduleJobMatchItem.getUsers($query)" min-length="1"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="scheduleJobMatchItem.showFormFlag">
                    <div class="col-xs-6">
                        <div class="form-group" ng-class="{'has-error': (scheduleJobMatchItem.scheduleForm.$submitted && scheduleJobMatchItem.scheduleForm.firstName.$invalid)}">
                            <label for="firstName" class="control-label">
                                First Name<em>*</em> :
                            </label>
                            <input type="text" name="firstName" id="firstName" class="form-control" placeholder="First Name" ng-model="scheduleJobMatchItem.scheduleData.firstName" required ng-disabled="scheduleJobMatchItem.editModeFlag || scheduleJobMatchItem.userSearchFlag">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group" ng-class="{'has-error': (scheduleJobMatchItem.scheduleForm.$submitted && scheduleJobMatchItem.scheduleForm.lastName.$invalid)}">
                            <label for="lastName" class="control-label">
                                Last Name<em>*</em> :
                            </label>
                            <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last Name" ng-model="scheduleJobMatchItem.scheduleData.lastName" required ng-disabled="scheduleJobMatchItem.editModeFlag || scheduleJobMatchItem.userSearchFlag">
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="scheduleJobMatchItem.showFormFlag">
                    <div class="col-xs-6">
                        <div class="form-group" ng-class="{'has-error': (scheduleJobMatchItem.scheduleForm.$submitted && scheduleJobMatchItem.scheduleForm.email.$invalid)}">
                            <label for="email" class="control-label">
                                Email<em>*</em> :
                            </label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email" ng-model="scheduleJobMatchItem.scheduleData.emailAddress" required ng-disabled="scheduleJobMatchItem.editModeFlag || scheduleJobMatchItem.userSearchFlag">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group" ng-class="{'has-error':(scheduleJobMatchItem.scheduleForm.$submitted && scheduleJobMatchItem.scheduleForm.phoneNumber.$invalid)}">
                            <label for="phoneNumber" class="control-label">
                                Phone Number<em>*</em> :
                            </label>
                            <input type="text" class="form-control access" id="phoneNumber" name="phoneNumber" ng-model="scheduleJobMatchItem.scheduleData.phoneNumber"
                                   ng-intl-tel-input data-default-country="us" data-number-type="FIXED_LINE_OR_MOBILE"
                                   required ng-pattern="/^[- +()]*[0-9][- +()0-9]*$/"
                                   ng-disabled="scheduleJobMatchItem.editModeFlag || scheduleJobMatchItem.userSearchFlag">
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="scheduleJobMatchItem.showFormFlag">
                    <div class="col-xs-6">
                        <div class="form-group" ng-class="{'has-error': (scheduleJobMatchItem.scheduleForm.$submitted && scheduleJobMatchItem.scheduleForm.title.$invalid)}">
                            <label for="title" class="control-label">
                                Title :
                            </label>
                            <input type="text" name="title" id="title" class="form-control" placeholder="Title" ng-model="scheduleJobMatchItem.scheduleData.title" ng-disabled="scheduleJobMatchItem.editModeFlag || scheduleJobMatchItem.userSearchFlag">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group" ng-class="{'has-error': (scheduleJobMatchItem.scheduleForm.$submitted && scheduleJobMatchItem.scheduleForm.department.$invalid)}">
                            <label for="department" class="control-label">
                                Department :
                            </label>
                            <input type="text" name="department" id="department" class="form-control" placeholder="Department" ng-model="scheduleJobMatchItem.scheduleData.department" ng-disabled="scheduleJobMatchItem.editModeFlag || scheduleJobMatchItem.userSearchFlag">
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="scheduleJobMatchItem.showFormFlag">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="timezoneName" class="control-label">
                                Time Zone<em>*</em> :
                            </label>
                            <div style="display: block">
                                <timezone-selector id="timezoneName" ng-model="scheduleJobMatchItem.scheduleData.timeZoneName" sort-by="offset"
                                   ng-change="scheduleJobMatchItem.timeZoneChanged()" set-local="true" show-local="true" display-utc="true" primary-choices="HST HST10HDT AKST9AKDT PST PST8PDT MST MST7MDT CST CST6CDT EST EST5EDT">
                                </timezone-selector>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="scheduleJobMatchItem.showFormFlag">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group" ng-class="{'has-error': (scheduleJobMatchItem.scheduleForm.$submitted && scheduleJobMatchItem.scheduleForm.jobMatchScheduleStartDate.$invalid)}">
                                    <label for="jobMatchScheduleStartDate" class="control-label">
                                        Start Date<em>*</em> :
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <div class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                        <input type="text" name="jobMatchScheduleStartDate" id="jobMatchScheduleStartDate" class="form-control" ng-model="scheduleJobMatchItem.startDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group" ng-class="{'has-error': (scheduleJobMatchItem.scheduleForm.$submitted && scheduleJobMatchItem.scheduleForm.jobMatchScheduleStartTime.$invalid)}">
                                    <label for="jobMatchScheduleStartTime" class="control-label">
                                        Start Time<em>*</em> :
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <div class="input-group-text">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                        <input type="text" name="jobMatchScheduleStartTime" id="jobMatchScheduleStartTime" class="form-control" ng-model="scheduleJobMatchItem.startTime">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group" ng-class="{'has-error': (scheduleJobMatchItem.scheduleForm.$submitted && scheduleJobMatchItem.scheduleForm.jobMatchScheduleEndDate.$invalid)}">
                                    <label for="jobMatchScheduleEndDate" class="control-label">
                                        End Date<em>*</em> :
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <div class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                        <input type="text" name="jobMatchScheduleEndDate" id="jobMatchScheduleEndDate" class="form-control" ng-model="scheduleJobMatchItem.endDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group" ng-class="{'has-error': (scheduleJobMatchItem.scheduleForm.$submitted && scheduleJobMatchItem.scheduleForm.jobMatchScheduleEndTime.$invalid)}">
                                    <label for="jobMatchScheduleEndTime" class="control-label">
                                        End Time<em>*</em> :
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <div class="input-group-text">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                        <input type="text" name="jobMatchScheduleEndTime" id="jobMatchScheduleEndTime" class="form-control" ng-model="scheduleJobMatchItem.endTime">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="scheduleJobMatchItem.showFormFlag">
                    <div class="col-xs-12">
                        <div class="form-group" ng-class="{'has-error': (scheduleJobMatchItem.scheduleForm.$submitted && scheduleJobMatchItem.scheduleForm.note.$invalid)}">
                            <label for="note" class="control-label">
                                Notes<em>*</em> :
                            </label>
                            <textarea id="note" name="note" class="form-control" rows="3" placeholder="Enter your note.." ng-model="scheduleJobMatchItem.scheduleData.note" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="scheduleJobMatchItem.showFormFlag">
                    <div class="col-xs-12 text-right">
                        <div class="clearfix">
                            <button type="submit" class="btn btn-success" ng-click="scheduleJobMatchItem.schedule()" ng-disabled="scheduleJobMatchItem.savingFlag">
                                <span ng-if="!scheduleJobMatchItem.savingFlag && scheduleJobMatchItem.mode != 'edit'">Schedule {{scheduleJobMatchItem.itemDisplayLabel}}</span>
                                <span ng-if="scheduleJobMatchItem.savingFlag && scheduleJobMatchItem.mode != 'edit'">Scheduling..</span>
                                <span ng-if="!scheduleJobMatchItem.savingFlag && scheduleJobMatchItem.mode == 'edit'">Reschedule {{scheduleJobMatchItem.itemDisplayLabel}}</span>
                                <span ng-if="scheduleJobMatchItem.savingFlag && scheduleJobMatchItem.mode == 'edit'">Rescheduling..</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>