<div class="row" style="padding-bottom: 20px">
    <div class="col-xs-10">
        <div class="col-xs-3">
            <span uib-tooltip="Currently Active Candidates">
                Active Candidates : {{addCandidatesFromJobBoards.requisitionDetails.activeCandidateCount}}
            </span>
        </div>
        <div class="col-xs-3">
            <span uib-tooltip="Currently Passive Candidates">
                Passive Candidates : {{addCandidatesFromJobBoards.requisitionDetails.passiveCandidateCount}}
            </span>
        </div>
        <div class="col-xs-3">
            <span uib-tooltip="Currently Inert Candidates">
                Inert Candidates : {{addCandidatesFromJobBoards.requisitionDetails.inertCandidateCount}}
            </span>
        </div>
        <div class="col-xs-3">
            <span uib-tooltip="'Unfilled Openings' of 'Total Openings'">
                Open Positions : {{addCandidatesFromJobBoards.requisitionDetails.noOfOpenings -
                addCandidatesFromJobBoards.requisitionDetails.noOfJustFilledOpenings}} /
                {{addCandidatesFromJobBoards.requisitionDetails.noOfOpenings}}
            </span>
        </div>
    </div>
    <div class="col-xs-2 text-right">
        <div ng-show="addCandidatesFromJobBoards.isGetCandidateFetchCalled">
            <span uib-tooltip="Candidates Fetch In-Progress">
                <span class="fa fa-2x fa-spinner fa-spin"></span>
            </span>
        </div>
    </div>
</div>

<div class="row" style="padding-bottom:20px">
    <div class="col-xs-12" ng-if="addCandidatesFromJobBoards.job.jobBoardDetails.length !== 0">
        <div class="col-xs-4">
            <label for="resumesPullCount" class="control-label">Resumes to pull from each job board : </label>
        </div>
        <div class="col-xs-2">
            <select class="form-control" ng-model="addCandidatesFromJobBoards.job.licensePreferences.resumesToPullPerJobBoardCount"
                style="position: relative;bottom: 8px;" name="resumesPullCount" id="resumesPullCount" ng-options="resumePullCount as resumePullCount for resumePullCount in addCandidatesFromJobBoards.resumePullCounts">
                <option value="" ng-if="false"></option>
            </select>
        </div>
        <div class="col-xs-6">

        </div>
    </div>
    <div class="col-xs-12 checkbox-nice" ng-repeat="jobBoard in addCandidatesFromJobBoards.job.jobBoardDetails" style="margin-left:15px">
        <div class="pull-left">
            <input type="checkbox" id="jobBoard-{{jobBoard.boardId}}" name="jobBoard-{{jobBoard.id}}" ng-true-value="true"
                ng-false-value="false" ng-model="jobBoard.enabled" ng-click="addCandidatesFromJobBoards.onJobBoardSelectionChange()" />
            <label class="license-pref-label" for="jobBoard-{{jobBoard.boardId}}">
                <span>{{jobBoard.sourceType}} </span>
            </label>
        </div>
    </div>
    <div class="col-xs-12" ng-if="addCandidatesFromJobBoards.job.jobBoardDetails.length == 0" style="padding-left:17px">
        No Job Boards available.
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-right">
        <div>
            <button class="btn btn-danger" ng-click="addCandidatesFromJobBoards.saveCallback()"> 
                <span>Cancel</span>
            </button>
            <button type="submit" class="btn btn-success" ng-click="addCandidatesFromJobBoards.checkStatusAndGetResumesFromJobBoards()"
                ng-disabled="addCandidatesFromJobBoards.job.licensePreferences.resumesToPullPerJobBoardCount == null || addCandidatesFromJobBoards.job.licensePreferences.resumesToPullPerJobBoardCount == undefined || !addCandidatesFromJobBoards.isJobBoardSelected || addCandidatesFromJobBoards.isGetCandidateFetchCalled">
                <span>Get Candidates</span>
            </button>
        </div>
    </div>
</div>