
<style>
@media ( max-width : 1414px) {
	#reportrange {
		background: #fff !important;
		cursor: pointer !important;
		padding: 6px 10px !important;
		border: 1px solid #ccc !important;
		width: 100% !important;
		height: 34px !important;
		display: block !important;
		font-size: 13px !important;
	}
}
</style>


<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a ui-sref="missioncontrol.dashboard">Home</a></li>
            <li class="active"><span>Candidates</span></li>
        </ol>
        <h1 id="candidatesTitle" class="heading-css">Candidates</h1>
    </div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div style="margin:10px;margin-top:20px;font-size:0.9em" class="pull-left">
			<div style="padding-right:10px;" class="pull-left">
				<input type="checkbox" id="unassignedFilter" name="unassignedFilter" ng-true-value="'unassigned'" ng-false-value="''" ng-model="candidates.visibilityFilters.unassigned" ng-click="candidates.visibilityFilterChanged()">
				<label for="unassignedFilter">
					<strong>Unassigned</strong>
				</label>
			</div>
			<div style="padding-right:10px;" class="pull-left">
				<input type="checkbox" id="assignedToMeFilter" name="assignedToMeFilter" ng-true-value="'assignedToMe'" ng-false-value="''" ng-model="candidates.visibilityFilters.assignedToMe" ng-click="candidates.visibilityFilterChanged()">
				<label for="assignedToMeFilter">
					<strong>Assigned To Me</strong>
				</label>
			</div>
			<div class="pull-left">
				<input type="checkbox" id="assignedToOthersFilter" name="assignedToOthersFilter" ng-true-value="'assignedToOthers'" ng-false-value="''" ng-model="candidates.visibilityFilters.assignedToOthers" ng-click="candidates.visibilityFilterChanged()">
				<label for="assignedToOthersFilter">
					<strong>Assigned To Others</strong>
				</label>
			</div>
		</div>
		<div style="margin: 10px;" class="pull-right">
			<span title="Click to show / hide the filter" class="pull-right filter-icon">
				<i class="fa fa-filter fa-2x cursor-point" aria-hidden="true" id="open-filter"></i>
			</span>
		</div>
		<div style="margin: 10px;" class="pull-right" ng-hide="candidates.hideSearchStringFlag">
			<input class="text-center filter-style inputBoxBorder" type="text"
				placeholder="Type to filter" ng-model="candidates.candidatesContainer.candidatesQueryFilter.searchString" ng-change="candidates.queryCandidates()"/>
		</div>
		<div class="btn-group pull-right pull-right" style="margin: 10px;">
			<a class="btn btn-primary" ui-sref="missioncontrol.addCandidates">Add Candidates</a>
		</div>
	</div>
	<!--filter starts-->
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12" id="search-panel" style="display: none;">
				<div class="main-box" style="padding-top: 1%;">
					<div class="main-box-body clearfix">
						<form role="form" ng-submit="searchBasedOnFilters(Filter)" name="" novalidate>
							<div class="row">
								<div class="col-lg-12 col-sm-12 col-md-12">
									<div class="row">
										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<label for="clientorbu" ng-if="candidates.companyType === MESSAGECONSTANTS.COMPANY_TYPES.STAFFING">{{MESSAGECONSTANTS.LABLES.CLIENT}}</label>
												<label for="clientorbu" ng-if="candidates.companyType === MESSAGECONSTANTS.COMPANY_TYPES.CORPORATE">{{MESSAGECONSTANTS.LABLES.BU}}</label>
												<div isteven-multi-select input-model="candidates.clientOrBuList" button-label="name" max-height="180px;" output-model="candidates.selectedClientOrBuList"
													 name="clientorbu" id="clientorbu" search-key="name" item-label="name" on-select-all="candidates.selectRemoveAll('Clients', 'selectAll')"
													 on-select-none="candidates.selectRemoveAll('Clients', 'removeAll')" on-reset="candidates.selectRemoveAll('Clients', 'removeAll')"
													 on-item-click="candidates.onClientClick(selectedClients)" max-labels="1" tick-property="ticked"></div>
											</div>
										</div>
										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<label for="candidateStatus">Candidate Status</label>
												<div isteven-multi-select input-model="candidates.candidateStatusList" button-label="name" max-height="180px;" output-model="candidates.selectedCandidateStatusList"
													 name="candidateStatus" id="candidateStatus" search-key="name" item-label="name" on-select-all="candidates.selectRemoveAll('CandidateStatus', 'selectAll')"
													 on-select-none="candidates.selectRemoveAll('CandidateStatus', 'removeAll')" on-reset="candidates.selectRemoveAll('CandidateStatus', 'removeAll')"
													 on-item-click="candidates.onCandidateStatusClick(selectedCandidateStatus)" max-labels="1" tick-property="ticked"></div>
											</div>
										</div>
										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<label for="requisitionStatus">Requisition Status</label>
												<div isteven-multi-select input-model="candidates.requisitionStatusList" button-label="name" max-height="180px;" output-model="candidates.selectedRequisitionStatusList"
													 name="requisitionStatus" id="requisitionStatus" search-key="name" item-label="name" on-select-all="candidates.selectRemoveAll('RequisitionStatus', 'selectAll')"
													 on-select-none="candidates.selectRemoveAll('RequisitionStatus', 'removeAll')" on-reset="candidates.selectRemoveAll('RequisitionStatus', 'removeAll')"
													 on-item-click="candidates.onRequisitionStatusClick(selectedRequisitionStatus)" max-labels="1" tick-property="ticked">
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<label for="requisitionNumbers">Requisition Number</label>
												<div isteven-multi-select input-model="candidates.requisitionNumbersList" button-label="name" max-height="180px;" output-model="candidates.selectedRequisitionNumbersList"
													 name="requisitionNumbers" id="requisitionNumbers" search-key="name" item-label="name" on-select-all="candidates.selectRemoveAll('RequisitionNumbers', 'selectAll')"
													 on-select-none="candidates.selectRemoveAll('RequisitionNumbers', 'removeAll')" on-reset="candidates.selectRemoveAll('RequisitionNumbers', 'removeAll')"
													 on-item-click="candidates.onRequisitionNumbersClick(selectedRequisitionNumbers)" max-labels="1" tick-property="ticked">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<label for="firstName">First Name</label>
												<input type="text" id="firstName" name="firstName" value="" class="inputBoxTransactionRequisition inputBoxBorder"
													   ng-model="candidates.candidatesContainer.candidatesQueryFilter.firstName" ng-change="candidates.queryCandidates()">
											</div>
										</div>
										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<label for="lastName">Last Name</label>
												<input type="text" id="lastName" name="lastName" value="" class="inputBoxTransactionRequisition inputBoxBorder"
													   ng-model="candidates.candidatesContainer.candidatesQueryFilter.lastName" ng-change="candidates.queryCandidates()">
											</div>
										</div>
										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<label for="phone">Phone</label>
												<input type="text" id="phone" name="phone" value="" class="inputBoxTransactionRequisition inputBoxBorder"
													   ng-model="candidates.candidatesContainer.candidatesQueryFilter.phone" ng-change="candidates.queryCandidates()">
											</div>
										</div>
										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<label for="email">Email</label>
												<input type="text" id="email" name="email" value="" class="inputBoxTransactionRequisition inputBoxBorder"
													   ng-model="candidates.candidatesContainer.candidatesQueryFilter.email" ng-change="candidates.queryCandidates()">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<label for="recruiters">Recruiters</label>
												<div isteven-multi-select input-model="candidates.recruitersList" button-label="name" max-height="180px;" output-model="candidates.selectedRecruitersList"
													 name="recruiters" id="recruiters" search-key="name" item-label="name" on-select-all="candidates.selectRemoveAll('Recruiters', 'selectAll')"
													 on-select-none="candidates.selectRemoveAll('Recruiters', 'removeAll')" on-reset="candidates.selectRemoveAll('Recruiters', 'removeAll')"
													 on-item-click="candidates.onRecruiterClick(selectedRecruiter)" max-labels="1" tick-property="ticked">
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<label for="sortBy">Sort By</label>
												<div class="multiSelect dropdown" id="sortBy">
													<button class="dropdown-toggle form-control access inputBoxBorder" type="button" data-toggle="dropdown">
                                        				<span ng-bind="candidates.selectedSort">
                                        				</span>
														<span ng-if="candidates.selectedSort != 'Please Select' && candidates.selectedSortDirection == 'Asc'" >
															<span class="fa fa-arrow-up"></span>
                                            				<span>(Asc)</span>
                                        				</span>
														<span ng-if="candidates.selectedSort != 'Please Select' && candidates.selectedSortDirection == 'Desc'">
															<span class="fa fa-arrow-down"></span>
															<span>(Desc)</span>
														</span>
														<span class="caret"></span>
													</button>
													<ul class="dropdown-menu" style="width: 100%; height: 150px; overflow: scroll">
														<li ng-click="candidates.sortCandidates(null,null)">
															<a href="javascript:void(0)">
																Please Select
															</a>
														</li>
														<li ng-repeat-start="sortByFilter in candidates.sortByFilters" ng-click="candidates.sortCandidates(sortByFilter,'Asc')">
															<a href="javascript:void(0)">
																{{sortByFilter.columnDisplayName}} (Asc)
																<span class="fa fa-arrow-up"></span>
															</a>
														</li>
														<li ng-repeat-end ng-click="candidates.sortCandidates(sortByFilter,'Desc')">
															<a href="javascript:void(0)">
																{{sortByFilter.columnDisplayName}} (Desc)
																<span class="fa fa-arrow-down"></span>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<!--<div class="col-lg-3 col-sm-3 col-md-3">-->
											<!--<div class="form-group">-->
												<!--<label for="candidatesDateRange">Date Range</label>-->
												<!--<div class="input-group" style="cursor: pointer;width: 100%;">-->
													<!--<span class="input-group-addon input-group-addon-span">-->
												 		<!--<i class="fa fa-calendar"></i>-->
													<!--</span>-->
													<!--<input class="form-control pull-right inputBoxBorder daterangeelement" id="candidatesDateRange" type="text" name="candidatesDateRange"-->
														   <!--ng-model="candidates.selectedDateRange" style="z-index: 1;" value="">-->
												<!--</div>-->
											<!--</div>-->
										<!--</div>-->
									</div>
								</div>
							</div>
							<div class="row pull-right">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="form-group" id="resetFiltersButton">
										<button type="button" class="btn btn-danger" ng-click="candidates.resetCandidateQueryFilters()">Reset</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--filter ends-->
</div>
<div class="row animate-if" infinite-scroll="candidates.candidatesContainer.getNext()" infinite-scroll-disabled='candidates.candidatesContainer.busy || candidates.candidatesContainer.disableInfiniteScroll' ng-if="candidates.candidatesExistFlag">
	<div class="col-xs-12 col-sm-6 col-md-3" ng-repeat-start="candidate in candidates.candidatesContainer.candidates">
		<candidate-card candidate-info="candidate" user-id="{{candidates.userId}}" job-matches-popover-position="{{candidate.jobMatchesPopoverPosition}}"
			set-candidate-info="candidates.setCandidateInfo(candidateInfo, type)" popover-is-open="candidates.jobMatchesPopoverIsOpen"
			filter-params="candidates.candidatesContainer.candidatesQueryFilter" activity-map=candidates.activityMap></candidate-card>
	</div>
	<div class="col-xs-12 candidate-info-container" ng-repeat-end ng-if="(($index+1) % 4) == 0 || $last" id="candidate-info-{{$index+1}}" style="display: none;">
		<div ng-if="candidates.candidateInfoContainerId == 'candidate-info-' + ($index + 1)">
			<div ng-include="candidates.candidateInfoTemplate">
			</div>
		</div>
	</div>
</div>
<div class="row" ng-show="candidates.candidatesContainer.busy">
	<div class="col-xs-12 no_candidates_found text-center">
		<span>Loading</span>
		<span class="fa fa-spinner fa-spin"></span>
	</div>
</div>
<div class="row animate-if" ng-show="!candidates.candidatesContainer.candidatesExistFlag">
	<div class="col-xs-12 no_candidates_found text-center">
		No candidates found!
	</div>
</div>
