<div class="approw">
	<div class="row">
		<div class="col-lg-12">
			<div id="content-header" class="clearfix">
				<div class="col-lg-4">
					<ol class="breadcrumb">
						<li><a ui-sref="missioncontrol.dashboard">Home</a></li>
						<li class="active"><span>Report - {{reportTypeLabel}}</span></li>
					</ol>
					<h1 class="heading-css" ng-bind="reportTypeLabel"></h1>
				</div>
				<div class="col-lg-1" style="margin-top: 1%; margin-left: 10%;">
					<select name="type" id="type" ng-model="RequisitionPerformance.type" ng-options="type as type for type in types" class="form-control access">
						<option value="" ng-if="false"></option>
					</select>
				</div>
				<div class="pull-right" style="margin-right: 3%;margin-top: 1%;">
					<button id="cmd" ng-click="download()" approw class="btn btn-primary">Download pdf</button>
					<button class="btn btn-primary" ng-print print-element-id="printThisElement"><i class="fa fa-print"></i> Print</button>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="row">
			<div class="col-md-12">
				<div class="main-box">
					<header class="main-box-header clearfix">
						<div ng-if="userDetails.company.companyType === MESSAGECONSTANTS.COMPANY_TYPES.STAFFING" class="col-lg-1 pull-left team-members-select-label">
							Client
						</div>
						<div ng-if="userDetails.company.companyType === MESSAGECONSTANTS.COMPANY_TYPES.CORPORATE && bulist.length" class="col-lg-1 pull-left team-members-select-label">
							Bu
						</div>
						<div class="pull-left team-members-multi-select" style="width: 20%;">
							<div ng-if="userDetails.company.companyType === MESSAGECONSTANTS.COMPANY_TYPES.STAFFING" class="clientmulti" isteven-multi-select
								input-model="clientlist" output-model="selectedtclient" button-label="name" item-label="name" helper-elements="all filter"
								on-select-all="allclientchoosed()" max-labels="4" tick-property="selected" search-property="name" on-close="client(selectedtclient)"
								max-height="200px">
							</div>
							<div ng-if="userDetails.company.companyType === MESSAGECONSTANTS.COMPANY_TYPES.CORPORATE && bulist.length" class="bumulti"
								isteven-multi-select input-model="bulist" output-model="selectedbu" button-label="name" item-label="name" helper-elements="all filter"
								on-select-all="allbuchoosed()" max-labels="4" tick-property="selected" search-property="name" on-close="bu(selectedbu)"
								max-height="200px">
							</div>
						</div>

						<div class="col-lg-2 team-members-select-label">
							Select Requisition Roles
						</div>
						<div class="col-lg-2">
							<select name="requisitionRole" id="requisitionRole" ng-model="requisitionRole" ng-options="requisitionRole as requisitionRole for requisitionRole in RequisitonRoles"
								class="form-control access" ng-change="roleSelected(requisitionRole)">
                        <option value="" ng-if="false"></option>
                    </select>
						</div>
						<div class="col-lg-2 team-members-select-label">
							Select Recruiters
						</div>
						<div class="col-lg-2 team-members-multi-select" style="width: 20%;">
							<div isteven-multi-select input-model="recruitersList" output-model="selectedrecruitersList" button-label="name" item-label="name maker"
								helper-elements="all filter" on-select-all="recruiterselected(recruitersList)" max-labels="4" tick-property="ticked"
								on-close="recruiterselected(selectedrecruitersList)" max-height="200px">
							</div>
						</div>
						<div>
							<button class="btn btn-primary" ng-click="search()">Search</button>
						</div>
					</header>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="main-box">
					<header class="main-box-header clearfix">
						<h2 class="pull-left">Requisitions</h2>
						<div class="btn-group" style="margin-left: 20px;">
							<button type="button" class="btn btn-primary" ng-class="{'active': requisitionList[0].weeklyshow}" ng-click="toggleGraph('weekly',requisitionList[0].id)">Weekly</button>
							<button type="button" class="btn btn-primary" ng-class="{'active': requisitionList[0].monthlyshow}" ng-click="toggleGraph('monthly',requisitionList[0].id)">Monthly</button>
							<button type="button" class="btn btn-primary" ng-class="{'active': requisitionList[0].quarterlyshow}" ng-click="toggleGraph('quarterly',requisitionList[0].id)">Quarterly</button>
						</div>
					</header>
					<div class="main-box-body clearfix">
						<div class="row">
							<div class="col-md-12">
								<div id="{{requisitionList[0].id}}-graph-bar" style="height: 240px; padding: 0px; position: relative;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	
</script>
