<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a ui-sref="recruiter.dashboard">Home</a></li>
            <li class="active"><span>{{candidatesTypeLabel}}</span></li>
        </ol>

        <h1 class="heading-css">
            {{candidatesTypeLabel}}
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div style="margin: 10px;" class="pull-left">
            <soan ng-if="filterType === 'requisition'">{{requisitionRoleFilter}} | {{requistionCompanyFilter}}</span> <span ng-if="filterType === 'teamMember'">{{ctrl.teamMemberFilter}}</span>
        </div>
        <div style="margin: 10px;" class="pull-right">
            <span title="Click to show / hide the filter" class="pull-right filter-icon" ng-click="toggleInputBox()"><i
				class="fa fa-filter fa-2x cursor-point" ng-model="hideDom"
				aria-hidden="true" id="open-filter"></i></span>
        </div>
        <div style="margin: 10px;" class="pull-right" ng-hide="inputTextbox">
            <input class="text-center filter-style inputBoxBorder" type="text" placeholder="type to filter" ng-hide="hideDom" ng-model="searchTerm"
            />
        </div>
        <div style="margin: 10px;" class="pull-right">
            <!--<input class="btn btn-primary" type="button" ng-click="candidates.compareCandidates()" value="Compare Candidates">-->
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Actions</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-click="compareCandidates()"><a href="">Compare
							Candidates</a></li>
                    <li class="divider"></li>
                    <li><a href="">Release Candidates</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--Filter Starts-->
<div class="row">
    <div class="col-xs-12" id="search-panel" style="display: none;">
        <div class="main-box" style="padding-top: 1%;">
            <div class="main-box-body clearfix">
                <form role="form" ng-submit="searchBasedOnFilters(Filter)" name="" novalidate>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <div class="form-group" ng-if="companyType === 'StaffingCompany'">
                                    <label for="client" >{{MESSAGECONSTANTS.LABLES.CLIENT}}</label>
                                        <select class="form-control access inputBoxBorder" ng-model="Filter.Company" name="company" id="company" required>
											<option value="Company 1">Client 1</option>
											<option value="Company 2">Client 2</option>
											<option value="Company 3">Client 3</option>
											<option value="Company 4">Client 4</option>
										</select>
                                </div>
                                <div class="form-group" ng-if="companyType === 'Corporation'">
                                    <label for="client" >{{MESSAGECONSTANTS.LABLES.BU}}</label>
                                        <select class="form-control access inputBoxBorder" ng-model="Filter.Company" name="company" id="company" required>
											<option value="Company 1">BU 1</option>
											<option value="Company 2">BU 2</option>
											<option value="Company 3">BU 3</option>
											<option value="Company 4">BU 4</option>
										</select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <div class="form-group">
                                    <label for="company">Role</label> <select class="form-control access inputBoxBorder" ng-model="Filter.Company"
                                        name="company" id="company" required>
										<option value="Company 1">Sr Developer</option>
										<option value="Company 3">Manager</option>
									</select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <div class="form-group">
                                    <label for="role">Requistion Status</label> <select class="form-control access inputBoxBorder" ng-model="Filter.Role"
                                        name="role" id="role" required>
										<option value="Role 1">Open</option>
										<option value="Role 2">Closed</option>
									</select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <div class="form-group">
                                    <label for="role">Requistion Number</label> <select class="form-control access inputBoxBorder" ng-model="Filter.Role"
                                        name="role" id="role" required>
										<option value="Role 1">1</option>
										<option value="Role 2">2</option>
										<option value="Role 3">3</option>
										<option value="Role 4">4</option>
									</select>
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-sm-3 col-md-33">
                                <div class="form-group">
                                    <label for="role">State</label> <select class="form-control access inputBoxBorder" ng-model="Filter.Role"
                                        name="role" id="role" required>
										<option value="Role 1">In Tech Assessment</option>
										<option value="Role 2">Qualified</option>
										<option value="Role 3">Value Assessment</option>
										<option value="Role 4">Verification</option>
										<option value="Role 3">Golden Standard</option>
										<option value="Role 4">Released</option>
									</select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <div class="form-group">
                                    <label for="role">Recruiter</label> <select class="form-control access inputBoxBorder" ng-model="Filter.Role"
                                        name="role" id="role" required>
										<option value="Role 1">Recruiter 1</option>
										<option value="Role 2">Recruiter 2</option>
										<option value="Role 3">Recruiter 3</option>
									</select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
									<div class="form-group">
										<label for="role">First Name</label> 
										<input type="text" name="firstName" value="" class="inputBoxTransactionRequisition inputBoxBorder">
									</div>
								</div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
									<div class="form-group">
										<label for="role">Last Name</label> 
										<input type="text" name="lastName" value="" class="inputBoxTransactionRequisition inputBoxBorder">
									</div>
								</div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
									<div class="form-group">
										<label for="role">Phone</label> 
										<input type="text" name="phone" value="" class="inputBoxTransactionRequisition inputBoxBorder">
									</div>
								</div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
									<div class="form-group">
										<label for="role">Email</label> 
										<input type="text" name="email" value="" class="inputBoxTransactionRequisition inputBoxBorder">
                                            <!--<div isteven-multi-select input-model="emails" output-model="selectedEmails" 
                                                button-label="icon name" item-label="icon name maker" tick-property="ticked" helper-elements="all filter" style="width: 100%;">
                                            </div>-->
									</div>
								</div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <div class="form-group">
                                    <label for="role">Sort By</label> <select class="form-control access inputBoxBorder" ng-model="Filter.Role"
                                        name="role" id="role" required>
										<option value="Role 1">Most Recent</option>
										<option value="Role 2">Score</option>
									</select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pull-right">
                        <div class="col-lg-12 col-md-12 col-sm-12 searchButtonColumn">
                            <div class="form-group" id="searchButton">
                                <button type="submit" class="btn btn-success col-xs-12 searchButtonFilter">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Filter Ends-->
<div class="row row-horizon rowheight">
    <!-- active candidates columns -->
    <div id="qualified-candidates-column" class="col-xs-3 candidate-state-column" ng-if="candidatesType == 'active'">
        <div class="main-box candidate-state-wrapper">
            <div class="candidate-state-wrapper-title">
                <div class="pull-left candidate-state-wrapper-title-name">Qualified</div>
                <div class="pull-right">
                    <span id="qualified-candidates-column-toogle-icon" class="fa fa-chevron-circle-left" ng-click="toggleView('qualified');"
                        title="Collapse Column"></span>
                </div>
            </div>
            <div class="candidate-state-wrapper-list">
                <ul dnd-list="qualifiedCandidatesData" style="list-style: none outside none;" dnd-drop="dropCallback(index, item, external, 'Qualified')">
                    <candidate-job-card id="Qualified" candidates-data="qualifiedCandidatesData"
                                        candidate-type="candidatesType" filter-criteria="searchCandidates"
                                        remove-from-list="removeItemFromList"
                                        candidate-click-callback="addOrRemoveFromCompare(candidateObj,event)"
                                        candidate-state="Qualified">
                    </candidate-job-card>
                </ul>
            </div>
        </div>
    </div>
    <div id="tech-ass-candidates-column" class="col-xs-3 candidate-state-column" ng-if="candidatesType === 'active'">
        <div class="main-box candidate-state-wrapper">
            <div class="candidate-state-wrapper-title">
                <div class="pull-left candidate-state-wrapper-title-name">Tech Assessment</div>
                <div class="pull-right">
                    <span id="tech-ass-candidates-column-toogle-icon" class="fa fa-chevron-circle-left" ng-click="toggleView('tech-ass');" title="Collapse Column"></span>
                </div>
            </div>
            <div class="candidate-state-wrapper-list">
                <ul dnd-list="techAssCandidatesData" style="list-style: none outside none;" dnd-drop="dropCallback(index, item, external, 'Tech. Assessment')">
                    <candidate-job-card candidates-data="techAssCandidatesData" candidate-type="candidatesType"
                                        filter-criteria="searchCandidates"
                                        remove-from-list="removeItemFromList"
                                        candidate-click-callback="addOrRemoveFromCompare(candidateObj,event)"
                                        id="TechAssessment" candidate-state="TechAssessment">
                    </candidate-job-card>
                </ul>
            </div>
        </div>
    </div>
    <div id="value-ass-candidates-column" class="col-xs-3 candidate-state-column" ng-if="candidatesType === 'active'">
        <div class="main-box candidate-state-wrapper">
            <div class="candidate-state-wrapper-title">
                <div class="pull-left candidate-state-wrapper-title-name">Value Assessment</div>
                <div class="pull-right">
                    <span id="value-ass-candidates-column-toogle-icon" class="fa fa-chevron-circle-left" ng-click="toggleView('value-ass');"
                        title="Collapse Column"></span>
                </div>
            </div>
            <div class="candidate-state-wrapper-list">
                <ul dnd-list="valueAssCandidatesData" style="list-style: none outside none;" dnd-drop="dropCallback(index, item, external, 'Value Assessment')">
                    <candidate-job-card candidates-data="valueAssCandidatesData" candidate-type="candidatesType"
                                        filter-criteria="searchCandidates"
                                        remove-from-list="removeItemFromList"
                                        candidate-click-callback="addOrRemoveFromCompare(candidateObj,event)"
                                        id="ValueAssessment" candidate-state="ValueAssessment">
                    </candidate-job-card>
                </ul>
            </div>
        </div>
    </div>
    <div id="verification-candidates-column" class="col-xs-3 candidate-state-column" ng-if="candidatesType === 'active'">
        <div class="main-box candidate-state-wrapper">
            <div class="candidate-state-wrapper-title">
                <div class="pull-left candidate-state-wrapper-title-name">Verification</div>
                <div class="pull-right">
                    <span id="verification-candidates-column-toogle-icon" class="fa fa-chevron-circle-left" ng-click="toggleView('verification');"
                        title="Collapse Column"></span>
                </div>
            </div>
            <div class="candidate-state-wrapper-list">
                <ul dnd-list="verificationCandidatesData" style="list-style: none outside none;" dnd-drop="dropCallback(index, item, external, 'Verification')">
                    <candidate-job-card candidates-data="verificationCandidatesData" candidate-type="candidatesType"
                                        filter-criteria="searchCandidates"
                                        remove-from-list="removeItemFromList"
                                        candidate-click-callback="addOrRemoveFromCompare(candidateObj,event)"
                                        id="Verification" candidate-state="Verification">
                    </candidate-job-card>
                </ul>
            </div>
        </div>
    </div>
    <div id="golden-candidates-column" class="col-xs-3 candidate-state-column" ng-if="candidatesType === 'active'">
        <div class="main-box candidate-state-wrapper">
            <div class="candidate-state-wrapper-title">
                <div class="pull-left candidate-state-wrapper-title-name">Golden Standard</div>
                <div class="pull-right">
                    <span id="golden-candidates-column-toogle-icon" class="fa fa-chevron-circle-left" ng-click="toggleView('golden');" title="Collapse Column"></span>
                </div>
            </div>
            <div class="candidate-state-wrapper-list">
                <ul dnd-list="goldenStandardCandidatesData" style="list-style: none outside none;" dnd-drop="dropCallback(index, item, external, 'Golden Standard')">
                    <candidate-job-card candidates-data="goldenStandardCandidatesData" candidate-type="candidatesType"
                                        filter-criteria="searchCandidates"
                                        remove-from-list="removeItemFromList"
                                        candidate-click-callback="addOrRemoveFromCompare(candidateObj,event)"
                                        id="GoldenStandard" candidate-state="GoldenStandard">
                    </candidate-job-card>
                </ul>
            </div>
        </div>
    </div>
    <div id="likely-candidates-column" class="col-xs-3 candidate-state-column" ng-if="candidatesType === 'active'">
        <div class="main-box candidate-state-wrapper">
            <div class="candidate-state-wrapper-title">
                <div class="pull-left candidate-state-wrapper-title-name">Not Interested</div>
                <div class="pull-right">
                    <span id="likely-candidates-column-toogle-icon" class="fa fa-chevron-circle-left" ng-click="toggleView('likely');" title="Collapse Column"></span>
                </div>
            </div>
            <div class="candidate-state-wrapper-list">
                <ul dnd-list="notInterestedCandidatesData" style="list-style: none outside none;" dnd-drop="dropCallback(index, item, external, 'Not Interested')">
                    <candidate-job-card candidates-data="notInterestedCandidatesData" candidate-type="candidatesType"
                                        filter-criteria="searchCandidates"
                                        remove-from-list="removeItemFromList"
                                        candidate-click-callback="addOrRemoveFromCompare(candidateObj,event)"
                                        id="Likely" candidate-state="Likely">
                    </candidate-job-card>
                </ul>
            </div>
        </div>
    </div>
    <div id="unlikely-candidates-column" class="col-xs-3 candidate-state-column" ng-if="candidatesType === 'active'">
        <div class="main-box candidate-state-wrapper">
            <div class="candidate-state-wrapper-title">
                <div class="pull-left candidate-state-wrapper-title-name">Released</div>
                <div class="pull-right">
                    <span id="unlikely-candidates-column-toogle-icon" class="fa fa-chevron-circle-left" ng-click="toggleView('unlikely');" title="Collapse Column"></span>
                </div>
            </div>
            <div class="candidate-state-wrapper-list">
                <ul dnd-list="releasedCandidatesData" style="list-style: none outside none;" dnd-drop="dropCallback(index, item, external, 'Released')">
                    <candidate-job-card candidates-data="releasedCandidatesData" candidate-type="candidatesType"
                                        filter-criteria="searchCandidates"
                                        remove-from-list="removeItemFromList"
                                        candidate-click-callback="addOrRemoveFromCompare(candidateObj,event)"
                                        id="Unlikely" candidate-state="Unlikely">
                    </candidate-job-card>
                </ul>
            </div>
        </div>
    </div>
    <!-- passive candidates columns -->
    <div id="soft-candidates-column" class="col-xs-3 candidate-state-column" ng-if="candidatesType === 'passive'">
        <div class="main-box candidate-state-wrapper">
            <div class="candidate-state-wrapper-title">
                <div class="pull-left candidate-state-wrapper-title-name">Soft Qualified</div>
                <div class="pull-right">
                    <span id="soft-candidates-column-toogle-icon" class="fa fa-chevron-circle-left" ng-click="toggleView('soft');" title="Collapse Column"></span>
                </div>
            </div>
            <div class="candidate-state-wrapper-list">
                <ul dnd-list="softQualifiedCandidatesData" style="list-style: none outside none;">
                    <candidate-job-card candidates-data="softQualifiedCandidatesData" candidate-type="candidatesType"
                                        filter-criteria="searchCandidates"
                                        remove-from-list="removeItemFromList"
                                        candidate-click-callback="addOrRemoveFromCompare(candidateObj,event)"
                                        id="SoftQualified" candidate-state="SoftQualified">
                    </candidate-job-card>
                </ul>
            </div>
        </div>
    </div>
    <div id="outreach-candidates-column" class="col-xs-3 candidate-state-column" ng-if="candidatesType === 'passive'">
        <div class="main-box candidate-state-wrapper">
            <div class="candidate-state-wrapper-title">
                <div class="pull-left candidate-state-wrapper-title-name">Outreach</div>
                <div class="pull-right">
                    <span id="outreach-candidates-column-toogle-icon" class="fa fa-chevron-circle-left" ng-click="toggleView('outreach');" title="Collapse Column"></span>
                </div>
            </div>
            <div class="candidate-state-wrapper-list">
                <ul dnd-list="outReachCandidatesData" style="list-style: none outside none;">
                    <candidate-job-card candidates-data="outReachCandidatesData" candidate-type="candidatesType"
                                        filter-criteria="searchCandidates"
                                        remove-from-list="removeItemFromList"
                                        candidate-click-callback="addOrRemoveFromCompare(candidateObj,event)"
                                        id="Outreach" candidate-state="Outreach">
                    </candidate-job-card>
                </ul>
            </div>
        </div>
    </div>
    <div id="responded-candidates-column" class="col-xs-3 candidate-state-column" ng-if="candidatesType === 'passive'">
        <div class="main-box candidate-state-wrapper">
            <div class="candidate-state-wrapper-title">
                <div class="pull-left candidate-state-wrapper-title-name">Responded</div>
                <div class="pull-right">
                    <span id="responded-candidates-column-toogle-icon" class="fa fa-chevron-circle-left" ng-click="toggleView('responded');"
                        title="Collapse Column"></span>
                </div>
            </div>
            <div class="candidate-state-wrapper-list">
                <ul dnd-list="respondedCandidatesData" style="list-style: none outside none;">
                    <candidate-job-card candidates-data="respondedCandidatesData" candidate-type="candidatesType"
                                        filter-criteria="searchCandidates"
                                        remove-from-list="removeItemFromList"
                                        candidate-click-callback="addOrRemoveFromCompare(candidateObj,event)"
                                        id="Responded" candidate-state="Responded">
                    </candidate-job-card>
                </ul>
            </div>
        </div>
    </div>
    <div id="not-interested-candidates-column" class="col-xs-3 candidate-state-column" ng-if="candidatesType === 'passive'">
        <div class="main-box candidate-state-wrapper">
            <div class="candidate-state-wrapper-title">
                <div class="pull-left candidate-state-wrapper-title-name">Not Interested</div>
                <div class="pull-right">
                    <span id="not-interested-candidates-column-toogle-icon" class="fa fa-chevron-circle-left" ng-click="toggleView('not-interested');"
                        title="Collapse Column"></span>
                </div>
            </div>
            <div class="candidate-state-wrapper-list">
                <ul dnd-list="notInterestedCandidatesData" style="list-style: none outside none;">
                    <candidate-job-card candidates-data="notInterestedCandidatesData" candidate-type="candidatesType"
                                        filter-criteria="searchCandidates"
                                        remove-from-list="removeItemFromList"
                                        candidate-click-callback="addOrRemoveFromCompare(candidateObj,event)"
                                        id="NotInterested" candidate-state="NotInterested">
                    </candidate-job-card>
                </ul>
            </div>
        </div>
    </div>
    <div id="activated-candidates-column" class="col-xs-3 candidate-state-column" ng-if="candidatesType === 'passive'">
        <div class="main-box candidate-state-wrapper">
            <div class="candidate-state-wrapper-title">
                <div class="pull-left candidate-state-wrapper-title-name">Activated</div>
                <div class="pull-right">
                    <span id="activated-candidates-column-toogle-icon" class="fa fa-chevron-circle-left" ng-click="toggleView('activated');"
                        title="Collapse Column"></span>
                </div>
            </div>
            <div class="candidate-state-wrapper-list">
                <ul dnd-list="activatedCandidatesData" style="list-style: none outside none;">
                    <candidate-job-card candidates-data="activatedCandidatesData" candidate-type="candidatesType"
                                        filter-criteria="searchCandidates"
                                        remove-from-list="removeItemFromList"
                                        candidate-click-callback="addOrRemoveFromCompare(candidateObj,event)"
                                        id="Activated" candidate-state="Activated">
                    </candidate-job-card>
                </ul>
            </div>
        </div>
    </div>

</div>
