<div class="row">
    <div class="col-lg-12">
        <div id="content-header" class="clearfix">
            <div class="pull-left">
                <ol class="breadcrumb">
                    <li><a ui-sref="recruiter.dashboard">Home</a></li>
                    <li class="active"><span>Report - {{reportTypeLabel}}</span></li>
                </ol>
                <h1 class="heading-css" ng-bind="reportTypeLabel"></h1>
            </div>
            <div class="pull-right" style="margin-right: 3%;margin-top: 1%;">
                <button id="cmd" ng-click="download()" approw class="btn btn-primary">Download pdf</button>
                <button class="btn btn-primary" ng-print print-element-id="printThisElement"><i class="fa fa-print"></i> Print</button>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="row">
        <div class="col-md-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    <div ng-if="userDetails.company.companyType === MESSAGECONSTANTS.COMPANY_TYPES.STAFFING" class="col-lg-1 pull-left team-members-select-label">
                        Client
                    </div>
                    <div ng-if="userDetails.company.companyType === MESSAGECONSTANTS.COMPANY_TYPES.CORPORATE && bulist.length" class="col-lg-1 pull-left team-members-select-label">
                        Bu
                    </div>
                    <div class="pull-left team-members-multi-select" style="width: 20%;">
                        <div ng-if="userDetails.company.companyType === MESSAGECONSTANTS.COMPANY_TYPES.STAFFING" class="clientmulti" isteven-multi-select
                            input-model="clientlist" output-model="selectedclient" button-label="name" item-label="name" helper-elements="all filter"
                            on-select-all="allclientchoosed()" max-labels="4" tick-property="selected" search-property="name"
                            on-close="client(selectedclient)" max-height="200px">
                        </div>
                        <div ng-if="userDetails.company.companyType === MESSAGECONSTANTS.COMPANY_TYPES.CORPORATE && bulist.length" class="bumulti"
                            isteven-multi-select input-model="bulist" output-model="selectedbu" button-label="name" item-label="name"
                            helper-elements="all filter" on-select-all="allbuchoosed()" max-labels="4" tick-property="selected"
                            search-property="name" on-close="bu(selectedbu)" max-height="200px">
                        </div>
                    </div>

                    <div class="col-lg-2 team-members-select-label">
                        Select Requisition Roles
                    </div>
                    <div class="col-lg-2">
                        <select name="requisitionRole" id="requisitionRole" ng-model="PerformanceByMeasure.requisitonRole" ng-options="requisitionRole as requisitionRole for requisitionRole in RequisitonRoles"
                            class="form-control access">
                        <option value="" ng-if="false"></option>
                    </select>
                    </div>
                    <div class="col-lg-2 team-members-select-label">
                        Select Team Members
                    </div>
                    <div class="col-lg-2 team-members-multi-select" style="width: 20%;">
                        <div isteven-multi-select input-model="measureteamMembersList" output-model="selectedmeasureteamMembersList" button-label="name"
                            item-label="name maker" helper-elements="all filter" on-select-all="selectedmeasureteamMembers(measureteamMembersList)"
                            max-labels="4" tick-property="ticked" on-close="selectedmeasureteamMembers(selectedmeasureteamMembersList)"
                            max-height="200px">
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary" ng-click="search()">Search</button>
                    </div>
                </header>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    <h2 class="pull-left">Time to Convert Performance</h2>
                    <div class="btn-group" style="margin-left: 20px;">
                        <button type="button" class="btn btn-primary" ng-class="{'active': showTimeToConvertPerformanceWeeklyGraph}" ng-click="toggleTimeToConvertPerformanceGraph('weekly')">Weekly</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active': showTimeToConvertPerformanceMonthlyGraph}" ng-click="toggleTimeToConvertPerformanceGraph('monthly')">Monthly</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active': showTimeToConvertPerformanceQuarterlyGraph}" ng-click="toggleTimeToConvertPerformanceGraph('quarterly')">Quarterly</button>
                    </div>
                </header>


                <div class="main-box-body clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="time-to-convert-performance-graph-bar" style="height: 240px; padding: 0px; position: relative;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    <h2 class="pull-left">Time to Place Performance</h2>
                    <div class="btn-group" style="margin-left: 20px;">
                        <button type="button" class="btn btn-primary" ng-class="{'active': showTimeToPlacePerformanceWeeklyGraph}" ng-click="toggleTimeToPlacePerformanceGraph('weekly')">Weekly</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active': showTimeToPlacePerformanceMonthlyGraph}" ng-click="toggleTimeToPlacePerformanceGraph('monthly')">Monthly</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active': showTimeToPlacePerformanceQuarterlyGraph}" ng-click="toggleTimeToPlacePerformanceGraph('quarterly')">Quarterly</button>
                    </div>
                </header>
                <div class="main-box-body clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="time-to-place-performance-graph-bar" style="height: 240px; padding: 0px; position: relative;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    <h2 class="pull-left">Time to Source Performance</h2>
                    <div class="btn-group" style="margin-left: 20px;">
                        <button type="button" class="btn btn-primary" ng-class="{'active': showTimeToSourcePerformanceWeeklyGraph}" ng-click="toggleTimeToSourcePerformanceGraph('weekly')">Weekly</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active': showTimeToSourcePerformanceMonthlyGraph}" ng-click="toggleTimeToSourcePerformanceGraph('monthly')">Monthly</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active': showTimeToSourcePerformanceQuarterlyGraph}" ng-click="toggleTimeToSourcePerformanceGraph('quarterly')">Quarterly</button>
                    </div>
                </header>
                <div class="main-box-body clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="time-to-source-performance-graph-bar" style="height: 240px; padding: 0px; position: relative;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    <h2 class="pull-left">Time to Fill Performance</h2>
                    <div class="btn-group" style="margin-left: 20px;">
                        <button type="button" class="btn btn-primary" ng-class="{'active': showTimeToFillPerformanceWeeklyGraph}" ng-click="toggleTimeToFillPerformanceGraph('weekly')">Weekly</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active': showTimeToFillPerformanceMonthlyGraph}" ng-click="toggleTimeToFillPerformanceGraph('monthly')">Monthly</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active': showTimeToFillPerformanceQuarterlyGraph}" ng-click="toggleTimeToFillPerformanceGraph('quarterly')">Quarterly</button>
                    </div>
                </header>
                <div class="main-box-body clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="time-to-fill-performance-graph-bar" style="height: 240px; padding: 0px; position: relative;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    <h2 class="pull-left">Active Performance</h2>
                    <div class="btn-group" style="margin-left: 20px;">
                        <button type="button" class="btn btn-primary" ng-class="{'active': showActivePerformanceWeeklyGraph}" ng-click="toggleActivePerformanceGraph('weekly')">Weekly</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active': showActivePerformanceMonthlyGraph}" ng-click="toggleActivePerformanceGraph('monthly')">Monthly</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active': showActivePerformanceQuarterlyGraph}" ng-click="toggleActivePerformanceGraph('quarterly')">Quarterly</button>
                    </div>
                </header>
                <div class="main-box-body clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="active-performance-graph-bar" style="height: 240px; padding: 0px; position: relative;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    <h2 class="pull-left">Passive Conversion Performance</h2>
                    <div class="btn-group" style="margin-left: 20px;">
                        <button type="button" class="btn btn-primary" ng-class="{'active': showPassiveConversionPerformanceWeeklyGraph}" ng-click="togglePassiveConversionPerformanceGraph('weekly')">Weekly</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active': showPassiveConversionPerformanceMonthlyGraph}" ng-click="togglePassiveConversionPerformanceGraph('monthly')">Monthly</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active': showPassiveConversionPerformanceQuarterlyGraph}" ng-click="togglePassiveConversionPerformanceGraph('quarterly')">Quarterly</button>
                    </div>
                </header>
                <div class="main-box-body clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="passive-conversion-performance-graph-bar" style="height: 240px; padding: 0px; position: relative;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    <h2 class="pull-left">Placed Candidates</h2>
                    <div class="btn-group" style="margin-left: 20px;">
                        <button type="button" class="btn btn-primary" ng-class="{'active': showPlacedCandidatesWeeklyGraph}" ng-click="togglePlacedCandidatesGraph('weekly')">Weekly</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active': showPlacedCandidatesMonthlyGraph}" ng-click="togglePlacedCandidatesGraph('monthly')">Monthly</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active': showPlacedCandidatesQuarterlyGraph}" ng-click="togglePlacedCandidatesGraph('quarterly')">Quarterly</button>
                    </div>
                </header>
                <div class="main-box-body clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="placed-candidates-graph-bar" style="height: 240px; padding: 0px; position: relative;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    <h2 class="pull-left">Converted Candidates</h2>
                    <div class="btn-group" style="margin-left: 20px;">
                        <button type="button" class="btn btn-primary" ng-class="{'active': showConvertedCandidatesWeeklyGraph}" ng-click="toggleConvertedCandidatesGraph('weekly')">Weekly</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active': showConvertedCandidatesMonthlyGraph}" ng-click="toggleConvertedCandidatesGraph('monthly')">Monthly</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active': showConvertedCandidatesQuarterlyGraph}" ng-click="toggleConvertedCandidatesGraph('quarterly')">Quarterly</button>
                    </div>
                </header>
                <div class="main-box-body clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="converted-candidates-graph-bar" style="height: 240px; padding: 0px; position: relative;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
