<div class="approw">
    <div class="row">
        <div class="col-lg-12">
            <div id="content-header" class="clearfix">
                <div class="pull-left">
                    <ol class="breadcrumb">
                        <li><a ui-sref="missioncontrol.dashboard">{{addCandidatesView.MESSAGECONSTANTS.BREADCRUMBS.HOME}}</a></li>
                        <li class="active"><span>Add Candidates</span></li>
                    </ol>
                    <h1 class="heading-css">Add Candidates</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <add-candidates save-callback="addCandidatesView.saveCallback()"></add-candidates>
        </div>
    </div>
</div>