<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="searchHistoryModal.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding">Job Boards Search History</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="main-box-body">
                <job-boards-search-history job-id="{{searchHistoryModal.jobId}}" job-title="{{searchHistoryModal.jobTitle}}" client-or-bu-name="{{searchHistoryModal.clientOrBuName}}"></job-boards-search-history>
            </div>
        </div>
    </div>
</div>