<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="candidatesModal.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding">Candidates Based on Score</h4>
</div>

<div class="modal-body">
    <!--<notes-and-communication job-match-id="{{communicationModal.jobMatchId}}" type="communication"></notes-and-communication>-->
    <div class="row">
        <div class="col-xs-12">
            <div class="main-box">
                <div class="main-box-body">
                    <div ng-if="candidatesModal.candidates.length > 0" style="padding-top: 20px;">
                        <div class="row">
                            <div class="col-xs-6" ng-repeat="candidate in candidatesModal.candidates">
                                <candidate-card candidate-info="candidate" user-id="{{candidatesModal.userId}}"></candidate-card>
                            </div>
                        </div>
                    </div>
                    <div ng-if="candidatesModal.candidates.length == 0" style="padding: 30px">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                No Candidates found !
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>