<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" uib-tooltip="Close" tooltip-placement="bottom-right" ng-click="searchModal.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding">Job Board Parameters</h4>
</div>

<div class="modal-body">
    <div id="dynamicContentForJobBoardSearch">
    </div>
    <form role="form" id="jobBoardSearchForm" name="searchModal.searchForm" ng-if="!searchModal.loadingSearchInterfaceFlag" novalidate>
        <div class="row" style="height: 400px; overflow-y: scroll; margin-bottom: 10px;">
            <div class="col-xs-12">
                <div class="main-box" style="overflow-x: scroll;">
                    <div class="main-box-body">
                        <div ng-bind-html="searchModal.searchHtml"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="clearfix">
                    <button type="submit" class="btn btn-success" ng-click="searchModal.saveAdvancedSearchParams()" ng-disabled="searchModal.savingFlag">
                        <span ng-if="!searchModal.savingFlag">Save Advanced Search Parameters</span>
                        <span ng-if="searchModal.savingFlag">Saving..</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="row" ng-if="searchModal.loadingSearchInterfaceFlag">
        <div class="col-xs-12 text-center">
            <span>
                Loading Search Interface <i class="fa fa-2x fa-spin fa-spinner"></i>
            </span>
        </div>
    </div>
</div>