<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="jobBoardSearchModal.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding">Job Board Advanced Search</h4>
</div>

<style>
    {{jobBoardSearchModal.jobBoardResponseCSS}}
</style>

<div class="modal-body">
    <div class="row" ng-show="!jobBoardSearchModal.loadingFlag">
        <div class="col-xs-12">
            <!-- custom HTML here -->
            <form action="http://example.com/search">
                <!-- custom form controls here -->
                <div style="margin-left: 70px;">
                    <input name="query" value="" type="text">
                </div>
                <!-- HTML search controls from Daxtra web service here -->
                <div ng-bind-html="jobBoardSearchModal.jobBoardResponseHTML">
                </div>
            </form>
            <!-- custom HTML here -->
        </div>
    </div>
    <div class="row" ng-show="jobBoardSearchModal.loadingFlag">
        <div class="col-xs-12 text-center" style="padding-top: 10px">
            <span>Loading Advanced Search </span><span class="fa fa-2x fa-spinner fa-spin"></span>
        </div>
    </div>
</div>
<script type="type/javascript" ng-bind="jobBoardSearchModal.jobBoardResponseParamsJS">
</script>
<script type="type/javascript" ng-bind="jobBoardSearchModal.jobBoardResponseJS">
</script>
<!--<html>-->
<!--<head>-->
    <!--&lt;!&ndash;<style type="text/css">local styles</style>&ndash;&gt;-->
    <!--&lt;!&ndash;<style type="text/css">web service styles (css)</style>&ndash;&gt;-->
    <!--&lt;!&ndash;<style type="text/css">optional local overrides of web service styles</style>&ndash;&gt;-->
    <!--<script type="text/javascript">&lt;!&ndash; main support library (prototype) &ndash;&gt;</script>-->
    <!--<script type="text/javascript">&lt;!&ndash; additional support library (controls) &ndash;&gt;</script>-->
    <!--<script type="text/javascript">&lt;!&ndash; additional support library (effects) &ndash;&gt;</script>-->
    <!--<script type="text/javascript">&lt;!&ndash; main web service JavaScript (jb_params) &ndash;&gt;</script>-->
<!--</head>-->
<!--<body>-->
    <!--&lt;!&ndash; custom HTML here &ndash;&gt;-->
    <!--<form action="http://example.com/search">-->
        <!--&lt;!&ndash; custom form controls here &ndash;&gt;-->
        <!--<input name="query" value="" type="text">-->
        <!--&lt;!&ndash; HTML search controls from Daxtra web service here &ndash;&gt;-->
    <!--</form>-->
    <!--&lt;!&ndash; custom HTML here &ndash;&gt;-->
<!--</body>-->
<!--</html>-->