<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="updateLocationModal.closeModal()">×</button>-->
    <h4 class="modal-title wrap-text-in ng-binding">Update Job Location</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="main-box">
                <div class="main-box-body">
                    <manage-entity-location entity-type="job" entity-id="{{updateLocationModal.jobId}}"
                        location-object="updateLocationModal.location" save-callback="updateLocationModal.saveCallback(locationObject)"
                        cancel-callback="updateLocationModal.closeModal()">
                    </manage-entity-location>
                </div>
            </div>
        </div>
    </div>
</div>