<div class="main-box clearfix">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2" style="margin-top: 10px">
            <h1 ng-bind="currentInfoCandidate.Name + '\'s Activity'"></h1>
        </div>
        <div class="col-xs-2 text-right cursor-pointer" style="margin-top: 10px; padding-right: 15px;">
            <span ng-click="closeInfoRow(currentInfoCandidateRowId);">
                <i class="fa fa-lg fa-times"></i>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-truck"></i>
                        </td>
                        <td class="text-left">
                            {{currentInfoCandidate.Name}} <span class="label label-success">Completed</span> Tech Assessment.
                        </td>
                        <td>
                            <span ng-bind="today | date:'MMM dd, yyyy \'at\' HH:mm'"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-comment"></i>
                        </td>
                        <td class="text-left">
                            {{currentInfoCandidate.Name}} posted a comment in Avengers Initiative project.
                        </td>
                        <td>
                            <span ng-bind="today | date:'MMM dd, yyyy \'at\' HH:mm':'MMM dd, yyyy \'at\' HH:mm'"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-check"></i>
                        </td>
                        <td class="text-left">
                            {{currentInfoCandidate.Name}} posted a comment in <a href="">Lost in Translation opening scene</a> discussion.
                        </td>
                        <td>
                            <span ng-bind="today | date:'MMM dd, yyyy \'at\' HH:mm'"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-users"></i>
                        </td>
                        <td class="text-left">
                            {{currentInfoCandidate.Name}} posted a comment in <a href="">Avengers Initiative</a> project.
                        </td>
                        <td>
                            <span ng-bind="today | date:'MMM dd, yyyy \'at\' HH:mm'"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-heart"></i>
                        </td>
                        <td class="text-left">
                            {{currentInfoCandidate.Name}} changed order status from <span class="label label-warning">On Hold</span>
                            to <span class="label label-danger">Disabled</span>
                        </td>
                        <td>
                            <span ng-bind="today | date:'MMM dd, yyyy \'at\' HH:mm'"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-check"></i>
                        </td>
                        <td class="text-left">
                            {{currentInfoCandidate.Name}} posted a comment in <a href="">Lost in Translation opening scene</a> discussion.
                        </td>
                        <td>
                            <span ng-bind="today | date:'MMM dd, yyyy \'at\' HH:mm'"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-truck"></i>
                        </td>
                        <td class="text-left">
                            {{currentInfoCandidate.Name}} changed order status from <span class="label label-primary">Pending</span>
                            to <span class="label label-success">Completed</span>
                        </td>
                        <td>
                            <span ng-bind="today | date:'MMM dd, yyyy \'at\' HH:mm'"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-users"></i>
                        </td>
                        <td class="text-left">
                            {{currentInfoCandidate.Name}} posted a comment in <a href="">Avengers Initiative</a> project.
                        </td>
                        <td>
                            <span ng-bind="today | date:'MMM dd, yyyy \'at\' HH:mm'"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>