<div class="main-box clearfix">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2" style="margin-top: 10px">
            <h1 ng-bind="currentInfoCandidate.Name + '\'s Job Matches'"></h1>
        </div>
        <div class="col-xs-2 text-right cursor-pointer" style="margin-top: 10px; padding-right: 15px;">
            <span ng-click="closeInfoRow(currentInfoCandidateRowId);">
                <i class="fa fa-lg fa-times"></i>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center">
                            Score
                        </th>
                        <th class="text-center">
                            Job Title
                        </th>
                        <th class="text-center">
                            Company Name
                        </th>
                        <th class="text-center">
                            Status
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="jobMatch in currentInfoCandidate.jobMatches">
                        <td class="text-center" ng-bind="jobMatch.score">
                        </td>
                        <td ng-bind="jobMatch.title">
                        </td>
                        <td ng-bind="jobMatch.company">
                        </td>
                        <td ng-bind="jobMatch.status">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>