<li ng-repeat="candidate in candidatesData | filter:filterCriteria | orderBy:'-Score'" dnd-draggable="candidate" dnd-moved="removeFromList(candidatesData, candidate)" dnd-effect-allowed="move" dnd-selected="models.selected = candidate" ng-class="{'selected': models.selected === candidate}">
    <div class="main-box clearfix candidate-profile-box-contact">
        <div class="main-box-body clearfix">
            <div ng-if="candidateState === 'TechAssessment' || candidateState === 'ValueAssessment' || candidateState === 'Verification'" class="profile-box-notification green-bg" ng-class="{'dark-green-bg': teamMemberCandidates.candidatesType === 'Active','green-bg': teamMemberCandidates.candidatesType === 'Passive'}">

                <div uib-dropdown class="candidate-job-card-notification-icon pull-right">
                    <a class="btn dropdown-toggle" id="dropdownBell" uib-dropdown-toggle>
                        <i class="fa fa-bell"></i>
                        <span class="count notification-count">2</span>
                    </a>
                    <ul class="dropdown-menu notifications-list" uib-dropdown-menu>
                        <li class="pointer">
                            <div class="pointer-inner">
                                <div class="arrow"></div>
                            </div>
                        </li>
                        <li class="item" ng-if="candidateState === 'TechAssessment'">
                            <a href="">
                                <i class="fa fa-user"></i>
                                <span class="content">Tech Assessment not yet Completed.</span>
                            </a>
                        </li>
                        <li class="item" ng-if="candidateState === 'TechAssessment'">
                            <a href="">
                                <i class="fa fa-user"></i>
                                <span class="content">Candidate completed Tech Assessment.</span>
                            </a>
                        </li>
                        <li class="item" ng-if="candidateState === 'ValueAssessment'">
                            <a href="">
                                <i class="fa fa-user"></i>
                                <span class="content">Value Assessment not yet Completed.</span>
                            </a>
                        </li>
                        <li class="item" ng-if="candidateState === 'ValueAssessment'">
                            <a href="">
                                <i class="fa fa-user"></i>
                                <span class="content">Candidate completed Value Assessment.</span>
                            </a>
                        </li>
                        <li class="item" ng-if="candidateState === 'Verification'">
                            <a href="">
                                <i class="fa fa-user"></i>
                                <span class="content">Verification not yet Completed.</span>
                            </a>
                        </li>
                        <li class="item" ng-if="candidateState === 'Verification'">
                            <a href="">
                                <i class="fa fa-user"></i>
                                <span class="content">Verification Completed.</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="profile-box-header clearfix" ng-class="{'dark-green-bg': candidateType === 'active','green-bg': candidateType === 'passive'}">
                <img ng-src="app-content/img/people/{{candidate.Name}}.jpeg" alt="" class="profile-img img-responsive" style="cursor: pointer !important;" ng-click="candidateClickCallback({candidateObj: candidate, event: $event})" />
                <div class="candidate-name" ui-sref="recruiter.candidateProfile({candidateName: candidate.Name,jobType: candidate.Role, companyName: candidate.Company})">
                    <span title="{{candidate.Name}}" class="candy-name" style="display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 30%;">{{candidate.Name}}</span>
                    <i style="position: relative;top: -4px;" class="fa fa-balance-scale" ng-if="candidate.ValueAssessment" title="Value Assessment Done."></i>
                    <i style="position: relative;top: -4px;" class="fa fa-check-circle" ng-if="candidate.Verification" title="Verification Done."></i>
                </div>
                <div ng-if="candidateType === 'active'">
                    <div class="job-position text-overflow-wrapper" style="cursor: pointer !important;" ui-sref="missioncontrol.jobprofile({candidateName: candidate.Name,jobType: candidate.Role, companyName: candidate.Company, candidateType: 'active'})">
                        <span ng-bind="candidate.Role"></span>
                        <span ng-if="candidate.Company === 'The Green Orange Company'">
                            <b>&nbsp;(1/2)</b>
                        </span>
                    </div>
                </div>
                <div ng-if="candidateType === 'passive'">
                    <div class="job-position text-overflow-wrapper" style="cursor: pointer !important;" ui-sref="missioncontrol.jobprofile({candidateName: candidate.Name,jobType: candidate.Role, companyName: candidate.Company, candidateType: 'passive'})">
                        <span ng-bind="candidate.Role"></span>
                        <span ng-if="candidate.Company === 'The Green Orange Company'">
                            <b>&nbsp;(1/2)</b>
                        </span>
                    </div>
                </div>
                
                <ul class="contact-details">
                    <li class="text-overflow-wrapper">
                        <i class="fa fa-building"></i><span ng-bind="candidate.Company"></span>
                    </li>
                     <li class="text-overflow-wrapper">
                        <i class="fa fa-phone"></i> <span ng-bind="candidate.Ph"></span>
                         &nbsp;
                        <i class="fa fa-envelope" style="cursor:pointer;"></i>
                        <i class="fa fa-comment" alt="{{candidate.ChatHandle}}"></i>
                    </li>
 <!--                    <li class="text-overflow-wrapper">
                        <span style="width: 100%">
							<span style="cursor:pointer;" ui-sref="recruiter.emailCompose({emailTo:candidate.Email})">
								<i class="fa fa-envelope" style="cursor:pointer;"></i><span>Email</span>
                        </span>
                        <span style="cursor:pointer; margin-left: 10px;" ui-sref="recruiter.messaging({candidateName:candidate.Name})">
								<i class="fa fa-comment" alt="{{candidate.ChatHandle}}"></i><span>IM</span>
                        </span>                        
                        </span>
                    </li> -->
                    <li>
                    	<span ng-if="candidateType === 'active'")>{{candidate.State}}</span>	
                    </li>
                </ul>
            </div>
            <div class="profile-box-footer clearfix">
                <a ui-sref="missioncontrol.jobcandidatecomparison({candidateName:
					candidate.Name,jobType: candidate.Role, companyName:
					candidate.Company})" href="" style="width:30%">
                    <span class="value">
						<span ng-bind="candidate.Score"></span>
                    <span ng-if="candidate.TechAssessmentScore !== 0" ng-bind="' | ' + candidate.TechAssessmentScore"></span>

                    </span>
                    <span class="label">Score</span>
                </a>
                <a href="" style="width:30%">

                    <img class="candidate-recruiter-image" alt="" ng-src="app-content/img/samples/{{candidate.Recruiter}}-300.jpg" data-toggle="tooltip" title="{{candidate.Recruiter}}" />
                </a>
                <div class="btn-group pull-right" uib-dropdown>
                    <button type="button" class="btn btn-primary">Actions</button>
                    <button type="button" class="btn btn-primary" uib-dropdown-toggle>
							<span class="caret"></span>
                    <span class="sr-only"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li role="menuitem" ng-if="candidateState === 'TechAssessment'">
                            <a href="">Send Tech Assessment</a>
                        </li>
                        <li role="menuitem" ng-if="candidateState === 'ValueAssessment'">
                            <a href="">Send Value Assessment</a>
                        </li>
                        <li role="menuitem" ng-if="candidateState === 'Verification'">
                            <a href="">Send for Verification</a>
                        </li>
                       <!--  <li role="menuitem" ng-if="candidateState === 'GoldenStandard'">
                            <a href="">Ready for Interview</a>
                        </li> -->
                        <li role="menuitem" ng-if="candidateState === 'Outreach' || candidateState === 'Qualified' || candidateState === 'TechAssessment' || candidateState === 'Verification' || candidateState === 'GoldenStandard' || candidateState === 'Likely' || candidateState === 'Unlikely'">
                            <a href="">Contacted</a>
                        </li>
                        <li role="menuitem" ng-if="candidateState === 'Activated'">
                            <a href="">Activate</a>
                        </li>
                        <li role="menuitem" ng-if="candidateState === 'Outreach' || candidateState === 'Qualified' || candidateState === 'TechAssessment' ||  candidateState === 'ValueAssessment' || candidateState === 'Verification' || candidateState === 'GoldenStandard' " ng-click="updateCandidateCard()">
                            <a ng-click="updateCandidateCard()" >Not Interested </a>
                        </li>
                        <li role="menuitem" ng-if="candidateState === 'Outreach' || candidateState === 'Qualified' || candidateState === 'TechAssessment' || candidateState === 'ValueAssessment' || candidateState === 'Verification' || candidateState === 'GoldenStandard' ">
                            <a href="">Release </a>
                        </li>
                        <li role="menuitem" ng-if="candidateState === 'Unlikely'">
                            <a href="">Undo Release </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</li>