<div style="width:200px;">
    <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
            <ul style="list-style: none; padding: 0 0 0 0; width: 100%">
                <li style="padding: 10px;">
                    <span class="content">
                        {{candidate.Name}} <span class="label label-success">Completed</span> Tech Assessment.
                    </span>
                </li>
                <li style="border-top: lightgrey 1px solid; padding: 10px;">
                    <span class="content">{{candidate.Name}} posted a comment in Avengers Initiative project.</span>
                </li>
                <li style="border-top: lightgrey 1px solid; padding: 5px;" class="text-center">
                    <a href="" ng-click="showFullActivity($event,$index+1,candidate)">
                        View all activity
                    </a>
                </li>
            </ul>
        <!--</div>-->
        <!--<div class="col-xs-12 text-center">-->
            <!--<a href="" ng-click="teamMemberCandidates.showFullActivity($event,$index+1,candidate)">-->
                <!--View all activity-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
