<div class="row">
    <div class="col-lg-12">
        <div id="content-header" class="clearfix">
            <div class="pull-left">
                <ol class="breadcrumb">
                    <li><a href="">Home</a></li>
                    <li><a href="" ui-sref="recruiter.candidates({candidatesType:'active', filterValues: ''})"><span>Candidates</span></a></li>
                    <li class="active">Candidate Job Comparison</li>
                </ol>               
                <h1>Candidate Job Comparison</h1>
            </div>
        </div>
    </div>
</div>

<!-- {{candidateJobCompare.candidateAssets}} -->
<div class="main-box infographic-box">
    <div class="row">
        <div class="col-xs-12 text-left">
            <h3>
                <!-- <img src="img/people/Nina Powers.jpeg" alt="" class="profile-img img-responsive" style="cursor: pointer !important;height: 100px;float: left" ng-click="candidateClickCallback({candidateObj: candidate, event: $event})"> -->
                <strong>{{candidateJobCompare.candidateName}} - {{candidateJobCompare.jobType}}</strong>
            </h3>
        </div>
        <div class="col-xs-11  text-left">
            Applying for the position of <strong>{{candidateJobCompare.jobType}}</strong> in <strong>{{candidateJobCompare.companyName}}</strong>
        </div>
    </div>
    <div class="row candidate-job-compare">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <h3><strong>Education</strong></h3>
                </div>
            </div>
            <div class="row job-assets" ng-if="candidateJobCompare.assetCategories['Education']['Match']">
                <div class="col-xs-1 col-md-1 text-right">
                    <i class="fa fa-thumbs-up green" title="Matching Assets"></i>
                </div>
                <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Education'} | filter: { MatchType: 'Match'}" ng-if="asset.Value != '' && asset.Value != 'None'">
                        <strong ng-bind-html="asset.AssetDisplayDescription"></strong>
                    </div>
                </div>
                <!-- <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Education'} | filter: { MatchType: 'Match'}" ng-if="asset.Value != '' && asset.Value != 'None'">
                        <strong>{{asset.AssetName}}: (<span class="emerald">{{asset.Value}}</span>)</strong>
                    </div>
                </div> -->
            </div>
            <div class="row job-assets" ng-if="candidateJobCompare.assetCategories['Education']['Missing']">
                <div class="col-xs-1 col-md-1 text-right">
                    <i class="fa fa-thumbs-down red" title="Missing Assets"></i>
                </div>
                <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Education'} | filter: { MatchType: 'Missing'}">
                        <strong ng-bind-html="asset.AssetDisplayDescription"></strong>
                    </div>
                </div>
                <!-- <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Education'} | filter: { MatchType: 'Missing'}">
                        <strong>{{asset.AssetName}}: <span class="asset-value">{{asset.Value}}</span></strong>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <h3><strong>Experience</strong></h3></div>
            </div>
            <div class="row job-assets" ng-if="candidateJobCompare.assetCategories['Experience']['Match']">
                <div class="col-xs-1 col-md-1 text-right">
                    <i class="fa fa-thumbs-up green" title="Matching Assets"></i>
                </div>
                <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Experience'} | filter: { MatchType: 'Match'}" ng-if="asset.Value != '' && asset.Value != 'None'">
                        <strong ng-bind-html="asset.AssetDisplayDescription"></strong>
                    </div>
                </div>
                <!-- <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Experience'} | filter: { MatchType: 'Match'}" ng-if="asset.Value != '' && asset.Value != 'None'">
                        <strong>{{asset.AssetName}}: {{asset.AssetDetails}} {{asset.AssetValueRequirement}} (<span class="emerald">{{asset.Value}}</span>)</strong>
                    </div>
                </div> -->
                <!-- <div class="col-xs-11 col-md-11 text-left">
                    <strong>Manager: Minimum 3 Yrs (<span class="emerald">Manager Samsung Electronics at Dallas: 2 Yrs</span>)<br></strong>
                </div> -->
            </div>
        </div>
    </div>
    <div class="row candidate-job-compare">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <h3><strong>Technical Skills</strong></h3>
                </div>
            </div>
            <div class="row job-assets" ng-if="candidateJobCompare.assetCategories['Technical']['Match']">
                <div class="col-xs-1 col-md-1 text-right">
                    <i class="fa fa-thumbs-up green" title="Matching Assets"></i>
                </div>
                <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Technical'} | filter: { MatchType: 'Match'}">
                        <strong ng-bind-html="asset.AssetDisplayDescription"></strong>
                    </div>
                </div>
                <!-- <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Technical'} | filter: { MatchType: 'Match'}">
                        <strong>
                            {{asset.AssetName}}
                            <span ng-if="asset.AssetDetails !== ''">: {{asset.AssetDetails}} {{asset.AssetValueRequirement}}</span>
                             (<span class="emerald">
                                <span ng-if="asset.Value !='Yes'">{{asset.Value}}</span>
                                <span ng-if="asset.Value =='Yes'" class="fa fa-check"></span>
                            </span>)
                        </strong>
                    </div>
                </div> -->
            </div>
            <div class="row job-assets" ng-if="candidateJobCompare.assetCategories['Technical']['Missing']">
                <div class="col-xs-1 col-md-1 text-right">
                    <i class="fa fa-thumbs-down red" title="Missing Assets"></i>
                </div>
                <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Technical'} | filter: { MatchType: 'Missing'}">
                        <strong ng-bind-html="asset.AssetDisplayDescription"></strong>
                    </div>
                </div>
                <!-- <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Technical'} | filter: { MatchType: 'Missing'}">
                        <strong>
                            {{asset.AssetName}}
                            <span ng-if="asset.AssetDetails !== ''">: {{asset.AssetDetails}} {{asset.AssetValueRequirement}}</span>
                             (<span class="emerald">
                                <span ng-if="asset.Value !='None'">{{asset.Value}}</span>
                                <span ng-if="asset.Value =='None'" class="fa fa-times"></span>
                            </span>)
                        </strong>
                    </div>
                </div> -->
            </div>
            <div class="row job-assets" ng-if="candidateJobCompare.assetCategories['Technical']['Almost']">
                <div class="col-xs-1 col-md-1 text-right">
                    <i class="fa fa-hourglass-2 yellow" title="Almost Assets"></i>
                </div>
                <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Technical'} | filter: { MatchType: 'Almost'}">
                        <strong ng-bind-html="asset.AssetDisplayDescription"></strong>
                        <!-- <strong>
                            {{asset.AssetName}}
                            <span ng-if="asset.AssetDetails !== ''">: {{asset.AssetDetails}} {{asset.AssetValueRequirement}}</span>
                             (<span class="emerald">
                                <span ng-if="asset.Value !='None'">{{asset.Value}}</span>
                                <span ng-if="asset.Value =='None'" class="fa fa-times"></span>
                            </span>)
                        </strong> -->
                    </div>
                </div>
            </div>
            <div class="row job-assets" ng-if="candidateJobCompare.assetCategories['Technical']['Additional']">
                <div class="col-xs-1 col-md-1 text-right">
                    <i class="fa fa-plus-circle emerald" title="Additional Assets"></i>
                </div>
                <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Technical'} | filter: { MatchType: 'Additional'}">
                        <strong ng-bind-html="asset.AssetDisplayDescription"></strong>
                        <!-- <strong>
                            {{asset.AssetName}}
                            <span ng-if="asset.AssetDetails !== ''">: {{asset.AssetDetails}} {{asset.AssetValueRequirement}}</span>
                             (<span class="emerald">
                                <span ng-if="asset.Value !='None'">{{asset.Value}}</span>
                                <span ng-if="asset.Value =='None'" class="fa fa-times"></span>
                            </span>)
                        </strong> -->
                    </div>
                </div>
            </div>
            <!-- <div class="row job-assets">
                <div class="col-xs-1 col-md-1 text-right"><i class="fa fa-thumbs-up green" title="Matching Assets"></i></div>
                <div class="col-xs-11 col-md-11 text-left"><strong><a class="cursor-pointer black" href="#/skillDetails/Data Structures/SK-2">Data Structures: Atleast 5 Yrs (<span class="emerald">20 Yrs</span>)</a><br> <a class="cursor-pointer black" href="#/skillDetails/Python/SK-8">Python&nbsp;(<span class="fa fa-check emerald"></span>)</a><br> <a class="cursor-pointer black" href="#/skillBreakUp/SQL/SK-6">SQL: Minimum 5 Yrs (<span class="emerald">20 Yrs</span>)</a><br> <a class="cursor-pointer black" href="#/skillBreakUp/Java/SK-1">Java: Atleast 5 Yrs (<span class="emerald">19 Yrs</span>)</a><br> <a class="cursor-pointer black" href="#/skillDetails/Excel/SK-23">Excel&nbsp;(<span class="fa fa-check emerald"></span>)</a><br> <a class="cursor-pointer black" href="#/skillDetails/Javascript/SK-10">Javascript: Atleast 5 Yrs (<span class="emerald">13 Yrs</span>)</a><br> </strong></div>
            </div>
            <div class="row job-assets">
                <div class="col-xs-1 col-md-1 text-right"><i class="fa fa-thumbs-down red" title="Missing Assets"></i></div>
                <div class="col-xs-11 col-md-11 text-left"> <strong><a class="cursor-pointer black" href="#/skillBreakUp/Mirth/SK-20">Mirth&nbsp;(<span class="fa fa-times emerald"></span>)</a><br> <a class="cursor-pointer black" href="#/skillBreakUp/Jasper/SK-19">Jasper&nbsp;(<span class="fa fa-times emerald"></span>)</a><br> </strong></div>
            </div>
            <div class="row job-assets">
                <div class="col-xs-1 col-md-1 text-right"><i class="fa fa-plus-circle emerald" title="Additional Assets"></i></div>
                <div class="col-xs-11 col-md-11 text-left"> <strong><a class="cursor-pointer black" href="#/skillBreakUp/C++/SK-5">C++</a><br> <a class="cursor-pointer black" href="#/skillDetails/Perl/SK-9">Perl</a><br> </strong></div>
            </div> -->
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <h3><strong>Soft Skills</strong></h3>
                </div>
            </div>
            <div class="row job-assets" ng-if="candidateJobCompare.assetCategories['Soft']['Match']">
                <div class="col-xs-1 col-md-1 text-right">
                    <i class="fa fa-thumbs-up green" title="Matching Assets"></i>
                </div>
                <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Soft'} | filter: { MatchType: 'Match'}">
                        <strong ng-bind-html="asset.AssetDisplayDescription"></strong>
                        <!-- <strong>
                            {{asset.AssetName}}
                            <span ng-if="asset.AssetDetails !== ''">: {{asset.AssetDetails}} {{asset.AssetValueRequirement}}</span>
                             (<span class="emerald">
                                <span ng-if="asset.Value !='Yes'">{{asset.Value}}</span>
                                <span ng-if="asset.Value =='Yes'" class="fa fa-check"></span>
                            </span>)
                        </strong> -->
                    </div>
                </div>
            </div>
            <div class="row job-assets" ng-if="candidateJobCompare.assetCategories['Soft']['Missing']">
                <div class="col-xs-1 col-md-1 text-right">
                    <i class="fa fa-thumbs-down red" title="Missing Assets"></i>
                </div>
                <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Soft'} | filter: { MatchType: 'Missing'}">
                        <strong ng-bind-html="asset.AssetDisplayDescription"></strong>
                        <!-- <strong>
                            {{asset.AssetName}}
                            <span ng-if="asset.AssetDetails !== ''">: {{asset.AssetDetails}} {{asset.AssetValueRequirement}}</span>
                             (<span class="emerald">
                                <span ng-if="asset.Value !='None'">{{asset.Value}}</span>
                                <span ng-if="asset.Value =='None'" class="fa fa-times"></span>
                            </span>)
                        </strong> -->
                    </div>
                </div>
            </div>
            <div class="row job-assets" ng-if="candidateJobCompare.assetCategories['Soft']['Almost']">
                <div class="col-xs-1 col-md-1 text-right">
                    <i class="fa fa-hourglass-2 yellow" title="Almost Assets"></i>
                </div>
                <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Soft'} | filter: { MatchType: 'Almost'}">
                        <strong ng-bind-html="asset.AssetDisplayDescription"></strong>
                        <!-- <strong>
                            {{asset.AssetName}}
                            <span ng-if="asset.AssetDetails !== ''">: {{asset.AssetDetails}} {{asset.AssetValueRequirement}}</span>
                             (<span class="emerald">
                                <span ng-if="asset.Value !='None'">{{asset.Value}}</span>
                                <span ng-if="asset.Value =='None'" class="fa fa-times"></span>
                            </span>)
                        </strong> -->
                    </div>
                </div>
            </div>
            <div class="row job-assets" ng-if="candidateJobCompare.assetCategories['Soft']['Additional']">
                <div class="col-xs-1 col-md-1 text-right">
                    <i class="fa fa-plus-circle emerald" title="Additional Assets"></i>
                </div>
                <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Soft'} | filter: { MatchType: 'Additional'}">
                        <strong ng-bind-html="asset.AssetDisplayDescription"></strong>
                        <!-- <strong>
                            {{asset.AssetName}}
                            <span ng-if="asset.AssetDetails !== ''">: {{asset.AssetDetails}} {{asset.AssetValueRequirement}}</span>
                             (<span class="emerald">
                                <span ng-if="asset.Value !='None'">{{asset.Value}}</span>
                                <span ng-if="asset.Value =='None'" class="fa fa-times"></span>
                            </span>)
                        </strong> -->
                    </div>
                </div>
            </div>
            <!-- <div class="row job-assets">
                <div class="col-xs-1 col-md-1 text-right"><i class="fa fa-thumbs-up green" title="Matching Assets"></i></div>
                <div class="col-xs-11 col-md-11 text-left"><strong><a class="cursor-pointer black" href="#/skillDetails/Coaching/SK-11">Coaching&nbsp;(<span class="fa fa-check emerald"></span>)</a><br> <a class="cursor-pointer black" href="#/skillDetails/Teamwork/SK-13">Teamwork&nbsp;(<span class="fa fa-check emerald"></span>)</a><br> <a class="cursor-pointer black" href="#/skillDetails/Communication/SK-15">Communication&nbsp;(<span class="fa fa-check emerald"></span>)</a><br> <a class="cursor-pointer black" href="#/skillDetails/Planning/SK-16">Planning&nbsp;(<span class="fa fa-check emerald"></span>)</a><br> Managing People&nbsp;(<span class="fa fa-check emerald"></span>)<br> </strong></div>
            </div>
            <div class="row job-assets">
                <div class="col-xs-1 col-md-1 text-right"><i class="fa fa-thumbs-down red" title="Missing Assets"></i></div>
                <div class="col-xs-11 col-md-11 text-left"> <strong>Creativity&nbsp;(<span class="fa fa-times emerald"></span>)<br> </strong></div>
            </div>
            <div class="row job-assets">
                <div class="col-xs-1 col-md-1 text-right"><i class="fa fa-plus-circle emerald" title="Additional Assets"></i></div>
                <div class="col-xs-11 col-md-11 text-left"> <strong><a class="cursor-pointer black" href="#/skillDetails/Commitment/SK-12">Commitment</a><br> <a class="cursor-pointer black" href="#/skillDetails/Decision Making/SK-14">Decision Making</a><br> <a class="cursor-pointer black" href="#/skillDetails/Ethics/SK-17">Ethics</a><br> </strong></div>
            </div> -->
        </div>
    </div>
    <div class="row candidate-job-compare">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <h3><strong>Certifications</strong></h3></div>
            </div>
            <div class="row job-assets" ng-if="candidateJobCompare.assetCategories['Certifications']['Match']">
                <div class="col-xs-1 col-md-1 text-right">
                    <i class="fa fa-thumbs-up green" title="Matching Assets"></i>
                </div>
                <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Certifications'} | filter: { MatchType: 'Match'}">
                        <strong ng-bind-html="asset.AssetDisplayDescription"></strong>
                        <!-- <strong>
                            {{asset.AssetName}}
                            <span ng-if="asset.AssetDetails !== ''">: {{asset.AssetDetails}} {{asset.AssetValueRequirement}}</span>
                             (<span class="emerald">
                                <span ng-if="asset.Value !='Yes'">{{asset.Value}}</span>
                                <span ng-if="asset.Value =='Yes'" class="fa fa-check"></span>
                            </span>)
                        </strong> -->
                    </div>
                </div>
            </div>
            <div class="row job-assets" ng-if="candidateJobCompare.assetCategories['Certifications']['Missing']">
                <div class="col-xs-1 col-md-1 text-right">
                    <i class="fa fa-thumbs-down red" title="Missing Assets"></i>
                </div>
                <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Certifications'} | filter: { MatchType: 'Missing'}">
                        <strong ng-bind-html="asset.AssetDisplayDescription"></strong>
                        <!-- <strong>
                            {{asset.AssetName}}
                            <span ng-if="asset.AssetDetails !== ''">: {{asset.AssetDetails}} {{asset.AssetValueRequirement}}</span>
                             (<span class="emerald">
                                <span ng-if="asset.Value !='None'">{{asset.Value}}</span>
                                <span ng-if="asset.Value =='None'" class="fa fa-times"></span>
                            </span>)
                        </strong> -->
                    </div>
                </div>
            </div>
            <div class="row job-assets" ng-if="candidateJobCompare.assetCategories['Certifications']['Additional']">
                <div class="col-xs-1 col-md-1 text-right">
                    <i class="fa fa-plus-circle emerald" title="Additional Assets"></i>
                </div>
                <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Certifications'} | filter: { MatchType: 'Additional'}">
                        <strong ng-bind-html="asset.AssetDisplayDescription"></strong>
                        <!-- <strong>
                            {{asset.AssetName}}
                            <span ng-if="asset.AssetDetails !== ''">: {{asset.AssetDetails}} {{asset.AssetValueRequirement}}</span>
                             (<span class="emerald">
                                <span ng-if="asset.Value !='None'">{{asset.Value}}</span>
                                <span ng-if="asset.Value =='None'" class="fa fa-times"></span>
                            </span>)
                        </strong> -->
                    </div>
                </div>
            </div>
            <!-- <div class="row job-assets">
                <div class="col-xs-1 col-md-1 text-right"><i class="fa fa-plus-circle emerald" title="Additional Assets"></i></div>
                <div class="col-xs-11 col-md-11 text-left"> <strong>Java Programmer: IT Technology &amp; Services<br> Oracle DBA Administrator: IT Technology &amp; Services<br> </strong></div>
            </div> -->
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <h3><strong>Other</strong></h3></div>
            </div>
            <div class="row job-assets" ng-if="candidateJobCompare.assetCategories['Other']['Additional']">
                <div class="col-xs-1 col-md-1 text-right">
                    <i class="fa fa-plus-circle emerald" title="Additional Assets"></i>
                </div>
                <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Other'} | filter: { MatchType: 'Additional'}">
                        <strong ng-bind-html="asset.AssetDisplayDescription"></strong>
                        <!-- <strong>
                            {{asset.AssetName}}
                            <span ng-if="asset.AssetDetails !== ''">: {{asset.AssetDetails}} {{asset.AssetValueRequirement}}</span>
                             (<span class="emerald">
                                <span ng-if="asset.Value !='None'">{{asset.Value}}</span>
                                <span ng-if="asset.Value =='None'" class="fa fa-times"></span>
                            </span>)
                        </strong> -->
                    </div>
                </div>
            </div>
            <!-- <div class="row job-assets">
                <div class="col-xs-1 col-md-1 text-right"><i class="fa fa-plus-circle emerald" title="Additional Assets"></i></div>
                <div class="col-xs-11 col-md-11 text-left"> <strong>Volunteering (<span class="emerald">Volunteer at Operation Kindness Animal Welfare</span>)<br> Patent (<span class="emerald">Lead Contributor at Intel The effective management of material waste through a burn down material loss algorithm </span>)<br> Society (<span class="emerald">Member American Association of Engineering Societies</span>)<br> </strong></div>
            </div> -->
        </div>
    </div>
    <div class="row candidate-job-compare">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <h3><strong>Compensation</strong></h3></div>
            </div>
            <div class="row job-assets" ng-if="candidateJobCompare.assetCategories['Compensation']['Match']">
                <div class="col-xs-1 col-md-1 text-right">
                    <i class="fa fa-thumbs-up green" title="Matching Assets"></i>
                </div>
                <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Compensation'} | filter: { MatchType: 'Match'}">
                        <strong ng-bind-html="asset.AssetDisplayDescription"></strong>
                        <!-- <strong>
                            {{asset.AssetName}}
                            <span ng-if="asset.AssetDetails !== ''">: {{asset.AssetDetails}} {{asset.AssetValueRequirement}}</span>
                             (<span class="emerald">
                                <span ng-if="asset.Value !='Yes'">{{asset.Value}}</span>
                                <span ng-if="asset.Value =='Yes'" class="fa fa-check"></span>
                            </span>)
                        </strong> -->
                    </div>
                </div>
            </div>
            <div class="row job-assets" ng-if="candidateJobCompare.assetCategories['Compensation']['Missing']">
                <div class="col-xs-1 col-md-1 text-right">
                    <i class="fa fa-thumbs-down red" title="Missing Assets"></i>
                </div>
                <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Compensation'} | filter: { MatchType: 'Missing'}">
                        <strong ng-bind-html="asset.AssetDisplayDescription"></strong>
                        <!-- <strong>
                            {{asset.AssetName}}
                            <span ng-if="asset.AssetDetails !== ''">: {{asset.AssetDetails}} {{asset.AssetValueRequirement}}</span>
                             (<span class="emerald">
                                <span ng-if="asset.Value !='None'">{{asset.Value}}</span>
                                <span ng-if="asset.Value =='None'" class="fa fa-times"></span>
                            </span>)
                        </strong> -->
                    </div>
                </div>
            </div>
            <div class="row job-assets" ng-if="candidateJobCompare.assetCategories['Compensation']['Additional']">
                <div class="col-xs-1 col-md-1 text-right">
                    <i class="fa fa-plus-circle emerald" title="Additional Assets"></i>
                </div>
                <div class="col-xs-11 col-md-11 text-left">
                    <div ng-repeat="asset in candidateJobCompare.candidateAssets | filter: { AssetType: 'Compensation'} | filter: { MatchType: 'Additional'}">
                        <strong ng-bind-html="asset.AssetDisplayDescription"></strong>
                        <!-- <strong>
                            {{asset.AssetName}}
                            <span ng-if="asset.AssetDetails !== ''">: {{asset.AssetDetails}} {{asset.AssetValueRequirement}}</span>
                             (<span class="emerald">
                                <span ng-if="asset.Value !='None'">{{asset.Value}}</span>
                                <span ng-if="asset.Value =='None'" class="fa fa-times"></span>
                            </span>)
                        </strong> -->
                    </div>
                </div>
            </div>

            <!-- <div class="row job-assets">
                <div class="col-xs-1 col-md-1 text-right"><i class="fa fa-thumbs-up green" title="Matching Assets"></i></div>
                <div class="col-xs-11 col-md-11 text-left"><strong>Salary: $ 155 K (<span class="emerald">$ 135K - $ 145K</span>)<br> Bonus Package: Bonus - 18% (Min - 75%, Max - 150%) (<span class="emerald">Bonus is 15% with a Minimum at 80% and a Maximum at 150%</span>)<br> Stock Options: Granted based on performance&nbsp;(<span class="fa fa-check emerald"></span>)<br> Stock Units: Granted based on performance&nbsp;(<span class="fa fa-check emerald"></span>)<br> Vacation: 25 Days (<span class="emerald">25 days</span>)<br> 401K: Match Directly Employee Contribution upto Limit = 7% (<span class="emerald">Match Directly Employee Contribution upto Limit = 10% of Salary Vested over 3 years</span>)<br> Other Benefits: Flex Hours&nbsp;(<span class="fa fa-check emerald"></span>)<br> Other Benefits: Personal/Family Days 3 Days&nbsp;(<span class="fa fa-check emerald"></span>)<br> Other Benefits: Floating Holidays 2 Days&nbsp;(<span class="fa fa-check emerald"></span>)<br> </strong></div>
            </div>
            <div class="row job-assets">
                <div class="col-xs-1 col-md-1 text-right"><i class="fa fa-thumbs-down red" title="Missing Assets"></i></div>
                <div class="col-xs-11 col-md-11 text-left"> <strong>ESPP: None (<span class="emerald">7%</span>)<br> Other Benefits: Vacation Rollover&nbsp;<span class="fa fa-times"></span> (<span class="emerald">Yes</span>)<br> Other Benefits: Telecommute&nbsp;<span class="fa fa-times"></span> (<span class="emerald">Yes</span>)<br> </strong></div>
            </div> -->
        </div>
    </div>
</div>
