<!-- {{candidateAssets}} -->
<li
	ng-class="{'has-feature': candidateAsset.MatchType === 'Match','has-nofeature': candidateAsset.MatchType === 'Missing',
	'additional': candidateAsset.MatchType === 'Additional','almost': candidateAsset.MatchType === 'Almost'}"
	class="candidate-compare-list-item"
	ng-repeat="candidateAsset in candidateAssets | filter: { AssetType: assetType}">
	<div ng-bind-html="candidateAsset.Value"></div>
</li>
<!-- <li class="candidate-compare-list-item has-nofeature" ng-repeat="candidateAsset in candidateAssets | filter: { AssetType: assetType} | filter: { MatchType: 'Missing'}">
	<div ng-bind-html="candidateAsset.Value"></div>
</li>
<li class="candidate-compare-list-item additional" ng-repeat="candidateAsset in candidateAssets | filter: { AssetType: assetType} | filter: { MatchType: 'Additional'}">
	<div ng-bind-html="candidateAsset.Value"></div>
</li>
<li class="candidate-compare-list-item almost" ng-repeat="candidateAsset in candidateAssets | filter: { AssetType: assetType} | filter: { MatchType: 'Almost'}">
	<div ng-bind-html="candidateAsset.Value"></div>
</li> -->