<!-- {{jobDetailsData}} -->
<li
	ng-repeat="jobDetail in jobDetailsData | filter: { AssetType: assetType}"
	class="candidate-compare-list-item"><span
	ng-bind-html="jobDetail.AssetDisplayDescription"></span> <!-- &nbsp;<span ng-if="jobDetail.AssetDetails != ''" ng-bind="jobDetail.AssetDetails"></span>
	&nbsp;<span ng-if="jobDetail.AssetValueRequirement != ''" ng-bind="jobDetail.AssetValueRequirement"></span> -->
</li>
<!-- <li ng-repeat="jobDetail in jobDetailsData | filter: { AssetType: assetType}">
	<span ng-bind-html="jobDetail.AssetName"></span>
	&nbsp;<span ng-if="jobDetail.AssetDetails != ''" ng-bind="jobDetail.AssetDetails"></span>
	&nbsp;<span ng-if="jobDetail.AssetValueRequirement != ''" ng-bind="jobDetail.AssetValueRequirement"></span>
<li ng-repeat="jobDetail in jobDetailsData | filter: { AssetType: assetType}">
	<span ng-bind-html="jobDetail.AssetName"></span>
	&nbsp;<span ng-if="jobDetail.AssetDetails != ''" ng-bind="jobDetail.AssetDetails"></span>
	&nbsp;<span ng-if="jobDetail.AssetValueRequirement != ''" ng-bind="jobDetail.AssetValueRequirement"></span>
</li>
<li ng-repeat="jobDetail in jobDetailsData | filter: { AssetType: assetType}">
	<span ng-bind-html="jobDetail.AssetName"></span>
	&nbsp;<span ng-if="jobDetail.AssetDetails != ''" ng-bind="jobDetail.AssetDetails"></span>
	&nbsp;<span ng-if="jobDetail.AssetValueRequirement != ''" ng-bind="jobDetail.AssetValueRequirement"></span>
</li> -->