<!-- <div style="width:200px;">
    <div class="row">
        <div class="col-xs-12">
            <b>Jobs Matched</b>
            <br/><br/>
        </div>
        <div class="col-xs-12">
            <ul>
                <li ng-repeat="jobMatch in candidate.jobMatches">
                    <span class="content" ng-bind="jobMatch.title + ' in ' + jobMatch.company + '.'"></span>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 text-center">
            <a href="" ng-click="teamMemberCandidates.showFullJobMatches($event,$index+1,candidate)">
                View all job matches
            </a>
        </div>
    </div>
</div> -->
<div style="width:200px;">
    <ul style="list-style: none; padding: 0 0 0 0; width: 100%">
        <li ng-repeat="jobMatch in candidate.jobMatches" style="border-top: lightgrey 1px solid; padding: 10px;">
            <span class="content" ng-bind="jobMatch.title + ' in ' + jobMatch.company + '.'"></span>
        </li>
        <li style="border-top: lightgrey 1px solid; padding: 5px;" class="text-center">
            <a href="" ng-click="showFullJobMatches($event,$index+1,candidate)">
                View all job matches
            </a>
        </li>
    </ul>
</div>
