<div class="row">
	<div class="col-lg-12">
		<div id="content-header" class="clearfix">
			<div class="pull-left">
				<ol class="breadcrumb">
					<li><a href="">Home</a></li>
					<li><a href="" ui-sref="recruiter.candidates({candidatesType:'active', filterValues: ''})"><span>Candidates</span></a></li>
					<li class="active">Compare Candidates</li>
				</ol>				
				<h1>Compare Candidates</h1>
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-lg-12">
		{{candidateCompare.jobData}}
	</div>
	<div class="col-lg-12">
		{{candidateCompare.candidatesData}}
	</div>
</div> -->

<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2>Candidate Compare</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<div class="col-xs-3 pricing-package">
					<div class="pricing-package-inner">
						<div class="package-header">
							<span class="stars center-block">
								<i class="fa fa-star"></i>
							</span>
							<h3 ng-bind="candidateCompare.jobType"></h3>
						</div>
						<div class="package-content">
							<div class="package-price">
								<span class="currency" ng-bind="candidateCompare.companyName"></span>
								<!-- <span class="price">9</span> -->
								<!-- <span class="package-month" ng-bind="' ( ' + job.jobLocation + ' )'"></span> -->
							</div>
							<ul class="package-top-features">
								<li>
									Education
								</li>
							</ul>
							<ul class="package-features education-assets">
								<candidate-compare-job-list-items job-details-data="candidateCompare.jobData" asset-type="Education"></candidate-compare-job-list-items>
							</ul>
							<ul class="package-top-features">
								<li>
									Experience
								</li>
							</ul>
							<ul class="package-features experience-assets">
								<candidate-compare-job-list-items job-details-data="candidateCompare.jobData" asset-type="Experience"></candidate-compare-job-list-items>
							</ul>
							<ul class="package-top-features">
								<li>
									Technical Skills
								</li>
							</ul>
							<ul class="package-features tech-assets">
								<candidate-compare-job-list-items job-details-data="candidateCompare.jobData" asset-type="Technical"></candidate-compare-job-list-items>
							</ul>
							<ul class="package-top-features">
								<li>
									Soft Skills
								</li>
							</ul>
							<ul class="package-features soft-assets">
								<candidate-compare-job-list-items job-details-data="candidateCompare.jobData" asset-type="Soft"></candidate-compare-job-list-items>
							</ul>
							<ul class="package-top-features">
								<li>
									Certifications
								</li>
							</ul>
							<ul class="package-features certification-assets">
								<candidate-compare-job-list-items job-details-data="candidateCompare.jobData" asset-type="Certifications"></candidate-compare-job-list-items>
							</ul>
							<ul class="package-top-features">
								<li>
									Other
								</li>
							</ul>
							<ul class="package-features other-assets">
								<candidate-compare-job-list-items job-details-data="candidateCompare.jobData" asset-type="Other"></candidate-compare-job-list-items>
							</ul>
							<ul class="package-top-features">
								<li>
									Compensation
								</li>
							</ul>
							<ul class="package-features compensation-assets">
								<!-- <li ng-class="{'has-feature': jobDetail.MatchType === 'Match','has-nofeature': jobDetail.MatchType === 'Missing','additional': jobDetail.MatchType === 'Additional','almost': jobDetail.MatchType === 'Almost'}" ng-repeat="jobDetail in job.jobDetailsData | filter: { AssetType: 'Compensation' }">
									<div ng-bind-html="jobDetail.assetDisplayDescription"></div>
								</li> -->
								<candidate-compare-job-list-items job-details-data="candidateCompare.jobData" asset-type="Compensation"></candidate-compare-job-list-items>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-3 pricing-package" ng-repeat="candidate in candidateCompare.candidatesData" ng-if="candidate.candidateName !== ''">
					<div class="pricing-package-inner">
						<div class="package-header">
							<span class="stars center-block">
								<i class="fa fa-star"></i>
							</span>
							<h3 ng-bind="candidate.candidateName"></h3>
						</div>
						<div class="package-content">
							<div class="package-price">
								<!-- <span class="currency" ng-bind="job.company"></span> -->
								<!-- <span class="price">9</span> -->
								<!-- <span class="package-month" ng-bind="' ( ' + job.jobLocation + ' )'"></span> -->
							</div>
							<ul class="package-top-features">
								<li>
									Education
								</li>
							</ul>
							<ul class="package-features education-assets">
								<candidate-compare-asset-list-items candidate-assets="candidate.candidateAssets" asset-type="Education"></candidate-compare-asset-list-items>
							</ul>
							<ul class="package-top-features">
								<li>
									Experience
								</li>
							</ul>
							<ul class="package-features experience-assets">
								<candidate-compare-asset-list-items candidate-assets="candidate.candidateAssets" asset-type="Experience"></candidate-compare-asset-list-items>
							</ul>
							<ul class="package-top-features">
								<li>
									Technical Skills
								</li>
							</ul>
							<ul class="package-features tech-assets">
								<candidate-compare-asset-list-items candidate-assets="candidate.candidateAssets" asset-type="Technical"></candidate-compare-asset-list-items>
							</ul>
							<ul class="package-top-features">
								<li>
									Soft Skills
								</li>
							</ul>
							<ul class="package-features soft-assets">
								<candidate-compare-asset-list-items candidate-assets="candidate.candidateAssets" asset-type="Soft"></candidate-compare-asset-list-items>
							</ul>
							<ul class="package-top-features">
								<li>
									Certifications
								</li>
							</ul>
							<ul class="package-features certification-assets">
								<candidate-compare-asset-list-items candidate-assets="candidate.candidateAssets" asset-type="Certifications"></candidate-compare-asset-list-items>
							</ul>
							<ul class="package-top-features">
								<li>
									Other
								</li>
							</ul>
							<ul class="package-features other-assets">
								<candidate-compare-asset-list-items candidate-assets="candidate.candidateAssets" asset-type="Other"></candidate-compare-asset-list-items>
							</ul>
							<ul class="package-top-features">
								<li>
									Compensation
								</li>
							</ul>
							<ul class="package-features compensation-assets">
								<!-- <li ng-class="{'has-feature': jobDetail.MatchType === 'Match','has-nofeature': jobDetail.MatchType === 'Missing','additional': jobDetail.MatchType === 'Additional','almost': jobDetail.MatchType === 'Almost'}" ng-repeat="jobDetail in candidate.candidateAssets | filter: { AssetType: 'Compensation' }">
									<div ng-bind-html="jobDetail.assetDisplayDescription"></div>
								</li> -->
								<!-- {{candidate.candidateAssets}} -->
								<candidate-compare-asset-list-items candidate-assets="candidate.candidateAssets" asset-type="Compensation"></candidate-compare-asset-list-items>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- <div class="col-md-3 col-sm-6 col-xs-12 pricing-package">
					<div class="pricing-package-inner">
						<div class="package-header green-bg">
							<span class="stars center-block">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</span>
							<h3>Basic</h3>
						</div>
						<div class="package-content">
							<div class="package-price green-bg">
								<span class="currency">&dollar;</span>
								<span class="price">49</span>
								<span class="package-month">/mo</span>
							</div>
							<ul class="package-top-features">
								<li>
									Unlimited minutes
								</li>
								<li>
									5 Call-Us buttons
								</li>
								<li>
									5 Operators
								</li>
								<li>
									50 GB Storage
								</li>
							</ul>
							<ul class="package-features">
								<li class="has-feature">
									Call waiting
								</li>
								<li class="has-feature">
									Customizable design
								</li>
								<li class="has-feature">
									Business hours
								</li>
								<li class="has-feature">
									Call history
								</li>
								<li class="has-nofeature">
									Customer groups
								</li>
								<li class="has-nofeature">
									Country control
								</li>
								<li class="has-nofeature">
									Call recording
								</li>
								<li class="has-nofeature">
									Mobile apps (iOS, Android)
								</li>
							</ul>
							<div class="package-footer">
								<button class="btn btn-success">
									<span class="fa fa-shopping-cart fa-lg"></span> Try now
								</button>
							</div>
						</div>
					</div>
				</div> -->
				
				<!-- <div class="col-md-3 col-sm-6 col-xs-12 pricing-package">
					<div class="pricing-package-inner">
						<div class="pricing-star">Best<br/>value</div>
						<div class="package-header yellow-bg">
							<span class="stars center-block">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</span>
							<h3>Standard</h3>
						</div>
						<div class="package-content">
							<div class="package-price yellow-bg">
								<span class="currency">&dollar;</span>
								<span class="price">99</span>
								<span class="package-month">/mo</span>
							</div>
							<ul class="package-top-features">
								<li>
									Unlimited minutes
								</li>
								<li>
									10 Call-Us buttons
								</li>
								<li>
									10 Operators
								</li>
								<li>
									100 GB Storage
								</li>
							</ul>
							<ul class="package-features">
								<li class="has-feature">
									Call waiting
								</li>
								<li class="has-feature">
									Customizable design
								</li>
								<li class="has-feature">
									Business hours
								</li>
								<li class="has-feature">
									Call history
								</li>
								<li class="has-feature">
									Customer groups
								</li>
								<li class="has-nofeature">
									Country control
								</li>
								<li class="has-nofeature">
									Call recording
								</li>
								<li class="has-nofeature">
									Mobile apps (iOS, Android)
								</li>
							</ul>
							<div class="package-footer">
								<button class="btn btn-success">
									<span class="fa fa-shopping-cart fa-lg"></span> Try now
								</button>
							</div>
						</div>
					</div>
				</div> -->
				
				<!-- <div class="col-md-3 col-sm-6 col-xs-12 pricing-package">
					<div class="pricing-package-inner">
						<div class="package-header purple-bg">
							<span class="stars center-block">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</span>
							<h3>Ultimate</h3>
						</div>
						<div class="package-content">
							<div class="package-price purple-bg">
								<span class="currency">&dollar;</span>
								<span class="price">299</span>
								<span class="package-month">/mo</span>
							</div>
							<ul class="package-top-features">
								<li>
									Unlimited minutes
								</li>
								<li>
									50 Call-Us button
								</li>
								<li>
									50 Operator
								</li>
								<li>
									1 TB Storage
								</li>
							</ul>
							<ul class="package-features">
								<li class="has-feature">
									Call waiting
								</li>
								<li class="has-feature">
									Customizable design
								</li>
								<li class="has-feature">
									Business hours
								</li>
								<li class="has-feature">
									Call history
								</li>
								<li class="has-feature">
									Customer groups
								</li>
								<li class="has-feature">
									Country control
								</li>
								<li class="has-feature">
									Call recording
								</li>
								<li class="has-feature">
									Mobile apps (iOS, Android)
								</li>
							</ul>
							<div class="package-footer">
								<button class="btn btn-success">
									<span class="fa fa-shopping-cart fa-lg"></span> Try now
								</button>
							</div>
						</div>
					</div>
				</div> -->
			</div>
			
		</div>
	</div>
</div>