<div style="width:200px;">
	<div class="row">
		<div class="col-xs-12">
			<b>There are 2 new notifications</b>
			<br/><br/>
		</div>
		<div class="col-xs-12">
			<ul>
				<li>
					<!--<i class="fa fa-suitcase"></i>-->
					<span class="content">5 Jobs that match your profile were added.</span>
				</li>
				<li>
					<!--<a href="">-->
					<!--<i class="fa fa-users"></i>-->
					<span class="content">468 people like you joined in the past week.</span>
					<!-- <span class="time"><i class="fa fa-clock-o"></i>5 hours.</span> -->
					<!--</a>-->
				</li>
			</ul>
		</div>
		<div class="col-xs-12 text-center">
			<a href="#">
				View all notifications
			</a>
		</div>
	</div>
</div>

