<!-- {{jobDetailsData}} -->
<li ng-class="{'has-feature': $first}" ng-repeat="jobDetail in jobDetailsData | filter: { AssetType: assetType} | filter: { MatchType: 'Match'}">
	<div ng-bind-html="jobDetail.assetDisplayDescription"></div>
</li>
<li ng-class="{'has-nofeature': $first}" ng-repeat="jobDetail in jobDetailsData | filter: { AssetType: assetType} | filter: { MatchType: 'Missing'}">
	<div ng-bind-html="jobDetail.assetDisplayDescription"></div>
</li>
<li ng-class="{'additional': $first}" ng-repeat="jobDetail in jobDetailsData | filter: { AssetType: assetType} | filter: { MatchType: 'Additional'}">
	<div ng-bind-html="jobDetail.assetDisplayDescription"></div>
</li>
<li ng-class="{'almost': $first}" ng-repeat="jobDetail in jobDetailsData | filter: { AssetType: assetType} | filter: { MatchType: 'Almost'}">
	<div ng-bind-html="jobDetail.assetDisplayDescription"></div>
</li>