<style>
    .companymodelbody {
        overflow-y:scroll;
        /*height: 200px;*/
        max-height : 200px;
    }
</style>
<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard='false' tabindex="0" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--  This should not be there as discussed with Chakra	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title">Select a company</h4>
            </div>
            <div class="modal-body companymodelbody" id="companymodelbody">
                <div  infinite-scroll="getCompaniesForLoggedinUser()" infinite-scroll-distance="1" infinite-scroll-container="'#companymodelbody'"
            infinite-scroll-disabled="dataloading" infinite-scroll-parent>
                <div class="columns">
                    <ul ng-repeat="company in companies | filter:{companyType:'Host'}">
                        <!--<ul ng-repeat="company in companies">-->
                        <li><a href="" data-dismiss="modal" ng-click="getCompany(company)">{{company.companyName}}</a></li>
                    </ul>
                </div><br>
                <div class="columns">
                    <ul ng-repeat="company in companies | filter:{companyType:'StaffingCompany'}">
                        <!--<ul ng-repeat="company in companies">-->
                        <!--<li><a ui-sref="missioncontrol.companymanagement({bu: 'bu'})" data-dismiss="modal" ng-click="getCompany(company)">Corporation Company</a></li>-->
                        <li><a data-dismiss="modal" ng-click="getCompany(company)">{{company.companyName}}</a></li>
                    </ul>
                </div><br>
                <div class="columns">
                    <ul ng-repeat="company in companies | filter:{companyType:'Corporation'}">
                        <li><a ui-sref="missioncontrol.companymanagement({bu: 'bu'})" data-dismiss="modal" ng-click="getCompany(company)">{{company.companyName}}</a></li>
                    </ul>
                </div>
                <div ng-show="dataloading">Loading data...</div>
                </div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <a data-dismiss="modal" ng-click="addCompany()" class="btn btn-primary">Add company</a>
            </div>
        </div>
    </div>
</div>