<div class="container">
    <div class="row" ng-if="userNotifications.showFilters">
        <div class="col-xs-12">
            <div class="pull-left" style="padding: 10px;">
                <input type="checkbox" id="showUnreadNotifications" name="showUnreadNotifications" ng-model="userNotifications.showUnreadFlag"
                       ng-true-value="true" ng-false-value="false" style="margin-right: 5px;">
                <label for="showUnreadNotifications">
                    <strong>Show Unread Notifications</strong>
                </label>
            </div>
            <div style="margin: 10px;" class="pull-right">
                <span title="Click to show / hide the filter" class="pull-right filter-icon">
                    <i class="fa fa-filter fa-2x cursor-point" aria-hidden="true" id="user-notifications-open-filter"></i>
                </span>
            </div>
            <div style="margin: 10px;" class="pull-right" ng-hide="candidates.hideSearchStringFlag">
                <input class="text-center filter-style inputBoxBorder" type="text"
                       placeholder="Type to filter" ng-model="userNotifications.filterObject.text" />
            </div>
            <div class="btn-group dropdown pull-right" id="user-notifications-actions" uib-dropdown style="margin: 10px">
                <button type="button" class="btn btn-primary">Actions</button>
                <button type="button" class="btn btn-primary" data-toggle="dropdown" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span> <span class="sr-only"></span>
                </button>
                <ul uib-dropdown-menu="" role="menu">
                    <li role="menuitems">
                        <a href="" ng-click="userNotifications.performAction('markAsRead')" style="height: 30px;line-height: 30px; margin-left: 5px; padding-left: 5px;">
                            Mark as Read
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12" id="user-notifications-search-panel" style="display: none;">
            <div class="row">
                <div class="col-xs-12">
                    <div class="main-box" style="padding-top: 1%;">
                        <div class="main-box-body clearfix">
                            <form role="form" novalidate>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-3 col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label" for="userNotificationsNotificationType">Notification Type</label>
                                                    <select class="form-control" name="userNotificationsNotificationType" id="userNotificationsNotificationType"
                                                            ng-model="userNotifications.notificationsContainer.searchObject.alertType" ng-change="userNotifications.searchNotifications()">
                                                        <option value="">
                                                            Any
                                                        </option>
                                                        <option ng-repeat="alertType in userNotifications.alertTypes" value="{{alertType.value}}">
                                                            {{alertType.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-sm-3 col-md-3">
                                                <div class="form-group">
                                                    <label for="userNotificationsStartDate" class="control-label">
                                                        Start Date
                                                    </label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <div class="input-group-text">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                        </div>
                                                        <input type="text" name="userNotificationsStartDate" id="userNotificationsStartDate" class="form-control" ng-model="userNotifications.searchObjectStartDate">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-sm-3 col-md-3">
                                                <div class="form-group">
                                                    <label for="userNotificationsEndDate" class="control-label">
                                                        End Date
                                                    </label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <div class="input-group-text">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                        </div>
                                                        <input type="text" name="userNotificationsEndDate" id="userNotificationsEndDate" class="form-control" ng-model="userNotifications.searchObjectEndDate">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="clearfix">
                <div>
                    <div class="row" style="height: {{userNotifications.height}}; width: {{userNotifications.width}}; overflow-y: scroll">
                        <div class="col-xs-12" infinite-scroll="userNotifications.notificationsContainer.getNext()"
                            infinite-scroll-disabled="userNotifications.notificationsContainer.busy || userNotifications.notificationsContainer.disableInfiniteScroll"
                            infinite-scroll-parent="true">
                            <!-- -->
                            <div class="row cursor-pointer user-notification-row" ng-repeat="notification in userNotifications.notificationsContainer.notifications | filter: userNotifications.filterObject"
                                 ng-click="userNotifications.notificationClicked($event, notification)"
                                 ng-hide="userNotifications.showUnreadFlag && notification.state == 'READ'"
                                 ng-class="{'user-notification-selected-row': notification.selectedFlag}">
                                <!--ng-class="{'user-notification-unread': (notification.state == 'NEW' || notification.state == 'VIEWED')}"-->
                                <div class="col-xs-12">
                                    <div class="pull-left">
                                        <input type="checkbox" name="user-notifications-select-notification" id="user-notifications-select-notification"
                                               ng-model="notification.selectedFlag" ng-true-value="true" ng-false-value="false"
                                               style="padding-left: 5px; padding-right: 5px;" ng-if="userNotifications.showFilters" ng-click="$event.stopPropagation();">
                                    </div>
                                    <div style="padding-left: 5px; padding-right: 5px;" class="pull-left">
                                        <i class="fa fa-comment"></i>
                                    </div>
                                    <div class="pull-left">
                                        <i class="fa user-notification-unread-icon" ng-class="{'fa-circle emerald': (notification.state == 'NEW' || notification.state == 'VIEWED')}"></i>
                                    </div>
                                    <div ng-bind-html="notification.highlightedHTMLText" ng-class="{'text-overflow-ellipsis': notification.showShortMessageFlag}"></div>
                                </div>
                                <div class="col-xs-12 text-left" style="font-size:0.8em; padding-top:5px; padding-left: 10px;">
                                    <span ng-bind="notification.createdDate | fourdotfiveTimeStampFormat"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 text-center user-notification-none-found" ng-show="userNotifications.notificationsContainer.notifications.length == 0">
                            No Notifications found!
                        </div>
                        <div class="col-xs-12 no_candidates_found text-center" ng-show="userNotifications.notificationsContainer.busy">
                            <span>Loading</span>
                            <span class="fa fa-spinner fa-spin"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center cursor-pointer" ui-sref="missioncontrol.notifications({searchObject: userNotifications.notificationsContainer.searchObject, context: userNotifications.context})"
                             ng-show="(userNotifications.viewAllFlag == 'true') && (userNotifications.notificationsContainer.notifications.length > 0)"
                             style="padding-top:8px; padding-bottom:8px; border-top: 1px solid #f6f6f6;">
                            View all Notifications.
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>