<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="userNotificationsActionModal.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding" ng-bind="userNotificationsActionModal.actionLabel"></h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-xs-12" ng-if="userNotificationsActionModal.actionType === 'reviewJobPull'">
            <review-candidate-pull-from-job-boards job-id="{{userNotificationsActionModal.jobId}}"
               jbi-transaction-id="{{userNotificationsActionModal.jbiTransactionId}}">
            </review-candidate-pull-from-job-boards>
        </div>
    </div>
</div>