.user-notification-unread{
    background: #cfe8f2;
}

.user-notification-none-found{
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-notification-row{
    background-color: #ffffff;
    padding-top:8px;
    padding-bottom:8px;
    border-top: 1px solid #f6f6f6;
}

.user-notification-unread-icon{
    font-size:0.8em;
    padding-right: 5px;
}

.user-notification-selected-row{
    background-color: #f0efef !important;
}