<style>
	.modal-backdrop.fade {
		opacity: 0;
	}
	
	.modal-backdrop {
		position: initial;
	}
	#content-wrapper{
		min-height: 915px !important;
	}
</style>

<div id="content-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="slide-main-container">
				<!-- <div ui-view class=""></div> -->
				<div class="container slide-main-animation">
					<div class="row">
						<div class="col-xs-12">
							<div id="login-box">
								<div id="login-box-holder">
									<div class="row">
										<div class="col-xs-12">
											<header id="login-header">
												<div id="login-logo">
													<img ng-src={{imageUrl}}logo-symbol.png alt="" />
												</div>
											</header>
											<div id="login-box-inner">
												<form role="form" name="form.loginform" ng-submit="form.loginform.$valid && validateUser()" novalidate>
													<div>
														<div class="error" ng-if="form.loginform.$pristine">
															<small class="error" ng-if="angular.isDefined(message)">
																{{message}}</small>
														</div>
													</div>
													<div class="input-group">
														<span class="input-group-addon"><i
																class="fa fa-user"></i></span> <input class="form-control" type="text" placeholder="Email address"
															name="email" ng-model="user.email" ng-pattern="MESSAGECONSTANTS.VALIDATIONPATTERNS.EMAIL" required>
													</div>
													<div class="error" ng-show="form.loginform.$submitted && form.loginform.email.$error">
														<small class="error" ng-show="form.loginform.email.$error.required">
																{{MESSAGECONSTANTS.COMMONVALIDATIONS.EMAIL_MANDATORY}}
														</small> 
														<small class="error" ng-show="form.loginform.$dirty && form.loginform.email.$error.pattern">
																{{MESSAGECONSTANTS.COMMONVALIDATIONS.NOT_VALID_EMAIL}} 
														</small>
													</div>
													<div class="input-group">
														<span class="input-group-addon"><i
																class="fa fa-key"></i></span> <input type="password" class="form-control" placeholder="Password"
															name="password" ng-model="user.password" ng-minlength="8" ng-maxlength="15" required>

													</div>
													<div class="error" ng-show="form.loginform.$submitted && form.loginform.password.$error">
														<small class="error" ng-show="form.loginform.password.$error.required">
																{{MESSAGECONSTANTS.COMMONVALIDATIONS.PASSWORD_MANDATORY}}
														</small> 
														<small class="error" ng-show="form.loginform.password.$error.minlength">
																{{MESSAGECONSTANTS.COMMONVALIDATIONS.PASSWORD_MINLENGTH}}
														</small>
														<small class="error" ng-show="form.loginform.password.$error.maxlength">
																{{MESSAGECONSTANTS.COMMONVALIDATIONS.PASSWORD_MAXLENGTH}}
														</small>
													</div>
													<div class="error" ng-show="form.loginform.$pristine">
														<small class="error" ng-show="angular.isDefined(exception) && form.loginform.password.$valid">
																{{exception}}</small>
													</div>
													<div id="remember-me-wrapper">
														<div class="row">
															<div class="col-xs-6">
																<div class="checkbox-nice">
																	<input type="checkbox" ng-model="rememberme" id="remember-me" /> <label for="remember-me">
																			{{MESSAGECONSTANTS.LOGIN.REMEMBER_ME}}</label>
																</div>
															</div>
															<a ui-sref="forgetpassword" ui-sref-opts="{reload : true}" id="login-forget-link" class="col-xs-6"> {{MESSAGECONSTANTS.LOGIN.FORGOT_PASSWORD}} </a>
														</div>
													</div>
													<div class="row">
														<div class="col-xs-12">
															<button id="loginButton" type="submit" class="btn btn-success col-xs-12">{{MESSAGECONSTANTS.BUTTONS.LOGIN_PAGE.LOGIN}}</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>