.requisition-card-title{
    padding: 6px;
}

.requisition-card-header {
    width: 100%;
}

.requisition-card-header:hover, .requisition-card-header:visited, .requisition-card-header:link, .requisition-card-header:active
{
    text-decoration: none;
}

.requistion-card-notification {
    display: block;
    font-size: 1.4em;
    font-weight: 500;
    padding-top: 10px;
    border-radius: 3px 3px 0 0;
    background-clip: padding-box;
    transition: background-color 0.1s ease-in-out 0s;
}

.requistion-card-notification-icon>a>i {
    color: #fff !important;
}

.requistion-card-notification-icon>a.btn {
    border-bottom: 0px;
}

.requistion-card-notification-icon>a>span.count {
    background: none repeat scroll 0 0 #e84e40;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    color: #fff;
    display: block;
    font-size: 9px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 2px;
    width: 14px;
}

.requisition-card-loader-div {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
	background-clip: padding-box;
    border: 1px solid #e7ebee;
}

.requisition-card-client-or-bu-details {
  padding-top:5px;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap; 
  width: 300px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}