<div class="main-box clearfix project-box emerald-box">
        <div class="main-box-body clearfix">
            <div class="project-box-header emerald-bg" ng-show="!req.loadingFlag">
                <div class="row requisition-card-title">
                    <div class="col-xs-9 pull-left">
                        <div class="row">
                            <div class="col-xs-12 name">
                                <a ui-sref="missioncontrol.jobprofile({jobId: req.requisitionInfo.requisitionNumber})" id="reqRole" class="requisition-card-header">
                                    <span uib-tooltip="{{req.requisitionInfo.requisitionRole}}">
                                        <span>{{req.requisitionInfo.requisitionRole | limitTo : 20}}</span>
                                        <span ng-if="req.requisitionInfo.requisitionRole.length > 20">...</span>
                                    </span>
                                    <span uib-tooltip="Automated Candidate Matching">
                                            <!-- <i class="fa fa-code-fork" ng-show="req.requisitionInfo.autoMatedMatchSelected"></i> -->
                                            <i class="fa fa-cogs" ng-show="req.requisitionInfo.autoMatedMatchSelected && req.requisitionInfo.autoMatedMatchEnabled"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 name">

                                <span class="req-num" id="details-tooltip-color" uib-tooltip="Requisition Number" ng-if="(req.requisitionInfo.requisitionActualNumber.length <= 25)">
                                    <span>#</span>
                                    <span ng-bind="req.requisitionInfo.requisitionActualNumber"></span>
                                </span>
                                <span class="req-num" ng-if="(req.requisitionInfo.requisitionActualNumber.length > 25)">
                                    <span>#</span>
                                    <span ng-bind="req.requisitionInfo.requisitionActualNumber"></span>
                                </span>
                                <span class="req-date ng-binding ng-scope" ng-if="req.requisitionInfo.openDate != null && (req.requisitionInfo.openDate.length > 0)" id="details-tooltip-color" uib-tooltip="Requisition Open Date">
                                    ( <span ng-bind="req.requisitionInfo.openDate | date "></span> )
                                </span>
                            </div>
                        </div> 
                    </div>
                    <div class="col-xs-3 pull-right">
                        <div class="requistion-card-notification pull-right">
                            <div class="dropdown requistion-card-notification-icon pull-right">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" ng-click="req.requisitionInfo.userNotificationControls.setNewNotificationsAsViewed()">
                                    <i class="fa fa-bell"></i>
                                    <span class="count notification-count" ng-show="req.numberOfNewNotifications > 0">{{req.numberOfNewNotifications}}</span>
                                </a>
                                <ul class="dropdown-menu notifications-list">
                                    <li class="item">
                                        <user-notifications height="200px" width="350px" search-object="{{req.notificationsSearchObject}}" view-all-flag="true"
                                            context="requisitionCard" user-notification-controls="req.userNotificationControls" number-of-new-notifications="req.numberOfNewNotifications"></user-notifications>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="requistion-card-notification">
                            <div class="dropdown requistion-card-notification-icon pull-right">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" ng-click="req.recentActivitiesControls.getActivities()">
                                    <i class="fa fa-list"></i>
                                </a>
                                <ul class="dropdown-menu activity-list">
                                    <recent-activities activity-map="req.activityMap" recent-activities-controls="req.recentActivitiesControls"  context="requisitionCard" requisition-id="{{req.requisitionInfo.requisitionNumber}}" show-all-callback="req.showAllActivityModal(req)"></recent-activities>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="project-box-content" ng-show="!req.loadingFlag">

                <div class="row requisition-type">
                    <div class="col-xs-4">

                        <span class="text-left pull-left req-company-name" ng-if="!(req.requisitionInfo.jobType.length > 10)" uib-tooltip="{{req.requisitionInfo.jobType}}" ng-bind="req.requisitionInfo.jobType">
                                        </span>
                        <span class="text-left pull-left req-company-name" ng-if="req.requisitionInfo.jobType.length > 10" ng-bind="req.requisitionInfo.jobType"></span>
                    </div>
                    <div class="col-xs-5">
                        <span class="text-left req-company-name" id="details-tooltip-color" uib-tooltip="'Unfilled Openings' of 'Total Openings'" ng-if="req.requisitionInfo.reqLabel == 'Open'">
                            <span>{{req.requisitionInfo.noOfOpenings - req.requisitionInfo.noOfJustFilledOpenings}}</span> of <span ng-bind="req.requisitionInfo.noOfOpenings"></span>
                        </span>
                        <span class="text-left req-company-name" id="details-tooltip-color" uib-tooltip="'Filled Openings' of 'Total Openings'" ng-if="req.requisitionInfo.reqLabel == 'Filled'">
                            <span>{{req.requisitionInfo.noOfJustFilledOpenings}}</span> of <span ng-bind="req.requisitionInfo.noOfOpenings"></span>
                        </span>
                        <span class="text-left req-company-name" id="details-tooltip-color" uib-tooltip="'Joined Openings' of 'Total Openings'" ng-if="req.requisitionInfo.reqLabel == 'Joined'">
                            <span>{{req.requisitionInfo.noOfFilledOpenings}}</span> of <span ng-bind="req.requisitionInfo.noOfOpenings"></span>
                        </span>
                        <span class="text-left req-company-name" ng-bind="req.requisitionInfo.reqLabel"></span>
                    </div>
                    <div class="col-xs-3 ">
                        <span class="text-left pull-right req-company-name" ng-bind="req.requisitionInfo.requisitionStatus">
                        </span>
                    </div>
                </div>

                <div class="row" ng-if="!req.loadingFlag">
                    <div class="col-xs-6">
                        <span class="chart" easypiechart percent="req.requisitionInfo.daysToSource" options="req.requisitionInfo.daysToSourceGraphOptions"> <span
                                class="percent"></span> days<br /> <span class="lbl">to
                                source</span>
                        </span>
                    </div>
                    <div class="col-xs-6">
                        <span class="chart" easypiechart percent="req.requisitionInfo.daysToFill" options="req.requisitionInfo.daysToFillGraphOptions"> <span
                                class="percent"></span> days<br /> <span class="lbl">to
                                fill</span>
                        </span>
                    </div>
                </div>
            </div>
                    
            <div class="project-box-footer clearfix" ng-show="!req.loadingFlag">
                <a style="width: 25%" ng-click="req.redirectToJobWorkflow(req.requisitionInfo.requisitionNumber, req.requisitionInfo.requisitionRole, req.requisitionInfo.companyName, req.requisitionInfo.location.city.name, req.requisitionInfo.location.state)">
                    <span class="value" ng-bind="req.requisitionInfo.activeCandidateCount"></span> <span class="label">Active</span>
                </a>
                <a style="width: 25%" ng-click="req.redirectToJobWorkflow(req.requisitionInfo.requisitionNumber, req.requisitionInfo.requisitionRole, req.requisitionInfo.companyName, req.requisitionInfo.location.city.name, req.requisitionInfo.location.state)">
                    <span class="value" ng-bind="req.requisitionInfo.passiveCandidateCount"></span> <span class="label">Passive</span>
                </a>
                <a style="width: 25%" ng-click="req.redirectToJobWorkflow(req.requisitionInfo.requisitionNumber, req.requisitionInfo.requisitionRole, req.requisitionInfo.companyName, req.requisitionInfo.location.city.name, req.requisitionInfo.location.state)">
                    <span class="value" ng-bind="req.requisitionInfo.inertCandidateCount"></span> <span class="label">Inert</span>
                </a>
                <a style="width: 25%" href="">
                    <div class="row">
                        <div class="col-xs-12">
                            <img class="project-img-owner recruiter-image recruiter-image-resize" data-toggle="tooltip" uib-tooltip="{{req.requisitionInfo.recruiters[0]}}" src="app-content/img/samples/4dot5-default-no-profile-pic.jpg">
                            <div class="text-overflow-ellipsis reqRecruiter" uib-tooltip="{{req.requisitionInfo.recruiters[0]}}" ng-bind="req.requisitionInfo.recruiters[0]">
                            </div>
                        </div>
                    </div>
                    <span ng-if="req.requisitionInfo.recruiters.length > 1" class="recruiter-count" id="toggleforRecruit" data-toggle="popover" rel="popover" data-placement="bottom" ng-click="req.popOverActivate(req.requisitionInfo.recruiters)" popover="" data-original-title="" title="">
                        +{{req.requisitionInfo.recruiters.length - 1}}
                    </span>
                </a>
            </div>

            <div class="project-box-ultrafooter clearfix" ng-show="!req.loadingFlag">
                <div class="name pull-left requisition-card-client-or-bu-details">
                    <span class="req-company-name" ng-bind="req.requisitionInfo.companyName"></span>
                    <span ng-if="req.requisitionInfo.location != null">
                        <span ng-if="req.requisitionInfo.location.city != null && req.requisitionInfo.location.city.name != null"><b>@</b> {{req.requisitionInfo.location.city.name}},</span>
                        <span ng-if="req.requisitionInfo.location.state != null" ng-bind="req.requisitionInfo.location.state"></span>
                    </span>
                </div>
                <div class="name pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">Actions</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-action dropdown-menu-right" role="menu">
                            <li>
                                <a class="btn status" ng-click="req.redirectToUpdateRequisition(req.requisitionInfo.requisitionNumber)">
                                    Edit</a>
                            </li>
                            <li>
                                <a class="btn status " ng-class="{'action-drop-disabled': !req.requisitionInfo.canDelete}" ng-disabled="!req.requisitionInfo.canDelete" ng-click="req.requisitionInfo.canDelete && req.getRequisitionStateObject(req.MESSAGECONSTANTS.VIEW_REQUISITION.DELETE_STATE, req.requisitionInfo)" data-toggle="modal" ng-bind="req.MESSAGECONSTANTS.VIEW_REQUISITION.DELETE_STATE">
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="btn status" ng-class="{'action-drop-disabled': req.requisitionInfo.disableOpenState || req.requisitionInfo.disableOpenState ==='null'}" ng-disabled="req.requisitionInfo.disableOpenState" data-toggle="modal" ng-if="req.requisitionInfo.requisitionStatus !== 'SOURCED'" ng-click="!req.requisitionInfo.disableOpenState && req.getRequisitionStateObject(req.MESSAGECONSTANTS.VIEW_REQUISITION.CONTINUE_STATE, req.requisitionInfo)">
                                    <span ng-if="req.requisitionInfo.requisitionStatus != 'Paused' && req.requisitionInfo.requisitionStatus != 'Canceled' && req.requisitionInfo.requisitionStatus != 'Sourced'"  ng-bind="req.MESSAGECONSTANTS.VIEW_REQUISITION.OPEN_STATE">

                                    </span>
                                    <span ng-if="req.requisitionInfo.requisitionStatus == 'Canceled'"  ng-bind="req.MESSAGECONSTANTS.VIEW_REQUISITION.REOPEN_STATE">

                                    </span>
                                    <span ng-if="req.requisitionInfo.requisitionStatus == 'Paused'"
                                          ng-bind="req.MESSAGECONSTANTS.VIEW_REQUISITION.CONTINUE_STATE">
                                    </span>
                                    <span ng-if="req.requisitionInfo.requisitionStatus == 'Sourced'"
                                          ng-bind="req.MESSAGECONSTANTS.VIEW_REQUISITION.REOPEN_FOR_MATCHING_STATE">
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a class="btn status" ng-class="{'action-drop-disabled': req.requisitionInfo.disableSourcedState || req.requisitionInfo.disableSourcedState ==='null'}" ng-disabled="req.requisitionInfo.disableSourcedState" data-toggle="modal" ng-click="!req.requisitionInfo.disableSourcedState && req.getRequisitionStateObject(req.MESSAGECONSTANTS.VIEW_REQUISITION.SOURCE_STATE, req.requisitionInfo)"
                                   ng-bind="req.MESSAGECONSTANTS.VIEW_REQUISITION.SOURCE_STATE">
                                </a>
                            </li>
                            <li>
                                <a class="btn status" ng-class="{'action-drop-disabled': req.requisitionInfo.disablePausedState || req.requisitionInfo.disablePausedState ==='null'}" ng-disabled="req.requisitionInfo.disablePausedState" data-toggle="modal" ng-click="!req.requisitionInfo.disablePausedState && req.getRequisitionStateObject(req.MESSAGECONSTANTS.VIEW_REQUISITION.PAUSE_STATE, req.requisitionInfo)"
                                   ng-bind="req.MESSAGECONSTANTS.VIEW_REQUISITION.PAUSE_STATE">
                                </a>
                            </li>
                            <li>
                                <a class="btn status" ng-class="{'action-drop': req.requisitionInfo.disableCancelState || req.requisitionInfo.disableCancelState ==='null'}" ng-disabled="req.requisitionInfo.disableCancelState" data-toggle="modal" ng-click="!req.requisitionInfo.disableCancelState && req.getRequisitionStateObject(req.MESSAGECONSTANTS.VIEW_REQUISITION.CANCEL_STATE, req.requisitionInfo)"
                                   ng-bind="req.MESSAGECONSTANTS.VIEW_REQUISITION.CANCEL_STATE">

                                </a>
                            </li>
                            <li>
                                <a class="btn status" ng-class="{'action-drop-disabled': req.requisitionInfo.disableCompleteState || req.requisitionInfo.disableCompleteState ==='null'}" ng-disabled="req.requisitionInfo.disableCompleteState" data-toggle="modal" ng-click="!req.requisitionInfo.disableCompleteState && req.getRequisitionStateObject(req.MESSAGECONSTANTS.VIEW_REQUISITION.COMPLETE_STATE, req.requisitionInfo)"
                                   ng-bind="req.MESSAGECONSTANTS.VIEW_REQUISITION.COMPLETE_STATE">

                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="btn status" ng-class="{'action-drop-disabled': req.requisitionInfo.disableFilledState || req.requisitionInfo.disableFilledState ==='null'}" ng-disabled="req.requisitionInfo.disableFilledState" data-toggle="modal" ng-click="!req.requisitionInfo.disableFilledState && req.getRequisitionStateObject(req.MESSAGECONSTANTS.VIEW_REQUISITION.FILL_STATE, req.requisitionInfo)"
                                   ng-bind="req.MESSAGECONSTANTS.VIEW_REQUISITION.FILL_STATE">

                                </a>
                            </li>
                            <li>
                                <a class="btn status" ng-class="{'action-drop-disabled': req.requisitionInfo.disableFilledCandidate || req.requisitionInfo.disableFilledCandidate ==='null'}" ng-disabled="req.requisitionInfo.disableFilledCandidate" data-toggle="modal" ng-click="!req.requisitionInfo.disableFilledCandidate && req.getRequisitionStateObject(req.MESSAGECONSTANTS.VIEW_REQUISITION.REMOVE_FILLED_CANDIDATE, req.requisitionInfo)"
                                   ng-bind="req.MESSAGECONSTANTS.VIEW_REQUISITION.REMOVE_FILLED_CANDIDATE">
                                </a>
                            </li>
                            <li>
                                <a class="btn status" ng-class="{'action-drop-disabled': req.requisitionInfo.disableJoinState || req.requisitionInfo.disableJoinState ==='null'}" ng-disabled="req.requisitionInfo.disableJoinState" data-toggle="modal" ng-click="!req.requisitionInfo.disableJoinState && req.getRequisitionStateObject(req.MESSAGECONSTANTS.VIEW_REQUISITION.JOIN_STATE, req.requisitionInfo)"
                                   ng-bind="req.MESSAGECONSTANTS.VIEW_REQUISITION.JOIN_STATE">
                                </a>
                            </li>
                            <li>
                                <a class="btn status" ng-class="{'action-drop-disabled': req.requisitionInfo.setDisableCompletedCandidate  || req.requisitionInfo.setDisableCompletedCandidate  ==='null'}" ng-disabled="req.requisitionInfo.disableCompletedCandidate" data-toggle="modal" ng-click="!req.requisitionInfo.disableCompletedCandidate && req.getRequisitionStateObject(req.MESSAGECONSTANTS.VIEW_REQUISITION.REMOVE_JOINED_CANDIDATE, req.requisitionInfo)" ng-bind="req.MESSAGECONSTANTS.VIEW_REQUISITION.REMOVE_JOINED_CANDIDATE">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="req.loadingFlag" class="requisition-card-loader-div text-center">
                <span class="fa fa-2x fa-spinner fa-spin"></span>
            </div>
        </div>
    </div>
   