<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="requisitionAction.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding">{{requisitionAction.requisitionSPOC.currentStateName}} Requisition</h4>
</div>
<form role="form" name="requisitionAction.actionform" id="actionform" ng-submit="requisitionAction.actionform.$valid  && requisitionAction.modifyRequisitionStates(requisitionAction.requisitionSPOC,'Forward')"
    novalidate="">
    <div class="modal-body">
        <div class="form-group wrap-text-in">
            <label class="modal-body-font-size ng-scope" ng-if="requisitionAction.requisitionSPOC.currentStateName!==requisitionAction.MESSAGECONSTANTS.VIEW_REQUISITION.FILLED_STATE && requisitionAction.requisitionSPOC.currentStateName!== requisitionAction.MESSAGECONSTANTS.VIEW_REQUISITION.JOINED_STATE">
                <span class="updateReqtextcolor">'{{requisitionAction.requisitionSPOC.currentStateName}}' </span>the
                Requisition
                <span class="updateReqtextcolor "> '{{requisitionAction.requisitionSPOC.Role}}' </span> 
                <span ng-if="requisitionAction.requisitionSPOC.Company !== null || requisitionAction.requisitionSPOC.Company !== undefined">for  <span class="updateReqtextcolor">'{{requisitionAction.requisitionSPOC.Company}}'</span></span>
            </label>
           <div ng-if="requisitionAction.requisitionSPOC.currentStateName === 'Delete'">
                <p>This action cannot be <b>undone</b>.</p>
            <p>All candidate matches associated with this job requisition will be deleted.</p>
            <p>Number of candidates matching this job is <span class="emerald">{{requisitionAction.requisitionSPOC.activeCandidateCount + requisitionAction.requisitionSPOC.passiveCandidateCount + requisitionAction.requisitionSPOC.inertCandidateCount}}.</span></p>
            <p>The job requisition will then be deleted.</p>
           </div>
            <label class="modal-body-font-size">
                <br> Are you sure you want to continue?
            </label>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-6" ng-class="{'has-error':(requisitionAction.actionform.$submitted && requisitionAction.actionform.fromDate.$invalid)}">
                    <label for="currentDate">Date</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <input type="text" class="form-control access ng-pristine ng-untouched ng-valid ng-valid-required"
                            placeholder="mm-dd-yyyy" id="currentDate" name="currentDate" ng-model="requisitionAction.requisitionSPOC.date"
                            required="" ng-focus="requisitionAction.actionform.fromDate.focused = true" ng-blur="requisitionAction.actionform.fromDate.focused = false"
                            ng-disabled="true">
                    </div>
                    <div class="error error-gap ng-hide" ng-show="requisitionAction.actionform.$submitted">
                        <small ng-show="requisitionAction.actionform.fromDate.$error.required" class="ng-hide" style=""><em>*</em>
                            Date is required</small>
                    </div>
                </div>

                <div class="col-xs-6" ng-class="{'has-error':(requisitionAction.actionform.$submitted && requisitionAction.actionform.time.$invalid)}">
                    <label for="time">Time</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </span>
                        <input type="text" class="form-control access ng-untouched ng-dirty ng-valid ng-valid-required"
                            placeholder="hh:mm:ss" ng-model="requisitionAction.requisitionSPOC.time" id="time" name="time"
                            required="" ng-disabled="true">
                    </div>
                    <div class="error error-gap ng-hide" ng-show="requisitionAction.actionform.$submitted">
                        <small ng-show="requisitionAction.actionform.time.$error.required" class="ng-hide" style=""><em>*</em>
                            Time is required </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row" ng-if="requisitionAction.requisitionSPOC.currentStateName === requisitionAction.MESSAGECONSTANTS.VIEW_REQUISITION.FILL_STATE || requisitionAction.requisitionSPOC.currentStateName === requisitionAction.MESSAGECONSTANTS.VIEW_REQUISITION.JOIN_STATE || requisitionAction.requisitionSPOC.currentStateName === requisitionAction.MESSAGECONSTANTS.VIEW_REQUISITION.REMOVE_FILLED_CANDIDATE || requisitionAction.requisitionSPOC.currentStateName === requisitionAction.MESSAGECONSTANTS.VIEW_REQUISITION.REMOVE_JOINED_CANDIDATE">
                <div class="col-xs-12" ng-class="{'has-error':(requisitionAction.actionform.$submitted && requisitionAction.requisitionSPOC.candidate === undefined)}">
                    <label for="interviewCompletedCandidate">Candidate<em> * </em></label>
                    <select name="interviewCompletedCandidate" id="interviewCompletedCandidate" class="form-control btn btn-secondary inputBoxBorder dropdown-toggle"
                        data-ng-options="t.name for t in requisitionAction.candidates" data-ng-model="requisitionAction.requisitionSPOC.candidate">
                    </select>
                    <div class="error error-gap ng-hide" ng-show="requisitionAction.actionform.$submitted">
                        <small ng-show="requisitionAction.actionform.interviewCompletedCandidate.$error.required || requisitionAction.requisitionSPOC.candidate === undefined"
                            class=""><em>*</em>
                            Please select a candidate</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error':(requisitionAction.actionform.$submitted && requisitionAction.actionform.note.$invalid)}">
            <label>Note <em> * </em></label>
            <div>
                <textarea name="note" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength"
                    style="height: 100px; width: 100%;resize: none;" maxlength="503" ng-model="requisitionAction.requisitionSPOC.note"
                    required="" ng-focus="requisitionAction.actionform.note.focused = true" ng-blur="requisitionAction.actionform.note.focused = false">									</textarea>
            </div>

            <div class="error error-gap ng-hide" ng-show="requisitionAction.actionform.$submitted">
                <small ng-show="requisitionAction.actionform.note.$error.required" class=""><em>*</em>
                    Note is required</small>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="requisitionAction.closeModal()">Cancel</button>
            <button type="submit" class="btn btn-primary">Ok</button>
        </div>
    </div>
</form>