<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="backwardAction.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding">{{backwardAction.requisitionSPOC.titleName}}</h4>
</div>
<form role="form" name="backwardAction.backwardactionform" id="backwardactionform" ng-submit="backwardAction.backwardactionform.$valid && backwardAction.modifyRequisitionStates(backwardAction.requisitionSPOC,'Backward')"
    novalidate="" class="ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength">
    <div class="modal-body">

        <div class="form-group wrap-text-in">
            <label class="modal-body-font-size" ng-if="backwardAction.requisitionSPOC.titleName != backwardAction.MESSAGECONSTANTS.VIEW_REQUISITION.REMOVE_FILLED_CANDIDATE && backwardAction.requisitionSPOC.titleName != backwardAction.MESSAGECONSTANTS.VIEW_REQUISITION.REMOVE_JOINED_CANDIDATE">
                <span class="updateReqtextcolor">'{{backwardAction.requisitionSPOC.currentStateName}}' </span>the
                Requisition
                <span class="updateReqtextcolor "> '{{backwardAction.requisitionSPOC.Role}}' </span>for
                <span class="updateReqtextcolor "> '{{backwardAction.requisitionSPOC.Company}}'</span>
            </label> <label class="modal-body-font-size">
                <br> Are you sure you want to continue?
            </label>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-6" ng-class="{'has-error':(backwardAction.backwardactionform.$submitted && backwardAction.backwardactionform.fromDate.$invalid)}">
                    <label for="date">Date <em> * </em></label>
                    <div class="input-group">
                        <span class="input-group-addon"> <i class="fa fa-calendar"></i></span> <input type="text" class="form-control"
                            placeholder="mm-dd-yyyy" id="fromDate" name="fromDate" ng-model="backwardAction.requisitionSPOC.date"
                            required="" ng-focus="backwardAction.backwardactionform.fromDate.focused = true" ng-blur="backwardAction.backwardactionform.fromDate.focused = false"
                            style="">
                    </div>
                    <div class="error error-gap" ng-show="backwardAction.backwardactionform.$submitted">
                        <small ng-show="backwardAction.backwardactionform.fromDate.$error.required " class="ng-hide"
                            style=""><em>*</em>
                            Date is required</small>
                    </div>
                </div>

                <div class="col-xs-6" ng-class="{'has-error':(backwardAction.backwardactionform.$submitted && backwardAction.backwardactionform.time.$invalid)}">
                    <label for="time">Time <em> * </em></label>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                        <input type="text" class="form-control" placeholder="hh:mm:ss" ng-model="backwardAction.requisitionSPOC.time"
                            id="time-pooja" name="time" required="" style="">
                    </div>
                    <div class="error error-gap ng-hide" ng-show="backwardAction.backwardactionform.$submitted">
                        <small ng-show="backwardAction.backwardactionform.time.$error.required " class="ng-hide" style=""><em>*</em>
                            Time is required </small>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':(backwardAction.backwardactionform.$submitted && backwardAction.requisitionSPOC.candidate === undefined)}"
            ng-if="backwardAction.requisitionSPOC.titleName === backwardAction.MESSAGECONSTANTS.VIEW_REQUISITION.FILL_STATE || backwardAction.requisitionSPOC.titleName === backwardAction.MESSAGECONSTANTS.VIEW_REQUISITION.JOIN_STATE || backwardAction.requisitionSPOC.titleName === MESSAGECONSTANTS.VIEW_REQUISITION.REMOVE_FILLED_CANDIDATE || backwardAction.requisitionSPOC.titleName === backwardAction.MESSAGECONSTANTS.VIEW_REQUISITION.REMOVE_JOINED_CANDIDATE">
            <label for="candidateSelected">Candidate <em> * </em></label>
            <select id="candidateSelected" class="form-control btn btn-secondary inputBoxBorder dropdown-toggle"
                data-ng-options="t.name for t in backwardAction.candidates" data-ng-model="backwardAction.requisitionSPOC.candidate">
            </select>
            <div class="error error-gap ng-hide" ng-show="actionform.$submitted">
                <small ng-show="backwardAction.backwardactionform.candidateSelected.$error.required || backwardAction.requisitionSPOC.candidate === undefined"
                    class=""><em>*</em>
                    Please select a candidate to remove</small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':(backwardAction.backwardactionform.$submitted && backwardAction.backwardactionform.note.$invalid)}">
            <label for="note">Note <em> * </em></label>
            <div>
                <textarea name="note" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength"
                    style="height: 100px; width: 100%; resize: none;" maxlength="503" ng-model="backwardAction.requisitionSPOC.note"
                    required="" ng-focus="backwardAction.backwardactionform.note.focused = true" ng-blur="backwardAction.backwardactionform.note.focused = false">
                            </textarea>
            </div>

            <div class="error error-gap ng-hide" ng-show="backwardAction.backwardactionform.$submitted">
                <small ng-show="backwardAction.backwardactionform.note.$error.required" class=""><em>*</em>
                    Note is required</small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="backwardAction.closeModal()">Cancel</button>
        <button type="submit" class="btn btn-primary">Ok</button>
    </div>
</form>