<style>
    .unassigned-add-row{
        background-color: beige !important;
    }
</style>
<div class="approw">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a ui-sref="missioncontrol.dashboard">Home</a></li>
                <li class="active"><span>Manage Assessments</span></li>
            </ol>
            <h1 class="heading-css">Manage Assessments</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="padding: 20px;">
            <!--<div class="main-box clearfix">-->
                <!--<div class="main-box-body clearfix" style="padding-top: 20px;">-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-12 col-md-8">-->
                            <!--<div class="pull-left">-->
                                <!--<h2>-->
                                    <!--<b>Sync Assessments</b>-->
                                <!--</h2>-->
                            <!--</div>-->
                            <div class="pull-right">
                                <div class="btn-group pull-right">
                                    <a class="btn btn-primary" ng-click="assessManage.syncAssessments()" ng-disabled="assessManage.disableSyncAssessmentsButtonFlag">
                                        <span ng-show="assessManage.syncInProgressFlag">Syncing ...</span>
                                        <span ng-show="!assessManage.syncInProgressFlag">Sync Assessments</span>
                                    </a>
                                </div>
                            </div>
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="main-box clearfix" >
                <div class="main-box-body clearfix" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12" style="height: 40px; padding-left: 30px; padding-right: 30px;">
                                    <div class="pull-left">
                                        <h2>
                                            <b>Available Assessments</b>
                                        </h2>
                                    </div>
                                    <div class="pull-right">
                                        <div class="btn-group pull-right">
                                            <a class="btn btn-primary" ng-click="assessManage.assignAssessments()" ng-disabled="assessManage.disableAssignAssessmentsButtonFlag">
                                                <span ng-show="assessManage.assignInProgressFlag">Assigning ...</span>
                                                <span ng-show="!assessManage.assignInProgressFlag">Assign Assessments ({{assessManage.assessmentsToAssign.length}})</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="main-box table-responsive" style="padding: 5px; margin: 10px; height: 610px;">
                                        <table class="table" id="unAssignedAssessmentsTable" datatable="ng">
                                            <thead>
                                            <tr>
                                                <th class="text-center">
                                                    Id
                                                </th>
                                                <th class="text-center">
                                                    Type
                                                </th>
                                                <th class="text-center">
                                                    Name
                                                </th>
                                                <th class="text-center">
                                                    Duration
                                                </th>
                                                <th class="text-center">
                                                    Questions
                                                </th>
                                                <th>
                                                    Select
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="assessment in assessManage.unAssignedAssessments" ng-class="{'unassigned-add-row': assessment.addFlag}">
                                                <td class="text-center" ng-bind="assessment.testId">
                                                </td>
                                                <td class="text-center" ng-bind="assessment.testType">
                                                </td>
                                                <td class="text-center">
                                                    <span uib-tooltip="{{assessment.testName}}">
                                                        <span>{{assessment.testName | limitTo : 15}}</span>
                                                        <span ng-if="assessment.testName.length > 15">...</span>
                                                    </span>
                                                </td>
                                                <td class="text-center" ng-bind="assessment.duration">
                                                </td>
                                                <td class="text-center" ng-bind="assessment.questions">
                                                </td>
                                                <td class="text-center">
                                                    <input type="checkbox" id="assessmentAddCheckbox" ng-model="assessment.addFlag" ng-true-value="true" ng-false-value="false" ng-click="assessManage.addAssessment(assessment)" />
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12" style="height: 40px; padding-left: 30px; padding-right: 30px;">
                                    <div class="pull-left">
                                        <h2>
                                            <b>Assigned Assessments</b>
                                        </h2>
                                    </div>
                                    <div class="pull-right">
                                        <div class="btn-group pull-right">
                                            <a class="btn btn-primary" ng-click="assessManage.removeAssessments()" ng-disabled="assessManage.disableRemoveAssessmentsButtonFlag">
                                                <span ng-show="assessManage.removeInProgressFlag">Removing ...</span>
                                                <span ng-show="!assessManage.removeInProgressFlag">Remove Assessments ({{assessManage.assessmentsToRemove.length}})</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="main-box table-responsive" style="padding: 5px; margin: 10px; height: 610px;">
                                        <table class="table" id="assignedAssessmentsTable" datatable="ng">
                                            <thead>
                                            <tr>
                                                <th class="text-center">
                                                    Id
                                                </th>
                                                <th class="text-center">
                                                    Type
                                                </th>
                                                <th class="text-center">
                                                    Name
                                                </th>
                                                <th class="text-center">
                                                    Duration
                                                </th>
                                                <th class="text-center">
                                                    Questions
                                                </th>
                                                <th>
                                                    Remove
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="assessment in assessManage.assignedAssessments">
                                                <td class="text-center" ng-bind="assessment.testId">
                                                </td>
                                                <td class="text-center" ng-bind="assessment.testType">
                                                </td>
                                                <td class="text-center">
                                                    <span uib-tooltip="{{assessment.testName}}">
                                                        <span>{{assessment.testName | limitTo : 15}}</span>
                                                        <span ng-if="assessment.testName.length > 15">...</span>
                                                    </span>
                                                </td>
                                                <td class="text-center" ng-bind="assessment.duration">
                                                </td>
                                                <td class="text-center" ng-bind="assessment.questions">
                                                </td>
                                                <td class="text-center">
                                                    <input type="checkbox" id="assessmentRemoveCheckbox" ng-model="assessment.removeFlag" ng-true-value="true" ng-false-value="false" ng-click="assessManage.removeAssessment(assessment)" />
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>