<div class="row">
    <div class="col-lg-12">
        <div id="content-header" class="clearfix">
            <div class="pull-left">
                <ol class="breadcrumb">
                    <li><a href="" ui-sref="missioncontrol.dashboard">Home</a></li>
                    <li><a href="" ui-sref="{{jobProfileView.breadCrumbStateAddress}}"><span ng-bind="jobProfileView.breadCrumbLabel"></span></a></li>
                    <li class="active">Job Profile</li>
                </ol>
                <h1 class="heading-css">Job Profile</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <job-profile job-id="{{jobProfileView.jobId}}"></job-profile>
    </div>
</div>