<div class="row">
    <div class="col-lg-12">
        <div id="content-header" class="clearfix">
            <div class="pull-left">
                <ol class="breadcrumb">
                    <li><a href="">Home</a></li>
                    <li><a href="" ng-click="breadCrumb()"><span>{{breadcrumb}}</span></a></li>
                    <li class="active">Compare Candidates</li>
                </ol>
                <h1 class="heading-css">Compare Candidates</h1>
            </div>
        </div>
    </div>
</div>

<!-- 
    ui-sref="missioncontrol.candidates({'candidatesType':'All','teamMemberName':'All'})"
    <div class="row">
	<div class="col-lg-12">
		{{candidateCompare.jobData}}
	</div>
	<div class="col-lg-12">
		{{candidateCompare.candidatesData}}
	</div>
</div> -->

<div class="row">
    <div class="col-lg-12">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2>Candidate Compare</h2>
            </header>

            <div class="main-box-body clearfix">
                <div class="row" vertilize-container>
                <div class="col-xs-3 pricing-package" vertilize>
                    <div class="pricing-package-inner">
                        <div class="package-header">
                            <span class="stars center-block"> <i class="fa fa-star"></i>
							</span>
                            <h3 ng-bind="jobType">{{jobType}}</h3>
                        </div>
                        <div class="package-content">
                            <div class="package-price">
                                <span class="currency" ng-bind="companyName">{{companyName}}</span>
                                <!-- <span class="price">9</span> -->
                                <!-- <span class="package-month" ng-bind="' ( ' + job.jobLocation + ' )'"></span> -->
                            </div>
                            <div ng-repeat="Asset in jobDetail[0].Asset">
                                <ul class="package-top-features">
                                    <li>{{Asset.AssetType}}</li>

                                    <ul ng-if="detail.AssetName!=''" class="package-features education-assets" style="padding-top: 15px;padding-bottom: 5px;"
                                        ng-repeat="detail in Asset.AssetTypeDetails">
                                        <li style="border-bottom: none;border-top: none;text-align: left;" ng-if="detail.AssetDetails!='' && detail.RequiredOptionalNA!='NA'">
                                            {{detail.AssetName}} : {{detail.AssetDetails}} {{detail.AssetValueRequirement}} : {{detail.RequiredOptionalNA}}
                                        </li>
                                        <li style="border-bottom: none;border-top: none;text-align: left;" ng-if="detail.AssetDetails==''  && detail.RequiredOptionalNA!='NA'">
                                            {{detail.AssetName}} : {{detail.RequiredOptionalNA}}
                                        </li>
                                        <li style="border-bottom: none;border-top: none;text-align: left;" ng-if="detail.AssetDetails!='' && detail.RequiredOptionalNA=='NA'">
                                            {{detail.AssetName}} : {{detail.AssetDetails}} {{detail.AssetValueRequirement}}
                                        </li>
                                        <li style="border-bottom: none;border-top: none;text-align: left;" ng-if="detail.AssetDetails=='' && detail.AssetValueRequirement !='' && detail.RequiredOptionalNA=='NA'">
                                            {{detail.AssetName}} : {{detail.AssetValueRequirement}}
                                        </li>
                                        <li style="border-bottom: none;border-top: none;text-align: left;" ng-if="detail.AssetDetails=='' && detail.AssetValueRequirement =='' && detail.RequiredOptionalNA=='NA'">
                                            {{detail.AssetName}}
                                        </li>
                                    </ul>
                                    <ul ng-if="detail.AssetName==''" class="package-features education-assets" style="padding-top: 15px;padding-bottom: 5px;"
                                        ng-repeat="detail in Asset.AssetTypeDetails">
                                        <li style="border-bottom: none;border-top: none;text-align: left;height: 27px;padding-left: 0px;">
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-xs-3 pricing-package respi" ng-repeat="candidate in selectedCandidatesDetail" vertilize>
                    <div class="pricing-package-inner candidate-pricing-package">
                        <div class="package-header">
                            <span class="stars center-block"> <i class="fa fa-star"></i>
							</span>
                            <h3 ng-bind="candidate.candidateName"></h3>
                        </div>
                        <div class="package-content">
                            <div class="package-price">
                            </div>
                            <div class="candidate" ng-repeat="Asset in candidate.Asset">
                                <ul class="package-top-features">
                                    <li>{{Asset.AssetType}}</li>

                                    <ul class="package-features" ng-repeat="detail in Asset.AssetTypeDetails" style="padding-top: 15px;padding-bottom: 5px;">

                                        <li style="border-bottom: none;border-top: none;text-align: left;padding-left: 0px;" ng-if="detail.isSummary=='true'" ng-click="expand(detail)">{{detail.CandidateData}}
                                        </li>
                                        <li style="text-align: left;padding-left: 0px;" ng-if="detail.isSummary=='true'" ng-show="detail.show">Health is the level of functional and metabolic efficiency of a living organism.
                                            In humans it is the ability of individuals or communities to adapt and self-manage
                                            when facing physical, mental or social changes.[1] The World Health Organization
                                            (WHO) defined health in its broader sense in its 1948 constitution as "a state
                                            of complete physical, mental, and social well-being and not merely the absence
                                            of disease or infirmity."[2][3] This definition has been subject to controversy,
                                            in particular as lacking operational value, the ambiguity in developing cohesive
                                            health strategies, and because of the problem created by use of the word "complete".[4][5][6]
                                            Other definitions have been proposed, among which a recent definition that correlates
                                            health and personal satisfaction.[7][8] Classification systems such as the WHO
                                            Family of International Classifications, including the International Classification
                                            of Functioning, Disability and Health (ICF) and the International Classification
                                            of Diseases (ICD), are commonly used to define and measure the components of
                                            health</li>
                                        <li class="match" style="border-bottom: none;border-top: none;text-align: left;padding-left: 0px;" ng-if="detail.isSummary=='false' && detail.CandidatematchType =='Match'"
                                            ng-click="expand(detail)">
                                            <i style="color:#8bc34a;" class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                            <span style="margin-left: 7px" ng-if="detail.CandidateData.length >55"> {{detail.CandidateData | limitTo:55}}...</span>
                                            <span style="margin-left: 7px" ng-if="detail.CandidateData.length <=55"> {{detail.CandidateData}}</span>
                                        </li>
                                        <li style="border-bottom: none;border-top: none;text-align: left;padding-left: 0px;" ng-if=" detail.isSummary=='false'&& detail.CandidatematchType != 'Match'"
                                            ng-click="expand(detail)"><i ng-if="detail.CandidatematchType=='Almost'" style="color:#ffc107" class="fa fa-hourglass-half fa-lg"
                                                aria-hidden="true"></i><i ng-if="detail.CandidatematchType=='Missing'" class="fa fa-thumbs-down fa-lg"
                                                style="color:#e84e40" aria-hidden="true"></i><i ng-if="detail.CandidatematchType=='Additional'"
                                                style="color:#03a9f4" class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
                                            <span style="margin-left: 7px" ng-if="detail.CandidateData.length >55"> {{detail.CandidateData | limitTo:55}}...</span>
                                            <span style="margin-left: 7px" ng-if="detail.CandidateData.length <=55"> {{detail.CandidateData}}</span>
                                        </li>
                                        <li style="text-align: left;padding-left: 0px;" ng-if="detail.CandidateData.length>55 && detail.isSummary=='false'" ng-show="detail.show">{{detail.CandidateData}}</li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>