<div class="row">
    <div class="col-lg-12">
        <div id="content-header" class="clearfix">
            <div class="pull-left">
                <ol class="breadcrumb">
                    <li><a href="" ui-sref="missioncontrol.dashboard">Home</a></li>
                    <li><a href="" ui-sref="missioncontrol.candidates"><span>Candidates</span></a></li>
                    <li class="active">Candidate Job Comparison</li>
                </ol>
                <h1 class="heading-css">Candidate Job Comparison</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <candidate-job-comparison job-match-id="{{candidateJobComparisonView.jobMatchId}}"></candidate-job-comparison>
    </div>
</div>
