<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form role="form" name="setJobMatchStatus.setStatusForm" novalidate>
                <div class="row" style="margin-bottom: 10px">
                    <!--<div class="col-xs-12 job-match-status-statement">-->
                        <!--<span>-->
                            <!--Marking the candidate '<span ng-bind="setJobMatchStatus.candidateName" class="emerald"></span>' as '<span class="emerald" ng-bind="setJobMatchStatus.statusDisplayLabel"></span>'-->
                            <!--for role of '<span class="emerald" ng-bind="setJobMatchStatus.jobTitle"></span>' at '<span class="emerald" ng-bind="setJobMatchStatus.clientName"></span>'-->
                        <!--</span>-->
                    <!--</div>-->
                    <div class="col-xs-12" ng-repeat="jobMatch in setJobMatchStatus.jobMatchesDataArray" style="padding: 10px; padding-top: 5px;">
                        <span>
                            <span>Marking the candidate </span>
                            <span ng-show="jobMatch.loadingFlag" style="padding-left: 10px;">
                                <span class="fa fa-spinner fa-spin"></span>
                            </span>
                            <span ng-show="!(jobMatch.loadingFlag)">
                                '<span ng-bind="jobMatch.jobMatchData.name" class="emerald"></span>' as '<span class="emerald" ng-bind="setJobMatchStatus.statusDisplayLabel"></span>'
                                for the role of '<span class="emerald" ng-bind="jobMatch.jobMatchData.jobMatchTitle"></span>' at '<span class="emerald" ng-bind="jobMatch.jobMatchData.jobMatchClientName"></span>'
                            </span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group" ng-class="{'has-error': (setJobMatchStatus.setStatusForm.$submitted && setJobMatchStatus.setStatusForm.notes.$invalid)}">
                            <label for="notes" class="control-label">
                                Notes<em>*</em> :
                            </label>
                            <textarea id="notes" name="notes" class="form-control" rows="3" placeholder="Enter your note.." ng-model="setJobMatchStatus.notes" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="clearfix">
                            <button type="submit" class="btn btn-success" ng-click="setJobMatchStatus.setJobMatchStatus()" ng-disabled="setJobMatchStatus.savingFlag">
                                <span ng-if="!setJobMatchStatus.savingFlag">Save</span>
                                <span ng-if="setJobMatchStatus.savingFlag">Saving..</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>