<div class="modal-header" style="padding: 15px !important; border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="activityModal.closeModal()">×</button>
    <h4 class="modal-title wrap-text-in ng-binding">Requisition Activity</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-xs-12" style="padding:15px;">
            Activity details for requisition <span class="emerald">{{activityModal.role}}</span> with requisition number
            <span class="emerald">{{activityModal.requisitionNumber}}</span> for <span class="emerald">{{activityModal.clientName}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <requisition-activity job-id="{{activityModal.jobId}}"></requisition-activity>
        </div>
    </div>
</div>