<div class="candidate-profile-container">
    <div ng-if="!candidateProfile.loadingFlag" class="animate-if main-box">
        <div class="row">
            <div class="col-lg-12">
                <div class="infographic-box">
                    <div class="row candidate-profile-header">
                        <div class="col-xs-12 text-center">
                            <div class="candidate-profile-name">
                                <span>
                                    <strong>{{candidateProfile.candidate.name}}</strong>
                                    <span class="fa-stack fa candidate-profile-contact-error-icon" ng-if="candidateProfile.candidate.phoneConflicted" tooltip-placement="bottom" uib-tooltip-html="candidateProfile.phoneInConflictToolTipMessage">
                                        <span class="fa fa-phone fa-stack-1x"></span>
                                        <span class="fa fa-exclamation fa-stack-2x red"></span>
                                    </span>
                                    <span class="fa-stack fa candidate-profile-contact-error-icon" ng-if="candidateProfile.candidate.phoneIncomplete" tooltip-placement="bottom" uib-tooltip-html="candidateProfile.phoneMissingToolTipMessage">
                                        <span class="fa fa-phone fa-stack-1x"></span>
                                        <span class="fa fa-ban fa-stack-2x red"></span>
                                    </span>
                                    <span class="fa-stack fa candidate-profile-contact-error-icon" ng-if="candidateProfile.candidate.emailConflicted" tooltip-placement="bottom" uib-tooltip-html="candidateProfile.emailInConflictToolTipMessage">
                                        <span class="fa fa-envelope fa-stack-1x"></span>
                                        <span class="fa fa-exclamation fa-stack-2x red"></span>
                                    </span>
                                    <span class="fa-stack fa candidate-profile-contact-error-icon" ng-if="candidateProfile.candidate.emailIncomplete" tooltip-placement="bottom" uib-tooltip-html="candidateProfile.emailMissingToolTipMessage">
                                        <span class="fa fa-envelope fa-stack-1x"></span>
                                        <span class="fa fa-ban fa-stack-2x red"></span>
                                    </span>
                                    <span class="fa fa-pencil candidate-profile-edit-contact pointer" ng-click="candidateProfile.launchActionsModal('updateContact')" tooltip-placement="bottom" uib-tooltip="Edit Candidate Contact Details"></span>
                                </span>
                            </div>
                            <div class="candidate-profile-url pointer" ng-if="candidateProfile.showProfileUrlFlag">
                                <a target="_blank" href="{{candidateProfile.candidate.profileUrl}}">{{candidateProfile.candidate.profileUrlText}}</a>
                            </div>
                            <div class="candidate-profile-phone" ng-if="candidateProfile.candidate.mobilePhone != '-'">
                                {{candidateProfile.candidate.mobilePhone}}
                            </div>
                            <div class="candidate-profile-email" ng-if="candidateProfile.candidate.email != '-'">
                                {{candidateProfile.candidate.email}}
                            </div>
                            <div class="candidate-profile-address" ng-if="candidateProfile.candidate.displayAddress1 != '-'">
                                {{candidateProfile.candidate.displayAddress1}}
                            </div>
                            <div class="candidate-profile-address" ng-if="candidateProfile.candidate.displayAddress2 != '-'">
                                {{candidateProfile.candidate.displayAddress2}}
                            </div>
                        </div>
                        <!--<div class="col-xs-12 text-left">-->
                            <!---->
                            <!--Applying for the position of <strong>{{candidateProfile.candidate.title}}</strong> in <strong>{{candidateProfile.candidate.companyName}}</strong>-->
                        <!--</div>-->
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3><strong>Education</strong></h3>
                                </div>
                            </div>
                            <div class="row candidate-profile-assets">
                                <div class="col-xs-1 text-right">
                                    <i class="fa fa-list green" title=""></i>
                                </div>
                                <div class="col-xs-11 text-left">
                                    <div ng-if="candidateProfile.candidate.educations.length > 0" ng-repeat="education in candidateProfile.candidate.educations">
                                        <strong>
                                            <span class="asset-value">{{education.degreeName}}</span>
                                            <span class="asset-value" ng-if="education.instituteName != null"> at {{education.instituteName}}</span>
                                        </strong>
                                    </div>
                                    <div ng-if="candidateProfile.candidate.educations.length == 0">
                                        <strong>No data available.</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3><strong>Experience</strong></h3>
                                </div>
                            </div>
                            <div class="row candidate-profile-assets">
                                <div class="col-xs-1 text-right">
                                    <i class="fa fa-list green" title=""></i>
                                </div>
                                <div class="col-xs-11 text-left">
                                    <div ng-if="candidateProfile.candidate.experiences.length > 0" ng-repeat="experience in candidateProfile.candidate.experiences">
                                        <strong>
                                            <span class="asset-value">{{experience.duration}} Yrs as {{experience.title}} at {{experience.employerName}}
                                            </span>
                                        </strong>
                                    </div>
                                    <div ng-if="candidateProfile.candidate.experiences.length == 0">
                                        <strong>No data available.</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3><strong>Technical Skills</strong></h3>
                                </div>
                            </div>
                            <div class="row candidate-profile-assets">
                                <div class="col-xs-1 text-right">
                                    <i class="fa fa-list green" title=""></i>
                                </div>
                                <div class="col-xs-11 text-left">
                                    <div class="row">
                                        <div class="col-xs-6" ng-if="candidateProfile.candidate.technicalSkills.length > 0" ng-repeat="techSkill in candidateProfile.candidate.technicalSkills">
                                            <strong>{{techSkill.competency}}: <span class="asset-value">{{techSkill.experience}} Yrs</span></strong>
                                        </div>
                                        <div class="col-xs-12" ng-if="candidateProfile.candidate.technicalSkills.length == 0">
                                            <strong>No data available.</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3><strong>Soft Skills</strong></h3>
                                </div>
                            </div>
                            <div class="row candidate-profile-assets">
                                <div class="col-xs-1 text-right">
                                    <i class="fa fa-list green" title=""></i>
                                </div>
                                <div class="col-xs-11 text-left">
                                    <div class="row">
                                        <div class="col-xs-6" ng-if="candidateProfile.candidate.softSkills.length > 0" ng-repeat="softSkill in candidateProfile.candidate.softSkills">
                                            <strong>{{softSkill.competency}}: <span class="asset-value">{{softSkill.experience}} Yrs</span></strong>
                                        </div>
                                        <div class="col-xs-12" ng-if="candidateProfile.candidate.softSkills.length == 0">
                                            <strong>No data available.</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3><strong>Certifications</strong></h3>
                                </div>
                            </div>
                            <div class="row candidate-profile-assets">
                                <div class="col-xs-1 text-right">
                                    <i class="fa fa-list green" title=""></i>
                                </div>
                                <div class="col-xs-11 text-left">
                                    <div class="row">
                                        <div class="col-xs-6" ng-if="candidateProfile.candidate.certifications.length > 0" ng-repeat="certification in candidateProfile.candidate.certifications">
                                            <strong><span class="asset-value">{{certification.name}} from {{certification.instituteName}}</span></strong>
                                        </div>
                                        <div class="col-xs-12" ng-if="candidateProfile.candidate.certifications.length == 0">
                                            <strong>No data available.</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3><strong>Other</strong></h3>
                                </div>
                            </div>
                            <div class="row candidate-profile-assets">
                                <div class="col-xs-1 text-right">
                                    <i class="fa fa-list green" title=""></i>
                                </div>
                                <div class="col-xs-11 text-left">
                                    <div class="row">
                                        <div class="col-xs-6" ng-if="candidateProfile.candidate.others.length > 0" ng-repeat="other in candidateProfile.candidate.others">
                                            <strong>{{other.name}}: <span class="asset-value">at {{other.instituteName}}</span></strong>
                                        </div>
                                        <div class="col-xs-12" ng-if="candidateProfile.candidate.others.length == 0">
                                            <strong>No data available.</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3><strong>Compensation</strong></h3>
                                </div>
                            </div>
                            <div class="row candidate-profile-assets">
                                <div class="col-xs-1 text-right">
                                    <i class="fa fa-list green" title=""></i>
                                </div>
                                <div class="col-xs-11 text-left">
                                    <div ng-if="candidateProfile.candidate.compensations.length > 0" ng-repeat="compensation in candidateProfile.candidate.compensations">
                                        <strong>
                                            <span class="asset-value">{{compensation.salary}}</span>
                                        </strong>
                                    </div>
                                    <div ng-if="candidateProfile.candidate.compensations.length == 0">
                                        <strong>No data available.</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div ng-if="candidateProfile.loadingFlag" class="animate-if candidate-card-loader-div text-center" style="height: 300px;">
        <span class="fa fa-2x fa-spinner fa-spin"></span>
    </div>
</div>
