<div class="candidate-profile-container">
    <div ng-if="!candidateJobComparison.loadingFlag" class="animate-if main-box">
        <div class="row">
            <div class="col-lg-12">
                <div class="infographic-box">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h2>
                                <!-- <img src="img/people/Nina Powers.jpeg" alt="" class="profile-img img-responsive" style="cursor: pointer !important;height: 100px;float: left" ng-click="candidateClickCallback({candidateObj: candidate, event: $event})"> -->
                                <strong>{{candidateJobComparison.comparisonData.candidateName}} - {{candidateJobComparison.comparisonData.jobTitle}}</strong>
                            </h2>
                        </div>
                        <div class="col-xs-12 text-center">
                            <div>
                                Applying for the position of <strong>{{candidateJobComparison.comparisonData.jobTitle}}</strong> in <strong>{{candidateJobComparison.comparisonData.companyName}}</strong>
                            </div>
                            <div ng-bind="candidateJobComparison.jobLocationForDisplay">
                            </div>
                        </div>
                    </div>

                    <div class="row candidate-job-compare">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3><strong>Education</strong></h3>
                                </div>
                            </div>
                            <div class="row job-assets" ng-if="candidateJobComparison.educationMatches.length > 0">
                                <div class="col-xs-1 col-md-1 text-right">
                                    <i class="fa fa-thumbs-up green" title="Matching Assets"></i>
                                </div>
                                <div class="col-xs-11 col-md-11 text-left">
                                    <div  ng-repeat="asset in candidateJobComparison.educationMatches">
                                        <strong>
                                            <span>{{asset.jobDegreeName}} </span>
                                            <span ng-if="asset.candidateDegreeName != null">
                                                (<span class="emerald" >{{asset.candidateDegreeName}}</span>)
                                            </span>
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row job-assets" ng-if="candidateJobComparison.educationNonMatches.length > 0">
                                <div class="col-xs-1 col-md-1 text-right">
                                    <i class="fa fa-thumbs-down red" title="Missing Assets"></i>
                                </div>
                                <div class="col-xs-11 col-md-11 text-left">
                                    <div ng-repeat="asset in candidateJobComparison.educationNonMatches">
                                        <strong>
                                            <span>{{asset.jobDegreeName}} </span>
                                            <span ng-if="asset.candidateDegreeName != null">
                                                (<span class="emerald" ng-if="asset.candidateDegreeName != null">{{asset.candidateDegreeName}}</span>)
                                            </span>
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row job-assets" ng-if="candidateJobComparison.educationMatches.length == 0 && candidateJobComparison.educationNonMatches.length == 0">
                                <div class="col-xs-1 col-md-1 text-right">
                                </div>
                                <div class="col-xs-11 col-md-11 text-left">
                                    <span>No information available.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3><strong>Experience</strong></h3>
                                </div>
                            </div>
                            <div class="row job-assets" ng-if="candidateJobComparison.experienceMatches.length > 0">
                                <div class="col-xs-1 col-md-1 text-right">
                                    <i class="fa fa-thumbs-up green" title="Matching Assets"></i>
                                </div>
                                <div class="col-xs-11 col-md-11 text-left">
                                    <div ng-repeat="asset in candidateJobComparison.experienceMatches">
                                        <strong>
                                            <span>Experience {{asset.jobMinYear}} - {{asset.jobMaxYear}} Years </span>
                                            (<span class="emerald">{{asset.candidateExp}} Years in {{asset.company}}</span>)
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row job-assets" ng-if="candidateJobComparison.experienceNonMatches.length > 0">
                                <div class="col-xs-1 col-md-1 text-right">
                                    <i class="fa fa-thumbs-down red" title="Missing Assets"></i>
                                </div>
                                <div class="col-xs-11 col-md-11 text-left">
                                    <div ng-repeat="asset in candidateJobComparison.experienceNonMatches">
                                        <strong>
                                            <span>Experience {{asset.jobMinYear}} - {{asset.jobMaxYear}} Years </span>
                                            (<span class="emerald">{{asset.candidateExp}} Years in {{asset.company}}</span>)
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row job-assets" ng-if="candidateJobComparison.experienceMatches.length == 0 && candidateJobComparison.experienceNonMatches.length == 0">
                                <div class="col-xs-1 col-md-1 text-right">
                                </div>
                                <div class="col-xs-11 col-md-11 text-left">
                                    <span>No information available.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row candidate-job-compare">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3><strong>Technical Skills</strong></h3>
                                </div>
                            </div>
                            <div class="row job-assets" ng-if="candidateJobComparison.techSkillsMatches.length > 0">
                                <div class="col-xs-1 col-md-1 text-right">
                                    <i class="fa fa-thumbs-up green" title="Matching Assets"></i>
                                </div>
                                <div class="col-xs-11 col-md-11 text-left">
                                    <div class="row">
                                        <div class="col-xs-6" ng-repeat="asset in candidateJobComparison.techSkillsMatches">
                                            <strong ng-bind-html="asset.skillName"></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row job-assets" ng-if="candidateJobComparison.techSkillsNonMatches.length > 0">
                                <div class="col-xs-1 col-md-1 text-right">
                                    <i class="fa fa-thumbs-down red" title="Missing Assets"></i>
                                </div>
                                <div class="col-xs-11 col-md-11 text-left">
                                    <div class="row">
                                        <div class="col-xs-6" ng-repeat="asset in candidateJobComparison.techSkillsNonMatches">
                                            <strong ng-bind-html="asset.skillName"></strong>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row job-assets" ng-if="candidateJobComparison.techSkillsMatches.length == 0 && candidateJobComparison.techSkillsNonMatches.length == 0">
                                <div class="col-xs-1 col-md-1 text-right">
                                </div>
                                <div class="col-xs-11 col-md-11 text-left">
                                    <span>No information available.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3><strong>Soft Skills</strong></h3>
                                </div>
                            </div>
                            <div class="row job-assets" ng-if="candidateJobComparison.softSkillsMatches.length > 0">
                                <div class="col-xs-1 col-md-1 text-right">
                                    <i class="fa fa-thumbs-up green" title="Matching Assets"></i>
                                </div>
                                <div class="col-xs-11 col-md-11 text-left">
                                    <div class="row">
                                        <div class="col-xs-6" ng-repeat="asset in candidateJobComparison.softSkillsMatches">
                                            <strong ng-bind-html="asset.skillName"></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row job-assets" ng-if="candidateJobComparison.softSkillsNonMatches.length > 0">
                                <div class="col-xs-1 col-md-1 text-right">
                                    <i class="fa fa-thumbs-down red" title="Missing Assets"></i>
                                </div>
                                <div class="col-xs-11 col-md-11 text-left">
                                    <div class="row">
                                        <div class="col-xs-6" ng-repeat="asset in candidateJobComparison.softSkillsNonMatches">
                                            <strong ng-bind-html="asset.skillName"></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row job-assets" ng-if="candidateJobComparison.softSkillsMatches.length == 0 && candidateJobComparison.softSkillsNonMatches.length == 0">
                                <div class="col-xs-1 col-md-1 text-right">
                                </div>
                                <div class="col-xs-11 col-md-11 text-left">
                                    <span>No information available.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row candidate-job-compare">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3><strong>Compensation</strong></h3>
                                </div>
                            </div>
                            <div class="row job-assets" ng-if="candidateJobComparison.compensationMatches.length > 0">
                                <div class="col-xs-1 col-md-1 text-right">
                                    <i class="fa fa-thumbs-up green" title="Matching Assets"></i>
                                </div>
                                <div class="col-xs-11 col-md-11 text-left">
                                    <div ng-repeat="asset in candidateJobComparison.compensationMatches">
                                        <strong>
                                            <span>Salary {{asset.jobSalary}} </span>
                                            (<span class="emerald">{{asset.candidateSalary}}</span>)
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row job-assets" ng-if="candidateJobComparison.compensationNonMatches.length > 0">
                                <div class="col-xs-1 col-md-1 text-right">
                                    <i class="fa fa-thumbs-down red" title="Missing Assets"></i>
                                </div>
                                <div class="col-xs-11 col-md-11 text-left">
                                    <div ng-repeat="asset in candidateJobComparison.compensationNonMatches">
                                        <strong>
                                            <span>Salary {{asset.jobSalary}} </span>
                                            (<span class="emerald">{{asset.candidateSalary}}</span>)
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row job-assets" ng-if="candidateJobComparison.compensationMatches.length == 0 && candidateJobComparison.compensationNonMatches.length == 0">
                                <div class="col-xs-1 col-md-1 text-right">
                                </div>
                                <div class="col-xs-11 col-md-11 text-left">
                                    <span>No information available.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>