<div id="content-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="slide-main-container">
				<div class="container slide-main-animation">
					<div class="row">
						<div class="col-xs-12">
							<div id="login-box">
								<div id="login-box-holder">
									<div class="row" ui-view>
										<div class="col-xs-12">
											<header id="login-header">
												<div id="login-logo">
													<img ng-src={{imageUrl}}logo-symbol.png alt="" />
												</div>
											</header>
											<div id="login-box-inner" class="with-heading">
												
												<!--<p class=" error">{{message}}</p>-->
												<form role="form" name="form.mobilenumbercheckform" novalidate>
													<!--<div class="col-lg-9 col-lg-offset-1" 
														ng-repeat="(value,key) in assessments">
														<div class="checkbox-nice" ng-if="value != 'verification'">
															<input ng-value="key.selected" type="checkbox"
																id="{{value}}" ng-checked="{{key.selected}}" /> <label
																for="{{value}}"> {{key.name}} </label>
														</div>
													</div>
													<div class="row">
														<div class="col-xs-12">
															<button id="resetPasswordButton" type="reset"
																class="btn btn-success">Clear</button>
														</div>
													</div>-->
													<div class="form-group">
														<label for="zipcode" class="control-label">{{MESSAGECONSTANTS.LABLES.ZIPCODE}}<em> * </em> :</label>
														<input ng-model="user.zipcode" allow-pattern="(\d|[a-zA-Z0-9])" ng-pattern="/^[a-zA-Z0-9]*$/" minlength="5"
															maxlength="6" type="text" class="form-control access" name="zipcode" id="zipcode" required ng-focus="form.mobilenumbercheckform.zipcode.visited = false"
															ng-blur="(form.mobilenumbercheckform.zipcode.visited = true) && form.mobilenumbercheckform.zipcode.$valid && getAddressDetails(user.zipcode,'zipchanged')">
														<span class="help-block">ex. 75056</span>
													</div>
													<div class="error form-group" ng-show="form.mobilenumbercheckform.zipcode.visited && form.mobilenumbercheckform.zipcode.$valid  && angular.isDefined(validzipcode) && !validzipcode">
														<small class="error">could't find any location for the given zipcode</small>
													</div>
													<div class="form-group">
														<label for="city" class="control-label">{{MESSAGECONSTANTS.LABLES.CITY}} <em> * </em> :
													</label>
														<select class="form-control access" name="city" id="city" ng-model="user.city" ng-change="changeAddressObject('city',user.city)"> 
														<option ng-repeat="geolocation in geoLocations | unique:'city'" value="{{geolocation.city}}">{{geolocation.city}}</option>
													</select>
													</div>
													<div class="form-group">
														<label for="state" class="control-label">{{MESSAGECONSTANTS.LABLES.STATE}} <em> * </em> :
													</label>
														<select class="form-control access" name="state" id="state" ng-model="user.state" ng-change="changeAddressObject('state',user.state)"> 
														<option ng-repeat="geolocation in geoLocations | unique:'state'" value="{{geolocation.state}}">{{geolocation.state}}</option>
													</select>
													</div>
													<div class="form-group">
														<label for="county" class="control-label">{{MESSAGECONSTANTS.LABLES.COUNTY}} : </label>
														<select class="form-control access" name="county" id="county" ng-model="user.county" ng-change="changeAddressObject('county',user.county)"> 
														<option ng-repeat="geolocation in geoLocations | unique:'county'" value="{{geolocation.county}}">{{geolocation.county}}</option>
													</select>
													</div>
													<div class="form-group">
														<label for="country" class="control-label">{{MESSAGECONSTANTS.LABLES.COUNTRY}}
														<em> * </em> :
													</label>
														<select class="form-control access" name="country" id="country" ng-model="user.country" ng-change="changeAddressObject('country',user.country)"> 
														<option ng-repeat="geolocation in geoLocations | unique:'country'" value="{{geolocation.country}}">{{geolocation.country}}</option>
													</select>
													</div>
													<div class="form-group">
														<label for="workTelephone" class="control-label">{{MESSAGECONSTANTS.LABLES.WORK_PHONE}} <em> * </em> : </label>
														<div class="input-group">
															<span class="input-group-addon"><i class="fa fa-phone"></i></span>
															<input type="text" class="form-control access" id="workTelephone" name="workTelephone" ng-model="user.workTelephone"
																allow-pattern="[0-9]" autoclear=false minlength="0" maxlength="17" ng-pattern="MESSAGECONSTANTS.VALIDATIONPATTERNS.NUMERIC"
																placeholder="444.444.4444" required ng-focus="form.mobilenumbercheckform.workTelephone.focused = true" ng-blur="form.mobilenumbercheckform.workTelephone.focused = false">
														</div>
														<span class="help-block">ex. 444.444.4444</span>
													</div>
													<div class="form-group">
														<label for="mobileNumber" class="control-label">{{MESSAGECONSTANTS.LABLES.MOBILE_PHONE}}
														<em> * </em> :
													</label>
														<div class="input-group">
															<span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
															<input type="text" class="form-control access" id="mobileNumber" name="mobileNumber" ng-model="user.mobileNumber"
																allow-pattern="[0-9]" autoclear=false minlength="0" maxlength="17" ng-pattern="MESSAGECONSTANTS.VALIDATIONPATTERNS.NUMERIC"
																required placeholder="444.444.4444" ng-focus="form.mobilenumbercheckform.mobileNumber.focused = true" ng-blur="form.mobilenumbercheckform.mobileNumber.focused = false">
														</div>
														<span class="help-block">ex. 444.444.4444</span>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>